h3, h4 {
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  margin-top: 1rem;
}

.col-xs-12 {
  margin-bottom: 2rem;
}

.titulo {
  font-size: 22px;
  font-weight: bold;
}
::ng-deep {
  .selector-dialog {
    width: 80vw !important;
    @media screen and (min-width: 48em) {
      width: calc(80vw - 5rem) !important;
    }
    @media screen and (min-width: 64em) {
      width: calc(80vw - 10rem) !important;
    }
    @media screen and (min-width: 75em) {
      width: calc(80vw - 20rem) !important;
    }
  }
}
