<form [formGroup]="form">
  <h1 mat-dialog-title>
    Editar Movimiento
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>

    <div class="row">

      <app-key-value
        *ngIf="data.liquidacion_id"
        class="col-xs-2"
        key="Nº de Liquidación"
        [value]="data.liquidacion_id">
      </app-key-value>

      <app-key-value
        class="col-xs-4"
        [key]="data.tipo_contraparte_descripcion"
        [value]="data.contraparte">
      </app-key-value>

      <app-estado-field class="col-xs-2" [estado]="estado"></app-estado-field>

      <app-key-value
        class="col-xs-3"
        key="Monto anterior"
        value="{{ data.monto | numberFormat }}">
      </app-key-value>

    </div>

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-3"
        title="Tarifa"
        controlName="tarifa"
        [form]="form">
      </app-number-field>

      <app-moneda-field class="input-form-full col-xs-3" [auto_select]="false" title="Moneda" [form]="form"></app-moneda-field>

      <app-key-value
        class="col-xs-12"
        key="Detalle tarifa anterior"
        [value]="data.detalle"
        [inline]="false">
      </app-key-value>

    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button">
      Aceptar
    </button>
  </div>
</form>
