.app-dialog-form-field-control-container {
  display: flex;
}

.app-dialog-form-field-control-element {
  border: none;
  border-color: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
  width: 100%;
}

.mat-form-field-infix {
  flex: auto;
}

.small-height-input {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;

}
