.app-dialog-form-field-control-container {
  display: flex;
}

.app-dialog-form-field-control-element {
  border: none;
  border-color: none;
  background: none;
  padding: 0;
  outline: none;
  font: inherit;
}

.mat-form-field-infix {
  flex: auto;
}
