<div role="group"
  class="app-dialog-form-field-control-container"
  [formGroup]="formGroup"
  (focusin)="onFocusIn($event)"
  (focusout)="onFocusOut($event)">

  <input formControlName="id" aria-label="Id" readonly hidden #id />

  <input *ngIf="!autocomplete"
    class="app-dialog-form-field-control-element"
    formControlName="descripcion"
    aria-label="Descripción"
    #descripcion/>

  <div *ngIf="autocomplete">

    <input class="app-dialog-form-field-control-element"
      formControlName="descripcion"
      aria-label="Descripción"
      #descripcion
      [matAutocomplete]="auto"/>

    <mat-autocomplete #auto="matAutocomplete" panelWidth="auto"
      (optionSelected)="cargarSelected($event.option)">

      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ filterOptionLabel(option) }}
      </mat-option>

    </mat-autocomplete>

  </div>

</div>
