<app-page-form
  submodule="CHOFER"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [isDialog]="isDialog"
  [gestorCargaId]="gestorCuentaId"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (submitEvent)="submit(false)"
>
  <div class="page-form-container"(keydown.enter)="onEnter($event)"><!-- Colocar siempre el onEnter -->

    <div class="section" formGroupName="info">
      <h2>INFORMACIÓN PRINCIPAL</h2>
      <app-chofer-form-info
        [form]="form"
        [estado]="estado"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [modelo]="modelo"
        [gestorCuentaId]="gestorCuentaId"
        [fotoDocumentoFrente]="fotoDocumentoFrente"
        [fotoDocumentoReverso]="fotoDocumentoReverso"
        [fotoPerfil]="fotoPerfil"
        [cantidadOCConAnticiposLiberados]="cantidadOCConAnticiposLiberados"
        (fotoDocumentoFrenteChange)="
          fotoDocumentoFrenteFile = $event; fotoDocumentoFrente = null
        "
        (fotoDocumentoReversoChange)="
          fotoDocumentoReversoFile = $event; fotoDocumentoReverso = null
        "
        (fotoPerfilChange)="fotoPerfilFile = $event; fotoPerfil = null"
        (anticiposBloqueadosChange)="bloquearAnticipos()"
        (esPropietarioChange)="esPropietarioChange($event)"
        (isChoferCondicionadoChange)="condicionarChofer()"
        class="app-input-field"
      ></app-chofer-form-info>
    </div>

    <div class="section" formGroupName="address"
      (opened)="isPanelOpen = true"
      (closed)="isPanelOpen = false">
      <h2> DIRECCIÓN </h2>
      <app-page-form-address
        groupName="address"
        [ciudadSelected]="ciudadSelected"
        [form]="form"
        [isShow]="isShow"
        [isPanelOpen]="isPanelOpen"
      ></app-page-form-address>
    </div>

    <!-- <div class="section" formGroupName="propietario"
      [hidden]="!esPropietario"
      *ngIf="
        (propietarioModelo | puede: a.CREAR) ||
        (propietarioModelo | puede: a.EDITAR) ||
        (propietarioModelo | puede: a.VER)
      ">
      <h2> Información Propietario </h2>
      <app-chofer-form-propietario
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [fotoDocumentoFrente]="fotoDocumentoFrentePropietario"
        [fotoDocumentoReverso]="fotoDocumentoReversoPropietario"
        (fotoDocumentoFrenteChange)="
          fotoDocumentoFrentePropietarioFile = $event;
          fotoDocumentoFrentePropietario = null
        "
        (fotoDocumentoReversoChange)="
          fotoDocumentoReversoPropietarioFile = $event;
          fotoDocumentoReversoPropietario = null
        "
      ></app-chofer-form-propietario>
    </div> -->

    <div class="section" formGroupName="registro"
      *ngIf="
        (propietarioModelo | puede: a.CREAR) ||
        (propietarioModelo | puede: a.EDITAR) ||
        (propietarioModelo | puede: a.VER)
      ">
      <h2> REGISTRO DE CONDUCCIÓN DEL CHOFER </h2>
      <app-registro-conduccion-form
        [form]="form"
        [isShow]="isShow"
        [fotoRegistroFrente]="fotoRegistroFrente"
        [fotoRegistroReverso]="fotoRegistroReverso"
        (fotoRegistroFrenteChange)="
          fotoRegistroFrenteFile = $event; fotoRegistroFrente = null
        "
        (fotoRegistroReversoChange)="
          fotoRegistroReversoFile = $event; fotoRegistroReverso = null
        "
      ></app-registro-conduccion-form>
    </div>

    <div class="section">
      <h2> CALIFICACIÓN </h2>
      <div class="row">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Calificación Local (GC)</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.promedio_chofer_gestor !== null ? (item?.promedio_chofer_gestor | number:'1.0-2') : 'Aún sin calificar'"
              disabled
            />
          </mat-form-field>
        </div>
        <div *ngIf="item?.promedio_chofer_gestor" class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Cant. Calificaciones Local (GC)</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.cantidad_chofer_evaluaciones_gestor || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>

        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Calificación General</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.promedio_chofer_general !== null ? (item?.promedio_chofer_general | number:'1.0-2') : 'Aún sin calificar'"
              disabled
            />
          </mat-form-field>
        </div>
        <div *ngIf="item?.promedio_chofer_general" class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Cant. Calificaciones General</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.cantidad_chofer_evaluaciones || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section" *ngIf="isEdit || isShow">
       <h2> COMENTARIOS </h2>
       <div class="row">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <button
            mat-flat-button
            color="primary"
            type="button"
            [disabled]="isShow"
            (click)="openCreateComentarioChoferDialog()">
            <mat-icon>add_comment</mat-icon>
            Nuevo Comentario
          </button>
        </div>
        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <button
            mat-flat-button
            type="button"
            color="primary"
            (click)="openComentariosChoferListDialog()">
            <mat-icon>visibility</mat-icon>
            Comentarios
          </button>
        </div>
      </div>
    </div>

    <div class="section audit" *ngIf="isEdit || isShow">
      <h2> Auditoria </h2>
      <app-page-form-audit
        [created_by]="created_by"
        [created_at]="created_at"
        [modified_by]="modified_by"
        [modified_at]="modified_at"
      ></app-page-form-audit>
    </div>

</div>
</app-page-form>
