<div>
  <h1 mat-dialog-title>
    Agregar Movimientos
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>
    <div class="row page-form-row">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4">
        <mat-label>Tipo Contraparte</mat-label>
        <input
          matInput
          [value]="contraparteInfo.tipo_contraparte_descripcion"
          disabled
        />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4">
        <mat-label>Contraparte</mat-label>
        <input matInput [value]="contraparteInfo.contraparte" disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4">
        <mat-label>Doc. Fiscal Nº</mat-label>
        <input
          matInput
          [value]="contraparteInfo.contraparte_numero_documento"
          disabled
        />
      </mat-form-field>
    </div>
    <div class="row page-form-row">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Debe</mat-label>
        <input matInput [value]="credito" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Haber</mat-label>
        <input matInput [value]="debito" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Saldo</mat-label>
        <input matInput [value]="saldo" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Saldo Final</mat-label>
        <input
          matInput
          [value]="saldoFinal"
          appInputThousandsSeparator
          disabled
        />
      </mat-form-field>
    </div>
    <app-selectable-movimiento-table
      [list]="list"
      (selectedMovimientosChange)="movimientosSelected = $event"
    ></app-selectable-movimiento-table>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="dialogRef.close(movimientosSelected)"
      cdkFocusInitial
      color="primary"
      id="submit-button"
      [disabled]="!movimientosSelected.length"
    >
      Aceptar
    </button>
  </div>
</div>
