.small-icon{
  width: 1.13px;
  height: 13.13px;
  top: 2.25px;
  left: 2.25px;
  gap: 0px;
  opacity: 0px;
  color: #A1A1A1;
}

.empty-form-field {
  margin-bottom: 1rem;
}

// ::ng-deep .search-tracto .mat-form-field-outline {
//   border: 1px solid #F25A38 !important;
//   background: white !important;
//   height: 29px !important; 
// }

// ::ng-deep .search-tracto .mat-form-field-wrapper {
//   padding-bottom: 0 !important;
//   height: 29px !important; 
// }

// ::ng-deep .search-tracto .mat-form-field-flex {
//   height: 29px !important; 
// }

// ::ng-deep .search-tracto .mat-form-field-outline {
//   border: 1px solid #F25A38 !important;
//   background: white;
// }

// ::ng-deep .search-tracto .mat-form-field-outline:hover {
//   border: 1px solid #F25A38 !important;
//   background: white;
// }

// ::ng-deep .orden-edit .mat-form-field-outline {
//   border: 1px solid #d9d9d9 !important;
// }

.error-message{
  margin-top: 15px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px; 
}

.search-container{
  width: auto;
  margin-right: 12px;
  display: flex;
}



// ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
//   background-color: red; /* Cambia el color de la línea cuando está enfocado */
// }

// ::ng-deep .mat-form-field.mat-form-field-underline {
//   background-color: red; /* Cambia el color del borde cuando no está enfocado */
// }

// ::ng-deep .mat-form-field.mat-form-field-appearance-outline.mat-form-field-can-float.mat-focused .mat-form-field-outline-thick {
//   stroke: red; /* Cambia el borde del contorno */
// }


// @media screen and (max-width: 1366px) and (max-height: 768px) {
//   .oc-mat-form-field {
//     width: 150px; 
//   }
// }
// ::ng-deep .search-tracto .mat-form-field-outline:hover {
//   border: 1px solid #F25A38 !important;
//   background: white;
// }

// ::ng-deep .orden-edit .mat-form-field-outline {
//   border: 1px solid #d9d9d9 !important;
// }

// ::ng-deep .mat-form-field-appearance-outline.mat-form-field-outline:hover .mat-form-field-outline {
//   border-color: #F25A38 !important; 
// }