.small-icon{
  width: 1.13px;
  height: 13.13px;
  top: 2.25px;
  left: 2.25px;
  gap: 0px;
  opacity: 0px;
  color: #A1A1A1;
}

.oc-mat-form-field{
  width: 192px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;

}
.empty-form-field {
  margin-bottom: 1rem;
}

::ng-deep .search-tracto .mat-form-field-outline {
  border: 1px solid #F25A38 !important;
  background: white;
}

::ng-deep .search-tracto .mat-form-field-outline.mat-focused {
  border-color: blue; /* Cambia esto al color de borde deseado cuando el campo está enfocado */
  background: lightblue; /* Cambia esto al color de fondo deseado cuando el campo está enfocado */
}

/* Estilos específicos para el estado de hover */
::ng-deep .search-tracto .mat-form-field-outline:hover {
  border-color: green; /* Cambia esto al color de borde deseado cuando se pasa el cursor por encima */
  background: lightgreen; /* Cambia esto al color de fondo deseado cuando se pasa el cursor por encima */
  color: #F25A38;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px; /* Espacio entre el label y el input */
}


.search-container{
  width: auto;
  margin-right: 12px;
  display: flex;
}

.example-class-1 {
  border: 1px solid red;
}

.example-class-2 {
  border: 1px solid blue;
}