<app-page-form
  class="rol-page"
  module="Usuarios"
  [submodule]="submodule"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
  <div class="rol-page-content">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Descripción"
          controlName="descripcion"
          [form]="form"
        ></app-input-field>
      </div>
      <ng-container *ngIf="loggedUser$ | async as user">
        <ng-container *ngIf="!user.gestor_carga_id">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <app-gestor-carga-dialog-field
              [form]="form"
            ></app-gestor-carga-dialog-field>
          </div>
        </ng-container>
      </ng-container>
      <div class="col-xs-12 col-sm-6 col-md-4" *ngIf="isEdit || isShow">
        <app-estado-field [estado]="estado"></app-estado-field>
      </div>
      <div class="col-xs-12">
        <app-permiso-field
          [control]="form.controls['permisos']"
        ></app-permiso-field>
      </div>
    </div>
  </div>
</app-page-form>
