.rol-page-content {
  padding-top: 1rem;
}

.rol-page-content::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
  .estado-form-field {
    margin-top: 0;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 64em) {
    .estado-form-field {
      margin-top: 18px;
      margin-bottom: 0;
    }
  }
}

.d-flex {
  display: flex; 
  align-items: center; 
}

.form-label {
  margin-bottom: 10px; 
}

.mb-2 {
  margin-bottom: 0.5rem; 
}

.mat-form-field {
  width: 100%; 
}

.form-label {
  min-width: 7cap; 
}

.form-label-or-des-indicador{
  margin-bottom: 10px; 
  min-width: 138px;
  margin-right: 8px;
}

.form-label-distancia{
  margin-bottom: 10px; 
  min-width: 175px;
  margin-right: 8px;
}

.app-input-field{
  width: 100%;
  margin-right: 8px;
  margin-bottom: -4px;
}

.estado-component{
  margin-top: -40px;
}

.estado-foto-row{
  margin-top: -10px;
}

::ng-deep .description .mat-form-field-outline {
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 35px;
  margin-top: 10px;
}
