<form [formGroup]="form">

  <h2 mat-dialog-title class="page-title">
    <span class="module">{{ actionText }}</span>
    <span class="submodule"> COMPLEMENTO</span>
  </h2>

  <div class="horizontal-line"></div>

  <div mat-dialog-content>

    <div class="row">

      <app-tipo-concepto-complemento-field
        class="input-form-full col-xs-12 col-sm-4"
        controlName="concepto"
        [form]="form"
        [value]="valueConcepto"
      ></app-tipo-concepto-complemento-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-3"
        title="Monto a Pagar al Titular"
        controlName="propietario_monto"
        [form]="form">
      </app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-3"
        title="Moneda del Titular"
        controlName="propietario_moneda_id"
        (valueChange)="$event && onSelectMonedaPropietario($event)"
        [form]="form">
      </app-moneda-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-7"
        title="Detalle"
        controlName="detalle"
        [form]="form"
      ></app-input-field>

      <div class="col-xs-12 col-sm-5 ms-sm-12 toggle">
        <mat-slide-toggle formControlName="anticipado">
          {{ anticipado ? "Anticipado" : "No anticipado" }}
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="habilitar_cobro_remitente">
          {{ cobroARemitente ? "Cobrar al Cliente" : "No cobrar al Cliente" }}
        </mat-slide-toggle>

      </div>

      <app-number-field
        [hidden]="!cobroARemitente"
        class="input-form-full col-xs-12 col-sm-5"
        title="Monto a Cobrar al Cliente"
        controlName="remitente_monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        [hidden]="!cobroARemitente"
        class="input-form-full col-xs-12 col-sm-5"
        title="Moneda del Cliente"
        controlName="remitente_moneda_id"
        (valueChange)="$event && onSelectMonedaRemitente($event)"
        [form]="form"
      ></app-moneda-field>

    </div>

    <hr class="horizontal-line-final">

  </div>

  <div mat-dialog-actions class="buttons-actions">
    <button
      mat-stroked-button mat-dialog-close
      class="botones" type="button">
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      *ngIf="!isDisabled"
      mat-flat-button cdkFocusInitial
      class="botones" type="button"
      (click)="submit()"
      color="primary"
      id="submit-button">
      <mat-icon>save</mat-icon>
      GUARDAR
    </button>
  </div>
</form>
