<form [formGroup]="form">

    <span mat-dialog-title>
      <span [ngClass]="{ 'action-text': true }">{{ actionText }}</span>
      <span class="complement-text"> ANTICIPO INSUMO</span>
    </span>

    <div class="section" >
      <h2> </h2>
    </div>

    <div mat-dialog-content>

      <div class="row ocultar">

        <app-tipo-anticipo-by-flete-field
          class="input-form-full col-xs-12 col-sm-6 col-md-6"
          [fleteId]="fleteId"
          [form]="form"
          (valueChange)="tipoAnticipoChange($event)"
        ></app-tipo-anticipo-by-flete-field>

      </div>

      <div class="row">
        <app-insumo-punto-venta-precio-map-dialog-field
          class="input-form-full col-xs-12 col-sm-6 col-md-5"
          [fleteId]="fleteId"
          [form]="form"
          [isRemote]="true"
          [pdvInsumoEvents]="pdvInsumoEventsSubject.asObservable()"
          (valueChange)="$event && insumoPuntoVentaPrecioChange($event)"
        ></app-insumo-punto-venta-precio-map-dialog-field>

        <div class="col-xs-6">
          <strong class="proveedor-label">Proveedor: </strong>
          <span class="input-like">{{ proveedor }}</span>
        </div>

        <div class="col-xs-12">

            <div style="display: flex; gap: 20px;">
              <div class="inline-container">
                <div><strong>Tipo de Insumo: </strong>{{ tipoInsumo }}</div>
                <div><strong>Insumo: </strong>{{ insumo }}</div>
              </div>

              <div class="inline-container">
                <!-- <div><strong>Monto: </strong><span>{{ monto | numberFormat  }}</span></div> -->

                <div><strong>Moneda: </strong><span>{{ moneda }}</span></div>
              </div>

              <div class="inline-container">
                <div *ngIf="!esConLitro">
                  <strong>Litros: </strong><span>{{ cantidadControl.value | numberFormat }}</span>
                </div>
              </div>

             <div class="inline-container">
                <div>
                  <strong>Precio Unitario: </strong>
                  {{ precioUnitarioControl.value | numberFormat }} {{ monedaSimbolo }}
                </div>
              </div>

            </div>
          </div>

      </div>

      <div class="row" style="padding-top: 12px;">

        <div class="input-form-full col-xs-12 col-sm-6 col-md-4">

          <mat-label class="custom-label">
            Tipo Cobro del Anticipo
          </mat-label>
            <!-- Radio button para seleccionar Monto o Litros -->
          <mat-radio-group
            class="input-form-full col-xs-12 col-sm-6 col-md-4"
            aria-label="Seleccione una opción"
            formControlName="es_con_litro">
            <mat-radio-button [value]="true">Litros</mat-radio-button>
            <mat-radio-button [value]="false">Monto</mat-radio-button>
          </mat-radio-group>

        </div>

        <!-- Campo Monto, visible solo cuando se selecciona "Monto" -->
        <app-number-field
          *ngIf="!form.get('es_con_litro')?.value"
          class="input-form-full col-xs-12 col-sm-6 col-md-6"
          title="Monto"
          controlName="monto_retirado"
          [form]="form"
          [hint]="montoRetiradoHint"
        ></app-number-field>

        <!-- Campo Cantidad retirada, visible solo cuando se selecciona "Litros" -->
        <app-number-field
          *ngIf="form.get('es_con_litro')?.value"
          class="input-form-full col-xs-12 col-sm-6 col-md-6"
          title="Cantidad retirada"
          controlName="cantidad_retirada"
          [form]="form"
          [hint]="montoRetiradoHint"
        ></app-number-field>

      </div>

      <div class="row" style="padding-top: 12px;">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-8">
          <label for="observacion">Observación:</label>
          <mat-form-field appearance="outline" class="observacion-field">
            <textarea
              matInput
              id="observacion"
              formControlName="observacion"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- <div class="row">

        <app-tipo-comprobante-field
          class="input-form-full col-xs-12 col-sm-6 col-md-5"
           [form]="form">
        </app-tipo-comprobante-field>

        <app-input-field
          class="input-form-full col-xs-12 col-sm-6 col-md-5"
          title="Nº de comprobante"
          controlName="numero_comprobante"
          [form]="form"
        ></app-input-field>

      </div> -->

    </div>

    <hr class="horizontal-line">

    <div mat-dialog-actions class="buttons-actions">
      <button
        mat-stroked-button
        class="botones"  type="button"
        mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cerrar
      </button>
      <button
        mat-flat-button
        [disabled]="isSubmitDisabled"
        class="botones" color="primary" type="button"
        (click)="submit()"
        cdkFocusInitial>
        <mat-icon>save</mat-icon>
        GUARDAR
      </button>
    </div>
  </form>
