<div [formGroup]="form">
  <div formGroupName="info" class="row">
    <div class="col-xs-9">
      <div class="row">
        <!-- Nombre o Razón Social -->
        <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
          <mat-label class="custom-label">
            <span class="required">(*) </span>
            Nombre o Razón Social
          </mat-label>
          <mat-form-field floatLabel="always" appearance="outline">
            <input matInput formControlName="nombre" appAutofocus />
            <mat-error *ngIf="info.controls['nombre'].hasError('required')">
              <ng-container *ngIf="isFisicaSelected; else juridicaTemplate">
                El nombre es <strong>requerido</strong>
              </ng-container>
              <ng-template #juridicaTemplate>
                La razón social es <strong>requerida</strong>
              </ng-template>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Nombre de Fantasía -->
        <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
          <mat-label class="custom-label">
            Nombre de Fantasía
          </mat-label>
          <mat-form-field floatLabel="always" appearance="outline" subscriptSizing="dynamic">
            <input matInput formControlName="nombre_corto" />
          </mat-form-field>
        </div>

        <app-composicion-juridica-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          groupName="info"
          title="Composición Jurídica"
          controlName="composicion_juridica_id"
          [form]="form"
          (isFisicaSelected)="isFisicaChange($event)"
        ></app-composicion-juridica-field>

        <!-- Fecha -->
        <app-fecha-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          [title]="'Fecha de ' + (isFisicaSelected ? 'nacimiento' : 'constitución')"
          groupName="info"
          controlName="fecha_nacimiento"
          [form]="form"
        ></app-fecha-field>

      </div>

      <div class="row">
       <!-- Tipo de Documento -->
        <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
        <mat-label class="custom-label">
          <span class="required">(*) </span>
          Tipo de Documento
        </mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="tipo_documento_propietario_id">
            <ng-container *ngFor="let o of tipoDocumentoList">
              <mat-option [value]="o.id">{{ o.descripcion }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="info.controls['tipo_documento_propietario_id'].hasError('required')">
            El tipo de documento es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        </div>
        <!-- Nº de Documento -->

        <app-input-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Nº de Documento"
          groupName="info"
          controlName="ruc"
          [form]="form"
        ></app-input-field>

        <!-- Pais Origen -->
        <app-pais-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Pais Origen"
          groupName="info"
          controlName="pais_origen_id"
          [form]="form"
        ></app-pais-field>

      </div>

      <div class="row">
        <app-telefono-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Telefono"
          groupName="info"
          [form]="form"
        ></app-telefono-field>

        <app-email-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Correo"
          groupName="info"
          [form]="form"
        ></app-email-field>

        <app-oficial-cuenta-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Oficial de Cuenta"
          groupName="info"
          [form]="form"
        ></app-oficial-cuenta-field>
      </div>

      <div class="row" style="padding-top: 5px;">

        <!-- <div class="input-form-full col-xs-12 col-sm-6 col-md-3" [hidden]="!isFisicaSelected">
          <app-slide
            [isShow]="isShow"
            [control]="esChoferControl"
            trueTitle="Es Chofer"
            falseTitle="No es Chofer"
            (valueChange)="esChoferChange.emit($event)"
          ></app-slide>
        </div> -->

        <app-slide
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          [isShow]="isShow"
          [control]="puedeRecibirAnticiposControl"
          trueTitle="Puede recibir anticipos"
          falseTitle="No puede recibir anticipos"
          (valueChange)="
            !$event &&
              cantidadOCConAnticiposLiberados > 0 &&
              anticiposBloqueadosChange.emit()
          "
        ></app-slide>
      </div>
    </div>

    <div class="col-xs-3" >
      <div class="row" style="display: flex; justify-content: flex-end;">
        <app-file-field-input
          class="input-form-full col-xs-12 col-sm-6 col-md-6"
          title="Doc.frontal"
          groupName="info"
          controlName="foto_documento_frente"
          [field]="fotoDocumentoFrente"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoFrenteChange.emit($event)"
        ></app-file-field-input>
      </div>
        <div class="row" style="display: flex; justify-content: flex-end;">
          <app-file-field-input
            class="input-form-full col-xs-12 col-sm-6 col-md-6"
            title="Doc.reverso"
            groupName="info"
            controlName="foto_documento_reverso"
            [field]="fotoDocumentoReverso"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoDocumentoReversoChange.emit($event)"
          ></app-file-field-input>
      </div>
      <div class="row" style="display: flex; justify-content: flex-end;">
        <app-file-field-input
          class="input-form-full col-xs-12 col-sm-6 col-md-6"
          title="Avatar"
          groupName="info"
          controlName="foto_perfil"
          [field]="fotoPerfil"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoPerfilChange.emit($event)"
        ></app-file-field-input>
      </div>
    </div>
  </div>
</div>
