<div [formGroup]="form">
  <div formGroupName="info">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-tipo-persona-field
          groupName="info"
          controlName="tipo_persona_id"
          [form]="form"
          (isFisicaSelected)="isFisicaChange($event)"
        ></app-tipo-persona-field>
      </div>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4">
        <mat-label>{{
          isFisicaSelected ? "Nombre" : "Razón Social"
        }}</mat-label>
        <input matInput formControlName="nombre" appAutofocus />
        <mat-error *ngIf="info.controls['nombre'].hasError('required')">
          <ng-container *ngIf="isFisicaSelected; else juridicaTemplate"
            >El nombre es <strong>requerido</strong></ng-container
          >
          <ng-template #juridicaTemplate
            >La razón social es <strong>requerida</strong></ng-template
          >
        </mat-error>
      </mat-form-field>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-alias-field groupName="info" [form]="form"></app-alias-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-fecha-field
          title="Fecha de {{
            isFisicaSelected ? 'nacimiento' : 'constitución'
          }}"
          groupName="info"
          controlName="fecha_nacimiento"
          [form]="form"
        ></app-fecha-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="RUC"
          groupName="info"
          controlName="ruc"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-digito-verificador-field
          groupName="info"
          controlName="digito_verificador"
          [form]="form"
        ></app-digito-verificador-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-pais-field
          title="País de origen"
          groupName="info"
          controlName="pais_origen_id"
          [form]="form"
        ></app-pais-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-telefono-field groupName="info" [form]="form"></app-telefono-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-email-field groupName="info" [form]="form"></app-email-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-oficial-cuenta-field
          groupName="info"
          [form]="form"
        ></app-oficial-cuenta-field>
      </div>
    </div>
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-estado-field [estado]="estado"></app-estado-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4" [hidden]="!isFisicaSelected">
        <app-slide
          [isShow]="isShow"
          [control]="esChoferControl"
          trueTitle="Es Chofer"
          falseTitle="No es Chofer"
          (valueChange)="esChoferChange.emit($event)"
        ></app-slide>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-slide
          [isShow]="isShow"
          [control]="puedeRecibirAnticiposControl"
          trueTitle="Puede recibir anticipos"
          falseTitle="No puede recibir anticipos"
          (valueChange)="
            !$event &&
              cantidadOCConAnticiposLiberados > 0 &&
              anticiposBloqueadosChange.emit()
          "
        ></app-slide>
      </div>
    </div>

    <app-file-field
      title="Foto del documento - frontal"
      groupName="info"
      controlName="foto_documento_frente"
      [field]="fotoDocumentoFrente"
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      (fileChange)="fotoDocumentoFrenteChange.emit($event)"
    ></app-file-field>

    <app-file-field
      title="Foto del documento - reverso"
      groupName="info"
      controlName="foto_documento_reverso"
      [field]="fotoDocumentoReverso"
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      (fileChange)="fotoDocumentoReversoChange.emit($event)"
    ></app-file-field>

    <app-file-field
      title="Avatar"
      groupName="info"
      controlName="foto_perfil"
      [field]="fotoPerfil"
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      (fileChange)="fotoPerfilChange.emit($event)"
    ></app-file-field>
  </div>
</div>
