$header-heigth: 64px;

.sidebar-filter {
  background-color: white;
  height: calc(100vh - #{$header-heigth});
  overflow-y: auto;

  &::ng-deep {
    .checkbox-filter-container {
      padding: 0 1rem;
    }
  }
}

.sidebar-filter-title {
  padding: 1rem;
  font-size: 1rem;
  display: inline-block;
}

.filter-values {
  overflow: auto;
  padding: 4px;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;

  &::ng-deep {
    .mat-chip-list-wrapper {
      display: flex;
      flex-wrap: nowrap;
      .mat-standard-chip {
        white-space: nowrap;
      }
    }
  }
}
.page-title{
  margin-bottom: 5px;
  // border-top: 1px solid #F25A38; /* Borde rojo en la parte superior */
  // border-left: 1px solid #F25A38; /* Borde rojo en el lado izquierdo */
  // border-right: 1px solid #F25A38; /* Borde rojo en el lado derecho */
  // border-bottom: none; /* Sin borde en la parte inferior */
}
.title{
  margin-bottom: -9px;
  margin-left: 0;
}
.filter-values{
  padding: 0;
  margin: 0;
}
.submodule{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-left: 8px;
  margin-bottom: -12px;
  }

.button-container {
  display: flex;
  gap: 0px; /* Espacio entre los botones */
  align-items: center; /* Alineación vertical centrada */
}

.download-button{
  width: auto;
  padding: 15px;
  gap: 0px;
  border-radius: 5.25px;
  border: 1px solid #1C1C1C29;
  opacity: 0px;
  box-shadow: none; /* Elimina la sombra */
  height: 25px;
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  background: #FFFFFF59;
  color: black;
  transition: border-color 0.3s;
}

.download-button mat-icon {
  font-size: 15px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  border-radius: 90%; /* Borde redondeado para el ícono */
  width: 10px;
  height: 12px;
  padding: 3px;
  margin-top: -6px;
  margin-right: 2px;
}

.download-button:hover {
  border-color: #1C1C1C; /* Color de borde más oscuro al pasar el ratón */
}

.add-button{
  font-family: 'Roboto', sans-serif;
  width: auto;
  padding: 4px 12px 4px 6px;
  gap: 0px;
  border-radius: 5.25px;
  border: 1px;
  opacity: 0px;
  box-shadow: none; /* Elimina la sombra */
  opacity: 0px;
  height: 25px;
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  gap: 3px; /* Espacio entre el icono y el texto */
  letter-spacing: 0.06em;
  transition: background-color 0.3s;
}

.add-button mat-icon {
  font-size: 10px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #1976D2; /* Color del ícono */
  width: 13px;
  height: 10px;
  gap: 0px;
  padding: 2px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: 2px;
}

/* Estilos base para los botones de Orden de Carga */
.orden-carga-button {
  border-radius: 50%; /* Redondeo completo */
  padding: 12px; /* Padding personalizado */
  color: white; /* Color del texto */
}

.orden-carga-anticipo {
  background: #008000;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;

}

.orden-carga-anticipo mat-icon {
  font-size: 10px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #008000; /* Color del ícono */
  width: 13px;
  height: 10px;
  gap: 0px;
  padding: 2px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: 2px;
}

.orden-carga-recepcion {
  background: #1C1C1C;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.orden-carga-recepcion  mat-icon {
  font-size: 10px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #1C1C1C; /* Color del ícono */
  width: 13px;
  height: 10px;
  gap: 0px;
  padding: 2px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: 2px;
}


.orden-carga-aceptar {
  background: var(--colors-secondary-500-secondary, #EF3E20);
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.orden-carga-finalizar {
  background: #575756;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.orden-carga-conciliar {
  background: #FF0000;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.add-button:hover {
  background-color: #155A9E; /* Color más oscuro al pasar el ratón */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
}

.filter-button{
  width: 29px;
  padding: 5px;
  height: 29px;
}

.filter-button mat-icon{
  font-size: 15px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  border-radius: 90%; /* Borde redondeado para el ícono */
  width: 15px;
  height: 18px;
  padding-left: -2px;
  margin-top: -18px;
}

.button-cliente {
  padding: 10px;
  width: 150px; /* Ancho aumentado */
}

.button-producto {
  padding: 8px;
  min-width: 90px;
}

.button-elemento {
  padding: 6px;
  min-width: 80px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none; /* Esto también desactiva la capacidad de hacer clic en el botón */
}

.list-button {
  width: auto;
  padding: 15px;
  gap: 0px;
  border-radius: 5.25px;
  border: 1px solid #1C1C1C29;
  opacity: 0px;
  box-shadow: none; /* Elimina la sombra */
  height: 25px;
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  background: #FFFFFF59;
  color: #3B9EFF;
  transition: border-color 0.3s;
}

.buttons{
  width: auto;
  padding: 15px;
  gap: 0px;
  border-radius: 5.25px;
  border: 1px solid #1C1C1C29;
  opacity: 0px;
  box-shadow: none; /* Elimina la sombra */
  height: 25px;
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  transition: border-color 0.3s;
}

.icon-add-style {
  font-size: 10px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #1976D2; /* Color del ícono */
  width: 13px;
  height: 10px;
  gap: 0px;
  padding: 2px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: 2px;
}
