<mat-sidenav-container class="sidebar-filter"
    [class.sidebar-form-list]="isFormList" from="right">

  <mat-sidenav
    #sidenav
    [mode]="sidebarMode"
    class="mat-elevation-z2"
    position="end"
  >
    <strong class="sidebar-filter-title">Filtros</strong>
    <ng-content select="[filterMenu]"></ng-content>
    <div>
      <button type="button" mat-raised-button (click)="resetClick.emit($event)">
        Limpiar
      </button>
      <button type="button" mat-raised-button
        color="primary" (click)="applyClick.emit($event)" >
        Filtrar
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="page" [class.page-form-list]="isFormList">

      <div class="page-title">

        <span class="title">
          {{ module }}
          <span *ngIf="submodule && !hideSubModule" class="submodule">
            <ng-container *ngIf="viewTitle">{{ submodule }}</ng-container>
            <ng-container *ngIf="!viewTitle">
              <strong>{{ submodule }}</strong>
            </ng-container>
          </span>
          <span *ngIf="viewTitle"> > <strong>{{ viewTitle }}</strong> </span>
        </span>

        <div class="page-title-buttons">
          <ng-container *ngIf="!hideBack">
            <button
              type="button"
              mat-stroked-button
              color="primary"
              matTooltip="Volver al listado"
              (click)="back()"
              class="botones">
              <mat-icon>arrow_back</mat-icon>
              Volver
            </button>
          </ng-container>
          <button
            mat-stroked-button
            matTooltip="Exportar lista"
            class="botones boton-descarga"
            (click)="downloadClick.emit($event)"
            *ngIf="(modelo | puede: a.REPORTE) && submodule !== 'Orden de Carga'">
            <mat-icon>description</mat-icon> DESCARGAR
          </button>

          <button
            mat-flat-button
            color="primary"
            matTooltip="Crear"
            class="botones"
            (click)="createClick.emit($event)"
            *ngIf="submodule !== 'Ordenes de Carga - Finalizadas y Canceladas' && !hideCreate && (modelo | puede: a.CREAR)">
            <mat-icon >add_circle</mat-icon>
            {{
              submodule === 'CLIENTES' ? 'CLIENTE' :
              submodule === 'CENTROS OPERATIVOS' ? 'CENTRO OPERATIVO' :
              submodule === 'PROVEEDORES' ? 'PROVEEDOR' :
              submodule === 'GESTORES DE CARGA' ? 'GESTOR DE CARGA' :
              submodule === 'TITULARES' ? 'TITULAR' :
              submodule === 'CHOFERES' ? 'CHOFER' :
              submodule === 'TRACTOS' ? 'TRACTO' :
              submodule === 'SEMIS' ? 'SEMI' :
              submodule === 'COMBINACION DE FLOTA' ? 'EQUIPO' :
              submodule === 'PEDIDOS' ? 'PEDIDO' :
              submodule === 'Orden de Carga' ? 'NUEVA OC' :
              submodule === 'Orden de Carga - En Proceso' ? 'NUEVA OC' :
              submodule === 'ANTICIPOS' ? 'NUEVO ANTICIPO' :
              submodule === 'MERCADERIA' ? 'NUEVO PRECIO' :
              submodule === 'CAJAS' ? 'CAJA' :
              submodule === 'BANCOS' ? 'BANCO' :
              submodule === 'Cargo' ? 'Cargo' :
              submodule === 'USUARIOS' ? 'USUARIO' :
              submodule === 'ROLES' ? 'ROL' :
              submodule === 'PUNTO VENTA' ? 'PUNTO DE VENTA' :
              submodule === 'COTIZACIÓN' ? 'COTIZACIÓN' :
              submodule === 'Todas las CUENTAS CORRIENTES' ? 'MOVIMIENTO' : 'Elemento'
              }}
          </button>
                <!-- Botón específico para Orden de Carga -->
          <button mat-flat-button
            class="botones" color="accent"
            *ngIf="(submodule === 'Orden de Carga'
            || submodule === 'Orden de Carga - En Proceso')
            && (modelo | puede: a.ANTICIPO)"
            (click)="createAnticipoClick.emit($event)">
            <mat-icon>add_circle</mat-icon> ANTICIPO
          </button>

          <!-- Botón específico para Orden de Carga -->
          <button mat-flat-button
            class="botones" color="accent"
            (click)="createRecepcionClick.emit($event)"
            *ngIf="(submodule === 'Orden de Carga'
            || submodule === 'Orden de Carga - En Proceso')
            && (modelo | puede: a.RECEPCIONAR)">
            <mat-icon>add_circle</mat-icon> RECEPCION
          </button>

          <!-- Botones dinamicos -->
          <ng-container
            *ngFor="let btn of dbuttons">

            <button class="botones"
                mat-flat-button
                [color]="btn.color ?? '' "
                [matTooltip]="btn.tooltip ?? '' "
                [class]="btn.clases ?? '' "
                [style]="btn.styles ?? '' "
                (click)="btn.buttonCallback($event)">

              <mat-icon *ngIf="btn.icon"
                  [class]="btn.iconClass ?? '' ">
                  {{btn.icon}}
              </mat-icon>

              {{btn.label}}

            </button>

          </ng-container>
          <!-- Botones dinamicos -->

              <!-- Botón específico para Orden de Carga -->
          <!-- <button mat-flat-button
            class="botones" color="warn"
            (click)="aceptarClick.emit($event)"
            [class.disabled]="!(modelo | puede: a.CAMBIAR_ESTADO)"
            *ngIf="submodule === 'Orden de Carga'">
              ACEPTAR
          </button> -->
          <!-- Botón específico para Orden de Carga -->
          <button mat-stroked-button
              class="botones"color="primary"
              matTooltip="Crear"
              (click)="finalizarClick.emit($event)"
              *ngIf="(submodule === 'Orden de Carga'
              || submodule === 'Orden de Carga - En Proceso')
              && (modelo | puede: a.FINALIZAR)">
                FINALIZAR
          </button>
            <!-- Botón específico para Orden de Carga -->
          <button mat-flat-button
              class="botones" style="color: white; background-color: var(--color-grey);"
              (click)="conciliarClick.emit($event)"
              *ngIf="(submodule === 'Orden de Carga'
              || submodule === 'Ordenes de Carga - Finalizadas y Canceladas')
              && (modelo | puede: a.CONCILIAR)">
                CONCILIAR
          </button>

          <!-- Botón específico para Crear Mercaderias -->
          <button mat-flat-button
            class="botones"
            color="primary"
            *ngIf="submodule === 'MERCADERIA' && !hideCreate && (modelo | puede: a.CREAR)"
            (click)="createMercaderiasClick.emit($event)">
            <mat-icon>add_circle</mat-icon> NUEVA MERCADERIA
          </button>

          <button
            mat-stroked-button
            matTooltip="Exportar lista"
            class="botones boton-descarga"
            (click)="downloadClickOc.emit($event)"
            *ngIf="(modelo | puede: a.REPORTE) && submodule === 'Orden de Carga'">
            <mat-icon>description</mat-icon> DESCARGAR
          </button>

          <mat-checkbox
            class="checkbox"
            *ngIf="submodule === 'MERCADERIA'"
            [class.disabled]="!(modelo | puede: a.CAMBIAR_ESTADO)"
            (change)="verInsumosInactivosChange.emit($event.checked)"
          >
            Ver insumos inactivos
          </mat-checkbox>

          <button
            mat-mini-fab
            color="primary"
            matTooltip="Filtrar"
            class="botones"
            type="button"
            *ngIf="!hideFilter"
            (click)="sidenav?.toggle()"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>


        </div>
      </div>

      <div class="filter-values">
        <ng-content select="[filterValues]">
        </ng-content>
      </div>

      <div class="page-content" style="max-height: 85vh;overflow-y: auto;">
        <ng-content></ng-content>
      </div>

      <div *ngIf="false" style="display: flex; row-gap: 5px;">

        <button mat-stroked-button
            class="botones">
              BOTON 1
        </button>

        <button mat-flat-button
            color="primary"
            class="botones">
            BOTON 2
        </button>

        <button mat-flat-button
            color="accent"
            class="botones">
            BOTON 3
        </button>

        <button mat-flat-button
            color="warn"
            class="botones">
            BOTON 4
        </button>

        <button mat-flat-button
            style="color: white; background-color: var(--color-green);"
            class="botones">
            BOTON 5
        </button>

        <button mat-flat-button
            style="color: white; background-color: var(--color-orange);"
            class="botones">
            BOTON 6
        </button>

        <button mat-flat-button
            style="color: white; background-color: var(--color-grey);"
            class="botones">
            BOTON 7
        </button>

        <button mat-flat-button
            style="color: white; background-color: var(--color-black);"
            class="botones">
            BOTON 8
        </button>

      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
