<mat-sidenav-container class="sidebar-filter" from="right">
  <mat-sidenav
    #sidenav
    [mode]="sidebarMode"
    class="mat-elevation-z2"
    position="end"
  >
    <strong class="sidebar-filter-title">Filtros</strong>
    <ng-content select="[filterMenu]"></ng-content>
    <div class="buttons">
      <button type="button" mat-raised-button (click)="resetClick.emit($event)">
        Limpiar
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="applyClick.emit($event)"
      >
        Filtrar
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page">
      <div class="page-title">
        <span class="title">
          {{ module }}
          <span *ngIf="submodule" class="submodule">
            <ng-container *ngIf="viewTitle">{{ submodule }}</ng-container>
            <ng-container *ngIf="!viewTitle">
              <strong>{{ submodule }}</strong>
            </ng-container>
          </span>
          <span *ngIf="viewTitle"> > <strong>{{ viewTitle }}</strong> </span>
        </span>
        <div class="page-title-buttons button-container"> <!-- Añade la clase button-container aquí -->
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Exportar lista"
            class="download-button"
            (click)="downloadClick.emit($event)"
            *ngIf="modelo | puede: a.REPORTE"
          >
            <mat-icon>description</mat-icon> DESCARGAR
          </button>
            <!-- Botón específico para Orden de Carga -->
          <button 
            mat-mini-fab color="primary" 
            class="add-button orden-carga-anticipo"
            *ngIf="submodule === 'Orden de Carga'"
            (click)="createAnticipoClick.emit($event)">
            <mat-icon>add</mat-icon> ANTICIPO
          </button>
            <!-- Botón específico para Orden de Carga -->
            <button 
              mat-mini-fab color="primary" 
              (click)="createAnticipoClick.emit($event)"
              class="add-button orden-carga-recepcion"
              *ngIf="submodule === 'Orden de Carga'">
              <mat-icon>add</mat-icon> RECEPCION
            </button>
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Crear"
            class="add-button"
            (click)="createClick.emit($event)"
            *ngIf="!hideCreate && (modelo | puede: a.CREAR)"
            [ngStyle]="getButtonStyles(submodule)"
          >
            <mat-icon >add</mat-icon> <!-- Ajusta el tamaño del ícono aquí -->
            {{ 
              submodule === 'CLIENTES' ? 'CLIENTE' : 
              submodule === 'CENTROS OPERATIVOS' ? 'CENTRO OPERATIVO' :
              submodule === 'Orden de Carga' ? 'NUEVA OC' : 'Elemento'
              }}
          </button>
              <!-- Botón específico para Orden de Carga -->
          <button 
            mat-mini-fab color="primary" 
            class="add-button orden-carga-aceptar"
            (click)="aceptarClick.emit($event)"
            *ngIf="submodule === 'Orden de Carga'">
              ACEPTAR
          </button>
          <!-- Botón específico para Orden de Carga -->
          <button 
            mat-mini-fab color="primary" 
    
            class="add-button orden-carga-finalizar"
            *ngIf="submodule === 'Orden de Carga'">
              FINALIZAR
        </button>
            <!-- Botón específico para Orden de Carga -->
        <button 
            mat-mini-fab color="primary" 
    
            class="add-button orden-carga-conciliar"
            *ngIf="submodule === 'Orden de Carga'">
              CONCILIAR
        </button>
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Filtrar"
            class="filter-button"
            *ngIf="!hideFilter"
            (click)="sidenav?.toggle()"
          >
            <mat-icon>filter_alt</mat-icon>
          </button>
    
        </div>
      </div>
      <div class="filter-values">
        <ng-content select="[filterValues]"></ng-content>
      </div>
      <div class="page-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
