<mat-sidenav-container class="sidebar-filter" from="right">
  <mat-sidenav
    #sidenav
    [mode]="sidebarMode"
    class="mat-elevation-z2"
    position="end"
  >
    <strong class="sidebar-filter-title">Filtros</strong>
    <ng-content select="[filterMenu]"></ng-content>
    <div class="buttons">
      <button type="button" mat-raised-button (click)="resetClick.emit($event)">
        Limpiar
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="applyClick.emit($event)"
      >
        Filtrar
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page">
      <div class="page-title">

        <span class="title">
          {{ module }}
          <span *ngIf="submodule" class="submodule">
            <ng-container *ngIf="viewTitle">{{ submodule }}</ng-container>
            <ng-container *ngIf="!viewTitle">
              <strong>{{ submodule }}</strong>
            </ng-container>
          </span>
          <span *ngIf="viewTitle"> > <strong>{{ viewTitle }}</strong> </span>
        </span>

        <div class="page-title-buttons button-container">
          <ng-container *ngIf="!hideBack">
            <button
              type="button"
              mat-stroked-button
              matTooltip="Volver al listado"
              (click)="back()"
              id="back-button"
              class="botones list-button"
            >
              <mat-icon>arrow_back</mat-icon>
              Volver
            </button>
          </ng-container>
          <button
            mat-stroked-button
            matTooltip="Exportar lista"
            class="botones"
            (click)="downloadClick.emit($event)"
            *ngIf="modelo | puede: a.REPORTE"
          >
            <mat-icon>description</mat-icon> DESCARGAR
          </button>

          <!-- Botones dinamicos -->
          <ng-container
              *ngFor="let btn of dbuttons">

              <button
                  mat-mini-fab
                  [color]="btn.color ?? '' "
                  [matTooltip]="btn.tooltip ?? '' "
                  [class]="btn.clases ?? '' "
                  [style]="btn.styles ?? '' "
                  (click)="btn.buttonCallback($event)">

                <mat-icon *ngIf="btn.icon"
                    [class]="btn.iconClass ?? '' ">
                    {{btn.icon}}
                </mat-icon>
                {{btn.label}}
              </button>

          </ng-container>
          <!-- Botones dinamicos -->

          <!-- Botón específico para Orden de Carga -->
          <button
            mat-mini-fab color="primary"
            class="add-button orden-carga-anticipo"
            *ngIf="submodule === 'Orden de Carga'"
            (click)="createAnticipoClick.emit($event)">
            <mat-icon>add</mat-icon> ANTICIPO
          </button>
            <!-- Botón específico para Orden de Carga -->
            <button
              mat-mini-fab color="primary"
              (click)="createRecepcionClick.emit($event)"
              class="add-button orden-carga-recepcion"
              *ngIf="submodule === 'Orden de Carga'">
              <mat-icon>add</mat-icon> RECEPCION
            </button>
          <button
            mat-flat-button
            color="primary"
            matTooltip="Crear"
            class="botones guardar-button"
            (click)="createClick.emit($event)"
            *ngIf="!hideCreate && (modelo | puede: a.CREAR)"
            [ngStyle]="getButtonStyles(submodule)"
          >
            <mat-icon >add_circle</mat-icon> <!-- Ajusta el tamaño del ícono aquí -->
            {{
              submodule === 'CLIENTES' ? 'CLIENTE' :
              submodule === 'CENTROS OPERATIVOS' ? 'CENTRO OPERATIVO' :
              submodule === 'PROVEEDORES' ? 'PROVEEDOR' :
              submodule === 'GESTORES DE CARGA' ? 'GESTOR DE CARGA' :
              submodule === 'PROPIETARIOS' ? 'PROPIETARIO' :
              submodule === 'CHOFERES' ? 'CHOFER' :
              submodule === 'TRACTOS' ? 'TRACTO' :
              submodule === 'SEMIS' ? 'SEMI' :
              submodule === 'COMBINACION DE FLOTA' ? 'EQUIPO' :
              submodule === 'PEDIDOS' ? 'PEDIDO' :
              submodule === 'Orden de Carga' ? 'NUEVA OC' :
              submodule === 'MERCADERIA' ? 'NUEVO PRECIO' :
              submodule === 'CAJAS' ? 'CAJA' :
              submodule === 'BANCOS' ? 'BANCO' :
              submodule === 'Cargo' ? 'Cargo' :
              submodule === 'USUARIOS' ? 'USUARIO' :
              submodule === 'ROLES' ? 'ROL' :
              submodule === 'Todas las CUENTAS CORRIENTES' ? 'MOVIMIENTO' : 'Elemento'
              }}
          </button>
              <!-- Botón específico para Orden de Carga -->
          <button
            mat-mini-fab color="primary"
            class="add-button orden-carga-aceptar"
            (click)="aceptarClick.emit($event)"
            [class.disabled]="!(modelo | puede: a.CAMBIAR_ESTADO)"
            *ngIf="submodule === 'Orden de Carga'">
              ACEPTAR
          </button>
          <!-- Botón específico para Orden de Carga -->
          <button
            mat-mini-fab color="primary"
            [class.disabled]="!(modelo | puede: a.CAMBIAR_ESTADO)"
            (click)="finalizarClick.emit($event)"
            class="add-button orden-carga-finalizar"
            *ngIf="submodule === 'Orden de Carga'">
              FINALIZAR
        </button>
            <!-- Botón específico para Orden de Carga -->
        <button
            mat-mini-fab color="primary"
            [class.disabled]="!(modelo | puede: a.CAMBIAR_ESTADO) || !(modelo | puede: a.CONCILIAR)"
            (click)="conciliarClick.emit($event)"
            class="add-button orden-carga-conciliar"
            *ngIf="submodule === 'Orden de Carga'">
              CONCILIAR
        </button>
        <button
          mat-mini-fab
          color="primary"
          matTooltip="Filtrar"
          class="botones"
          *ngIf="!hideFilter"
          (click)="sidenav?.toggle()"
        >
          <mat-icon>filter_alt</mat-icon>
        </button>

        </div>
      </div>
      <div class="filter-values">
        <ng-content select="[filterValues]"></ng-content>
      </div>
      <div class="page-content">
        <ng-content></ng-content>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
