<form [formGroup]="form">
  <h1 mat-dialog-title>
    Editar Usuario {{ isAdmin ? "Administrador" : "" }}
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <h3><strong>Usuario: </strong>{{ username }}</h3>
  <div mat-dialog-content>
    <app-password-field
      title="Contraseña"
      controlName="password"
      [form]="form"
    ></app-password-field>
    <app-password-field
      title="Repetir contraseña"
      controlName="confirm_password"
      [form]="form"
    ></app-password-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
    >
      Aceptar
    </button>
  </div>
</form>
