<ng-container *ngIf="list$ | async as list">
  <app-generic-list-field
    *ngIf="form"
    errorMessage="El concepto es <strong>requerido</strong>"
    [hint]="list.length ? '' : 'No hay Conceptos para la Cuenta elegida'"
    [title]="title"
    [controlName]="controlName"
    [groupName]="groupName"
    [controlName]="controlName"
    [controlName]="controlName"
    [textValueFormat]="textValueFormat"
    [value]="value"
    [list]="list"
    [form]="form"
    (valueChange)="valueChange.emit($event)"
  ></app-generic-list-field>
</ng-container>
