<form [formGroup]="form">
  <span mat-dialog-title>
    <span class="evaluaciones-text"> EVALUACIÓN</span>
  </span>
  <div class="divider"></div>
  <div mat-dialog-content>
    
    <!-- Campo para seleccionar el incidente -->
    <div class="form-field-container">
      <label for="incidente">Incidente:</label>
      <app-tipo-evaluacion-field
        [form]="form"

      ></app-tipo-evaluacion-field>
    </div>

    <!-- Campo de comentario -->
    <div class="form-field-container">
      <label for="comentario">Comentario:</label>
      <mat-form-field appearance="outline" class="comentario-field">
        <textarea
          matInput
          id="comentario"
          formControlName="comentario"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
        ></textarea>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="buttons-actions">
    <button 
      mat-raised-button 
      type="button" 
      class="close-button" 
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      id="submit-button"
      class="save-button"
    >
      <mat-icon>save</mat-icon> GUARDAR
    </button>
  </div>
</form>
