<form [formGroup]="form" class="small-form">

  <span mat-dialog-title>
    <span class="dialog-title"> REGISTRO DE EVALUACIONES</span>
  </span>

  <div class="section" >
    <h2> </h2>
  </div>

  <div class="row">

    <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
      <label class="form-label mr-2">Tracto</label>
      <p class="full-width"></p>
    </div>
  
    <div class="col-xs-12 rating-wrapper">
      <div class="rating-container" id="rating">
        <div class="star-rating">
          <span
            *ngFor="let star of [].constructor(5); let i = index"
            class="star"
            [class.filled]="i < tractoRating"
            (click)="tractoRating = i + 1"
            style="cursor: pointer;">
            ★
          </span>
        </div>
      </div>
    </div>
  
    <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
      <label class="form-label mr-2">Semi</label>
      <p class="full-width"></p>
    </div>
  
    <div class="col-xs-12 rating-wrapper">
      <div class="rating-container" id="rating">
        <div class="star-rating">
          <span
            *ngFor="let star of [].constructor(5); let i = index"
            class="star"
            [class.filled]="i < semiRating"
            (click)="semiRating = i + 1"
            style="cursor: pointer;">
            ★
          </span>
        </div>
      </div>
    </div>
  
    <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
      <label class="form-label mr-2">Chofer</label>
      <p class="full-width"></p>
    </div>
  
    <div class="col-xs-12 rating-wrapper">
      <div class="rating-container" id="rating">
        <div class="star-rating">
          <span
            *ngFor="let star of [].constructor(5); let i = index"
            class="star"
            [class.filled]="i < choferRating"
            (click)="choferRating = i + 1"
            style="cursor: pointer;">
            ★
          </span>
        </div>
      </div>
    </div>
  
    <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
      <label class="form-label mr-2">Propietario</label>
      <p class="full-width"></p>
    </div>
  
    <div class="col-xs-12 rating-wrapper">
      <div class="rating-container" id="rating">
        <div class="star-rating">
          <span
            *ngFor="let star of [].constructor(5); let i = index"
            class="star"
            [class.filled]="i < propietarioRating"
            (click)="propietarioRating = i + 1"
            style="cursor: pointer;">
            ★
          </span>
        </div>
      </div>
    </div>
  
    <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
      <label class="form-label mr-2">Lugar de Carga</label>
      <p class="full-width"></p>
    </div>
  
    <div class="col-xs-12 rating-wrapper">
      <div class="rating-container" id="rating">
        <div class="star-rating">
          <span
            *ngFor="let star of [].constructor(5); let i = index"
            class="star"
            [class.filled]="i < cargaRating"
            (click)="cargaRating = i + 1"
            style="cursor: pointer;">
            ★
          </span>
        </div>
      </div>
    </div>
  
    <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
      <label class="form-label mr-2">Lugar de Descarga</label>
      <p class="full-width"></p>
    </div>
  
    <div class="col-xs-12 rating-wrapper">
      <div class="rating-container" id="rating">
        <div class="star-rating">
          <span
            *ngFor="let star of [].constructor(5); let i = index"
            class="star"
            [class.filled]="i < descargaRating"
            (click)="descargaRating = i + 1"
            style="cursor: pointer;">
            ★
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <app-input-field
      class="input-form-full col-xs-12 col-sm-6 col-md-12"
      title="Comentarios"
      controlName="comentarios"
      [form]="form"
    ></app-input-field>

    <app-file-field-input
      class="input-form-full col-xs-12 col-sm-6 col-md-12"
      controlName="nota"
      [field]="fotoDocumento"
      [form]="form"
      (fileChange)="fotoDocumentoFile = $event; fotoDocumento = null"
    ></app-file-field-input>

  </div>

  <div mat-dialog-actions class="buttons-actions">
    <button
      mat-stroked-button
      class="botones"  type="button"
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      mat-flat-button
      class="botones" color="primary" type="button"
      (click)="submit()">
      <mat-icon>save</mat-icon>
      GUARDAR
    </button>
  </div>

</form>
