.empty-form-field {
  margin-bottom: 1rem;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0 0px !important; top:-1.8px !important}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }


@media (max-width: 1366px) and (max-height: 768px) {
  .page-form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; /* Alinear elementos al principio */
    font-size: 12px;
  }

  .form-label {
    white-space: nowrap; 
    margin-right: 8px; 
    margin-bottom: 8px;
    font-size: 12px;
  }

  .col-12 {
    flex: 0 0 90%; /* Ocupa todo el ancho en pantallas pequeñas */
  }

  .col-md-4 {
    flex: 0 0 48%; /* Dos columnas en vez de tres */
  }
  
  .col-md-3 {
    flex: 0 0 48%; /* Mantiene el mismo ancho para las columnas más pequeñas */
  }
  
  input.mat-input-element {
    line-height: 0.5rem; 
    padding-top: 6px;
    padding-bottom: 3px; 
  }
}

  