.empty-form-field {
  margin-bottom: 1rem;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0 0px !important; top:-1.8px !important}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.41px;
   
}

.input-container {
  display: flex;
  align-items: center;

}

.input-container label {
  margin-right: 10px; /* Espacio entre el label y el input */
}

.custom-mat-form-field {
  width: 260px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
}
.search-container{
  width: 400px;
}