<div>

  <mat-label class="custom-label">
    <span *ngIf="requerido" class="required">(*) </span>
    {{ titleLabel }}
  </mat-label>

  <ng-container *ngIf="isShow; else formTemplate">
    <mat-label style="font-weight: bold;">
      {{ controlValue ? trueTitle : falseTitle }}
    </mat-label>
  </ng-container>
  <ng-template #formTemplate>
    <mat-slide-toggle
      [formControl]="control"
      (change)="valueChange.emit($event.checked)"
      [disabled]="readonly"
    >
      {{ controlValue ? trueTitle : falseTitle }}
    </mat-slide-toggle>
  </ng-template>

</div>
