<app-page-form
  submodule="SEMI"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [isDialog]="isDialog"
  [gestorCargaId]="gestorCuentaId"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (submitEvent)="submit(false)"
>
  <div class="page-form-container" (keydown.enter)="onEnter($event)"><!-- Colocar siempre el onEnter -->

    <div class="section" formGroupName="info">
      <h2>INFORMACIÓN PRINCIPAL</h2>
      <app-semi-form-info
        [form]="form"
        [estado]="estado"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [foto]="foto"
        [semi]="item"
        [propietarioId]="propietarioId"
        (fotoChange)="fotoFile = $event"
      ></app-semi-form-info>
    </div>

    <div class="section" formGroupName="detalle">
      <h2> DETALLE </h2>
      <app-semi-form-detalle
        [form]="form"
        [isShow]="isShow"
      ></app-semi-form-detalle>
    </div>

    <div class="section" formGroupName="capacidad">
      <h2> CAPACIDAD </h2>
      <app-semi-form-capacidad
        [form]="form"
        [isShow]="isShow"
      ></app-semi-form-capacidad>
    </div>

    <div class="section">
      <h2>HABILITACIONES </h2>

      <div formGroupName="transporte">
        <app-habilitacion-form-transporte
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          [fotoFrente]="fotoTransporteFrente"
          [fotoReverso]="fotoTransporteReverso"
          (fotoFrenteChange)="
            fotoTransporteFrenteFile = $event; fotoTransporteFrente = null
          "
          (fotoReversoChange)="
            fotoTransporteReversoFile = $event; fotoTransporteReverso = null
          "
        ></app-habilitacion-form-transporte>
      </div>

      <app-habilitacion-form-municipal
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [fotoFrente]="fotoMunicipalFrente"
        [fotoReverso]="fotoMunicipalReverso"
        (fotoFrenteChange)="
          fotoMunicipalFrenteFile = $event; fotoMunicipalFrente = null
        "
        (fotoReversoChange)="
          fotoMunicipalReversoFile = $event; fotoMunicipalReverso = null
        "
      ></app-habilitacion-form-municipal>



      <div formGroupName="automotor">
        <app-habilitacion-form-automotor
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          [fotoFrente]="fotoAutomotorFrente"
          [fotoReverso]="fotoAutomotorReverso"
          (fotoFrenteChange)="
            fotoAutomotorFrenteFile = $event; fotoAutomotorFrente = null
          "
          (fotoReversoChange)="
            fotoAutomotorReversoFile = $event; fotoAutomotorReverso = null
          "
        ></app-habilitacion-form-automotor>
      </div>

    </div>

    <div class="section">
      <h2> CALIFICACIÓN </h2>
      <div class="row">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Calificación Local (GC)</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.promedio_semi_gestor !== null ? (item?.promedio_semi_gestor | number:'1.0-2') : 'Aún sin calificar'"
              disabled
            />
          </mat-form-field>
        </div>
        <div *ngIf="item?.promedio_semi_gestor" class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Cant. Calificaciones Local (GC)</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.cantidad_semi_evaluaciones_gestor || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>

        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Calificación General</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.promedio_semi_general !== null ? (item?.promedio_semi_general | number:'1.0-2') : 'Aún sin calificar'"
              disabled
            />
          </mat-form-field>
        </div>
        <div *ngIf="item?.promedio_semi_general" class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Cant. Calificaciones General</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.cantidad_semi_evaluaciones || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section"*ngIf="isEdit || isShow">
      <h2> Auditoría </h2>
      <app-page-form-audit
        [created_by]="created_by"
        [created_at]="created_at"
        [modified_by]="modified_by"
        [modified_at]="modified_at"
      ></app-page-form-audit>
    </div>

  </div>
</app-page-form>
