<div *ngIf="item">

  <app-liquidacion-edit-form-acciones
    style="display: flex;flex-direction: row;justify-content: flex-end; padding-right: 20px;"
    [isShow]="isShow"
    [liquidacion]="item"
    (liquidacionChange)="actualizarLiquidacion.emit()"
    (liquidacionFlujoChange)="actualizarEstado.emit($event)"
    (liquidacionFacturaChange)="actualizarFactura()"
    [monto]="montoSaldo"
    [saldoMovimiento]="childSaldoView?.saldoMovimiento"
  ></app-liquidacion-edit-form-acciones>

  <div style="padding-top: 10px;">
    <app-estado-cuenta-detalle
      [etapa]="etapa"
      [estadoLiqui]="item.estado"
      [estadoCuenta]="estadoCuenta"
      [showVistaConsolidada]="false"
      [showEstado]="false"
      [showEstadoLiqui]="true"
      [showLiquidacion]="true"
      [liquidacionId]="item.id"
    ></app-estado-cuenta-detalle>

    <app-saldo
      #saldoView
      [showIngresoEgreso]="false"
      [showResumen]="true"
      [showInstrumentos]="false"
      [esEdicion]="true"
      [showMonto]="true"
      [credito]="credito"
      [debito]="debito"
      [saldoFinalizado]="saldoFinalizado"
      [saldoCC]="saldoCC"
      [esFinalizado]="esFinalizado"
      [monto]="monto"
      (saldoChange)="saldo = $event"
    ></app-saldo>
  </div>

  <ng-container *ngIf="esFinalizado; else pendienteTemp">

    <div class="section">
      <h2>MOVIMIENTOS</h2>
      <app-liquidacion-movimientos
        [list]="movimientos"
        (selectedMovimientosChange)="actualizarLiquidacion.emit()"
      ></app-liquidacion-movimientos>
    </div>

    <div class="section">
      <h2>INSTRUMENTOS</h2>
      <app-liquidacion-instrumentos
        [list]="instrumentos"
      ></app-liquidacion-instrumentos>
      <app-liquidacion-confirmada-form-instrumentos
        [estadoCuenta]="estadoCuenta"
        [liquidacion]="item"
        [saldo]="pago_cobro_abs"
        [isShow]="isShow"
        (selectedInstrumentosChange)="actualizarLiquidacion.emit()"
      ></app-liquidacion-confirmada-form-instrumentos>
    </div>

    <div *ngIf="facturas.length>0" class="section">
      <h2>FACTURAS</h2>
      <app-liquidacion-confirmada-form-facturas
        [liquidacion]="item"
        [isShow]="isShow"
        (facturasChange)="actualizarLiquidacion.emit()"
      ></app-liquidacion-confirmada-form-facturas>
    </div>

  </ng-container>

  <ng-template #pendienteTemp>

    <div class="section">
      <h2>MOVIMIENTOS</h2>
      <app-liquidacion-edit-form-movimientos
        [list]="movimientos"
        [liquidacion]="item"
        [saldo]="saldo"
        [isShow]="
          isShow ||
          item.estado === E.ACEPTADO ||
          item.estado === E.CANCELADO ||
          item.estado === E.CONFIRMADO
        "
        (selectedMovimientosChange)="actualizarMovimientosEvento($event)">
      </app-liquidacion-edit-form-movimientos>

    </div>

    <div *ngIf="facturas.length>0" class="section">
      <h2>FACTURAS</h2>
      <app-liquidacion-confirmada-form-facturas
        #facturaList
        [liquidacion]="item"
        [isShow]="isShow"
        (facturasChange)="actualizarFactura()"
      ></app-liquidacion-confirmada-form-facturas>
      </div>

  </ng-template>

  <div *ngIf="comentario !== ''" class="section">
    <h2>HISTORICO</h2>
    <app-liquidacion-comentario
      [comentario]="comentario"
    ></app-liquidacion-comentario>
  </div>

</div>
