
.titulo {
  color: #F25A38; /* Ejemplo de color para el módulo */
}

.titulo-azul {
  color: #3B9EFF; /* Ejemplo de color para el submódulo */
}

.section-button {
  padding-bottom: 10px;
}

.section {

  h2 {
    margin: 0 0 15px 0;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc;
    border-bottom: 1px solid #007acc;
    width: 100%;
  }
}
