<div *ngIf="item">

  <form [formGroup]="form">

    <app-liquidacion-edit-form-acciones
      *ngIf="estadoCuenta"
      style="display: flex;flex-direction: row;justify-content: flex-end; padding-right: 20px;"
      [isShow]="isShow"
      [liquidacion]="item"
      (liquidacionChange)="actualizarLiquidacion.emit()"
      (liquidacionFlujoChange)="actualizarEstado.emit($event)"
      (liquidacionFacturaChange)="actualizarFactura($event)"
      [saldoCC]="saldoCC"
      [totalMovimiento]="monto"
      [form]="form"
    ></app-liquidacion-edit-form-acciones>

    <app-cuenta-conrriente-info style="padding-top: 10px;"
      [estadoCuenta]="estadoCuenta"
      [liquidacion]="item"
      [esEditableLinea]="false"
      [form]="form"
      [credito]="credito"
      [debito]="debito"
      [saldoCC]="saldoCC"
      [esOrdenPago]="esOrdenPago"
      [esEdicion]="false"
      [es_pdv]="false"
      [esFinalizado]="false"
      (monedaSelect)="selectMoneda($event)"
      >
    </app-cuenta-conrriente-info>

    <div *ngIf="esOrdenPago" class="row">
      <div class="input-form-full col-xs-12 col-sm-12">
        <mat-label class="custom-label">
          Observación
        </mat-label>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            formControlName="observacion"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
          ></textarea>
          <mat-error *ngIf="form.controls['observacion'].hasError('required')">
            El campo observacion es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

      <!--app-estado-cuenta-detalle
        class="col-xs-7"
        [etapa]="etapa"
        [estadoLiqui]="item.estado"
        [estadoCuenta]="estadoCuenta"
        [showVistaConsolidada]="false"
        [showEstado]="false"
        [showEstadoLiqui]="true"
        [showLiquidacion]="true"
        [liquidacionId]="item.id"
        [form]="form"
      ></app-estado-cuenta-detalle>
      <app-saldo #saldoView
        class="col-xs-5"
        [showIngresoEgreso]="false"
        [showResumen]="true"
        [esEdicion]="true"
        [credito]="credito"
        [debito]="debito"
        [saldoFinalizado]="saldoFinalizado"
        [saldoCC]="saldoCC"
        [esOrdenPago]="esOrdenPago"
        [esFinalizado]="esFinalizado"
        [form]="form"
        (saldoChange)="saldo = $event"
        (monedaSelect)="selectMoneda($event)">
      ></app-saldo>
    </div-->

    <ng-container *ngIf="esFinalizado; else pendienteTemp">

      <div class="section">
        <h2 class="title-colapside" (click)="colapseDivMovimientos=!colapseDivMovimientos">MOVIMIENTOS</h2>
        <app-liquidacion-movimientos
          [list]="listMovimientosGrouped"
          (selectedMovimientosChange)="actualizarLiquidacion.emit()"
        ></app-liquidacion-movimientos>
      </div>

      <div *ngIf="facturas.length>0" class="section section-button">
        <h2 class="title-colapside" (click)="colapseDivFacturas=!colapseDivFacturas">FACTURAS</h2>
        <app-liquidacion-confirmada-form-facturas
          [liquidacion]="item"
          [isShow]="isShow"
          (facturasChange)="actualizarLiquidacion.emit()"
        ></app-liquidacion-confirmada-form-facturas>
      </div>

      <div class="section section-button">
        <h2 class="title-colapside" (click)="colapseDivInstrumentos=!colapseDivInstrumentos">INSTRUMENTOS</h2>
        <app-liquidacion-instrumentos
          [list]="instrumentos"
          [isShow]="isShow"
          [liquidacion]="item"
        ></app-liquidacion-instrumentos>
        <app-liquidacion-confirmada-form-instrumentos
          *ngIf="esSaldoAbierto"
          [estadoCuenta]="estadoCuenta"
          [liquidacion]="item"
          [saldo]="montoLiquidacion"
          [totalMonedas]=totalMonedas
          [isShow]="isShow"
          (instrumentosChange)="actualizarLiquidacionOnly.emit()"
        ></app-liquidacion-confirmada-form-instrumentos>
      </div>

    </ng-container>

    <ng-template #pendienteTemp>

      <div class="section">
        <h2 class="title-colapside" (click)="colapseDivMovimientos=!colapseDivMovimientos">MOVIMIENTOS</h2>
        <app-liquidacion-edit-form-movimientos
          [list]="listMovimientosGrouped"
          [liquidacion]="item"
          [esOrdenPago]="esOrdenPago"
          [saldo]="monto"
          [isShow]="
            isShow ||
            item.estado === E.ACEPTADO ||
            item.estado === E.CANCELADO ||
            item.estado === E.CONFIRMADO ||
            item.estado === E.PENDIENTE
          "
          (selectedMovimientosChange)="actualizarMovimientosEvento($event)">
        </app-liquidacion-edit-form-movimientos>

      </div>

      <div *ngIf="facturas.length>0" class="section section-button">
        <h2 class="title-colapside" (click)="colapseDivFacturas=!colapseDivFacturas">FACTURAS</h2>
        <app-liquidacion-confirmada-form-facturas
          #facturaList
          [liquidacion]="item"
          [isShow]="isShow"
          (facturasChange)="actualizarFactura($event)"
        ></app-liquidacion-confirmada-form-facturas>
        </div>

    </ng-template>

    <div *ngIf="comentario !== ''" class="section">
      <h2 class="title-colapside" (click)="colapseDivHistorico=!colapseDivHistorico">HISTORICO</h2>
      <app-liquidacion-comentario
        [class.colapse-div]="colapseDivHistorico"
        [comentario]="comentario"
      ></app-liquidacion-comentario>
    </div>

  </form>

</div>
