<div *ngIf="liquidacion">
  <div class="row page-form-row movimientos-container">
    <div class="col-xs-12" [hidden]="!(list && list.length)">
      <app-table-paginator
        [columns]="columns"
        [data]="list"
        [hideDelete]="true"
        [hideEdit]="true"
        [hideShow]="true"
      ></app-table-paginator>
    </div>
    <ng-container
      *ngIf="
        !isShowOnly &&
        (m.LIQUIDACION | puede: a.EDITAR:gestorCargaId) &&
        (m.MOVIMIENTO | puede: a.EDITAR:gestorCargaId)
      "
    >
      <div
        class="col-xs-12 button-container"
        [class.has-movimiento]="list && list.length"
      >
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addMovimientos()"
          id="add-button"
          [hidden]="!(list && list.length)"
        >
          Agregar Movimientos
        </button>
        <button
          mat-raised-button
          class="create-button"
          color="primary"
          type="button"
          (click)="createMovimiento()"
          id="create-button"
        >
          Crear Movimiento
        </button>
      </div>
    </ng-container>
  </div>
</div>
