.button-container {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  //grid-template-columns: auto auto auto;  
}

.has-movimiento {
  position: relative;
  overflow: visible;
  top: -50px;
  margin-bottom: 0;
}

.movimientos-container::ng-deep {
  .mat-column-delete {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-column-oc {
    right: 61px !important;
  }
  .mat-column-editar {
    width: 61px !important;
    min-width: 61px !important;
    box-sizing: border-box;
  }
}
