<div *ngIf="liquidacion">

  <div class="row movimientos-container">
    <div class="col-xs-12" [hidden]="!(list && list.length)">
      <app-table-paginator
        [columns]="columns"
        [subRowColumnsToDisplay]="subRowColumnsToDisplay"
        [expandible]="true"
        [expandibleButton]="true"
        [grouped]="true"
        [data]="list"
        [hideDelete]="true"
        [hideEdit]="true"
        [hideShow]="true"
        (allCheckedChange)="onAllCheckedChange($event)"
        (checkboxChange)="onCheckboxChange($event)"
      ></app-table-paginator>
    </div>
    <ng-container
      *ngIf="
        !isShowOnly &&
        (m.LIQUIDACION | puede: a.EDITAR:gestorCargaId) &&
        (m.MOVIMIENTO | puede: a.EDITAR:gestorCargaId) &&
        !esOrdenPago
      "
    >
      <div
        class="col-xs-5 button-container"
        [class.has-movimiento]="list && list.length"
      >
        <button
          mat-flat-button
          class="botones"
          color="primary"
          type="button"
          (click)="addMovimientos()"
        >
          Agregar
        </button>
        <button
          mat-stroked-button
          class="botones"
          type="button"
          (click)="removeMovimientos()"
          [disabled]="!(list && list.length)"
        >
          Excluir
        </button>
        <button
          mat-flat-button
          class="botones"
          color="accent"
          type="button"
          (click)="createMovimiento()"
        >
          Crear
        </button>
      </div>
    </ng-container>
  </div>
</div>
