.button-container {
  margin-bottom: 1rem;
  position: relative;
  overflow: visible;
  margin-bottom: 0;
}

.has-movimiento .mat-raised-button {
  position: absolute;
  top: -58px;
}

.button-container .create-button {
  left: 0;
  top: -20px;
}

.has-movimiento .create-button {
  left: 200px;
  top: -58px;
}

.movimientos-container::ng-deep {
  .mat-column-delete {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-column-oc {
    right: 61px !important;
  }
  .mat-column-editar {
    width: 61px !important;
    min-width: 61px !important;
    box-sizing: border-box;
  }
}
