@import "~src/assets/styles/colors.scss";

.error {
  font-size: 10.5px;
}

.button-container {
  display: flex; /* Utiliza flexbox para alinear elementos */
  justify-content: flex-start; /* Alinea los botones al inicio del contenedor */
  gap: 10px; /* Espacio entre los botones */
  margin-bottom: 70px; /* Margen inferior */
  margin-left: 72%;
}

.button-container button {
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  margin-top: -30px; /* Margen inferior */
}

.small-button {
  margin-top: 5px;
  height: 25px; /* Altura más pequeña para los botones */
  line-height: 10px; /* Alineación vertical del texto */
  font-size: 12px;
}

.mat-icon.small-icon {
  font-size: 11px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 50%; /* Borde redondeado para el ícono */
  color: #3B9EFF; /* Color del ícono */
  width: 12px;
  height: 12px;
  gap: 0px;
  padding-top: 1px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-right: 4px;
  transition: color 0.3s; /* Transición suave para el cambio de color del ícono */
}

@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Cambia a disposición de columna en pantallas más pequeñas */
    align-items: flex-start; /* Alinea los botones al inicio en disposición de columna */
  }

  .button-container button {
    margin-right: 0; /* Elimina el margen derecho en disposición de columna */
    margin-bottom: 10px; /* Añade margen inferior entre los botones en disposición de columna */
    width: auto; /* Restablece el ancho automático */
  }
}

.download-icon{
  font-size: 18px;
  margin-top: 5px;
  padding-top: 2px;
  margin-right: -1px;
  margin-top: 2px;
}

.small-icon {
  font-size: 11px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #1976D2; /* Color del ícono */
  width: 12px;
  height: 12px;
  gap: 0px;
  padding-top: 1px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 3px;
}

.small-table {
  max-width: 90%; /* Ajusta el ancho máximo de la tabla */
  width: 100%; /* Asegura que la tabla ocupe el ancho completo de su contenedor */
}

.small-table app-table {
  width: 100%; /* Asegura que el componente de tabla interno ocupe el ancho completo */
}

.view-mode {
  opacity: 0.5;
  pointer-events: none;
}

.view-mode-table {
  color: #666; /* Cambiar el color del texto si es necesario */
}

#download-button{
  background-color: #FBFBFE; 
  border: 1px solid #D9D9D9; 
  color: #666; 
  pointer-events: none;
}