<div class="main-container">

  <div class="row">

    <div class="col-xs-12 button-container">
      <button id="download-button" mat-stroked-button
        class="botones boton-descarga" type="button"
        [ngClass]="{'view-mode': isShow}" >
        <mat-icon class="download-icon">description</mat-icon> DESCARGAR
      </button>

      <button id="add-button" mat-flat-button
        class="botones" color="primary" type="button"
        (click)="addContacto()"
        [ngClass]="{'view-mode': isShow}" >
        <mat-icon>add_circle</mat-icon> CONTACTO
      </button>
    </div>

    <div class="col-xs-12 table-container small-table" [hidden]="!(list && list.length)" >
      <app-table
        [hideEdit]="isShow"
        [hideShow]="!isShow"
        [modelo]="m.CONTACTO"
        [columns]="columns"
        [data]="list"
        [ngClass]="{'view-mode-table': isShow}"
        [formArray]="contactoArray"
        [noCheckGestorCuentaId]="true"
        (editClick)="editContacto($event)"
        (deleteClick)="removeContacto($event)"
        (showClick)="viewContacto($event)"
        [mostrarBotonEliminar]="!isShow"
      ></app-table>
    </div>

    <div *ngIf="contactoArray.touched && contactoArray.hasError('required')"
      class="col-xs-12 error">

      Debe cargar al menos un contacto
    </div>

  </div>
</div>

