<div class="main-container">
  <div class="row page-form-row">
    <div class="col-xs-12">
      <button
        mat-raised-button
        class="outline round custom-button"
        color="primary"
        type="button"
        (click)="addContacto()"
        id="add-button"
       
        [ngClass]="{'view-mode': isShow}" 
      >
        <mat-icon class="small-icon">add</mat-icon> CONTACTO
      </button>
    </div>
    <div class="col-xs-12 table-container small-table" style="margin-top: -20px;" [hidden]="!(list && list.length)">
      <app-table
        [modelo]="m.CONTACTO"
        [columns]="columns"
        [data]="list"
        [hideShow]="true"
        [isShow]="isShow"
        [formArray]="contactoArray"
        [noCheckGestorCuentaId]="true"
        (editClick)="editContacto($event)"
        (deleteClick)="removeContacto($event)"
      ></app-table>
    </div>
    <div
      class="col-xs-12 error"
      *ngIf="contactoArray.touched && contactoArray.hasError('required')"
    >
      Debe cargar al menos un contacto
    </div>
  </div>
</div>

