@import "~src/assets/styles/colors.scss";

.table-container {
  margin-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
}

.page-form-row {
  margin: 0;
  left: -2px;
}

.main-container {
  margin-left: -1.5em; /* Ajusta el margen izquierdo a 0 */
  padding-left: 0; /* Ajusta el relleno izquierdo a 0 */
  padding-bottom: -5em;
  padding-top: 0;
 
}

.error {
  color: #f44336;
  font-size: 10.5px;
}

.table-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  background-color: #D9D9D9;
}

.button-container {
  display: flex; /* Utiliza flexbox para alinear elementos */
  justify-content: flex-start; /* Alinea los botones al inicio del contenedor */
  gap: 10px; /* Espacio entre los botones */
  margin-bottom: 70px; /* Margen inferior */
  margin-left: 72%;
  background-color: #f44336;
}
.custom-dialog-container {
  background-color: #f44336;
}
.button-container button {
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  gap: 4px; /* Espacio entre el ícono y el texto */
  height: 24px; /* Altura del botón */
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 530;
  line-height: 16.41px;
  padding: 0 8px; /* Ajusta el padding horizontal */
  margin-top: -30px; /* Margen inferior */
 
}

::ng-deep .custom-dialog-container {
  background-color: red; /* Cambia este color al que prefieras */
}


@media (max-width: 768px) {
  .button-container {
    flex-direction: column; /* Cambia a disposición de columna en pantallas más pequeñas */
    align-items: flex-start; /* Alinea los botones al inicio en disposición de columna */
  }

  .button-container button {
    margin-right: 0; /* Elimina el margen derecho en disposición de columna */
    margin-bottom: 10px; /* Añade margen inferior entre los botones en disposición de columna */
    width: auto; /* Restablece el ancho automático */
  }
}

.download-icon{
  font-size: 18px;
  margin-top: 5px;
  padding-top: 2px;
  margin-right: -1px;
  margin-top: 2px;
}

.small-icon {
  font-size: 11px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #1976D2; /* Color del ícono */
  width: 12px;
  height: 12px;
  gap: 0px;
  padding-top: 1px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 3px;
}

.small-table {
  max-width: 90%; /* Ajusta el ancho máximo de la tabla */
  width: 100%; /* Asegura que la tabla ocupe el ancho completo de su contenedor */
}

.small-table app-table {
  width: 100%; /* Asegura que el componente de tabla interno ocupe el ancho completo */
}

.view-mode {
  background-color: #FBFBFE; /* Ejemplo de estilo: color de fondo gris */
  border: 1px solid #D9D9D9; /* Agregar borde gris */
  color: #666; /* Cambiar el color del texto si es necesario */
  pointer-events: none;
}

.view-mode-table {
  color: #666; /* Cambiar el color del texto si es necesario */
}

#download-button{
  background-color: #FBFBFE; 
  border: 1px solid #D9D9D9; 
  color: #666; 
  pointer-events: none;
}