<div>
  <div class="row page-form-row">
    <div class="col-xs-12 table-container" [hidden]="!(list && list.length)">
      <app-table
        [modelo]="m.CONTACTO"
        [columns]="columns"
        [data]="list"
        [hideShow]="true"
        [isShow]="isShow"
        [formArray]="contactoArray"
        [noCheckGestorCuentaId]="true"
        (editClick)="editContacto($event)"
        (deleteClick)="removeContacto($event)"
      ></app-table>
    </div>
    <div class="col-xs-12" [hidden]="isShow">
      <button
        mat-raised-button
        class="outline round"
        color="primary"
        type="button"
        (click)="addContacto()"
        id="add-button"
      >
        Nuevo contacto
      </button>
    </div>
  </div>
</div>
