<div *ngIf="liquidacion">
  <div class="row">
    <div class="col-xs-12 table-container" [hidden]="!(list && list.length)">
      <app-table
        [columns]="columns"
        [modelo]="m.FACTURA"
        [gestorCuentaId]="gestorCargaId"
        [data]="list"
        [isShow]="
          isShow ||
          !(
            (m.FACTURA | puede: a.EDITAR:gestorCargaId) ||
            (m.FACTURA | puede: a.ELIMINAR:gestorCargaId) ||
            (m.FACTURA | puede: a.VER:gestorCargaId)
          )
        "
        (editClick)="edit($event)"
        (deleteClick)="remove($event)"
        (showClick)="show($event)"
      ></app-table>
    </div>

    <!--div
      class="col-xs-12"
      [hidden]="isShow || !(m.FACTURA | puede: a.CREAR:gestorCargaId)"
    >
      <button
        id="create-button"
        mat-raised-button
        class="outline round"
        color="primary"
        type="button"
        disabled="isFacturaReady"
        (click)="create()"
      >
        Nueva Factura
      </button>
    </div-->
  </div>
</div>
