<form [formGroup]="form" >

  <h1 mat-dialog-title>
    <span class="action-text">{{ actionText }}</span>
    <span class="complement-text"> ORIGEN</span>
  </h1>

  <div mat-dialog-content>

    <div class="section" >
      <h2>REMITO</h2>
    </div>

 

    <div class="row" style="padding-bottom: 10px;">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Nº Remito"
        controlName="numero_documento"
        [form]="form"
      ></app-input-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Cantidad (kg)"
        controlName="cantidad"
        [hint]="cantidadHint"
        [form]="form"
      ></app-number-field>

    </div>

    <div class="row">

      <app-unidad-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Unidad"
        [readonly]="true"
        [form]="form">
      </app-unidad-field>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Fecha Carga"
        controlName="fecha"
        [form]="form"
      ></app-fecha-field>

    </div>

    <div class="row">

      <app-file-field-input
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        controlName="foto_documento"
        [field]="fotoDocumento"
        [form]="form"
        (fileChange)="fotoDocumentoFile = $event; fotoDocumento = null"
      ></app-file-field-input>

    </div>

  </div>

  <hr class="horizontal-line-final">

  <div mat-dialog-actions>
    <button
      mat-stroked-button
      class="botones"  type="button"
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      mat-flat-button
      class="botones" color="primary" type="button"
      (click)="submit()"
      cdkFocusInitial
      id="submit-button"
    >
      <mat-icon>save</mat-icon> GUARDAR
    </button>
  </div>

</form>
