<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-marca-camion-field
          [groupName]="groupName"
          controlName="marca_id"
          [form]="form"
        ></app-marca-camion-field>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-tipo-camion-field
          [groupName]="groupName"
          controlName="tipo_id"
          [form]="form"
        ></app-tipo-camion-field>
      </div>
    </div>
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-color-field
          [groupName]="groupName"
          controlName="color_id"
          [form]="form"
        ></app-color-field>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-number-field
          title="Año"
          [groupName]="groupName"
          controlName="anho"
          [form]="form"
        ></app-number-field>
      </div>
    </div>
  </div>
</div>
