<div *ngIf="form" [formGroup]="form">

  <div [formGroupName]="groupName">

    <div class="row">

      <app-marca-camion-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Marca"
        [groupName]="groupName"
        controlName="marca_id"
        [form]="form"
      ></app-marca-camion-field>

      <app-tipo-camion-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Tipo"
        [groupName]="groupName"
        controlName="tipo_id"
        [form]="form"
      ></app-tipo-camion-field>

      <app-color-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Color"
        [groupName]="groupName"
        controlName="color_id"
        [form]="form"
      ></app-color-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Año"
        [groupName]="groupName"
        controlName="anho"
        [form]="form"
      ></app-number-field>

  </div>
</div>
