<div class="row page-form-row">

  <div class="col-sm-12 cl-md-3 col-lg-2 columna" *ngIf="showLiquidacion">
    <mat-label class="col-sm-12 col-md-7 col-lg-7">N° Liquidacion</mat-label>
    <mat-form-field class="col-md-5 col-lg-5" >
      <input matInput [value]="liquidacionId" disabled />
    </mat-form-field>
  </div>

  <div class="col-sm-12 cl-md-3 col-lg-2 columna" *ngIf="showEstadoLiqui">
    <mat-label class="col-sm-12 col-md-4 col-lg-4">Estado</mat-label>
    <mat-form-field class="col-md-8 col-lg-8">      
      <input matInput [value]="estadoLiqui" disabled />
    </mat-form-field>
  </div>

  <div class="col-sm-12 cl-md-3 col-lg-1 columna" *ngIf="showEstado">
    <mat-label class="col-sm-12 col-md-5 col-lg-5">Estado</mat-label>
    <mat-form-field class="col-md-7 col-lg-7">      
      <input matInput [value]="etapa" disabled />
    </mat-form-field>
  </div>

  <div class="col-sm-12 cl-md-3 col-lg-2 columna">
    <mat-label class="col-sm-12 col-md-5 col-lg-5">Contraparte</mat-label>
    <mat-form-field class="col-md-7 col-lg-7">      
      <input matInput [value]="estadoCuenta?.tipo_contraparte_descripcion" disabled />
    </mat-form-field>
  </div>

  <div class="col-sm-12 cl-md-3 col-lg-4 columna">
    <mat-label class="col-sm-12 col-md-2 col-lg-2">Nombre</mat-label>
    <mat-form-field class="col-md-10 col-lg-10">
      <input matInput [value]="estadoCuenta?.contraparte_pdv ?? estadoCuenta?.contraparte" disabled />
    </mat-form-field>
  </div>

  <div class="col-sm-12 cl-md-3 col-lg-2 columna">
    <mat-label class="col-sm-12 col-md-5 col-lg-5">Documento</mat-label>
    <mat-form-field class="col-md-7 col-lg-7">      
      <input matInput disabled
        [value]="estadoCuenta?.contraparte_numero_documento_pdv ?? estadoCuenta?.contraparte_numero_documento" />
    </mat-form-field>
  </div>

  <ng-container *ngIf="showVistaConsolidada">

    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <mat-label>Pendientes (ML)</mat-label>
      <input
        matInput
        [value]="estadoCuenta?.pendiente"
        appInputThousandsSeparator
        disabled
      />
    </mat-form-field>

    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <mat-label>En Procesos (ML)</mat-label>
      <input
        matInput
        [value]="estadoCuenta?.en_proceso"
        appInputThousandsSeparator
        disabled
      />
    </mat-form-field>

    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <mat-label>Confirmados (ML)</mat-label>
      <input
        matInput
        [value]="estadoCuenta?.confirmado"
        appInputThousandsSeparator
        disabled
      />
    </mat-form-field>

    <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <mat-label>Finalizados (ML)</mat-label>
      <input
        matInput
        [value]="estadoCuenta?.finalizado"
        appInputThousandsSeparator
        disabled
      />
    </mat-form-field>

  </ng-container>


  <div class="columna" *ngIf="showSaldo">
    <mat-label>Saldo C.C.</mat-label>
    <mat-form-field >
      <input
        matInput
        [value]="estadoCuenta?.liquidacion_saldo"
        appInputThousandsSeparator
        disabled
      />
    </mat-form-field>
  </div>



</div>
