<app-page-form
  class="liquidacion-page"
  [module]="(estadoCuenta?.tipo_flujo ? estadoCuenta?.tipo_flujo + '|' : '') + ' Estado de Cuenta'"
  submodule="Liquidación"
  viewTitle="Nuevo"
  tooltipBtnGuardar="CREAR LIQUIDACION"
  labelBtnGuardar="CREAR LIQUIDACION"
  [formGroup]="form"
  [modelo]="modelo"
  [shouldShowDownloadButton]="true"
  (backClick)="back($event)"
  (submitEvent)="confirm()"
  (downloadClick)="downloadFile()">

  <app-liquidacion-form-fields
      *ngIf="estadoCuenta"
      #child
      [etapa]="etapa"
      [estadoCuenta]="estadoCuenta"
      [ordenPagoValue]="false"
      [moneda]="moneda"
      [list]="list"
      (createdLiquidacionEvt)="onCreateLiquidacion($event)">
  </app-liquidacion-form-fields>

</app-page-form>
