<app-page-form
  class="liquidacion-page"
  module="Estado de Cuenta"
  submodule="Liquidación"
  viewTitle="Nuevo"
  [formGroup]="form"
  [modelo]="modelo"
  (backClick)="back($event)"
  (submitEvent)="confirm()"
>
  <div class="liquidacion-page-content">
    <app-estado-cuenta-detalle
      [etapa]="etapa"
      [estadoCuenta]="estadoCuenta"
    ></app-estado-cuenta-detalle>
    <div class="row page-form-row">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Debe</mat-label>
        <input matInput [value]="credito" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Haber</mat-label>
        <input matInput [value]="debito" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Saldo</mat-label>
        <input matInput [value]="saldo" appInputThousandsSeparator disabled />
      </mat-form-field>
      <div class="col-xs-12">
        <app-liquidacion-form-movimientos
          [list]="list"
          (movimientosInDBChange)="getList()"
          (selectedMovimientosChange)="movimientosSelected = $event"
        ></app-liquidacion-form-movimientos>
      </div>
    </div>
  </div>
</app-page-form>
