<div *ngIf="form" [formGroup]="form" class="tramo-container">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-centro-operativo-field
          title="Origen"
          controlName="origen_id"
          [groupName]="groupName"
          [form]="form"
        ></app-centro-operativo-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-centro-operativo-field
          title="Destino"
          controlName="destino_id"
          [groupName]="groupName"
          [form]="form"
        ></app-centro-operativo-field>
      </div>
    </div>
  </div>
</div>
