<app-page
  class="punto-venta"
  [submodule]="subModuleName"
  [hideSubModule]="hideSubModule"
  [modelo]="modelo"
  (applyClick)="applyFilter()"
  (createClick)="createPuntoVenta()"
  (downloadClick)="downloadFile()"
  (resetClick)="resetFilter()"
  [isFormList]="true"
>

  <div filterMenu>
    <mat-accordion [multi]="true">
      <mat-expansion-panel>

      </mat-expansion-panel>
      <mat-expansion-panel>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-chip-list filterValues>
    <ng-container *ngIf="isFiltered">Filtros:</ng-container>
  </mat-chip-list>

  <app-table-paginator
    class="lista-remitente"
    [columns]="columns"
    [data]="list"
    [filterPredicate]="filterPredicate"
    [modelo]="modelo"
    (editClick)="redirectToEdit($event)"
    (showClick)="redirectToShow($event)"
    (deleteClick)="deleteRow($event)"
    [hideDelete]="true"
  ></app-table-paginator>

</app-page>
