<div class="table-selector-container">
  <table mat-table [dataSource]="dataSource" matSort class="table-selector">
    <ng-container *ngFor="let column of filteredColumns" [matColumnDef]="column.def" [sticky]="column.sticky" [stickyEnd]="column.stickyEnd">
      <ng-container *ngIf="column.def === 'selector'">
        <th mat-header-cell *matHeaderCellDef [ngClass]="{'highlight-first-th': true}">
          <button type="button" mat-icon-button [matMenuTriggerFor]="filterColumn" #filterColumnTrigger>
          </button>
          <mat-menu #filterColumn>
            <div mat-menu-item disableRipple>
              <app-searchable-checkbox-filter
                [value]="columnsToShowFilteredList"
                [list]="columnsToShowList"
                (valueChanges)="columnsToShowFilteredList = $event"
                (filtered)="filterColumns(); filterColumnTrigger._elementRef.nativeElement.click()"
              >
              </app-searchable-checkbox-filter>
            </div>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let row; let index = index">
          <!-- Eliminado el mat-radio-button -->
        </td>
      </ng-container>
      <ng-container *ngIf="column.def !== 'selector'">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <span class="title-selector">{{ column.title }}</span>
        </th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'selected-row': row === selectedRow}"
         [ngStyle]="{'color': getColorForStateNew(column, row), 'text-transform': 'uppercase'}">
          <ng-container *ngIf="column.value">

            <ng-container [ngSwitch]="column.type">

              <ng-container *ngSwitchCase="'number'">
                <span>{{ column.value(row) | numberFormat }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'numberDecimal'">
                <span>{{ column.value(row) | numberDecimalFormat }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <span>{{ column.value(row) | momentFormat: "DD-MM-YYYY HH:mm:ss" }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'only-date'">
                <span>{{ column.value(row) | momentFormat: "DD-MM-YYYY" }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'date-time'">
                <span>{{ column.value(row) | momentFormat: "DD-MM-YYYY HH:mm" }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'html'">
                <div [innerHTML]="column.value(row)"></div>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <span>{{ column.value(row) }}</span>
              </ng-container>

            </ng-container>

          </ng-container>
        </td>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'selected-row': row === selectedRow}"
        (click)="selectRow(row)">
    </tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
