<div *ngIf="form" [formGroup]="form">
  <ng-container *ngIf="groupName">
    <label>{{ title }}</label>
    <mat-form-field
      [formGroupName]="groupName"
      [class.mat-form-field-disabled]="readonly"
      class="nominada-input"
    >
      <input
        matInput
        [formControlName]="controlName"
        [appAutofocus]="autofocus"
        [readonly]="readonly"
        tabindex="{{ readonly ? -1 : 0 }}"
        appInputThousandsSeparator
        class="nominada-input"
      />
      <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('min')">
        El valor debe ser
        <strong>
          mayor o igual que {{ control.getError("min").min | numberFormat }}
        </strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('max')">
        El valor debe ser
        <strong>
          menor o igual que {{ control.getError("max").max | numberFormat }}
        </strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('pattern')">
        {{ patternMessageError(control.getError("pattern")) }}
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <label>{{ title }}</label>
    <mat-form-field [class.mat-form-field-disabled]="readonly" class="nominada-input">
      <input
        matInput
        [formControlName]="controlName"
        [appAutofocus]="autofocus"
        [readonly]="readonly"
        tabindex="{{ readonly ? -1 : 0 }}"
        appInputThousandsSeparator
        class="nominada-input"
      />
      <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('min')">
        El valor debe ser
        <strong>
          mayor que {{ control.getError("min").min | numberFormat }}
        </strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('max')">
        El valor debe ser
        <strong>
          menor que {{ control.getError("max").max | numberFormat }}
        </strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
</div>
