<div *ngIf="form" [formGroup]="form">
  <ng-container *ngIf="groupName">
    <label>{{ title }}</label>
    <mat-form-field
      [formGroupName]="groupName"
      [ngClass]="{
        'nominada-input'          :controlName === 'cantidad_nominada',
                                
        'anticipo-monto-input'    : controlName === 'monto_retirado' ||
                                    controlName === 'cantidad_retirada',
        'cantidad-remision-input' : controlName === 'cantidad' ||
                                    controlName === 'propietario_monto' ||
                                    controlName === 'remitente_monto' ||
                                    controlName === 'proveedor_monto',
        'view-mode'               : viewMode                         
      }"
    >
      <input
        matInput
        [formControlName]="controlName"
        [appAutofocus]="autofocus"
        [readonly]="readonly"
        [ngClass]="{
          'nominada-input': controlName === 'nominada',
          'view-mode': viewMode   
        }"
        tabindex="{{ readonly ? -1 : 0 }}"
        appInputThousandsSeparator
      />
      <mat-hint *ngIf="hint" [ngClass]="{ 'large-hint': controlName === 'nominada' || controlName === 'cantidad_retirada'}" [innerHTML]="hint"></mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('min')">
        El valor debe ser
        <strong>
          mayor o igual que {{ control.getError("min").min | numberFormat }}
        </strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('max')">
        El valor debe ser
        <strong>
          menor o igual que {{ control.getError("max").max | numberFormat }}
        </strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('pattern')">
        {{ patternMessageError(control.getError("pattern")) }}
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <label>{{ title }}</label>
    <mat-form-field
      [ngClass]="{
      'nominada-input'          : controlName === 'cantidad_nominada',
      'anticipo-monto-input'    : controlName === 'monto_retirado'  ||
                                  controlName === 'cantidad_retirada',
      'cantidad-remision-input' : controlName === 'cantidad' ||
                                  controlName === 'propietario_monto' ||
                                  controlName === 'remitente_monto' || 
                                  controlName === 'proveedor_monto',
      'view-mode'               : viewMode   
      }"
    >
      <input
        matInput
        [formControlName]="controlName"
        [appAutofocus]="autofocus"
        [readonly]="readonly"
        [ngClass]="{
          'nominada-input': controlName === 'cantidad_nominada',
          'view-mode': viewMode   
        }"
        tabindex="{{ readonly ? -1 : 0 }}"
        appInputThousandsSeparator
      />
      <mat-hint *ngIf="hint" [ngClass]="{ 'large-hint': controlName === 'monto_retirado' || controlName === 'cantidad_retirada' }" [innerHTML]="hint"></mat-hint>
      <mat-error *ngIf="control.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('min')">
        El valor debe ser
        <strong>
          mayor que {{ control.getError("min").min | numberFormat }}
        </strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('max')">
        El valor debe ser
        <strong>
          menor que {{ control.getError("max").max | numberFormat }}
        </strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
</div>
