<div class="acciones-container" *ngIf="oc">
  <div class="acciones-buttons">
    <ng-container *ngIf="!isShow">
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="oc.estado === E.NUEVO || oc.estado === E.PENDIENTE"
        (click)="aceptar()"
      >
        Aceptar orden
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        *ngIf="oc.estado === E.ACEPTADO"
        (click)="finalizar()"
      >
        Finalizar orden
      </button>
      <button
        type="button"
        mat-raised-button
        color="{{ isAnticiposLiberados ? 'warn' : 'primary' }}"
        *ngIf="
          oc.estado === E.ACEPTADO ||
          (oc.estado === E.FINALIZADO && puedeConciliar)
        "
        (click)="modificarAnticipos()"
      >
        {{ isAnticiposLiberados ? "Bloquear" : "Liberar" }} anticipos
      </button>
      <button
        type="button"
        mat-raised-button
        color="warn"
        *ngIf="oc.estado !== E.CANCELADO"
        (click)="cancelar()"
      >
        Cancelar orden
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="oc.estado === E.FINALIZADO && puedeConciliar"
        (click)="conciliar()"
      >
        Conciliar orden
      </button>
    </ng-container>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="downloadResumenPDF()"
    >
      Resumen
    </button>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="downloadPDF()"
    >
      Imprimir orden
    </button>
  </div>

  <div class="scoreboard">
    <div class="scoreboard-item">
      <h4>Nro. Pedido</h4>
      <p>{{ oc.flete_id }}</p>
    </div>
    <div class="scoreboard-item">
      <h4>Nro. Orden Carga</h4>
      <p>{{ oc.id }}</p>
    </div>
    <div class="scoreboard-item">
      <h4>Estado de la orden</h4>
      <p>{{ oc.estado }}</p>
    </div>
    <div class="scoreboard-item">
      <h4>Estado de anticipos</h4>
      <p>
        {{
          isAnticiposLiberados ? "Anticipos liberados" : "Anticipos bloqueados"
        }}
      </p>
    </div>
  </div>
</div>
