.action-text {
  color: #F25A38;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.complement-text {
  color: #3B9EFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.field-cargado {
  margin-top: 10px;
}
