<div class="gestion-container">
  <div class="section">
    <h2>GESTION DE LINEA</h2>
    <div class="info-porcentaje">
      
      <div class="conceptos">
        <span class="span-concepto">Redistribucion de Conceptos</span>
        <p>Obs: La suma de porcentajes no debe superar el 80%</p>
      </div>
      <div class="form-group" *ngIf="oc?.flete_anticipos?.length">
        <div *ngFor="let anticipo of oc?.flete_anticipos" class="anticipo-item">
          <label class="anticipos-porcentaje">% {{ anticipo.concepto }}</label>
          <mat-form-field class="porcentajes">
            <input id="porcentajeInput" matInput [value]="anticipo.porcentaje ?? 0" disabled="true" />
          </mat-form-field>
          
        </div>
        <label class="total-anticipos">% TOTAL Anticipos</label>
        <mat-form-field class="total">
          <input id="totalAnticipoInput" matInput [value]="getTotalAnticipo()" disabled="true" />
        </mat-form-field>
      </div>
      
    </div>
    <div class="table-title">TABLA DE SALDOS</div>
    <div class="table-container">
      
      <app-orden-carga-gestion-anticipos [list]="oc?.saldos || [] ">
     
      </app-orden-carga-gestion-anticipos>
    </div>
  <app-orden-carga-flete 
    *ngIf="oc"
    [oc]="oc"
    >
  </app-orden-carga-flete>

    <div class="row page-form-row">
      <div class="column">
        <p>
          Tarifa Flete a Pagar:
          <span class="span-like">{{ oc?.flete_tarifa | number: '1.0-0' }}</span>Gs/Kg
        </p>
        <p>
          Cant. Nominada:
          <span class="span-like">{{ oc?.cantidad_nominada | number: '1.0-0' }}</span>Kg
        </p>
        <p>
          Flete Proyectado:
          <span class="span-like">{{ oc?.flete_proyectado | number: '1.0-0' }}</span>Gs
        </p>
        <p>
          Porcentaje Maximo Liberado:
          <span class="span-like">{{ oc?.flete_anticipo_maximo | number: '1.0-0' }}</span>%
        </p>
        <p style="color: red;">
          Limite Crédito Cam.:
          <span class="span-like" >{{ oc?.camion_limite_monto_anticipos ?? 0 | number: '1.0-0' }}</span>Gs
        </p>
      </div>
      <div class="column">
        <p>
          Limite Crédito OC:
          <span class="span-like">{{ oc?.flete_limite_credito | number: '1.0-0' }}</span>Gs
        </p>
        <p>
         Total Complementos Anticipables:
          <span class="span-like">{{ oc?.total_anticipo_complemento | number: '1.0-0' }}</span>Gs
        </p>
       
        <p>
          Saldo Crédito Tracto.:
          <span class="span-like">{{ oc?.camion_monto_anticipo_disponible ?? 0 | number: '1.0-0' }}</span>Gs
        </p>
        <p style="color: red;">
          Anticipos Retirados Cam.:
          <span class="span-like">{{ oc?.camion_total_anticipos_retirados_en_estado_pendiente_o_en_proceso ?? 0 | number: '1.0-0' }}</span>Gs
        </p>
        <p style="color: red;">
          Monto Anticipo Retirados OC:
          <span class="span-like">{{ oc?.total_anticipo_retirado | number: '1.0-0' }}</span>Gs
        </p>
      
      </div>
      <div class="column">
     
        <p>
          Línea Disponible:
          <span class="span-like">{{ oc?.total_anticipo | number: '1.0-0' }}</span>Gs
        </p>
        <p style="color: red;">
          Monto Anticipo Disponible OC:
          <span class="span-like">{{ oc?.total_anticipo_disponible | number: '1.0-0' }}</span>Gs
        </p>
        <p>
          Chofer Habilitado para recibir Anticipos:
          <span class="span-like">
            {{ oc?.camion_chofer_puede_recibir_anticipos ? 'Si' : 'No' }}
          </span>
        </p>
        <p>
          Beneficiario Habilitado para recibir Anticipos:
          <span class="span-like">
            {{ oc?.camion_propietario_puede_recibir_anticipos ? 'Si' : 'No' }}
          </span>
        </p>
        <p>
          Tracto:
          <span class="span-like">
            {{ oc?.camion_estado}}
          </span>
        </p>
        <p>
          Semi:
          <span class="span-like">
            {{ oc?.semi_estado}}
          </span>
        </p>
      </div>
    </div>
    <hr class="full-width-line-top" />
    <div class="row page-form-row">
      <div class="column">
        <div class="flex-container">
          <p>
            Monto Efectivo OC:
            <span class="span-like">{{ oc?.flete_monto_efectivo | number: '1.0-0' }}</span>Gs
          </p>
          <p>
            Monto Efectivo OC + Complem.:
            <span class="span-like">{{ oc?.flete_monto_efectivo_complemento | number: '1.0-0' }}</span>Gs
          </p>
        </div>
      </div>
    </div>
    <hr class="full-width-line-bottom" />
    <div mat-dialog-actions  class="buttons-actions">
      <button 
        mat-raised-button 
        type="button" 
        class="close-button" 
        mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cerrar</button>
    </div>
  </div>
</div>
