.field-content::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}

.comprobante-anticipo-input {
  width: 150px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
}

.complemento-detalle-input{
  width: 390px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
}


.comprobante-anticipo-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  font-weight: 700;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  line-height: 116.41px;
  margin-top: -2px;
}

.complemento-detalle-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  font-weight: 700;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .comprobante-anticipo-input .mat-form-field-outline,
::ng-deep .complemento-detalle-input .mat-form-field-outline {
  border: 1px solid #F25A38;
}

.form-label {
  white-space: nowrap; /* Evita que el label se divida en varias líneas */
  margin-right: 8px; /* Espacio entre el label y el campo */
  margin-bottom: 8px;
}

mat-hint {
  color: #d32f2f; /* Color del texto del hint */
  font-size: 10px; /* Tamaño de fuente del hint */
  font-style: italic; /* Estilo de fuente del hint */
  white-space: nowrap;
  bottom: 24px; /* Ajusta el hint en la parte inferior del mat-form-field */
  left: 0; /* Ajusta el hint en la parte izquierda del mat-form-field */
  right: 30px; /* Ajusta el hint en la parte derecha del mat-form-field */
  display: block; /* Asegura que el hint se muestre como bloque */
  margin-left: -10px;
}