.field-content::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}
/* Estilos para ajustar el tamaño del input */
.mat-form-field .mat-input-element {
  font-size: 14px; /* Tamaño de fuente */
  padding: 8px; /* Espaciado interno */
  width: 200px; /* Ancho del input */
}

.mat-form-field .mat-input-element:focus {
  outline: none; /* Evita el cambio de tamaño al enfocar */
  border: 1px solid #F25A38; /* Mantiene el borde original */
  box-shadow: 0 0 0 2px red; /* Añade un "borde" adicional usando box-shadow */
}