<ng-container *ngIf="form">

    <ng-container *ngIf="isRemote; else inputTemplate">
      <!--ng-container *ngIf="isRemote || list.length; else inputTemplate">
        <app-dialog-field-oc
          [title]="title"
          [columns]="columns"
          [list]="[]"
          [calllbackremote]="true"
          [itemEvents]="combinacionEvents"
          [fetchDataFunction]="fetchFunction"
          [groupName]="groupName"
          [controlName]="controlName"
          [inputValuePropName]="inputValuePropName"
          [form]="form"
          (valueChange)="valueChange.emit($event)"
        ></app-dialog-field-oc>
      </ng-container-->
      <app-dialog-field
        [title]="title"
        [columns]="columns"
        [list]="[]"
        [calllbackremote]="true"
        [groupName]="groupName"
        [itemEvents]="combinacionEvents"
        [fetchDataFunction]="fetchFunction"
        [controlName]="controlName"
        [inputValuePropName]="inputValuePropName"
        [form]="form"
        (valueChange)="onCamionChange($event)"
        [requerido]="requerido"
        [autocomplete]="true"
        [filterSearchCallbackFn]="filterSearchCallbackFn"
        [filterOptionLabelfn]="filterOptionLabelfn"
      ></app-dialog-field>
  </ng-container>
  <ng-template #inputTemplate>
    <app-input-field-by-placa
      hidden
      [title]="title"
      [groupName]="groupName"
      [controlName]="controlName"
      [form]="form"

    ></app-input-field-by-placa>
  </ng-template>
</ng-container>
