.selector-dialog-container {
  .mat-dialog-content {
    padding-left: 0;
    padding-right: 0;
  }

  .search-item {
    margin-left: 1.2rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: calc(98% - 1rem);
  }
}

::ng-deep {
  .selector-dialog {
    width: 100vw !important;
    @media screen and (min-width: 48em) {
      width: calc(100vw - 5rem) !important;
    }
    @media screen and (min-width: 64em) {
      width: calc(100vw - 10rem) !important;
    }
    @media screen and (min-width: 75em) {
      width: calc(100vw - 20rem) !important;
    }
  }
}
.dialog-title {
  width: 160px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-align: left;
  color: #3B9EFF; /* Cambia esto al color que prefieras */
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.dialog-title .close mat-icon {
  font-size: 18px; /* Ajusta el tamaño según tus necesidades */
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #FF0000;
  font-weight: bold;
  color: #FF0000 ;
  margin-top: -29px;
  border-radius: 50%;
  padding-top: 4px;

}

.selector-dialog-containe{
  background-color: #FF0000;
}