.selector-dialog-container {
  .mat-dialog-content {
    padding-left: 0;
    padding-right: 0;
  }

  .search-item {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
  }
}

::ng-deep {
  .selector-dialog {
    width: 100vw !important;
    @media screen and (min-width: 48em) {
      width: calc(100vw - 5rem) !important;
    }
    @media screen and (min-width: 64em) {
      width: calc(100vw - 10rem) !important;
    }
    @media screen and (min-width: 75em) {
      width: calc(100vw - 20rem) !important;
    }
  }
}
