<div class="selector-dialog-container">
  <h1 mat-dialog-title class="dialog-title">
    BUSCADOR DE {{ title }}
    <button mat-button  mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <h5 *ngIf="subtitle">{{ subtitle }}</h5>
  <div mat-dialog-content>
    <mat-form-field class="search-item">
      <mat-icon matPrefix color="primary">search</mat-icon>
      <input
        matInput
        placeholder="Buscar"
        [formControl]="searchControl"
        [appAutofocus]="true"
        autocomplete="off"
      />
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchControl.setValue('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <ng-container *ngIf="isFetchPaginator">
      <app-table-selector-with-fetch-paginator
        [columns]="columns"
        [searchControl]="searchControl"
        [fetchFunction]="fetchFunction"
        [selectedRow]="selectValue"
        (selectedChange)="selectValue = $event"
      ></app-table-selector-with-fetch-paginator>
    </ng-container>
    <ng-container *ngIf="!isFetchPaginator">
      <app-table-selector
        [columns]="columns"
        [data]="list"
        [fetchFunction]="fetchFunctionLoal"
        [searchControl]="searchControl"
        [selectedRow]="selectValue"
        (selectedChange)="selectValue = $event"
      ></app-table-selector>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="select()"
      cdkFocusInitial
      [disabled]="!selectValue"
      color="primary"
      id="select-button"
    >
      Seleccionar
    </button>
  </div>
</div>
