

.action-text {
  color: #F25A38;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
  margin-right: 8px;
}

.complement-text {
  color: #3B9EFF;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.horizontal-line {
  border: 1px solid #1C1C1C3D;
  margin-top: 8px;
}

.section {
  h2 {
    margin: 0 0 15px 0;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc;
    border-bottom: 1px solid #007acc;

  }
}

.horizontal-line {
  border: 1px solid #1C1C1C3D;
  margin-top: 8px;

}

.ocultar {
  display: none;
}

.title-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.status-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}

.status-text {
  font-size: 14px;
}

.estado-label {
  color: #697077;
  font-size: 12px;
  padding-right: 3px;
  padding-top: 2px;
}

.estado-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}

.estado-input {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border-color: #017605;
  pointer-events: none;
  font-size: 10px;
  max-width: 4rem;
  text-align: center;
  padding: 2px 16px;
  height: 14px;
}

