<div *ngIf="formGroup" [formGroup]="formGroup">

  <div class="row">

    <div class="col-xs-12" style="font-weight: bold;">Merma para {{ afectadoTitle }}</div>

  </div>

  <div [formGroupName]="groupName">

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Valor"
        controlName="merma_{{ afectado }}_valor"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Moneda"
        controlName="merma_{{ afectado }}_moneda_id"
        [groupName]="groupName"
        [form]="formGroup"
        (valueChange)="
          group
            .get('merma_' + afectado + '_moneda_simbolo')
            ?.setValue($event?.simbolo)
        "
      ></app-moneda-field>

      <app-unidad-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Unidad"
        controlName="merma_{{ afectado }}_unidad_id"
        [groupName]="groupName"
        [form]="formGroup"
        (valueChange)="
          group
            .get('merma_' + afectado + '_unidad_abreviatura')
            ?.setValue($event?.abreviatura)
        "
      ></app-unidad-field>

    <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
      <ng-container *ngIf="isShow; else esPorcentualTemplate">
        {{ esPorcentual ? "Porcentual" : "No Porcentual" }}
      </ng-container>
      <ng-template #esPorcentualTemplate>
        <mat-slide-toggle formControlName="merma_{{ afectado }}_es_porcentual">
          {{ esPorcentual ? "Porcentual" : "No Porcentual" }}
        </mat-slide-toggle>
      </ng-template>
    </div>

    <app-number-field
      class="input-form-full col-xs-12 col-sm-6 col-md-4"
      title="Tolerancia"
      controlName="merma_{{ afectado }}_tolerancia"
      [groupName]="groupName"
      [form]="formGroup"
    ></app-number-field>

    </div>

  </div>

</div>
