<div *ngIf="formGroup" [formGroup]="formGroup">

  <div [formGroupName]="groupName">

    <div class="row">

      <div class="col-xs-12" style="font-weight: bold;">Merma para {{ afectadoTitle }}</div>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        [title]="'Valor ' + (afectado === 'gestor_carga' ? '(a pagar)' : '(a cobrar)')"
        controlName="merma_{{ afectado }}_valor"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Moneda"
        controlName="merma_{{ afectado }}_moneda_id"
        [groupName]="groupName"
        [form]="formGroup"
        (valueChange)="onMonedaChange($event)"
      ></app-moneda-field>

      <app-unidad-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Unidad"
        controlName="merma_{{ afectado }}_unidad_id"
        [groupName]="groupName"
        [form]="formGroup"
        (valueChange)="cargarSelecUnidad($event)"
      ></app-unidad-field>

    <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
      <ng-container *ngIf="isShow; else esPorcentualTemplate">
        {{ esPorcentual ? "Porcentual" : "No Porcentual" }}
      </ng-container>
      <ng-template #esPorcentualTemplate>
        <mat-slide-toggle formControlName="merma_{{ afectado }}_es_porcentual">
          {{ esPorcentual ? "Porcentual" : "No Porcentual" }}
        </mat-slide-toggle>
      </ng-template>
    </div>

    <app-number-field
      class="input-form-full col-xs-12 col-sm-6 col-md-2"
      title="Tolerancia"
      controlName="merma_{{ afectado }}_tolerancia"
      [groupName]="groupName"
      [form]="formGroup"
    ></app-number-field>

    </div>

  </div>

</div>
