<div *ngIf="formGroup" [formGroup]="formGroup">
  <div class="row page-form-row" [formGroupName]="groupName">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <app-number-field
        title="Merma para {{afectadoTitle}} - Valor"
        controlName="merma_{{afectado}}_valor"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-number-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <app-moneda-field
        title="Merma para {{afectadoTitle}} - Moneda"
        controlName="merma_{{afectado}}_moneda_id"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-moneda-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <app-unidad-field
        title="Merma para {{afectadoTitle}} - Unidad"
        controlName="merma_{{afectado}}_unidad_id"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-unidad-field>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 toggle">
      <ng-container *ngIf="isShow; else esPorcentualTemplate">{{ esPorcentual ? 'Porcentual' : 'No Porcentual' }}</ng-container>
      <ng-template #esPorcentualTemplate>
        <mat-slide-toggle formControlName="merma_{{afectado}}_es_porcentual">{{ esPorcentual ? 'Porcentual' : 'No Porcentual' }}</mat-slide-toggle>
      </ng-template>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <app-number-field
        title="Merma para {{afectadoTitle}} - Tolerancia"
        controlName="merma_{{afectado}}_tolerancia"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-number-field>
    </div>
  </div>
</div>
