<ng-container *ngIf="form">
  <ng-container *ngIf="list$ | async as list">
    <ng-container *ngIf="list.length; else inputTemplate">
      <app-dialog-field
      
        [columns]="columns"
        [list]="list"
        [groupName]="groupName"
        [controlName]="controlName"
        [inputValuePropName]="inputValuePropName"
        [form]="form"
        (valueChange)="valueChange.emit($event)"
      ></app-dialog-field>
    </ng-container>
  </ng-container>
  <ng-template #inputTemplate>
    <app-input-field
      hint="No hay Choferes activos disponibles"
    
      [readonly]="true"
      [groupName]="groupName"
      [controlName]="controlName"
      [form]="form"
    ></app-input-field>
  </ng-template>
</ng-container>
