.d-flex {
  display: flex; 
  align-items: center; 
}

.form-label {
  margin-bottom: 10px; 
}

.mb-2 {
  margin-bottom: 0.5rem; 
}

.mat-form-field {
  width: 100%; 
}

.form-label {
  min-width: 100px; 
}

.form-label-chofer-placa{
  margin-bottom: 10px; 
  min-width: 28px;
  margin-right: 8px;
}

.app-input-field{
  width: 100%;
  margin-right: 8px;
}

.estado-component{
  margin-top: -40px;
}

.estado-foto-row{
  margin-top: -10px;
}

.move-up {
  margin-top: -10px; /* Ajusta según sea necesario */
  margin-bottom: 20px;
}
