<app-page
submodule="CUENTA CORRIENTE | PDV"
[modelo]="m.ESTADO_CUENTA"
(applyClick)="applyFilter()"
(createClick)="create()"
(downloadClick)="downloadFile()"
(resetClick)="resetFilter()"
>
<div filterMenu>
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Proveedor</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #proveedorCheckboxFilter
          [value]="proveedorFiltered"
          [list]="proveedorFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Contraparte</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #contraparteCheckboxFilter
          [value]="contraparteFiltered"
          [list]="contraparteFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Linea</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #lineaCheckboxFilter
          [value]="lineaFiltered"
          [list]="lineaFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<mat-chip-list filterValues>
  <ng-container *ngIf="isFiltered">Filtros:</ng-container>
  <ng-container *ngIf="isFilteredByProveedor">
    <mat-chip *ngFor="let item of proveedorFiltered">{{ item }}</mat-chip>
  </ng-container>
  <ng-container *ngIf="isFilteredByContraparte">
    <mat-chip *ngFor="let item of contraparteFiltered">{{ item }}</mat-chip>
  </ng-container>
  <ng-container *ngIf="isFilteredByLinea">
    <mat-chip *ngFor="let item of lineaFiltered">{{ item }}</mat-chip>
  </ng-container>
</mat-chip-list>

<div class="estado-cuenta-list">
  <app-table-paginator
      [columns]="columns"
      [data]="list"
      [filterPredicate]="filterPredicate"
      [modelo]="m.MOVIMIENTO"
      [hideDelete]="true"
      [hideEdit]="true"
      [hideShow]="true"
      [shouldBeShowFooter]="true"
  ></app-table-paginator>
</div>

</app-page>
