<div *ngIf="formGroup" [formGroup]="formGroup">
  <div [formGroupName]="groupName">

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        [title]="'Tarifa ' + (afectado === 'gestor_carga' ? '(a cobrar)' : '(a pagar)')"
        controlName="condicion_{{ afectado }}_tarifa"
        [groupName]="groupName"
        [form]="formGroup"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Moneda"
        controlName="condicion_{{ afectado }}_moneda_id"
        [groupName]="groupName"
        [form]="formGroup"
        (valueChange)="cargarSelec($event)"
      ></app-moneda-field>

      <app-unidad-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Unidad"
        controlName="condicion_{{ afectado }}_unidad_id"
        [groupName]="groupName"
        [form]="formGroup"
        (valueChange)="cargarSelecUnidad($event)"
      ></app-unidad-field>

    </div>

  </div>
</div>
