<div *ngIf="form" [formGroup]="form">
  <div class="row page-form-row" [formGroupName]="groupName">
    <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
      <label class="form-label mr-2">Tarifa</label>
      <app-number-field
        class="app-input-field"
        controlName="condicion_{{ afectado }}_tarifa"
        [groupName]="groupName"
        [form]="form"
      ></app-number-field>
    </div>
    <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
      <label class="form-label mr-2">Moneda</label>
      <app-moneda-field
        class="app-input-field"
        controlName="condicion_{{ afectado }}_moneda_id"
        [groupName]="groupName"
        [form]="form"
        (valueChange)="
          group
            .get('condicion_' + afectado + '_moneda_simbolo')
            ?.setValue($event?.simbolo)
        "
      ></app-moneda-field>
    </div>
    <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
      <label class="form-label mr-2">Unidad</label>
      <app-unidad-field
        class="app-input-field"
        controlName="condicion_{{ afectado }}_unidad_id"
        [groupName]="groupName"
        [form]="form"
        (valueChange)="
          group
            .get('condicion_' + afectado + '_unidad_abreviatura')
            ?.setValue($event?.abreviatura)
        "
      ></app-unidad-field>
    </div>
  </div>
</div>
