
h1.mat-dialog-title {
    position: relative;
    display: flex;
    align-items: center; 
    margin: 0; 
    padding: 0 24px 0 0;
  }
  
  .close-button {
    position: absolute;
    top: 50%;
    right: 8px; 
    transform: translateY(-50%);  
  }
  
  .close-button mat-icon {
    padding: 4px;
    border: 2px solid #ccc; 
    border-radius: 20px;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    color: #000; 
    border: 2px solid #ccc; 
  }
  
  .dialog-content {
    
  }
  
  .dialog-image {
    max-width: 61em;
  }
  