<div [formGroup]="form">
  <div  [formGroupName]="groupName">

    <div class="row">

      <app-pais-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="País de origen"
        [groupName]="groupName"
        controlName="pais_origen_id"
        [form]="form"
      ></app-pais-field>

      <app-file-field-input
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Foto del documento - frontal"
        [groupName]="groupName"
        controlName="foto_documento_frente_propietario"
        [field]="fotoDocumentoFrente"
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        (fileChange)="fotoDocumentoFrenteChange.emit($event)"
      ></app-file-field-input>

      <app-file-field-input
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Foto del documento - reverso"
        [groupName]="groupName"
        controlName="foto_documento_reverso_propietario"
        [field]="fotoDocumentoReverso"
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        (fileChange)="fotoDocumentoReversoChange.emit($event)"
      ></app-file-field-input>

    </div>

  </div>
</div>
