<div [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-pais-field
          title="País de origen"
          [groupName]="groupName"
          controlName="pais_origen_id"
          [form]="form"
        ></app-pais-field>
      </div>
    </div>

    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-file-field
          title="Foto del documento - frontal"
          [groupName]="groupName"
          controlName="foto_documento_frente_propietario"
          [field]="fotoDocumentoFrente"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoFrenteChange.emit($event)"
        ></app-file-field>
      </div>
    </div>

    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-file-field
          title="Foto del documento - reverso"
          [groupName]="groupName"
          controlName="foto_documento_reverso_propietario"
          [field]="fotoDocumentoReverso"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoReversoChange.emit($event)"
        ></app-file-field>
      </div>
    </div>
  </div>
</div>
