<div [formGroup]="form">
  <div class="row page-form-row" [formGroupName]="groupName">
    <div class="col-12 col-sm-2 col-md-11">
      <div class="row">
        <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
          <label class="form-label mr-2"> Tipo Persona</label>
          <app-pais-field
            title="País de origen"
            [groupName]="groupName"
            controlName="pais_origen_id"
            [form]="form"
            class="app-input-field"
          ></app-pais-field>
        </div>
      </div>
  
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <app-file-field-input
          title="Foto del documento - frontal"
          [groupName]="groupName"
          controlName="foto_documento_frente_propietario"
          [field]="fotoDocumentoFrente"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoFrenteChange.emit($event)"
        ></app-file-field-input>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <app-file-field-input
          title="Foto del documento - reverso"
          [groupName]="groupName"
          controlName="foto_documento_reverso_propietario"
          [field]="fotoDocumentoReverso"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoReversoChange.emit($event)"
        ></app-file-field-input>
      </div>
      </div>
    </div>
  </div>
</div>
