<div *ngIf="form" [formGroup]="form">

  <mat-label class="custom-label">
    <span *ngIf="requerido" class="required">(*) </span>
    {{ title }}
  </mat-label>

  <mat-form-field [formGroupName]="groupName" floatLabel="always" appearance="outline">
    <mat-select [formControlName]="controlName">
      <ng-container *ngFor="let o of userList$ | async">
        <mat-option [value]="o.id">{{o.first_name}} {{o.last_name}}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')">
      El oficial de cuenta es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

</div>
