<app-page
  class="liquidacion-page"
  module="Estado de Cuenta"
  submodule="Liquidaciones"
  viewTitle="Finalizados"
  [hideBack]="false"
  [hideCreate]="true"
  [hideFilter]="true"
  [modelo]="modelo"
  (backClick)="back()"
  (downloadClick)="downloadFile()"
>
  <div class="liquidacion-page-content">
    <app-estado-cuenta-detalle
      [etapa]="etapa"
      [estadoCuenta]="estadoCuenta"
    ></app-estado-cuenta-detalle>
    <div class="row page-form-row">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Debe</mat-label>
        <input matInput [value]="credito" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Haber</mat-label>
        <input matInput [value]="debito" appInputThousandsSeparator disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Saldo / Valor de la operación</mat-label>
        <input matInput [value]="saldo" appInputThousandsSeparator disabled />
      </mat-form-field>
      <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 button-in-form"
        *ngIf="esFinalizado"
      >
        <button
          mat-raised-button
          type="button"
          (click)="redirectToMovView()"
          color="primary"
        >
          Ver Lista de Movimientos
        </button>
      </div>
    </div>
    <div class="row page-form-row">
      <mat-form-field
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        *ngIf="esConfirmado"
      >
        <mat-label>Valor de los instrumentos</mat-label>
        <input
          matInput
          [value]="instrumentosSaldo"
          appInputThousandsSeparator
          disabled
        />
      </mat-form-field>
      <mat-form-field
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        *ngIf="esConfirmado"
      >
        <mat-label>Residuo</mat-label>
        <input matInput [value]="residuo" appInputThousandsSeparator disabled />
      </mat-form-field>
      <div class="col-xs-12">
        <app-table-paginator
          [columns]="columns"
          [data]="list"
          [modelo]="modelo"
          [hideDelete]="true"
          [hideEdit]="esFinalizado"
          (editClick)="redirectToEdit($event)"
          (showClick)="redirectToShow($event)"
        ></app-table-paginator>
      </div>
    </div>
  </div>
</app-page>
