<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-marca-semi-field
          [groupName]="groupName"
          controlName="marca_id"
          [form]="form"
        ></app-marca-semi-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-semi-clasificacion-field
          [groupName]="groupName"
          controlName="clasificacion_id"
          [form]="form"
        ></app-semi-clasificacion-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-tipo-semi-field
          [groupName]="groupName"
          controlName="tipo_id"
          [form]="form"
        ></app-tipo-semi-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-tipo-carga-field
          [groupName]="groupName"
          controlName="tipo_carga_id"
          [form]="form"
        ></app-tipo-carga-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-color-field
          [groupName]="groupName"
          controlName="color_id"
          [form]="form"
        ></app-color-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Año"
          [groupName]="groupName"
          controlName="anho"
          [form]="form"
          [formatToPasteNumber]="true"
        ></app-input-field>
      </div>
    </div>
  </div>
</div>
