<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">

    <div class="row">

      <app-marca-semi-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="Marca"
        [groupName]="groupName"
        controlName="marca_id"
        [form]="form"
      ></app-marca-semi-field>

      <app-color-field
       [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="Color"
        [groupName]="groupName"
        controlName="color_id"
        [form]="form"
      ></app-color-field>

      <app-number-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="Año"
        [groupName]="groupName"
        controlName="anho"
        [form]="form"
      ></app-number-field>

      <app-input-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="N° Chasís"
        [groupName]="groupName"
        controlName="numero_chasis"
        [form]="form"
      ></app-input-field>

      <app-tipo-semi-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="Tipo Semi"
        [groupName]="groupName"
        controlName="tipo_id"
        [form]="form"
      ></app-tipo-semi-field>

      <app-tipo-carga-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="Tipo Carga"
        [groupName]="groupName"
        controlName="tipo_carga_id"
        [form]="form"
      ></app-tipo-carga-field>

      <app-semi-clasificacion-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-2'"
        title="Clasificación"
        [groupName]="groupName"
        controlName="clasificacion_id"
        [form]="form"
      ></app-semi-clasificacion-field>

    </div>

  </div>
</div>
