<div class="row page-form-row">
  <div class="col-xs-12 header-row">
    <h4>Remisiones de Origen</h4>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
      [disabled]="oc?.estado === 'Nuevo'"
    >
      <mat-icon>add</mat-icon>
      CARGA
    </button>
  </div>
  <div class="col-xs-12 table-container origen-table-container">
    <app-table
      [modelo]="modelo"
      [gestorCuentaId]="gestorCargaId"
      [shouldBeShowFooter]="true"
      [hideShow]="true"
      [columns]="columns"
      [data]="lista"
      (editClick)="edit($event)"
      (deleteClick)="remove($event)"
    ></app-table>
  </div>
</div>
