<div class="row">
  <div class="col-xs-12 header-row">
    <h4>Remisiones de Origen</h4>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      (buttonAnticipoClicked)="onEditPressed()"
      id="create-button"
      [disabled]=" isShow || oc?.estado === 'Nuevo' || oc?.estado === 'Conciliado' || oc?.estado === 'Finalizado' || !oc?.flete_id || !(modelo | puede: a.CREAR:gestorCargaId) || isEditPedido"
      >
      <mat-icon
      class="small-icon"
      [ngClass]="{ 'disabled': isShow || oc?.estado === 'Nuevo' || oc?.estado === 'Conciliado'  || oc?.estado === 'Finalizado' || !oc?.flete_id  || !(modelo | puede: a.CREAR:gestorCargaId) } || isEditPedido">
      add</mat-icon>
      CARGA
    </button>
  </div>
</div>

<div class="table-container small-table" >
  <app-table
    [modelo]="modelo"
    [gestorCuentaId]="gestorCargaId"
    [hideShow]="oc?.estado === 'Conciliado'"
    [isShow]="oc?.estado === 'Conciliado'"
    [columns]="columns"
    [data]="lista"
    (editClick)="edit($event)"
    (deleteClick)="remove($event)"
    [shouldShowActiveButton]="false"
    [ngClass]="{'header-hidden': isShow && hideShow}"
  ></app-table>
</div>
