
  <div class="row page-form-row">
    <h4 class="col-xs-12" >Origen</h4>
    <div class="col-xs-12 table-container" >
      <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
    ><mat-icon>add</mat-icon> 
      CARGA
    </button>
      <div class="col-xs-12 table-container origen-table-container">
        <app-table
          [modelo]="modelo"
          [gestorCuentaId]="gestorCargaId"
          [shouldBeShowFooter]="true"
          [hideShow]="true"
          [columns]="columns"
          [data]="lista"
          (editClick)="edit($event)"
          (deleteClick)="remove($event)"
        ></app-table>
      </div>
    </div>
  </div>

