<ng-container *ngIf="form">
  <ng-container *ngIf="groupName">
    <div *ngIf="form" [formGroup]="form">
      <div class="{{ className }}" [formGroupName]="groupName">
        <div *ngIf="isShow && field">
          <strong>{{ title }}</strong>
        </div>
        <div class="file-field-container">
          <img
            *ngIf="fieldFile && !field"
            [src]="fieldFile | imageFileBase64 | async"
            alt=""
            class="file-field"
            
          />
          <img *ngIf="field" [src]="field" alt="" class="file-field" />
        </div>
        <input
          id="file-input"
          #fileInput
          type="file"
          [disabled]="readonly"
          accept="images/*"
          (change)="fieldChange($event)"
          style="display: none"
        />
        <mat-form-field class="file-form-field" *ngIf="!isShow">
          <mat-label>{{ title }}</mat-label>
          <input
            matInput
            readonly
            [formControlName]="controlName"
            [disabled]="readonly"
            (click)="fileInput.click()"
          />
          <button
            type="button"
            color="primary"
            matSuffix
            mat-icon-button
            (click)="fileInput.click()"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
          <mat-error *ngIf="fieldControl.hasError('required')">
            El archivo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <div class="{{ className }}" [formGroup]="form">
      <div *ngIf="isShow && field">
        <strong>{{ title }}</strong>
      </div>
      <div class="file-field-container">
        <img
          *ngIf="fieldFile"
          [src]="fieldFile | imageFileBase64 | async"
          alt=""
          class="file-field"
        />
        <img *ngIf="field" [src]="field" alt="" class="file-field" />
      </div>
      <input
        id="file-input"
        #fileInput
        type="file"
        accept="images/*"
        [disabled]="readonly"
        (change)="fieldChange($event)"
        style="display: none"
      />
      <mat-form-field class="file-form-field" *ngIf="!isShow">
        <mat-label>{{ title }}</mat-label>
        <input
          matInput
          readonly
          [formControlName]="controlName"
          [disabled]="readonly"
          (click)="fileInput.click()"
        />
        <button
          type="button"
          color="primary"
          matSuffix
          mat-icon-button
          [disabled]="readonly"
          (click)="fileInput.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        <mat-error *ngIf="fieldControl.hasError('required')">
          El archivo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</ng-container>
