.file-field-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
}

.form-container {
  padding: 20px; /* Espaciado interno del contenedor principal */
}

.field-title {
  margin-bottom: 10px; /* Espaciado inferior del título */
}

.file-field-container {
  margin-bottom: 15px; /* Espaciado inferior del contenedor de imágenes */
}

.custom-input,
.custom-button {
  height: 100px; /* Altura del input y botón */
  font-size: 16px; /* Tamaño de fuente */
  padding: 8px; /* Espaciado interno */
}

.file-form-field {
  width: 100%; /* Ancho completo del mat-form-field */
}
