.file-field-container {
  display: flex;
  justify-content: center;
}

.file-field {
  width: 100%;
  margin: 8px;
}

.file-form-field {
  padding-left: 8px;
}

.file-form-field.pl-0 {
  padding-left: 0;
}
