<ng-container *ngIf="form">

  <ng-container *ngIf="groupName">

    <div [formGroup]="form" >

      <div  [formGroupName]="groupName" class="{{ className }}">

        <mat-label class="custom-label">{{ title }}</mat-label>

        <div class="file-field-container">
          <img
            *ngIf="fieldFile && !field"
            [src]="fieldFile | imageFileBase64 | async"
            alt=""
            class="file-field"
          />
          <img *ngIf="field" (click)="openImageDialogEdit()" [src]="field" alt="" class="file-field" />
        </div>
        <input
          id="file-input"
          #fileInput
          type="file"
          accept="images/*"
          (change)="fieldChange($event)"
          style="display: none"
        />
        <mat-form-field floatLabel="always" appearance="outline" *ngIf="!isShow">
          <input
            matInput
            readonly
            [formControlName]="controlName"
            (click)="fileInput.click()"
          />
          <button mat-icon-button matSuffix
              color="primary" type="button"
              (click)="fileInput.click()"
              [disabled]="disabled">
            <mat-icon>attach_file</mat-icon>
          </button>
          <mat-error *ngIf="fieldControl.hasError('required')">
            El archivo es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>
  </ng-container>

  <ng-container *ngIf="!groupName">
    <div class="{{ className }}" [formGroup]="form">

      <mat-label class="custom-label">{{ title }}</mat-label>

      <div class="file-field-container">
        <img
          *ngIf="fieldFile"
          [src]="fieldFile | imageFileBase64 | async"
          alt=""
          class="file-field"
        />
        <img *ngIf="field" (click)="openImageDialogEdit()" [src]="field" alt="" class="file-field" />
      </div>
      <input
        id="file-input"
        #fileInput
        type="file"
        accept="images/*"
        (change)="fieldChange($event)"
        style="display: none"
      />
      <mat-form-field class="file-form-field" *ngIf="!isShow">
        <input
          matInput
          readonly
          [formControlName]="controlName"
          (click)="fileInput.click()"
        />
        <button mat-icon-button matSuffix
              color="primary" type="button"
              (click)="fileInput.click()"
              [disabled]="disabled">
            <mat-icon>attach_file</mat-icon>
          </button>
        <mat-error *ngIf="fieldControl.hasError('required')">
          El archivo es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

    </div>
  </ng-container>

</ng-container>

