<div [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-tipo-documento-field
          [groupName]="groupName"
          controlName="tipo_documento_id"
          [form]="form"
        ></app-tipo-documento-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-pais-field
          title="País Emisor del Documento"
          [groupName]="groupName"
          controlName="pais_emisor_documento_id"
          [form]="form"
        ></app-pais-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Número de Documento"
          [groupName]="groupName"
          controlName="numero_documento"
          [form]="form"
        ></app-input-field>
      </div>
    </div>
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Nombre"
          [groupName]="groupName"
          controlName="nombre"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-fecha-field
          title="Fecha de nacimiento"
          [groupName]="groupName"
          controlName="fecha_nacimiento"
          [form]="form"
        ></app-fecha-field>
      </div>
    </div>
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="RUC"
          [groupName]="groupName"
          controlName="ruc"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-digito-verificador-field
          [groupName]="groupName"
          controlName="digito_verificador"
          [form]="form"
        ></app-digito-verificador-field>
      </div>
    </div>
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-telefono-field
          [groupName]="groupName"
          [form]="form"
        ></app-telefono-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-email-field
          [groupName]="groupName"
          [form]="form"
        ></app-email-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-oficial-cuenta-field
          [groupName]="groupName"
          [form]="form"
        ></app-oficial-cuenta-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-alias-field
          [groupName]="groupName"
          [form]="form"
        ></app-alias-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 es-propietario-toggle">
        <ng-container *ngIf="isShow; else esPropietarioTemplate">{{ esPropietario ? 'Es Propietario' : 'No es Propietario' }}</ng-container>
        <ng-template #esPropietarioTemplate>
          <mat-slide-toggle formControlName="es_propietario">{{ esPropietario ? 'Es Propietario' : 'No es Propietario' }}</mat-slide-toggle>
        </ng-template>
      </div>
    </div>

    <app-file-field
      title="Foto del documento - frontal"
      [groupName]="groupName"
      controlName="foto_documento_frente"
      [field]="fotoDocumentoFrente"
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      (fileChange)="fotoDocumentoFrenteChange.emit($event)"
    ></app-file-field>

    <app-file-field
      title="Foto del documento - reverso"
      [groupName]="groupName"
      controlName="foto_documento_reverso"
      [field]="fotoDocumentoReverso"
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      (fileChange)="fotoDocumentoReversoChange.emit($event)"
    ></app-file-field>

    <app-file-field
      title="Avatar"
      [groupName]="groupName"
      controlName="foto_perfil"
      [field]="fotoPerfil"
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      (fileChange)="fotoPerfilChange.emit($event)"
    ></app-file-field>
  </div>
</div>
