<mat-toolbar>
  <div class="menu-container">
    <button class="btn-expander" mat-icon-button (click)="toggleSidebarMenu()" *ngIf="menuConfigService.isMenuItemListEmpty()">
      <mat-icon class="menu">menu</mat-icon>
    </button>
    <a class="logo-container" [routerLink]="['/']">
      <mat-icon class="logo" svgIcon="icargo-logo"></mat-icon>
    </a>
  </div>
  <div class="spacer">
    <mat-form-field class="search">
      <mat-icon matPrefix color="primary">search</mat-icon>
      <input #search matInput placeholder="Buscar" (keyup)="searchService.search(search.value)" autocomplete="off">
      <button *ngIf="search.value" matSuffix mat-icon-button aria-label="Clear" (click)="search.value = '';searchService.search('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <ng-container *ngIf="userObservable$ | async as user">
    <button mat-button class="avatar-container" [matMenuTriggerFor]="menu">
      <span class="account-name">{{user.first_name}} {{user.last_name}}</span>
      <mat-icon class="account-icon">account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button class="btn-logout" mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
