<app-page-form
  class="liquidacion-page"
  module="Estado de Cuenta"
  submodule="Liquidación"
  viewTitle="{{ isEdit ? 'Edición' : 'Ver' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="false"
  [hideSaveButton]="true"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [gestorCargaId]="gestorCargaId"
  [shouldShowDownloadButton]="true"
  (backClick)="back()"
  (editClick)="redirectToEdit()"
  (downloadClick)="downloadFile()"
>
  <div class="liquidacion-page-content" *ngIf="item">
    <app-liquidacion-edit-form-acciones
      [isShow]="isShow"
      [liquidacion]="item"
      (liquidacionChange)="changeMovimientoList()"
    ></app-liquidacion-edit-form-acciones>
    <div class="row page-form-row">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Estado</mat-label>
        <input matInput [value]="item.estado" disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Tipo Contraparte</mat-label>
        <input matInput [value]="item.tipo_contraparte_descripcion" disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Contraparte</mat-label>
        <input matInput [value]="actual_contraparte" disabled />
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Doc. Fiscal Nº</mat-label>
        <input
          matInput
          [value]="actual_contraparte_numero_documento"
          disabled
        />
      </mat-form-field>
    </div>
    <app-saldo
      [credito]="item.credito"
      [debito]="item.debito"
      [esFinalizado]="esFinalizado"
      (saldoChange)="saldo = $event"
    ></app-saldo>
    <app-liquidacion-comentario
      [comentario]="comentario"
    ></app-liquidacion-comentario>
    <ng-container *ngIf="esFinalizado; else pendienteTemp">
      <mat-accordion multi>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title> Movimientos </mat-panel-title>
          </mat-expansion-panel-header>
          <app-liquidacion-movimientos
            [list]="movimientos"
            (selectedMovimientosChange)="loadLiquidacion()"
          ></app-liquidacion-movimientos>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title> Instrumentos </mat-panel-title>
          </mat-expansion-panel-header>
          <app-liquidacion-instrumentos
            [list]="instrumentos"
          ></app-liquidacion-instrumentos>
          <app-liquidacion-confirmada-form-instrumentos
            [liquidacion]="item"
            [saldo]="saldo"
            [isShow]="isShow"
            (selectedInstrumentosChange)="loadLiquidacion()"
          ></app-liquidacion-confirmada-form-instrumentos>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title> Facturas </mat-panel-title>
          </mat-expansion-panel-header>
          <app-liquidacion-confirmada-form-facturas
            [liquidacion]="item"
            [isShow]="isShow"
            (facturasChange)="loadLiquidacion()"
          ></app-liquidacion-confirmada-form-facturas>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
    <ng-template #pendienteTemp>
      <app-liquidacion-edit-form-movimientos
        [list]="movimientos"
        [liquidacion]="item"
        [saldo]="saldo"
        [isShow]="
          isShow ||
          item.estado === E.ACEPTADO ||
          item.estado === E.CANCELADO ||
          item.estado === E.CONFIRMADO
        "
        (selectedMovimientosChange)="changeMovimientoList()"
      ></app-liquidacion-edit-form-movimientos>
    </ng-template>
  </div>
</app-page-form>
