.latlng-error {
  margin: 1rem 0 8px;
}
.google-map-container {
  float: right; /* Alinea el contenedor a la derecha */
  margin-top: 10px; /* Espacio superior para separación */
  /* Otros estilos específicos según sea necesario */
}
