<ng-container *ngIf="form">
  <div [formGroup]="form">
    <div formGroupName="registro">
      <div class="row page-form-row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <app-pais-field
            groupName="registro"
            controlName="pais_emisor_registro_id"
            [form]="form"
            (valueChange)="paisId = $event"
          ></app-pais-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <app-localidad-field
            groupName="registro"
            controlName="localidad_emisor_registro_id"
            [paisId]="paisId"
            [form]="form"
            (valueChange)="localidadId = $event"
          ></app-localidad-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <app-ciudad-field
            groupName="registro"
            controlName="ciudad_emisor_registro_id"
            [localidadId]="localidadId"
            [form]="form"
          ></app-ciudad-field>
        </div>
      </div>

      <div class="row page-form-row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <app-tipo-registro-field
            groupName="registro"
            controlName="tipo_registro_id"
            [form]="form"
          ></app-tipo-registro-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <app-input-field
            title="Número de Registro"
            groupName="registro"
            controlName="numero_registro"
            [form]="form"
          ></app-input-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <app-fecha-field
            title="Fecha de vencimiento del Registro"
            groupName="registro"
            controlName="vencimiento_registro"
            [form]="form"
          ></app-fecha-field>
        </div>
      </div>

      <app-file-field
        title="Foto del registro - frontal"
        groupName="registro"
        controlName="foto_registro_frente"
        [field]="fotoRegistroFrente"
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        (fileChange)="fotoRegistroFrenteChange.emit($event)"
      ></app-file-field>

      <app-file-field
        title="Foto del registro - reverso"
        groupName="registro"
        controlName="foto_registro_reverso"
        [field]="fotoRegistroReverso"
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        (fileChange)="fotoRegistroReversoChange.emit($event)"
      ></app-file-field>
    </div>
  </div>
</ng-container>
