<ng-container *ngIf="form">

  <div [formGroup]="form">

    <div formGroupName="registro" class="row">

      <div class="col-xs-9">

        <div class="row">

          <app-tipo-registro-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="Tipo Registro"
            groupName="registro"
            controlName="tipo_registro_id"
            [form]="form"
          ></app-tipo-registro-field>

          <app-input-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="Número de Registro"
            groupName="registro"
            controlName="numero_registro"
            [form]="form"
          ></app-input-field>

          <app-fecha-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="Vencimiento"
            groupName="registro"
            controlName="vencimiento_registro"
            [form]="form"
          ></app-fecha-field>

        </div>

        <div class="row">

          <app-pais-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="País"
            groupName="registro"
            controlName="pais_emisor_registro_id"
            [form]="form"
            (valueChange)="paisId = $event"
          ></app-pais-field>

          <app-localidad-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="Localidad"
            groupName="registro"
            controlName="localidad_emisor_registro_id"
            [paisId]="paisId"
            [form]="form"
            (valueChange)="localidadId = $event"
          ></app-localidad-field>

          <app-ciudad-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="Ciudad"
            groupName="registro"
            controlName="ciudad_emisor_registro_id"
            [localidadId]="localidadId"
            [form]="form"
          ></app-ciudad-field>

        </div>



      </div>

      <div class="col-xs-3">

        <div class="row" style="display: flex; justify-content: flex-end;">

          <app-file-field-input
            class="input-form-full col-xs-12 col-sm-6 col-md-6"
            title="Foto del registro - frontal"
            groupName="registro"
            controlName="foto_registro_frente"
            [field]="fotoRegistroFrente"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoRegistroFrenteChange.emit($event)"
          ></app-file-field-input>
        </div>

          <div class="row" style="display: flex; justify-content: flex-end;">

          <app-file-field-input
            class="input-form-full col-xs-12 col-sm-6 col-md-6"
            title="Foto del registro - reverso"
            groupName="registro"
            controlName="foto_registro_reverso"
            [field]="fotoRegistroReverso"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoRegistroReversoChange.emit($event)"
          ></app-file-field-input>

        </div>

      </div>

    </div>
  </div>
</ng-container>
