<app-page-form
  class="orden-carga-page"
  module="NUEVA"
  submodule="RECEPCION directa"
  [formGroup]="form"
  [modelo]="modelo"
  [oc]="item"
  (backClick)="back($event)"
  (submitEvent)="save(false)"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (aceptarClick)="aceptar()"
  (cancelarClick)="cancelar()"
  (finalizarClick)="finalizar()"
  (conciliarClick)="conciliar()"
  [isFormSaved]="isFormSaved"
  [class.page-form-show]="isShow"
  [estado]="estadoOc"
  [isFormSubmitting]="isFormSubmitting"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  [isAnticipoActive]="isToggleAnticiposLiberados"
  [isDataLoaded]="isToggleAnticiposLiberados"
  [hideSaveButton]="true"
  
>

  <div class="orden-carga-page-content">
    <app-orden-carga-create-form-combinacion
      [form]="form"
      (fleteChange)="flete = $event"
      (camionChange)="camion = $event"
      (semiChange)="semi = $event"
      (combinacionChange)="combinacionList = $event"
      [showSearchOC]="false"
      [showSearchOCAceptadas]="true"
      [showSearchOCPedidos]="true"
      (ocChange)="getData()"
      [oc]="item"
      [list]="comentariosList"
    ></app-orden-carga-create-form-combinacion>
 
    <div [class.disabled]="!isAceptado" class="remisiones-line"><h2>REMISIONES</h2></div>
    <div class="remisiones-container">
      <div class="remisiones-item">
        <app-orden-carga-edit-form-remisiones-origen
          [class.disabled]="!isAceptado"
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="remisionOrigenList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-remisiones-origen>
      </div>
      

      <div class="remisiones-item">
        <app-orden-carga-edit-form-remisiones-destino
          [class.disabled]="!isAceptado"
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="remisionDestinoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-remisiones-destino>
      </div>
    </div>

    <!-- <div class="complementos_descuentos-container">
      <div class="complementos_descuentos-item">
        <app-orden-carga-edit-form-complementos
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="complementoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-complementos>
      </div>
    <div class="complementos_descuentos-item">
      <app-orden-carga-edit-form-descuentos
        [oc]="item"
        [gestorCargaId]="gestorCargaId"
        [isShow]="isShow"
        [puedeConciliar]="puedeConciliar"
        [list]="descuentoList"
        (ocChange)="getData()"
      ></app-orden-carga-edit-form-descuentos>
    </div>
  </div>  -->
  
    <div [class.disabled]="!isAceptado" class="resultados-line"><h2>TABLA DE RESULTADOS</h2></div>
    <app-orden-carga-edit-form-remisiones-resultado
      [class.disabled]="!isAceptado"
      [oc]="item"
      [gestorCargaId]="gestorCargaId"
      [list]="remisionResultadoList"
  ></app-orden-carga-edit-form-remisiones-resultado>
</div>


