<app-page-form
  class="orden-carga-page"
  module="NUEVA"
  submodule="RECEPCION directa"
  [formGroup]="form"
  [modelo]="modelo"
  [oc]="item"
  (backClick)="back($event)"
  (submitEvent)="save(false)"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (aceptarClick)="aceptar()"
  (cancelarClick)="cancelar()"
  (finalizarClick)="finalizar()"
  [isFormSaved]="isFormSaved"
  [class.page-form-show]="isShow"
  [isFormSubmitting]="isFormSubmitting"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  [isAnticipoActive]="isToggleAnticiposLiberados"
  [isDataLoaded]="isToggleAnticiposLiberados"
  [hideSaveButton]="true"
>

  <div class="orden-carga-page-content">
    <app-orden-carga-create-form-combinacion
      [form]="form"
      (fleteChange)="flete = $event"
      (camionChange)="camion = $event"
      (semiChange)="semi = $event"
      (combinacionChange)="combinacionList = $event"
      [showSearchOC]="true"
      (ocChange)="getData()"
    ></app-orden-carga-create-form-combinacion>
    <app-orden-carga-anticipos-table 
      [class.disabled]="!isFormSaved"
      [oc]="item"
      [fleteId]="fleteId"
      [list]="anticipoList"
      (ocChange)="getData()"
    >
    </app-orden-carga-anticipos-table>
    <div [class.disabled]="!isAceptado" class="remisiones-line"><h2>REMISIONES</h2></div>
    <div class="remisiones-container">
      <div class="remisiones-item">
        <app-orden-carga-edit-form-remisiones-origen
          [class.disabled]="!isAceptado"
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="remisionOrigenList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-remisiones-origen>
      </div>
    
      <div class="remisiones-item">
        <app-orden-carga-edit-form-remisiones-destino
          [class.disabled]="!isAceptado"
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="remisionDestinoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-remisiones-destino>
      </div>
    </div>
    <div [class.disabled]="!isAceptado" class="remisiones-line"><h2>TABLA DE RESULTADOS</h2></div>
    <app-orden-carga-edit-form-remisiones-resultado
      [class.disabled]="!isAceptado"
      [oc]="item"
      [gestorCargaId]="gestorCargaId"
      [list]="remisionResultadoList"
  ></app-orden-carga-edit-form-remisiones-resultado>
  </div>


