<ng-container *ngIf="form">
    <ng-container *ngIf="ocEstadoFinalizado; else inputTemplate">
      <ng-container *ngIf="list$ | async as list">
        <app-dialog-field
          [title]="title"
          [columns]="columns"
          [list]="[]"
          [groupName]="groupName"
          [controlName]="controlName"
          [calllbackremote]="true"
          [fetchDataFunction]="fetchFunction"
          [inputValuePropName]="inputValuePropName"
          [itemEvents]="ocFinalizadaEvents"
          [form]="form"
          (valueChange)="valueChange.emit($event)"
        ></app-dialog-field>
      </ng-container>
    </ng-container>
    <ng-template #inputTemplate>
      <app-input-field-oc
        [hint]="(list$ | async)?.length === 0 && !ocEstadoFinalizado ? 'Sin estado Finalizado' : emptyHint"
        [title]="title"
        [readonly]="true"
        [groupName]="groupName"
        [controlName]="controlName"
        [form]="form"
      ></app-input-field-oc>
    </ng-template>
  </ng-container>
  