.module {
  color: #F25A38;
}

.module::after{
  content: " >> ";
  color: #3B9EFF;
}

.submodule {
  color: #3B9EFF;
}

/*
.edicion-mode {
  color: #F25A38;
}

.ver-mode {
  color: #F25A38;
}

.nuevo-mode {
  color: #F25A38;
}
*/
// prueba color global
.guardar-button-test {
  color:white;
  background: var(--color-success);
}


.anticipo-toggle-button-active {
  background-color: green;
  color: white;
}

.anticipo-toggle-button-inactive {
  background-color: red;
  color: white;
}

.estado-label {
  color: #697077;
  font-size: smaller;
}

.estado-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.estado-input {
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  background-color: #fff;
  transition: background-color 0.3s ease;
  border-color: #017605;
  pointer-events: none;
  font-size: smaller;
  max-width: 5rem;
  text-align: center;
}

.estado-input:disabled {
  background-color: #f5f5f5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
