<form #form [formGroup]="formGroup" (ngSubmit)="submitEvent.emit()">
  <div class="page">
    <div class="page-title">
      <span class="title"
        >{{ module }} > {{ submodule }} > <strong>{{ viewTitle }}</strong></span
      >
      <div class="page-title-buttons">
        <button
          type="button"
          mat-mini-fab
          color="primary"
          matTooltip="Volver al listado"
          [disabled]="loading"
          (click)="back()"
          id="back-button"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          type="button"
          mat-mini-fab
          color="primary"
          matTooltip="Exportar lista"
          [disabled]="loading"
          (click)="downloadClick.emit($event)"
          *ngIf="shouldShowDownloadButton && (modelo | puede: a.REPORTE)"
        >
          <mat-icon>download</mat-icon>
        </button>
        <button
          type="button"
          mat-mini-fab
          color="primary"
          matTooltip="Editar"
          [disabled]="loading"
          (click)="editClick.emit($event)"
          *ngIf="
            isShow &&
            !hideEditButton &&
            (modelo | puede: a.EDITAR:gestorCargaId)
          "
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          type="button"
          mat-mini-fab
          color="warn"
          matTooltip="Activar"
          [disabled]="loading"
          (click)="activeClick.emit($event)"
          *ngIf="
            shouldShowActiveButton &&
            isEdit &&
            (modelo | puede: a.CAMBIAR_ESTADO:gestorCargaId)
          "
        >
          <mat-icon>toggle_off</mat-icon>
        </button>
        <button
          type="button"
          mat-mini-fab
          color="accent"
          [matTooltip]="inactiveTooltipText"
          [disabled]="loading"
          (click)="inactiveClick.emit($event)"
          *ngIf="
            shouldShowInactiveButton &&
            isEdit &&
            (modelo | puede: a.CAMBIAR_ESTADO:gestorCargaId)
          "
        >
          <mat-icon>toggle_on</mat-icon>
        </button>
        <button
          type="submit"
          mat-mini-fab
          color="primary"
          matTooltip="Guardar"
          [disabled]="loading"
          *ngIf="!isShow && !hideSaveButton"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </div>
</form>
