<form [formGroup]="formGroup" (ngSubmit)="submitEvent.emit()">
  <div class="page">
    <div class="page-title">
      <span class="title">{{module}} > {{submodule}} > <strong>{{viewTitle}}</strong></span>
      <div class="page-title-buttons">
        <button type="button" mat-mini-fab color="primary" matTooltip="Volver al listado" (click)="back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button type="submit" mat-mini-fab color="primary" matTooltip="Guardar">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
    <div class="page-content">
      <ng-content></ng-content>
    </div>
  </div>
</form>
