body {
  font-family: 'Roboto', sans-serif;
}

.page-form-row {
  display: flex;
  margin-left: 0;
}
.d-flex {
  display: flex; /* Asegúrate de que el contenedor sea un flexbox */
  align-items: center; /* Alinea los elementos verticalmente */
}

.form-label {
  white-space: nowrap; /* Evita que el label se divida en varias líneas */
  margin-right: 8px; /* Espacio entre el label y el campo */
  margin-bottom: 8px;
}


.mat-form-field{
  width: 100%;
}
::ng-deep .mat-form-field-outline {
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 2rem;
}

::ng-deep input.mat-input-element {
  line-height: 0.5rem; 
  padding-top: 3px;
  padding-bottom: 3px; 
}

::ng-deep .composicion_cedula-select .mat-select-trigger {
  margin-top: 6px;
}

::ng-deep .documento-select .mat-select-trigger {
  margin-top: 6px;
}

::ng-deep .foto-file .mat-form-field-outline{
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 100px;
  width: 100px;
}

::ng-deep .foto-file .mat-form-field{
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 100px;
  width: 100px;
}


/* Establecer el tamaño de fuente general en pantallas pequeñas */
@media screen and (max-width: 1366px) and (max-height: 768px) {
  body {
    font-size: 12px; 
  }

  .cliente-field {
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 16rem;
  }

  .row1-field {
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 11rem;
  }

  .documento-select{
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 7rem;
  }
  .doc-field{
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 10rem;
  }

  .digito-field{
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 6rem;
  }

  .web-field{
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 12rem;
  }

  .comentario-field{
    font-size: 12px; 
    width: 100%; 
    margin-right: 0;
    max-width: 20rem;
  }

  .form-label {
    font-size: 12px;
    margin-right: 4px;
  }

  .col-12, .col-sm-6, .col-md-3, .col-md-4 {
    padding-left: 5px; 
    padding-right: 5px; 
    margin-bottom: 0px; 
  }
  
  input.mat-input-element,
  textarea.mat-input-element {
    font-size: 12px; 
  }
}
