<div [formGroup]="form">

  <div formGroupName="info" class="row" style="margin: 0;">

    <div class="col-xs-12 col-md-10">

        <div class="row">

          <!-- Cliente -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
            <mat-label class="custom-label">
              <span class="required">(*) </span>
              Nombre
            </mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
              <input matInput formControlName="nombre" appAutofocus />
              <mat-error *ngIf="info.controls['nombre'].hasError('required')">
                El nombre es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Nombre de Fantasía -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
            <mat-label class="custom-label">
              {{labelNombreCorto}}
            </mat-label>
            <mat-form-field floatLabel="always" appearance="outline" subscriptSizing="dynamic">
              <input matInput formControlName="nombre_corto" />
            </mat-form-field>
          </div>

          <!-- Composición Jurídica -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
            <mat-label class="custom-label">

              Composición Jurídica
            </mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="composicion_juridica_id">
                <ng-container *ngFor="let o of composicionJuridicaList$ | async">
                  <mat-option [value]="o.id">{{ o.nombre }}</mat-option>
                </ng-container>
              </mat-select>
              <!-- <mat-error *ngIf="info.controls['composicion_juridica_id'].hasError('required')">
                La composición jurídica es <strong>requerida</strong>
              </mat-error> -->
            </mat-form-field>
          </div>

          <!-- Estado -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
            <mat-label class="custom-label">
              Estado
            </mat-label>
            <mat-slide-toggle formControlName="estado" >
              {{ estadoControlValue ? "Activo" : "No activo" }}
            </mat-slide-toggle>
          </div>

          <!-- Tipo de Documento -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
            <mat-label class="custom-label">
              <span class="required">(*) </span>
              Tipo de Documento
            </mat-label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="tipo_documento_id">
                <ng-container *ngFor="let o of tipoDocumentoList">
                  <mat-option [value]="o.id">{{ o.descripcion }}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="info.controls['tipo_documento_id'].hasError('required')">
                El tipo de documento es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- N. Doc -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
            <mat-label class="custom-label">
              <span class="required">(*) </span>
              Nro de Documento
            </mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
              <input matInput formControlName="numero_documento" />
              <mat-error *ngIf="info.controls['numero_documento'].hasError('required')">
                El número de documento es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Dígito verificador -->
          <!-- <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
            <mat-label class="custom-label">
              Dígito Verificador
            </mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
              <input matInput formControlName="digito_verificador" />
              <mat-error *ngIf="info.controls['digito_verificador'].hasError('required')">
                El dígito verificador es <strong>requerido</strong>
              </mat-error>
            </mat-form-field>
          </div> -->

          <!-- Página Web -->
          <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
            <mat-label class="custom-label">Web</mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
              <input matInput formControlName="pagina_web" />
            </mat-form-field>
          </div>

          <!-- Comentario -->
          <div class="input-form-full col-xs-10">
            <mat-label class="custom-label">Comentario</mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
              <textarea class="entities-form-field"
                matInput
                formControlName="info_complementaria"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
              ></textarea>
            </mat-form-field>
          </div>

        </div>

    </div>

    <!-- Foto alineada a la derecha -->
    <app-file-field
      class="input-form-full col-xs-12 col-md-2"
      title="Logotipo"
      groupName="info"
      controlName="logo"
      [field]="logo"
      [form]="form"
      [isEdit]="isEdit"
      (fileChange)="fileChange($event)"
    ></app-file-field>


  </div>

</div>
