<form [formGroup]="form">
    <span mat-dialog-title>
      <span [ngClass]="{ 'action-text': true }">{{ actionText }}</span> <span class="anticipos-text"> ANTICIPO</span>
    </span>
    <div class="divider"></div>
    <div mat-dialog-content>
      <app-tipo-anticipo-by-flete-field
        [fleteId]="fleteId"
        [form]="form"
        (valueChange)="tipoAnticipoChange($event)"
      ></app-tipo-anticipo-by-flete-field>
      <ng-container *ngIf="isTipoInsumo">
        <app-insumo-punto-venta-precio-map-dialog-field
          [fleteId]="fleteId"
          [form]="form"
          (valueChange)="$event && insumoPuntoVentaPrecioChange($event)"
        ></app-insumo-punto-venta-precio-map-dialog-field>
        <div class="space-bottom proveedor">
          <strong class="proveedor-label">Proveedor: </strong><span class="input-like">{{ proveedor }}</span>
        </div>
          <!-- <div><strong>Tipo de Insumo: </strong>{{ tipoInsumo }}</div>
        <div><strong>Insumo: </strong>{{ insumo }}</div>
        <div class="inline-container">
          <strong>Monto: </strong><span class="spaced">{{ monto }}</span>
          <strong>Moneda: </strong><span>{{ moneda }}</span>
        </div>
        <div class="space-bottom">
          <strong>Precio Unitario: </strong>{{ precioUnitarioControl.value | numberFormat }}
        </div> -->
      </ng-container>
      <ng-container *ngIf="!isTipoInsumo">
        <app-punto-venta-map-dialog-field
          [form]="form"
          (valueChange)="$event && puntoVentaChange($event)"
        ></app-punto-venta-map-dialog-field>
        <div class="space-bottom proveedor">
          <strong class="proveedor-label">Proveedor: </strong><span class="input-like">{{ proveedor }}</span>
        </div>
        <div class="inline-container">
          <app-number-field
            title="Monto"
            controlName="monto_retirado"
            [readonly]="esConLitro"
            [form]="form"
            [hint]="montoRetiradoHint"
            class="spaced"
          ></app-number-field>
          <app-moneda-field [form]="form"></app-moneda-field>
        </div>
      </ng-container>
      <!-- <mat-radio-group
        aria-label="Seleccione una opción"
        formControlName="es_con_litro"
        [hidden]="!isTipoInsumo"
      >
        <mat-radio-button [value]="true">Litros</mat-radio-button>
        <mat-radio-button [value]="false">Monto</mat-radio-button>
      </mat-radio-group> -->
      <div [hidden]="!esConLitro">
        <app-number-field
          title="Cantidad retirada"
          controlName="cantidad_retirada"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="form-field-container">
        <label for="observacion">Observación:</label>
        <mat-form-field appearance="outline" class="observacion-field">
          <textarea
            matInput
            id="observacion"
            formControlName="observacion"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="inline-container comprobante">
        <app-tipo-comprobante-field [form]="form"></app-tipo-comprobante-field>
        <app-input-field
          title="Nº de comprobante"
          controlName="numero_comprobante"
          [form]="form"
      
        ></app-input-field>
      </div>
    </div>
    <div mat-dialog-actions  class="buttons-actions">
      <button 
        mat-raised-button 
        type="button" 
        class="close-button" 
        mat-dialog-close>
        <mat-icon>close</mat-icon>
        Cerrar</button>
      <button
        mat-raised-button
        type="button"
        (click)="submit()"
        cdkFocusInitial
        color="primary"
        id="submit-button"
        class="save-button"
      >
      <mat-icon>save</mat-icon> GUARDAR
      </button>
    </div>
  </form>
  
