.precio.mat-form-field-appearance-outline::ng-deep {
    .mat-form-field-subscript-wrapper {
      padding: 0 0 0 1em;
    }
  }
  
  .mat-dialog-content::ng-deep {
    .hint-alert {
      color: #ee6904;
    }
    .mat-input-element:disabled,
    .mat-select-disabled .mat-select-value {
      color: rgba(0, 0, 0, 0.87);
    }
    .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
      color: rgba(0, 0, 0, 0.6);
    }
    .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
      visibility: hidden;
    }
  }
  .select-tipo-anticipo {
    width: 200px; /* Ajusta el ancho según tus necesidades */
    height: 40px; /* Ajusta la altura según tus necesidades */
    margin-left: 10px;
    margin-top: 10px; /* Espacio entre el label y el mat-form-field */
  }
  
  .action-text {
    color: #3B9EFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  
  .anticipos-text {
    color: #F25A38;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.75px;
    letter-spacing: 0.06em;
    text-align: left;
  }
  .select-tipo-anticipo {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.06em;
    text-align: left;
  }
  
  .moneda-label{
    margin-top: -10px;
  }
  
  .divider {
    width: 645px;
    height: 0px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    margin-top: -22px; /* Espacio entre el título y la línea */
    border: 1px solid #1C1C1C3D
  }
  
  .space-bottom {
    margin-bottom: 8px; 
  }
  
  .hint-alert-negative {
    color: red;
    font-weight: bold;
  }
  
  .mat-dialog-content {
    padding-top: 0;
  }
  
  
  .inline-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    margin-bottom: 16px; /* Espacio inferior para separación */
  }
  
  .inline-container .spaced {
    margin-right: -15px; /* Espacio entre el monto y la moneda */
  }
  
  .inline-container > * {
    margin-right: 2px; /* Ajusta este valor según el espacio que desees */
  }
  
  .inline-container > *:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
  }
  .space-bottom .proveedor{
    margin-top: -80px;
  }
  
  .proveedor-label{
    padding-bottom: 12px;
    margin-top: 11px;
  }
  
  .input-like {
    border: 1px solid #d9d9d9; /* Simula el estilo de un input */
    padding: 8px 12px;
    border-radius: 4px; /* Bordes redondeados */
    background: #FBFBFE;
    width: 549px; 
    height: 33px;
    display: flex;
    box-sizing: border-box;
    margin-left: 12px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    margin-left: 75px;
    margin-top: -26px;
  }
  
  
  .form-field-container {
    display: flex;
    align-items: flex-start;
    margin-top: 26px;
  }
  
  .form-field-container label {
    margin-right: 8px; 
    font-family: 'Roboto' sans-serif;
    font-size: 14px; 
    font-weight: 400; 
    margin-top: 20px; 
  }
  .monto-container {
    display: flex;
    align-items: center;
  }
  
  .monto-field {
    margin-right: 8px; /* Ajusta el espacio entre el campo de monto y el campo de moneda */
  }
  
  .observacion-field {
    width: 100%; 
    max-width: 537px; /* Puedes establecer un ancho máximo para evitar que se estire demasiado */
    padding: 0; 
    margin: 0; 
  }
  
  /* Reducir el tamaño del textarea dentro del mat-form-field */
  .observacion-field textarea {
    font-size: 12px; 
    height: auto; /* Permitir que el textarea ajuste su altura automáticamente */
    max-height: 50px; 
    padding: 4px; 
  }
  
  .inline-container.comprobante{
    margin-top: -33px;
    margin-bottom: 16px; 
  }
  
  .buttons-actions {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .save-button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: auto;
    padding: 16px 16px;
    gap: 4px;
    border-radius: 5.25px;
    border: 1px;
    opacity: 0px;
    box-shadow: none; /* Elimina la sombra */
    opacity: 0px;
    height: 32px;
    display: flex; /* Asegura que el contenido esté alineado correctamente */
    align-items: center; /* Alinea verticalmente el contenido */
    letter-spacing: 0.06em;
    transition: background-color 0.3s;
    margin-top: -15px;
  }
  
  .save-button mat-icon {
    font-size: 15px; /* Ajusta el tamaño del ícono */
    font-weight: bold;
    border-radius: 90%; /* Borde redondeado para el ícono */
    width: 10px;
    height: 12px;
    padding: 3px;
    margin-top: -5px;
    margin-right: 2px;
  }
  
  .save-button:hover {
    background-color: #155A9E; /* Color más oscuro al pasar el ratón */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave al hacer hover */
  }
  
  .close-button {
    background: #FFFFFF;
    color: #3B9EFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    width: auto;
    padding: 8px 16px; /* Aumenta el padding horizontal para hacer el botón más largo */
    gap: 4px;
    border-radius: 5.25px;
    border: 1px solid transparent; /* Borde inicial transparente */
    opacity: 0px;
    box-shadow: none; /* Elimina la sombra */
    height: 32px;
    display: flex; /* Asegura que el contenido esté alineado correctamente */
    align-items: center; /* Alinea verticalmente el contenido */
    letter-spacing: 0.06em;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Transiciones suaves */
    margin-left: auto; /* Mueve el botón hacia la derecha */
    margin-top: -15px; /* Ajusta el margen hacia arriba según sea necesario */
    border-color: rgb(211, 200, 200);
    margin-top: -15px;
  }
  
  .close-button:hover {
    background-color: #f2f2f2; /* Color de fondo más claro al hacer hover */
    color: #1e88e5; /* Color de texto más oscuro al hacer hover */
    border-color: black; /* Color de borde más oscuro al hacer hover */
  }
  
  .close-button mat-icon {
    font-size: 10.5px; /* Ajusta el tamaño del ícono */
    font-weight: bold;
    background-color: red; /* Fondo del ícono */
    border-radius: 50%; /* Borde redondeado para el ícono */
    color: white; /* Color del ícono */
    width: auto;
    height: 9px;
    gap: 0px;
    padding: 3px 3px;
    opacity: 0px;
    align-items: center;
    justify-content: center;
    margin-top: -1;
    margin-left: 2px;
    transition: color 0.3s; /* Transición suave para el cambio de color del ícono */
  }
  
  /* General styles for reducing vertical space */
  .mat-dialog-content {
    padding: 8px 24px;
  }
  
  .mat-form-field {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .form-field-container{
    margin-top: 15px;
  }
  /* Inline container to adjust spacing */
  .inline-container {
    display: flex;
    align-items: center;
    gap: 16px; 
    margin-top: 8px; 
    margin-bottom: 8px; 
  }
  
  .buttons-actions {
    display: flex;
    margin-left: -25px;
    gap: 4px; 
  }
  
  .buttons-actions button {
    margin-top: -25px;
  }
  
  