<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-number-field
          title="Tara (kg.)"
          [groupName]="groupName"
          controlName="tara"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-number-field
          title="Bruto (kg.)"
          [groupName]="groupName"
          controlName="bruto"
          [form]="form"
        ></app-number-field>
      </div>
    </div>
  </div>
</div>
