<app-page-form
  class="propietario-page"
  submodule="TITULARES"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [isDialog]="isDialog"
  [gestorCargaId]="gestorCuentaId"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (submitEvent)="submit(false)"
>

  <div class="page-form-container" (keydown.enter)="onEnter($event)"><!-- Colocar siempre el onEnter -->

    <div class="section" formGroupName="info">
      <h2>INFORMACIÓN PRINCIPAL</h2>
      <app-propietario-form-info
        [form]="form"
        [estado]="estado"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [fotoDocumentoFrente]="fotoDocumentoFrente"
        [fotoDocumentoReverso]="fotoDocumentoReverso"
        [fotoPerfil]="fotoPerfil"
        [modelo]="modelo"
        [gestorCuentaId]="gestorCuentaId"
        [cantidadOCConAnticiposLiberados]="cantidadOCConAnticiposLiberados"
        (fotoDocumentoFrenteChange)="
          fotoDocumentoFrenteFile = $event; fotoDocumentoFrente = null
        "
        (fotoDocumentoReversoChange)="
          fotoDocumentoReversoFile = $event; fotoDocumentoReverso = null
        "
        (fotoPerfilChange)="fotoPerfilFile = $event; fotoPerfil = null"
        (anticiposBloqueadosChange)="bloquearAnticipos()"
        (esChoferChange)="esChoferChange($event)"
      ></app-propietario-form-info>
    </div>

    <div class="section" formGroupName="address"
      (opened)="isPanelOpen = true"
      (closed)="isPanelOpen = false" >
      <h2>DIRECCION</h2>
      <app-page-form-address
        groupName="address"
        [ciudadSelected]="ciudadSelected"
        [form]="form"
        [isShow]="isShow"
        [isPanelOpen]="isPanelOpen"
        class="app-input-field"
      ></app-page-form-address>
    </div>

    <div class="section ocultar" formGroupName="chofer"

        *ngIf="
          (choferModelo | puede: a.CREAR) ||
          (choferModelo | puede: a.EDITAR) ||
          (choferModelo | puede: a.VER)
        ">

      <h2>CHOFER</h2>
      <app-propietario-form-chofer
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [fotoDocumentoFrente]="fotoDocumentoFrenteChofer"
        [fotoDocumentoReverso]="fotoDocumentoReversoChofer"
        (fotoDocumentoFrenteChange)="
          fotoDocumentoFrenteChoferFile = $event;
          fotoDocumentoFrenteChofer = null
        "
        (fotoDocumentoReversoChange)="
          fotoDocumentoReversoChoferFile = $event;
          fotoDocumentoReversoChofer = null
        "></app-propietario-form-chofer>
    </div>

    <div class="section" formGroupName="registro"
        [hidden]="!esChofer"
        *ngIf="
          (choferModelo | puede: a.CREAR) ||
          (choferModelo | puede: a.EDITAR) ||
          (choferModelo | puede: a.VER)
          ">
      <h2>REGISTRO CHOFER</h2>
      <app-registro-conduccion-form
        [form]="form"
        [isShow]="isShow"
        [fotoRegistroFrente]="fotoRegistroFrente"
        [fotoRegistroReverso]="fotoRegistroReverso"
        (fotoRegistroFrenteChange)="
          fotoRegistroFrenteFile = $event; fotoRegistroFrente = null
        "
        (fotoRegistroReversoChange)="
          fotoRegistroReversoFile = $event; fotoRegistroReverso = null
        "
      ></app-registro-conduccion-form>
    </div>

    <div class="section"
      *ngIf="modelo | esUsuarioGestorYPuede: a.MODIFICAR_CONTACTOS | async">
      <h2 class="contactos-heading">CONTACTOS</h2>
      <app-page-form-contactos
        [form]="form"
        [isShow]="isShow"
        [contactoList]="contactoList"
      ></app-page-form-contactos>
    </div>

    <div class="section" *ngIf="
        (isShow || isEdit) &&
        ((camionModelo | puede: a.LISTAR) ||
          (semirremolqueModelo | puede: a.LISTAR))
        ">
      <div *ngIf="camionModelo | puede: a.LISTAR">
        <h2>CAMIONES</h2>
        <app-propietario-camion-list
          [backUrl]="propietarioBackUrl"
          [propietarioId]="id"
          [isShow]="isShow"
          [gestorCuentaId]="gestorCuentaId"
        ></app-propietario-camion-list>
      </div>
      <div *ngIf="semirremolqueModelo | puede: a.LISTAR">
        <h2>SEMI-REMOLQUES</h2>
        <app-propietario-semi-list
          [backUrl]="propietarioBackUrl"
          [propietarioId]="id"
          [isShow]="isShow"
          [gestorCuentaId]="gestorCuentaId"
        ></app-propietario-semi-list>
      </div>
    </div>

    <div class="section">
      <h2> CALIFICACIÓN </h2>
      <div class="row">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Calificación Local (GC)</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.promedio_propietario_gestor !== null ? (item?.promedio_propietario_gestor | number:'1.0-2') : 'Aún sin calificar'"
              disabled
            />
          </mat-form-field>
        </div>
        <div *ngIf="item?.promedio_propietario_gestor" class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Cant. Calificaciones Local (GC)</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.cantidad_propietario_evaluaciones_gestor || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>

        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Calificación General</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.promedio_propietario_general !== null ? (item?.promedio_propietario_general | number:'1.0-2') : 'Aún sin calificar'"
              disabled
            />
          </mat-form-field>
        </div>
        <div *ngIf="item?.promedio_propietario_general" class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">Cant. Calificaciones General</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="item?.cantidad_propietario_evaluaciones || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="section" *ngIf="isEdit || isShow">
      <h2>AUDITORIA</h2>
      <app-page-form-audit
        [created_by]="created_by"
        [created_at]="created_at"
        [modified_by]="modified_by"
        [modified_at]="modified_at"
      ></app-page-form-audit>
    </div>

  </div>

</app-page-form>
