<app-page-form
  class="propietario-page"
  module="Flota"
  submodule="Propietario"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo'}}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
  <mat-accordion multi>
    <mat-expansion-panel formGroupName="info" [expanded]="isInfoTouched">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Información principal
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-propietario-form-info
        [form]="form"
        [isShow]="isShow"
        [fotoDocumento]="fotoDocumento"
        [fotoPerfil]="fotoPerfil"
        [user]="user"
        [modelo]="modelo"
        [gestorCuentaId]="gestorCuentaId"
      ></app-propietario-form-info>
    </mat-expansion-panel>

    <mat-expansion-panel formGroupName="registro" [expanded]="isRegistroTouched" [hidden]="!esChofer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Registro de Conducción del Chofer
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-registro-conduccion-form
        [form]="form"
        [isShow]="isShow"
        [fotoRegistro]="fotoRegistro"
      ></app-registro-conduccion-form>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="user?.gestor_carga_id && (modelo | puede: a.MODIFICAR_CONTACTOS)" [expanded]="isContactoTouched">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Libreta de Contactos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-contactos
        [form]="form"
        [isShow]="isShow"
        [contactoList]="contactoList"
      ></app-page-form-contactos>
    </mat-expansion-panel>

    <mat-expansion-panel formGroupName="address" [expanded]="isAddressTouched" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Dirección
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-address
        groupName="address"
        [form]="form"
        [isShow]="isShow"
        [isPanelOpen]="isPanelOpen"
      ></app-page-form-address>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="(isShow || isEdit) && ((camionModelo | puede: a.LISTAR) || (semirremolqueModelo | puede: a.LISTAR))">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Flota del Propietario
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngIf="camionModelo | puede: a.LISTAR">
        <app-propietario-camion-list
          [propietarioId]="id"
          [isShow]="isShow"
        ></app-propietario-camion-list>
      </div>
      <div *ngIf="semirremolqueModelo | puede: a.LISTAR">
        <app-propietario-semi-list
          [propietarioId]="id"
          [isShow]="isShow"
        ></app-propietario-semi-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</app-page-form>
