<div *ngIf="formGroup" [formGroup]="formGroup" class="field-content">
  <ng-container *ngIf="groupName">
    <div class="input-select-container">
       <label>{{ title }}</label>
      <mat-form-field [formGroupName]="groupName"  appearance="outline" 
        [ngClass]="{
            'select-tipo-anticipo': controlName === 'tipo_anticipo_id',
            'select-remisiones-unidad': controlName === 'unidad_id',
            'select-remisiones-doc-origen': controlName === 'numero_documento_origen',
            'select-moneda': controlName === 'moneda_id',
            'select-comprobante': controlName === 'tipo_comprobante_id'}">
        <input
          matInput
          [value]="getTextValue()"
          [disabled]="readonly"
          *ngIf="readonly"
        />
        <mat-select
          [formControlName]="controlName"
          [compareWith]="compareWith"
          [hidden]="readonly"
       
        >
          <ng-container *ngFor="let o of list">
            <mat-option [value]="value(o)">{{ textValueFormat(o) }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
        <mat-error
          *ngIf="control.hasError('required')"
          [innerHTML]="errorMessage"
        ></mat-error>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <div class="input-select-container">
      <label>{{ title }}</label>
      <mat-form-field  [ngClass]="{
        'select-tipo-anticipo': controlName === 'tipo_anticipo_id',
        'select-remisiones-unidad': controlName === 'unidad_id',
        'select-remisiones-doc-origen': controlName === 'numero_documento_origen',
        'select-moneda': controlName === 'moneda_id',
        'select-comprobante': controlName === 'tipo_comprobante_id'}" >
        
        <input
          matInput
          [value]="getTextValue()"
          [disabled]="readonly"
          *ngIf="readonly"
        />
        <mat-select
          [formControlName]="controlName"
          [compareWith]="compareWith"
          [hidden]="readonly"
        
        >
          <ng-container *ngFor="let o of list">
            <mat-option [value]="value(o)">{{ textValueFormat(o) }}</mat-option>
          </ng-container>
        </mat-select>
        <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
        <mat-error
          *ngIf="control.hasError('required')"
          [innerHTML]="errorMessage"
        ></mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</div>
