.select-tipo-anticipo {
  width: 200px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
  font-weight: bold;
  font-family: 'Roboto' sans-serif;
}

.select-remisiones-unidad{
  width: 190px; 
  height: 40px; 
  margin-left: 5px;
  margin-top: 10px; 
  font-weight: bold;
  font-family: 'Roboto' sans-serif;
}

.select-remisiones-doc-origen{
  width: 158px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
  font-weight: bold;
  font-family: 'Roboto' sans-serif;
}

mat-select {
  font-weight: bold;
  font-family: 'Roboto' sans-serif;
}

.select-moneda {
  width: 190px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.select-comprobante {
  width: 185px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.select-concepto{
  width: 130px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.select-moneda_propietario{
  width: 205px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.select-moneda_cliente{
  width: 209px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.select-propietario{
  width: 285px; 
  height: 40px; 
  margin-left: 10px;
  margin-top: 10px; 
}

.select-moneda.mat-form-field-appearance-outline .mat-form-field-wrapper,
.select-concepto.mat-form-field-appearance-outline .mat-form-field-wrapper,
.select-moneda_propietario.mat-form-field-appearance-outline .mat-form-field-wrapper 
.select-moneda_cliente.mat-form-field-appearance-outline .mat-form-field-wrapper,
.select-propietario.mat-form-field-appearance-outline .mat-form-field-wrapper 
.select-propietario.mat-form-field-appearance-outline .mat-form-field-wrapper    {
  padding: 0;
  border: 2px solid red; 
}

.select-moneda .mat-form-field-infix,
.select-concepto .mat-form-field-infix, 
.select-moneda_propietario .mat-form-field-infix, 
.select-moneda_cliente .mat-form-field-infix, 
.select-propietario .mat-form-field-infix, 
.select-propietario .mat-form-field-infix{
  height: 24px; 
  padding: 0; 
  border: 2px solid red;
}

.select-moneda .mat-select-trigger {
  height: 24px; 
  line-height: 24px; 
}

.select-moneda .mat-input-element {
  height: 24px; 
  line-height: 24px; 
  padding: 0; 
}



/* Estilos para el campo de entrada al estar enfocado */
::ng-deep .select-moneda.mat-focused .mat-form-field-outline,
::ng-deep .select-moneda.mat-focused .mat-form-field-outline-thick,
::ng-deep .select-concepto.mat-focused .mat-form-field-outline,
::ng-deep .select-concepto.mat-focused .mat-form-field-outline-thick,
::ng-deep .select-propietario.mat-focused .mat-form-field-outline,
::ng-deep .select-propietario.mat-focused .mat-form-field-outline-thick   {
  border-color: red !important; /* Borde rojo al enfocar */
}


/* Estilos adicionales para asegurarse de que el borde no se torne azul */
::ng-deep .select-moneda.mat-focused .mat-form-field-ripple,
::ng-deep .select-concepto.mat-focused .mat-form-field-ripple,
::ng-deep .select-moneda_propietario.mat-focused .mat-form-field-ripple,
::ng-deep .select-moneda_cliente.mat-focused .mat-form-field-ripple,
::ng-deep .select-propietario.mat-focused .mat-form-field-ripple,
::ng-deep .select-propietario.mat-focused .mat-form-field-ripple  {
  background-color: transparent !important; 
}

/* Estilos para el borde del input al enfocarse */
::ng-deep .select-moneda .mat-input-element:focus,
::ng-deep .select-concepto .mat-input-element:focus,
::ng-deep .select-moneda_propietario .mat-input-element:focus,
::ng-deep .select-moneda_cliente .mat-input-element:focus,
::ng-deep .select-propietario .mat-input-element:focus,
::ng-deep .select-propietario .mat-input-element:focus  {
  border-color: red !important; 
}

/* Estilos para el borde del input en hover */
::ng-deep .select-moneda .mat-input-element:hover,
::ng-deep .select-concepto .mat-input-element:hover,
::ng-deep .select-moneda_propietario .mat-input-element:hover,
::ng-deep .select-moneda_cliente .mat-input-element:hover,
::ng-deep .select-propietario .mat-input-element:hover,
::ng-deep .select-propietario .mat-input-element:hover     {
  border-color: red !important; 
}

/* Elimina el color azul del borde al hacer click */
::ng-deep .select-moneda .mat-form-field-flex,
::ng-deep .select-concepto .mat-form-field-flex,
::ng-deep .select-moneda_propietario .mat-form-field-flex,
::ng-deep .select-moneda_cliente .mat-form-field-flex   {
  border-color: red !important; 
}

