<div *ngIf="formGroup" [formGroup]="formGroup">
  <ng-container *ngIf="groupName">
    <mat-form-field [formGroupName]="groupName">
      <mat-label>{{ title }}</mat-label>
      <mat-select [formControlName]="controlName">
        <ng-container *ngFor="let o of list">
          <mat-option [value]="o.id">{{textValueFormat(o)}}</mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="control.hasError('required')" [innerHTML]="errorMessage"></mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <mat-form-field>
      <mat-label>{{ title }}</mat-label>
      <mat-select [formControlName]="controlName">
        <ng-container *ngFor="let o of list">
          <mat-option [value]="o.id">{{textValueFormat(o)}}</mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="control.hasError('required')" [innerHTML]="errorMessage"></mat-error>
    </mat-form-field>
  </ng-container>
</div>
