<ng-container *ngIf="form">
  <ng-container *ngIf="pId; else inputTemplate">

    <app-dialog-field-local
      [title]="title"
      [columns]="columns"
      [item]="persona"
      [fetchFunctionLocal]="fetchFunction"
      [groupName]="groupName"
      [controlName]="controlName"
      [inputValuePropName]="inputValuePropName"
      [form]="form"
      (valueChange)="valueChange.emit($event)"
    ></app-dialog-field-local>

  </ng-container>

  <ng-template #inputTemplate>
    <app-input-field
      [title]="title"
      [readonly]="isShow"
      [groupName]="groupName"
      [controlName]="controlNameRuc"
      [form]="form"
    ></app-input-field>
  </ng-template>

</ng-container>
