<ng-container *ngIf="form">
  <ng-container *ngIf="pId; else inputTemplate">
    <ng-container *ngIf="list$ | async as list">
      <app-dialog-field
        [title]="title"
        [columns]="columns"
        [list]="list"
        [groupName]="groupName"
        [controlName]="controlName"
        [inputValuePropName]="inputValuePropName"
        [form]="form"
        (valueChange)="valueChange.emit($event)"
      ></app-dialog-field>
    </ng-container>
  </ng-container>
  <ng-template #inputTemplate>
    <app-input-field
      [title]="title"
      [readonly]="true"
      [groupName]="groupName"
      [controlName]="controlNameRuc"
      [form]="form"
    ></app-input-field>
  </ng-template>
</ng-container>
