@import "~src/assets/styles/colors.scss";
@import "~src/assets/styles/filter.scss";

.row_menu::ng-deep {
  width: 30px;
  height: 30px;
  .mat-button-wrapper {
    line-height: 24px;
  }
  .mat-icon-button .mat-icon {
    line-height: 14px;
  }
}

.mat-column-actions {
  text-align: center;
}

.row-error {
  border: 1px solid $error-color;
}

.row-button::ng-deep {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}

.mat-table::ng-deep {
  .mat-column-id {
    width: 68px !important;
    box-sizing: border-box;
  }
  .mat-column-numero_lote{
    width: 68px !important;
    box-sizing: border-box;
  }
  .mat-header-cell-checkbox .mat-checkbox-mixedmark {
    left: 3px;
    position: absolute;
    top: 7px;
  }
  .mat-header-cell-checkbox .mat-checkbox-inner-container,
  .mat-cell-checkbox .mat-checkbox-inner-container {
    overflow: visible;
  }
  
}

.mat-table td.mat-cell.mat-column-actions {
  border-right: none; /* Elimina la línea vertical a la derecha */
}



/* Estilos para la tabla */
.mat-table {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  text-align: left;
  border-radius: 5px; 
  box-sizing: border-box; 
}

.mat-header-row {
  background-color: #DDE1E6 !important; 
}

td.mat-cell {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: black;
}

th.mat-header-cell {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
  color: black; 
}

.last-sticky-cell {
  background-color: gray;
}

/* Estilo específico para las celdas fijas del cuerpo */
.mat-cell.sticky-column {
  border: none; 
  position: sticky;
  z-index: 10;
  background-color: #f7f7f7; /* Color de fondo para las celdas fijas */
}

/* Estilo para todas las columnas, excluyendo el encabezado */
.mat-column:not(.mat-header-cell) {
  /* Estilos que deseas aplicar */
  background-color: #f7f7f7;
}


.mat-cell, .mat-header-cell, .mat-footer-cell {
  font-size: 12px;
}

.mat-header-cell, .mat-cell, .mat-footer-cell  {
  border-right: none; 
  white-space: normal; 
  text-overflow: ellipsis; 
}


// .mat-column-actions {
//   box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1), -5px 0px 5px rgba(0, 0, 0, 0.1);
// }

//Tamano de fuente de las letras
.mat-cell, .mat-header-cell, .mat-footer-cell {
  font-size: 12px;
}

.mat-header-cell, .mat-cell, .mat-footer-cell  {
  border-right: none; 
  white-space: normal; 
  text-overflow: ellipsis; 
}
.mat-column-placa_camion{
  width: 48px !important;
}

///////////////////////Alinear etiquetas//////////////////////////////////////////////
.align-right-title {
  text-align: right;
  width: 50px !important;
}

//Alinear etiquetas. Estado Cuenta
.align-right-title-cuenta {
  text-align: right;
  width: 80px !important;
}

////Alinear etiquetas. Listado, Movimientos
.align-right-monto {
  text-align: right;
  width: 90px !important;
}

.align-right-instr{
  text-align: right;
  width: 90px !important;
}

.align-right-liq{
  text-align: right;
  width: 138px !important;
}
/////////////////////Alinear Numeros/////////////////////////////////////////////////
//Pedidos
/* Alinea el contenido de las celdas hacia la derecha, excluyendo el primer hijo (el encabezado) */
td.mat-column-a_cobrar_flete:not(:first-child), /* A cobrar pedido y OC */
td.mat-column-a_pagar_flete:not(:first-child),
td.mat-column-cantidad_flete:not(:first-child) {
    width: 50px;
    text-align: right; /* Alinea el contenido a la derecha */
    padding-right: 25px; /* Opcional: añade padding derecho para separación */
}

//Orden de carga
td.mat-column-cantidad_nominada_oc:not(:first-child) {
  width: 50px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 25px; /* Opcional: añade padding derecho para separación */
}

//Caja
td.mat-column-credito_caja:not(:first-child),
td.mat-column-debito_caja:not(:first-child),
td.mat-column-saldo_caja:not(:first-child)  {
  width: 50px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 22px; /* Opcional: añade padding derecho para separación */
}

//Banco
td.mat-column-credito_banco:not(:first-child),
td.mat-column-debito_banco:not(:first-child),
td.mat-column-saldo_banco:not(:first-child)  {
  width: 50px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 22px; /* Opcional: añade padding derecho para separación */
}

//Estado de Cuenta
td.mat-column-pendiente:not(:first-child),
td.mat-column-en_proceso:not(:first-child),
td.mat-column-confirmado:not(:first-child),
td.mat-column-finalizado:not(:first-child)  {
  width: 50px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 22px; /* Opcional: añade padding derecho para separación */
}


//LISTADOS
///Rentabilidad
td.mat-column-cantidad_nominada:not(:first-child),
td.mat-column-cantidad_origen:not(:first-child),
td.mat-column-cantidad_destino:not(:first-child),
td.mat-column-diferencia_origen_destino:not(:first-child),

td.mat-column-condicion_propietario_tarifa:not(:first-child),
td.mat-column-propietario_flete_total:not(:first-child),
td.mat-column-propietario_flete_total_ml:not(:first-child),

td.mat-column-merma_propietario_valor:not(:first-child),
td.mat-column-merma_propietario_tolerancia:not(:first-child),
td.mat-column-merma_propietario_merma:not(:first-child),

td.mat-column-merma_propietario_valor_merma:not(:first-child),
td.mat-column-condicion_gestor_carga_tarifa:not(:first-child),
td.mat-column-gestor_carga_flete_total:not(:first-child),

td.mat-column-gestor_carga_flete_total_ml:not(:first-child),
td.mat-column-merma_gestor_carga_valor:not(:first-child),
td.mat-column-merma_gestor_carga_tolerancia:not(:first-child),

td.mat-column-merma_gestor_carga_merma:not(:first-child),
td.mat-column-merma_gestor_carga_valor_merma:not(:first-child),
td.mat-column-flete_condicion_propietario_tarifa:not(:first-child),

td.mat-column-flete_condicion_propietario_moneda_nombre:not(:first-child),
td.mat-column-flete_propietario_total:not(:first-child),
td.mat-column-flete_propietario_total_ml:not(:first-child),

td.mat-column-flete_merma_propietario_valor:not(:first-child),
td.mat-column-flete_merma_propietario_moneda_nombre:not(:first-child),
td.mat-column-flete_merma_propietario_tolerancia:not(:first-child),

td.mat-column-flete_merma_propietario_merma:not(:first-child),
td.mat-column-flete_merma_propietario_valor_merma:not(:first-child),
td.mat-column-flete_condicion_gestor_carga_tarifa:not(:first-child),

td.mat-column-flete_gestor_carga_total:not(:first-child),
td.mat-column-flete_gestor_carga_total_ml:not(:first-child),
td.mat-column-flete_merma_gestor_carga_valor:not(:first-child),
td.mat-column-flete_merma_gestor_carga_tolerancia:not(:first-child),
td.mat-column-flete_merma_gestor_carga_merma:not(:first-child),
td.mat-column-flete_merma_gestor_carga_valor_merma:not(:first-child),
td.mat-column-total_complemento_a_pagar:not(:first-child),
td.mat-column-total_complemento_a_cobrar:not(:first-child),
td.mat-column-diferencia_complemento:not(:first-child),
td.mat-column-total_descuento_a_pagar:not(:first-child),


td.mat-column-total_descuento_a_cobrar:not(:first-child),
td.mat-column-diferencia_descuento:not(:first-child),
td.mat-column-total_anticipo_retirado:not(:first-child),
td.mat-column-saldo_gestor_carga:not(:first-child),
td.mat-column-saldo_propietario:not(:first-child)

{
  width: 50px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 22px; /* Opcional: añade padding derecho para separación */
} 

//Movimiento
td.mat-column-monto:not(:first-child),
td.mat-column-monto_ml:not(:first-child){
  width: 50px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 25px; /* Opcional: añade padding derecho para separación */
} 

//Instrumentos
//Caja
td.mat-column-credito_caja_instrumento:not(:first-child),
td.mat-column-debito_caja_instrumento:not(:first-child),
td.mat-column-saldo_caja:not(:first-child){
  width: 40px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 10px; /* Opcional: añade padding derecho para separación */
} 

//Banco
td.mat-column-credito_inst_banco:not(:first-child),
td.mat-column-debito_inst_banco:not(:first-child),
td.mat-column-pendiente_inst_banco:not(:first-child),
td.mat-column-saldo_inst_banco:not(:first-child){
  width: 40px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 10px; /* Opcional: añade padding derecho para separación */
} 


td.mat-column-movimientos_saldo:not(:first-child),
td.mat-column-instrumentos_saldo:not(:first-child),
td.mat-column-saldo_residual:not(:first-child) {
  width: 90px;
  text-align: right; /* Alinea el contenido a la derecha */
  padding-right: 10px;
} 