@import "~src/assets/styles/colors.scss";
@import "~src/assets/styles/filter.scss";

.row_menu::ng-deep {
  width: 30px;
  height: 30px;
  .mat-button-wrapper {
    line-height: 24px;
  }
  .mat-icon-button .mat-icon {
    line-height: 14px;
  }
}

.mat-column-actions {
  text-align: center;
}

.row-error {
  border: 1px solid $error-color;
}
