<ng-container *ngIf="form">
  <div [formGroup]="form">
    <div [formGroupName]="groupName">
      <div class="row page-form-row">
        <h3 class="col-xs-12">Transporte</h3>
        <div class="col-xs-12">
          <app-ente-emisor-transporte-field
            [groupName]="groupName"
            controlName="ente_emisor_transporte_id"
            [form]="form"
          ></app-ente-emisor-transporte-field>
        </div>
        <div class="col-xs-12">
          <app-input-field
            title="Número de Habilitación"
            [groupName]="groupName"
            controlName="numero_habilitacion_transporte"
            [form]="form"
          ></app-input-field>
        </div>
        <div class="col-xs-12">
          <app-fecha-field
            title="Fecha de vencimiento"
            [groupName]="groupName"
            controlName="vencimiento_habilitacion_transporte"
            [form]="form"
          ></app-fecha-field>
        </div>
      </div>

      <div class="row page-form-row">
        <div class="col-xs-12 col-sm-6">
          <app-file-field
            title="Foto de la habilitación - frontal"
            [groupName]="groupName"
            controlName="foto_habilitacion_transporte_frente"
            [field]="fotoFrente"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoFrenteChange.emit($event)"
          ></app-file-field>
        </div>
      </div>

      <div class="row page-form-row">
        <div class="col-xs-12 col-sm-6">
          <app-file-field
            title="Foto de la habilitación - reverso"
            [groupName]="groupName"
            controlName="foto_habilitacion_transporte_reverso"
            [field]="fotoReverso"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoReversoChange.emit($event)"
          ></app-file-field>
        </div>
      </div>
    </div>
  </div>
</ng-container>
