<ng-container *ngIf="form">
  <div [formGroup]="form">
    <div [formGroupName]="groupName">
      <div class="row page-form-row">
        <h3 class="col-xs-12">Transporte</h3>

        <!-- Campo Ente Emisor -->
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label mr-2">Ente Emisor</label>
          <app-ente-emisor-transporte-field
            [groupName]="groupName"
            controlName="ente_emisor_transporte_id"
            [form]="form"
            class="app-input-field"
          ></app-ente-emisor-transporte-field>
        </div>

        <!-- Campo Número de Habilitación -->
        <div class="col-xs-12 d-flex align-items-center mb-1 muni-row">
          <label class="form-label mr-2">N° Habilitación</label>
          <mat-form-field appearance="outline" class="full-width">
            <input matInput [formControlName]="'numero_habilitacion_transporte'" />
          </mat-form-field>
        </div>

        <!-- Campo Fecha de Vencimiento -->
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label mr-2">Fecha Vencimiento</label>
          <app-fecha-field
            title="Fecha de vencimiento"
            [groupName]="groupName"
            controlName="vencimiento_habilitacion_transporte"
            [form]="form"
            class="app-input-field"
          ></app-fecha-field>
        </div>
      </div>

      <!-- Fila para las fotos -->
      <div class="row page-form-row">
        <div class="col-xs-12 d-flex align-items-center mb-1" style="margin-top: -20px;">
          <div class="col-sm-6">
            <app-file-field-input
              title="Foto de la habilitación - frontal"
              [groupName]="groupName"
              controlName="foto_habilitacion_transporte_frente"
              [field]="fotoFrente"
              [form]="form"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (fileChange)="fotoFrenteChange.emit($event)"
            ></app-file-field-input>
          </div>
          <div class="col-sm-6">
            <app-file-field-input
              title="Foto de la habilitación - reverso"
              [groupName]="groupName"
              controlName="foto_habilitacion_transporte_reverso"
              [field]="fotoReverso"
              [form]="form"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (fileChange)="fotoReversoChange.emit($event)"
            ></app-file-field-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
