<app-page-form
  class="insumo-page"
  submodule="Mercaderias"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVA' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>

  <div class="page-form-container">

      <div class="row">

        <app-input-field
          *ngIf="isEdit || isShow"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Punto de Venta"
          controlName="punto_venta_id"
          [readonly]="true"
          [form]="form">
        </app-input-field>

        <app-punto-venta-precio-map-field
          *ngIf="!isEdit && !isShow"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          [form]="form"
          (valueChange)="onPDVPrecioChange($event)"
          controlName="punto_venta_id"
        ></app-punto-venta-precio-map-field>

        <app-input-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Proveedor"
          controlName="proveedor_id"
          [form]="form">
        </app-input-field>

      </div>

      <div class="row">

        <app-input-field
          *ngIf="isEdit || isShow"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Descripción"
          controlName="insumo_id"
          [form]="form">
        </app-input-field>

        <app-insumo-by-punto-venta-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          *ngIf="!isEdit && !isShow"
          [form]="form"
          [puntoVentaId]="puntoVentaId || 0"
          (valueChange)="onInsumoDescipcionChange($event)"
        ></app-insumo-by-punto-venta-field>

        <!-- <app-fecha-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Fecha"
          controlName="created_at_insumo"
          [form]="form"
        ></app-fecha-field>

        <div  class="input-form-full col-xs-12 col-sm-6 col-md-3">
          <label class="form-label-hora mr-2">Hora</label>
          <mat-form-field class="app-input-field read-only-field" >
            <input matInput  [value]="hora" [disabled]="true" />
          </mat-form-field>
        </div> -->

      </div>

      <div class="row">

        <app-number-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Precio"
          controlName="precio"
          [form]="form"
          autocomplete="on">
        </app-number-field>

        <app-input-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Moneda"
          controlName="moneda_id"
          [form]="form"
        ></app-input-field>

        <app-input-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Unidad"
          controlName="unidad_id"
          [form]="form"
 
        ></app-input-field>

      </div>

      <div class="row">

        <app-fecha-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Fecha Vigencia"
          controlName="fecha_inicio"
          [form]="form"
        ></app-fecha-field>

        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="form-label-hora mr-2">Hora</label>
          <mat-form-field>
            <input
              matInput
              formControlName="hora_inicio"
              type="text"

              placeholder="HH:MM AM/PM"

          >

            <mat-error *ngIf="form.get('hora_inicio')?.hasError('pattern')">
              Ingrese una hora válida en formato HH:MM.
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="row">

        <app-input-field
          class="input-form-full col-xs-12 col-sm-6 col-md-8"
          title="Observación"
          controlName="observacion"
          [form]="form"
        ></app-input-field>

      </div>

  </div>
</app-page-form>
