.d-flex {
    display: flex; /* Habilita flexbox */
    align-items: center; /* Alinea verticalmente al centro */
  }
  
  .form-label {
    margin-bottom: 20px; 
  }
  
  .mb-2 {
    margin-bottom: 0.5rem; /* Espacio inferior para el margen */
  }
  

  /* Estilos para alinear etiquetas y campos */
  .form-label {
    min-width: 100px; /* Cambia este valor para ajustar el ancho de las etiquetas */
  }
  
  .form-label-hora{
    min-width: 40px; /* Cambia este valor para ajustar el ancho de las etiquetas */
    margin-bottom: 20px; 
    margin-left: 50px;
  }
  
  .form-label-vigencia {
    min-width: 130px;
    margin-bottom: 20px; 
    margin-left: 50px;
  }

  .form-label-moneda {
    min-width: 70px;
    margin-bottom: 20px; 
    margin-left: 50px;
  }

  .app-input-field{
    width: 100%;
    margin-top: -10px;
  }
  
  .muni-row{
    margin-top: -10px;
  }

  .unidad-field{
    width: 50%;
  }