.row {
  display: flex;
  margin-left: 0;
}

.item-container {
  display: flex;
}

.peso-value  {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #e0e0e0;
  padding-right: 175px;
  margin-left: -10px;
  border-radius: 1px;
  text-align: end;
}

.peso-tarifa-value{
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-top: 10px;
  text-align: left;
  box-sizing: border-box;
  color: black;
}

.label {
  padding: 5px;
  border: 1.5px solid #ccc;
  margin-right: 10px;
  border-radius: 1px;
}

.table-container {
  margin-left: 0;
  margin-bottom: 36px;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .item-container {
    display: flex;
    margin-right: 30px;
  }
}
