.empty-form-field {
  margin-bottom: 1rem;
}


::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px; 
}

.custom-mat-form-field {
  width: 400px; 
}


.example-class-1 {
  border: 1px solid red;
}

.punto-venta-class {
  width: 300px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-left: 12px;
  margin-top: 8px;
}

.label-punto-venta{
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 22px;
  min-width: 130px;
}

.default-class {
  width: 130px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.small-icon{
  width: 1.13px;
  height: 13.13px;
  top: 2.25px;
  left: 2.25px;
  gap: 0px;
  opacity: 0px;
  color: #A1A1A1;
}

.mat-form-field{
  width: 80%;
}

.form-label {
  white-space: nowrap; /* Evita que el label se divida en varias líneas */
  margin-right: 8px; /* Espacio entre el label y el campo */
  margin-bottom: 22px;
}