<app-page-form
  class="centro-operativo-page"
  module="NUEVO"
  submodule="CENTRO OPERATIVO"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
<div class="page-container" >
    <div class="section info-section">
      <h2>INFORMACIÓN PRINCIPAL</h2>
      <div class="row page-form-row" formGroupName="info">
        <label><span class="required-field">*</span> Centro Operativo</label>
        <mat-form-field class="nombre" [ngClass]="{'view-mode': isShow}" >
          <input matInput formControlName="nombre" appAutofocus />
          <mat-error *ngIf="info.controls['nombre'].hasError('required')">
            El nombre es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <label><span class="required-field">*</span> Nombre de Fantasía</label>
        <mat-form-field class="nombre-corto" [ngClass]="{'view-mode': isShow}">
          <input matInput formControlName="nombre_corto"  />
          <mat-error *ngIf="info.controls['nombre_corto'].hasError('required')">
            El nombre corto es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <label><span class="required-field">*</span> Clasificación</label>
        <mat-form-field class="clasificacion_id">
          <mat-select formControlName="clasificacion_id">
            <ng-container *ngFor="let o of centroOperativoClasificacionList$ | async">
              <mat-option [value]="o.id">{{ o.nombre }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="info.controls['clasificacion_id'].hasError('required')">
            La clasificación es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>

        <mat-slide-toggle
          class="estado"
          labelPosition="before">
          Estado
        </mat-slide-toggle>
      </div>

      <div class="row page-form-row">
        <label>Web</label>
        <mat-form-field class="web" [ngClass]="{'view-mode': isShow}" >
          <input matInput formControlName="pagina_web" [readonly]="isShow"/>
        </mat-form-field>
        <label for="" class="comentario-label">Comentario</label>
        <mat-form-field class="comentario">
          <input matInput formControlName="pagina_web" />
        </mat-form-field>
      </div>
        <div class="custom-file-field-wrapper">
          <div class="custom-file-field">
            <app-file-field
              className=""
              groupName="info"
              controlName="logo"
              [field]="logo"
              [form]="form"
              [isEdit]="isEdit"
              (fileChange)="fileChange($event)"
              [readonly]="isShow"
            ></app-file-field>
          </div>
          <label for="" class="label-logo">Logotipo</label>
        </div>
    </div>

   <div class="section geolocation-section">
      <h2>GEOLOCALIZACIÓN</h2>
      <div formGroupName="geo">
        <app-page-form-geo
          [ciudadSelected]="ciudadSelected"
          [form]="form"
          [isShow]="isShow"
          [isPanelOpen]="true"
        ></app-page-form-geo>
      </div>
    </div> 

    <div class="section contactos-section" *ngIf="user?.gestor_carga_id && (modelo | puede: a.MODIFICAR_CONTACTOS)">
      <h2 class="contactos-heading">CONTACTOS</h2>
      <app-page-form-contactos
        [form]="form"
        [isShow]="isShow"
        [contactoList]="contactoList"
      ></app-page-form-contactos>
    </div>  
</div>
</app-page-form>
