.page-form-show::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}

.page-container {
  margin-top: -12px;
  margin-left: -12px;
  overflow: hidden; 
  background-color: white;
}

.centro-operativo-page .geolocation-section h2,
.centro-operativo-page .info-section h2 {
  margin: 0 0 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.41px;
  color: #007acc;  /* Celeste más oscuro */
  border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
  width: 82%;
}

.centro-operativo-page .contactos-section h2 {
  margin: 0 0 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.41px;
  color: #007acc;  /* Celeste más oscuro */
  border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
  width: 72%;
}

.centro-operativo-page .section {
  margin-bottom: -14px;
  padding: 15px;
}

.page-form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: flex-start; 
  margin-left: 8px;
}

.page-form-row label {
  margin-right: -15px; 
  white-space: nowrap; 
  margin-top: 11px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
}

.page-form-row mat-error {
  font-size: 10px;
  color: red;
  margin-top: -1px;
}

.required-field{
  color: red;
}

input{
  margin-top: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
}

.nombre{
  font-size: 14px;
  height: 24px;
  flex: 1;
  max-width: 179px;
}

.nombre-corto{
  font-size: 14px;
  height: 24px;
  flex: 1;
  max-width: 119px;
}

.clasificacion_id{
  font-size: 14px;
  height: 24px;
  flex: 1;
  max-width: 149px;
}

.estado{
  margin-top: 8px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: left;
}

.web{
  font-size: 14px;
  height: 24px;
  flex: 1;
  max-width: 149px;
  margin-left: 4px
}

.comentario{
  font-size: 14px;
  height: 24px;
  flex: 1;
  max-width: 349px;
  margin-left: 4px;
  pointer-events: none;
}

.comentario-label{
  margin-left: 100px;
}

::ng-deep .nombre .mat-form-field-outline,
::ng-deep .nombre-corto .mat-form-field-outline,
::ng-deep .clasificacion_id .mat-form-field-outline  {
  color: red;
  border-radius: 4px;
  height: 28px;
}

::ng-deep .web .mat-form-field-outline{
  color: #C1C7CD;
  border-radius: 4px;
  height: 28px;
}

::ng-deep .comentario .mat-form-field-outline{
  color: #C1C7CD;
  border-radius: 4px;
  height: 28px;
  pointer-events: none;
  background-color: #c1c7cd8a;
}

mat-select{
  margin-top: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: left;
}

.custom-file-field-wrapper {
  position: relative;
  float: right;
  width: 115px;
  left: -37px;
  top: -95px;
  // border: 1px solid black;
}
.custom-file-field {
  width: 120px; /* Mantén el mismo ancho */
  height: 152px; /* Mantén la misma altura */
  border-radius: 4%;
}

.custom-file-field-footer {
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  text-align: center; /* Centra el texto */
  font-size: 12px; /* Ajusta el tamaño de la fuente */
  color: #555; /* Ajusta el color */
  margin-top: 5px; /* Añade un margen superior si es necesario */
}

.label-logo{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.41px;
  color: #354242;
  flex: 1;
  border-radius: 4px;
  position: absolute; /* Posicionamiento absoluto */
  top: 122px; /* Ajusta según sea necesario */
  left: 43px; /* Ajusta según sea necesario */
  z-index: 10; /* Asegura que el input esté sobre otros elementos */
}

.contactos-section {
  margin-top: 140px; /* Espacio exterior encima del contenedor */
  padding-top: -100px; /* Espacio interior en la parte superior del contenedor */
}

::ng-deep .view-mode .nombre .mat-form-field-outline,
::ng-deep .view-mode .nombre-corto .mat-form-field-outline,
::ng-deep .view-mode .clasificacion_id .mat-form-field-outline  {
  color: #C1C7CD;
  border-radius: 4px;
  height: 28px;
  pointer-events: none;
}

.view-mode .web{
  font-size: 14px;
  height: 24px;
  flex: 1;
  max-width: 149px;
  margin-left: 4px;
  pointer-events: none;
}


/* Ajustes para pantallas grandes (escritorio) */
@media (min-width: 1571px) {
  .page-form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    margin-left: 8px;
  }
  
  .page-form-row mat-error {
    font-size: 10px;
    color: red;
    margin-top: -1px;
  }
  
  .required-field{
    color: red;
  }
  
  input{
    margin-top: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: left;
  }
  
  .nombre{
    font-size: 14px;
    height: 24px;
    flex: 1;
    max-width: 279px;
    margin-right: 15px;
  }
  
  .nombre-corto{
    font-size: 14px;
    height: 24px;
    flex: 1;
    max-width: 219px;
  }
  
  .clasificacion_id{
    font-size: 14px;
    height: 24px;
    flex: 1;
    max-width: 249px;
    margin-right: 25px;
  }
  
  .estado{
    margin-top: 8px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    
  }
  
  .web{
    font-size: 14px;
    height: 24px;
    flex: 1;
    max-width: 249px;
    margin-left: 4px
  }
  
  .comentario{
    font-size: 14px;
    height: 24px;
    flex: 1;
    max-width: 449px;
    margin-left: 4px;
  }
  
  .comentario-label{
    margin-left: 100px;
  }
  
  ::ng-deep .nombre .ng-tns-c50-2 .ng-star-inserted,
  ::ng-deep .clasificacion_id .ng-tns-c50-2 .ng-star-inserted{
    color: red;
    border-radius: 4px;
    height: 28px;
  }
  
  ::ng-deep .nombre-corto .mat-form-field-outline,
  ::ng-deep .clasificacion_id .mat-form-field-outline  {
    color: red;
    border-radius: 4px;
    height: 28px;
  }
  
  ::ng-deep .web .mat-form-field-outline,
  ::ng-deep .comentario .mat-form-field-outline{
    color: red;
    border-radius: 4px;
    height: 28px;
  }
  
  mat-select{
    margin-top: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: left;
  }
  
  .custom-file-field-wrapper {
    position: relative;
    float: right;
    width: 115px;
    left: -37px;
    top: -95px;
    // border: 1px solid black;
  }
  .custom-file-field {
    width: 120px; /* Mantén el mismo ancho */
    height: 152px; /* Mantén la misma altura */
    border-radius: 4%;
  }
  
  .custom-file-field-footer {
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    text-align: center; /* Centra el texto */
    font-size: 12px; /* Ajusta el tamaño de la fuente */
    color: #555; /* Ajusta el color */
    margin-top: 5px; /* Añade un margen superior si es necesario */
  }
  
  .label-logo{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #354242;
    flex: 1;
    border-radius: 4px;
    position: absolute; /* Posicionamiento absoluto */
    top: 122px; /* Ajusta según sea necesario */
    left: 43px; /* Ajusta según sea necesario */
    z-index: 10; /* Asegura que el input esté sobre otros elementos */
  }
  
  .contactos-section {
    margin-top: 140px; /* Espacio exterior encima del contenedor */
    padding-top: -100px; /* Espacio interior en la parte superior del contenedor */
  }
}


// @media screen and (min-width: 1920px) {
//   .page-container {
//     margin-top: -36px;
//     margin-left: -36px;
//     padding: 30px;
//   }

//   .centro-operativo-page .geolocation-section h2,
//   .centro-operativo-page .info-section h2,
//   .centro-operativo-page .contactos-section h2 {
//     font-size: 16px;
//     line-height: 20px;
//   }

//   .page-form-row {
//     gap: 40px; 
//     margin-left: 24px;
//   }

//   .page-form-row label {
//     margin-right: 0px; 
//     font-size: 18px;
//     line-height: 20px;
//   }

//   .page-form-row mat-error {
//     font-size: 14px;
//   }

//   input {
//     font-size: 18px;
//     height: 32px;
//   }

//   .nombre,
//   .nombre-corto,
//   .clasificacion_id,
//   .web,
//   .comentario {
//     font-size: 18px;
//     height: 32px;
//   }

//   .custom-file-field {
//     width: 160px; 
//     height: 190px;
//   }

//   .custom-file-field-footer {
//     font-size: 16px;
//   }

//   .label-logo {
//     font-size: 16px;
//     top: 140px;
//     left: 60px;
//   }

//   .contactos-section {
//     margin-top: 180px; 
//   }
// }