<ng-container *ngIf="item">
  <app-page-form
    class="orden-carga-page"
    module="NUEVA"
    submodule="ORDEN DE CARGA"
    [class.page-form-show]="isShow"
    [formGroup]="form"
    [hasChange]="hasChange"
    [oc]="item"
    [hideEditButton]="item.is_conciliado"
    [isEdit]="isEdit"
    [isShow]="isShow"
    [modelo]="modelo"
    [gestorCargaId]="gestorCargaId"
    (backClick)="back($event)"
    (editClick)="redirectToEdit()"
    [hideEditButton]="isCancelado || isConciliado"
    (submitEvent)="submit(false)"
    (activeClick)="active()"
    (inactiveClick)="inactive()"
    (aceptarClick)="aceptar()"
    (finalizarClick)="finalizar()"
    (cancelarClick)="cancelar()"
    (conciliarClick)="conciliar()"
    (provisionesClick)="recalcularProvisiones()"
    (cambiarFleteClick)="enableFleteId()"
    (remitirClick)="openRemitirDialog()"
    module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
    [estado]="estado"
    [isAnticipoActive]="isToggleAnticiposLiberados"
    [isNuevo]="isNuevo"
    [isAceptado]="isAceptado"
    [isOc]="isOc"
    [isButtonPressed]="isButtonPressed"
    [isEditPressed]="isEditPressed"
  >
    <div class="orden-carga-page-content">

      <app-orden-carga-create-form-combinacion
          [oc]="item"
          [form]="form"
          (ocChange)="getData()"
          (fleteChange)="onFleteChange($event)"
          [isEditField]="true"
          [isEdit]="isEdit"
          [isShow]="isShow"
          [showSearchOCPedidos]="isShow"
          [isNeto]="false"
      ></app-orden-carga-create-form-combinacion>

      <div class="anticipo-table">
        <app-orden-carga-anticipos-table
            [oc]="item"
            [gestorCargaId]="gestorCargaId"
            [isShow]="isShow"
            [isEditPedido]="isEditPedido"
            [puedeConciliar]="puedeConciliar"
            [list]="anticipoList"
            (ocChange)="getData()"
            (buttonAnticipoClicked)="onEditPressed()"
        ></app-orden-carga-anticipos-table>
      </div>

      <div *ngIf="!isNuevo" style="margin-top: 10px;">

        <div class="section">
          <h2 class="title-colapside" (click)="colapseDivRemision=!colapseDivRemision">REMISIONES</h2>
        </div>

        <div *ngIf="this.item.estado === 'Finalizado' || this.item.estado === 'Conciliado'" class="row" [class.colapse-div]="colapseDivRemision">

          <div class="col-xs-12 col-sm-6">
            <mat-label>
              Documentos Físicos Ok?
            </mat-label>
            <mat-slide-toggle
                [formControl]="tieneDocumentoFisico">
                {{ tieneDocumentoFisicoValue ? 'Sí' : 'No' }}
            </mat-slide-toggle>
          </div>

        </div>

        <div class="row" [class.colapse-div]="colapseDivRemision">
          <div class="col-xs-12 col-sm-6">
            <app-orden-carga-edit-form-remisiones-origen
              [oc]="item"
              [gestorCargaId]="gestorCargaId"
              [isShow]="isShow"
              [isEditPedido]="isEditPedido"
              [puedeConciliar]="puedeConciliar"
              [list]="remisionOrigenList"
              (ocChange)="getData()"
              (buttonAnticipoClicked)="onEditPressed()"
            ></app-orden-carga-edit-form-remisiones-origen>
          </div>
          <div class="col-xs-12 col-sm-6">
            <app-orden-carga-edit-form-remisiones-destino
              [oc]="item"
              [gestorCargaId]="gestorCargaId"
              [isShow]="isShow"
              [isEditPedido]="isEditPedido"
              [puedeConciliar]="puedeConciliar"
              [list]="remisionDestinoList"
              (ocChange)="getData()"
              (buttonAnticipoClicked)="onEditPressed()"
            ></app-orden-carga-edit-form-remisiones-destino>
          </div>
        </div>
      </div>

      <div>
        <div class="section">
          <h2 class="title-colapside" (click)="colapseDivComplementos=!colapseDivComplementos">COMPLEMENTOS Y DESCUENTOS</h2>
        </div>

        <div class="row" [class.colapse-div]="colapseDivComplementos">
          <div class="col-xs-12 col-sm-6">
            <app-orden-carga-edit-form-complementos
              [oc]="item"
              [gestorCargaId]="gestorCargaId"
              [isShow]="isShow"
              [isEditPedido]="isEditPedido"
              [puedeConciliar]="puedeConciliar"
              [list]="complementoList"
              (ocChange)="getData()"
              (buttonAnticipoClicked)="onEditPressed()"
            ></app-orden-carga-edit-form-complementos>
          </div>
          <div class="col-xs-12 col-sm-6">
            <app-orden-carga-edit-form-descuentos
              [oc]="item"
              [gestorCargaId]="gestorCargaId"
              [isShow]="isShow"
              [isEditPedido]="isEditPedido"
              [puedeConciliar]="puedeConciliar"
              [list]="descuentoList"
              (ocChange)="getData()"
              (buttonAnticipoClicked)="onEditPressed()"
            ></app-orden-carga-edit-form-descuentos>
          </div>
        </div>

      </div>

      <div class="resultados-container" style="margin-top: 10px;">
        <div class="section">
          <h2 class="title-colapside" (click)="colapseDivResultado=!colapseDivResultado">TABLA DE RESULTADOS</h2>
        </div>

        <div [class.colapse-div]="colapseDivResultado">
          <app-orden-carga-edit-form-remisiones-resultado
              [oc]="item"
              [gestorCargaId]="gestorCargaId"
              [list]="remisionResultadoList"
              (ocChange)="getData()"
          ></app-orden-carga-edit-form-remisiones-resultado>
        </div>
      </div>

      <div class="resultados-container">
        <div class="section">
          <h2 class="title-colapside" (click)="colapseDivMovimiento=!colapseDivMovimiento">MOVIMIENTOS</h2>
        </div>
        <div [class.colapse-div]="colapseDivMovimiento">
          <app-orden-carga-edit-form-movimientos
              [oc]="item"
              [gestorCargaId]="gestorCargaId"
              [list]="movimientoList"
              (ocChange)="getData()"
          ></app-orden-carga-edit-form-movimientos>
        </div>
      </div>

    </div>

  </app-page-form>
</ng-container>
