<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Cantidad a Transportar"
        controlName="condicion_cantidad"
        [groupName]="groupName"
        [form]="form"
      ></app-number-field>

      <!-- Sección de Condición para Gestor -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-4" style="font-weight: bold;">Condición para Gestor</div>

      <app-flete-form-condicion-afectado
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        afectado="gestor_carga"
        [form]="form"
      ></app-flete-form-condicion-afectado>

      <!-- Sección de Condición para Propietario -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-4" style="font-weight: bold;">Condición para Propietario</div>

      <app-flete-form-condicion-afectado
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        afectado="propietario"
        [form]="form"
      ></app-flete-form-condicion-afectado>

    </div>

  </div>
</div>
