<app-page-form
  class="orden-carga-page"
  module="ACEPTAR"
  submodule="OC"
  [formGroup]="form"
  [modelo]="modelo"
  [oc]="item"
  (backClick)="back($event)"
  (submitEvent)="save(false)"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (aceptarClick)="aceptar()"
  (cancelarClick)="cancelar()"
  [isFormSaved]="isFormSaved"
  [class.page-form-show]="isShow"
  [estado]="estadoOc"
  [isFormSubmitting]="isFormSubmitting"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  [isAnticipoActive]="isToggleAnticiposLiberados"
  [isDataLoaded]="isToggleAnticiposLiberados"
  [hideSaveButton]="true"
>

  <div class="orden-carga-page-content">
    <app-orden-carga-create-form-combinacion
      [form]="form"
      (fleteChange)="flete = $event"
      (camionChange)="camion = $event"
      (semiChange)="semi = $event"
      (combinacionChange)="combinacionList = $event"
      [showSearchOCNuevos]="true"
      (ocChange)="getData()"
    ></app-orden-carga-create-form-combinacion>
    <div class="anticipo-table">
      <app-orden-carga-anticipos-table 
        [oc]="item"
        [fleteId]="fleteId"
        [list]="anticipoList"
        (ocChange)="getData()"
      >
      </app-orden-carga-anticipos-table>
    </div>
    <div class="remisiones-line"><h2>REMISIONES</h2></div>
    <div class="remisiones-container">
      <div class="remisiones-item">
        <app-orden-carga-edit-form-remisiones-origen
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="remisionOrigenList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-remisiones-origen>
      </div>
    
      <div class="remisiones-item">
        <app-orden-carga-edit-form-remisiones-destino
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="remisionDestinoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-remisiones-destino>
      </div>
    </div>

    <!-- <div class="complementos_descuentos-container">
      <div class="complementos_descuentos-item">
        <app-orden-carga-edit-form-complementos
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="complementoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-complementos>
      </div>
      
      <div class="complementos_descuentos-item">
        <app-orden-carga-edit-form-descuentos
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [isShow]="isShow"
          [puedeConciliar]="puedeConciliar"
          [list]="descuentoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-descuentos>
      </div>
    </div>   -->
    
  </div>

