.centro-operativo-page::ng-deep {
  .mat-cell,
  .mat-header-cell {
    max-width: 11%;
  }
  .mat-column-nombre {
    width: 100px; /* Ancho específico para la columna 'name' */
  }
  .mat-column-categoria {
    width: 100px; /* Ancho específico para la columna 'name' */
  }
}

