<app-page-form
  class="orden-carga-page"
  module="CONCILIAR"
  submodule="OC"
  [formGroup]="form"
  [modelo]="modelo"
  [oc]="item"
  (backClick)="back($event)"
  (submitEvent)="submit(false)"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (aceptarClick)="aceptar()"
  (finalizarClick)="finalizar()"
  (conciliarClick)="conciliar()"
  [isFormSaved]="isFormSaved"
  [class.page-form-show]="isShow"
  [isFormSubmitting]="isFormSubmitting"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  [isAnticipoActive]="isToggleAnticiposLiberados"
  [isDataLoaded]="isDataLoaded"
  [estado]="estadoOc"
  [isButtonPressed]="isButtonPressed"
  (cambiarFleteClick)="enableFleteId()"
  [isOc]="isOc"
  [cambiarPedido]="cambiarPedido"
  [hideSaveButton]="isConciliado"
>

  <div class="orden-carga-page-content">

    <app-orden-carga-create-form-combinacion
      [form]="form"
      (fleteChange)="flete = $event"
      (camionChange)="camion = $event"
      (semiChange)="semi = $event"
      (combinacionChange)="combinacionList = $event"
      [showSearchOCfinalizadas]="true"
      (ocChange)="getData()"
      [showSearchPedido]="true"
      [disabled]="readonly"
      (fleteChange)="onFleteChange($event)"
      [oc]="item"
      [list]="comentariosList"
    ></app-orden-carga-create-form-combinacion>

    <app-orden-carga-anticipos-table
      [oc]="item"
      [fleteId]="fleteId"
      [list]="anticipoList"
      (ocChange)="getData()">
    </app-orden-carga-anticipos-table>

    <div style="margin-top: 10px;">
      <div class="section">
        <h2 class="title-colapside" (click)="colapseDivRemision=!colapseDivRemision">REMISIONES</h2>
      </div>

      <div class="remisiones-container" [class.colapse-div]="colapseDivRemision">
        <div class="col-xs-12 col-sm-6">
          <app-orden-carga-edit-form-remisiones-origen
            [oc]="item"
            [gestorCargaId]="gestorCargaId"
            [puedeConciliar]="puedeConciliar"
            [list]="remisionOrigenList"
            (ocChange)="getData()"
          ></app-orden-carga-edit-form-remisiones-origen>
        </div>

        <div class="col-xs-12 col-sm-6">
          <app-orden-carga-edit-form-remisiones-destino
            [oc]="item"
            [gestorCargaId]="gestorCargaId"
            [puedeConciliar]="puedeConciliar"
            [list]="remisionDestinoList"
            (ocChange)="getData()"
          ></app-orden-carga-edit-form-remisiones-destino>
        </div>
      </div>
    </div>

    <div style="margin-top: 10px;">
      <div class="section">
        <h2 class="title-colapside" (click)="colapseDivDescuento=!colapseDivDescuento">
          Complementos y Descuentos
        </h2>
      </div>

      <div class="row complementos_descuentos-container" [class.colapse-div]="colapseDivDescuento">
        <div class="col-xs-12 col-sm-6">
          <app-orden-carga-edit-form-complementos
            [oc]="item"
            [gestorCargaId]="gestorCargaId"

            [puedeConciliar]="puedeConciliar"
            [list]="complementoList"
            (ocChange)="getData()"
          ></app-orden-carga-edit-form-complementos>
        </div>
        <div class="col-xs-12 col-sm-6">
          <app-orden-carga-edit-form-descuentos
            [oc]="item"
            [gestorCargaId]="gestorCargaId"
            [puedeConciliar]="puedeConciliar"
            [list]="descuentoList"
            (ocChange)="getData()"
          ></app-orden-carga-edit-form-descuentos>
        </div>
      </div>
    </div>

    <div>
      <div class="resultados-line">
        <h2 class="title-colapside" (click)="colapseDivResultado=!colapseDivResultado">
          TABLA DE RESULTADOS
        </h2>
      </div>

      <div [class.colapse-div]="colapseDivResultado">
        <app-orden-carga-edit-form-remisiones-resultado
          [class.colapse-div]="colapseDivResultado"
          [oc]="item"
          [gestorCargaId]="gestorCargaId"
          [list]="remisionResultadoList"
        ></app-orden-carga-edit-form-remisiones-resultado>
      </div>
    </div>

    <div>
      <div class="resultados-line">
        <h2 class="title-colapside" (click)="colapseDivMovimiento=!colapseDivMovimiento">
          MOVIMIENTOS
        </h2>
      </div>

      <div [class.colapse-div]="colapseDivMovimiento">
        <app-orden-carga-edit-form-movimientos
          [class.colapse-div]="colapseDivMovimiento"
          [gestorCargaId]="gestorCargaId"
          [list]="movimientoList"
          (ocChange)="getData()"
        ></app-orden-carga-edit-form-movimientos>
      </div>
    </div>

    <button
      class="historial-button"
      [disabled]="!item?.flete_id"
      mat-button (click)="openDialog()">
      Historial de Estados
    </button>

  </div>
</app-page-form>



