/* estilos-componente.scss o estilos-componente.css */

.custom-search-input .mat-form-field {
    width: 500px; /* Ajusta el ancho según tus necesidades */
  }
  
  .custom-search-input .mat-input-element {
    height: 40px; /* Ajusta la altura según tus necesidades */
    padding: 8px; /* Ajusta el padding según tus necesidades */
  }
  