.d-flex {
  display: flex; /* Hace que los hijos se alineen en fila (uno al lado del otro) */
  align-items: center; /* Alinea verticalmente el label y el campo */
}

.form-label {
  white-space: nowrap; 
  margin-right: 8px; 
  margin-bottom: 8px;
}

.flex-grow-1 {
  flex-grow: 1; /* Permite que el componente de búsqueda ocupe el resto del espacio disponible */
}

small-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

