.liquidacion-page-content {
  padding-top: 1rem;
}

.titulo {
  color: #F25A38; /* Ejemplo de color para el módulo */
}

.titulo-azul {
  color: #3B9EFF; /* Ejemplo de color para el submódulo */
}

.liquidacion-page-content::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}

::ng-deep {
  .mat-dialog-container {
    padding-inline: 24px;
  }
}

.movimientos-container::ng-deep {
  .mat-column-delete {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-column-oc {
    right: 61px !important;
  }
  .mat-column-editar {
    width: 61px !important;
    min-width: 61px !important;
    box-sizing: border-box;
  }
}

.button-container {
  margin-left: 1rem;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  justify-content: start;
}

.has-movimiento {
  position: relative;
  overflow: visible;
  padding: 1rem 0px;
  margin-bottom: 0;
}

.finalizado {
  top: 0px;
  padding: 1rem 0px;
}

