
<div>

  <h1 mat-dialog-title>
    Movimientos Pendientes a Liquidar
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>

    <ng-container *ngIf="isNew; then new; else edit"> 
    </ng-container>

    <ng-template #new>

      <app-liquidacion-form
        [data]="contraparteInfo"
        (onCreated)="createdLiquidacion($event)">
      </app-liquidacion-form>

    </ng-template>

    <ng-template #edit>

      <app-liquidacion-edit-form
        [id]="liquidacionId"
        [isEdit]="!isNew"
        [isDialog]="!isNew">
      </app-liquidacion-edit-form>

    </ng-template>

    <div mat-dialog-actions>
      <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    </div>

</div>

<ng-container *ngIf="false">

  <app-liquidacion-edit-form
    [id]="liquidacionId"
    [isEdit]="!!liquidacionId">
  </app-liquidacion-edit-form>

</ng-container>

<ng-container *ngIf="false">

  <div>

    <h1 mat-dialog-title>
      Movimientos Pendientes a Liquidar
      <button mat-button type="button" mat-dialog-close class="close">
        <mat-icon>close</mat-icon>
      </button>
    </h1>
    <div mat-dialog-content>

      <div class="liquidacion-page-content">

        <app-estado-cuenta-detalle
          [etapa]="etapa"
          [estadoCuenta]="estadoCuenta"
          [showVistaConsolidada]="false"
          [showEstado]="false"
        ></app-estado-cuenta-detalle>

        <app-saldo
          [credito]="credito"
          [debito]="debito"
          title="Saldo | Total de la Selección"
        ></app-saldo>

        <div class="row page-form-row">
          <div class="col-xs-12">
            <app-liquidacion-form-movimientos
              [list]="list"
              (movimientosInDBChange)="getList()"
              (selectedMovimientosChange)="movimientosSelected = $event"
            ></app-liquidacion-form-movimientos>
          </div>
        </div>
      </div>

    </div>

    <div mat-dialog-actions>
      <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
      <button
        mat-raised-button
        type="button"
        (click)="confirm()"
        cdkFocusInitial
        color="primary"
        id="submit-button"
      >
        Aceptar
      </button>
    </div>

  </div>

</ng-container>
