
.titulo {
  color: #F25A38; /* Ejemplo de color para el módulo */
}

.titulo-azul {
  color: #3B9EFF; /* Ejemplo de color para el submódulo */
}

::ng-deep {
  .mat-dialog-container {
    padding-inline: 24px;
    position: relative;
  }
}

.movimientos-container::ng-deep {
  .mat-column-delete {
    padding-left: 0;
    padding-right: 0;
  }
  .mat-column-oc {
    right: 61px !important;
  }
  .mat-column-editar {
    width: 61px !important;
    min-width: 61px !important;
    box-sizing: border-box;
  }
}

.finalizado {
  top: 0px;
}
