<h1 mat-dialog-title style="margin: 0;">

  <ng-container *ngIf="isNew && !ordenPagoValue">
    <span class="titulo">Movimientos <span class="titulo-azul">Pendientes</span> a Liquidar</span>
  </ng-container>

  <ng-container *ngIf="isNew && ordenPagoValue">
    <span class="titulo-azul">Orden de Pago</span>
  </ng-container>

  <ng-container *ngIf="!isNew && !ordenPagoValue">
    <span class="titulo-azul">{{liquidacion?.estado}}</span><span class="titulo"> Movimientos  Liquidados</span>
  </ng-container>

  <ng-container *ngIf="!isNew && ordenPagoValue">
    <span class="titulo-azul">Orden de Pago</span>
  </ng-container>

  <button mat-button type="button" mat-dialog-close class="close">
    <mat-icon>close</mat-icon>
  </button>

</h1>

<div mat-dialog-content>

    <ng-container *ngIf="isNew; then new; else edit">
    </ng-container>

    <ng-template #new>
      <app-liquidacion-form-fields
          #child
          *ngIf="estadoCuenta"
          [esEditableLinea]="esEditableLinea"
          [etapa]="etapa"
          [moneda]="moneda"
          [estadoCuenta]="estadoCuenta"
          [ordenPagoValue]="ordenPagoValue"
          [list]="list"
          [isDialog]="true"
          (createdLiquidacionEvt)="onCreateLiquidacion($event)"
        >
      </app-liquidacion-form-fields>
    </ng-template>

    <ng-template #edit>
      <div *ngIf="liquidacion" class="page-content-liquidacion" >
        <app-liquidacion-edit-fields
            #childEdit
            [isEdit]="isEdit"
            [liquidacion]="liquidacion"
            [etapa]="etapa"
            [estadoCuenta]="estadoCuenta"
            [movimientos]="list"
            (actualizarLiquidacion)="loadLiquidacion()"
            (actualizarEstado)="cerrarLiquidacion()"
            (actualizarMovimientos)="refreshEstadoCuentaYMovimiento(liquidacion!)">
        </app-liquidacion-edit-fields>
      </div>
    </ng-template>

  </div>

<div mat-dialog-actions>
  <button mat-stroked-button class="botones" type="button" mat-dialog-close>Cerrar</button>
  <button *ngIf="isNew" cdkFocusInitial
      mat-flat-button color="primary" type="button"
      class="botones"
      (click)="confirm()"  >
    Guardar Liquidación
  </button>
  <button *ngIf="!esFinalizado && !isNew && isEdit && liquidacion?.es_orden_pago"
      mat-flat-button color="primary" type="button"
      class="botones" cdkFocusInitial
      (click)="actualizar()"  >
    Guardar
  </button>
</div>
