.table-container {
  max-height: calc(100vh - 235px);
  overflow: auto;
}

/* Estilos para la tabla */
.table-container {
  border: 1px solid #00bcd4;
  border-radius: 4px; /* Bordes redondeados */
  overflow: auto; /* Asegura que el borde no se vea cortado */
}

.table-container {
  overflow-y: auto; /* Habilita el scroll vertical si el contenido excede la altura máxima */
}

/* Estilos para el scrollbar */
.table-container::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
}

/* Estilos para el thumb del scrollbar */
.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5); /* Gris medio transparente */
  border-radius: 4px; /* Bordes redondeados para el thumb */
}

/* Estilos para reducir el tamaño del cuadro de selección del mat-paginator */
.mat-paginator{
  font-size: 12px; /* Tamaño de fuente más pequeño */
  height: 28px; /* Altura más pequeña */
  padding: 4px 8px; /* Ajustar el padding según sea necesario */
  background-color: #f0f0f0; /* Color de fondo para resaltar */
  color: black; /* Color de texto */
  font-family: Roboto, sans-serif;
  
}
