<div [formGroup]="form">

  <div formGroupName="chofer">

      <div class="row">

          <app-tipo-documento-field
            class="input-form-full col-xs-12 col-sm-6 col-md-4"
            title="Tipo Doc."
            groupName="chofer"
            controlName="tipo_documento_id"
            [form]="form"
          ></app-tipo-documento-field>

          <app-pais-field
            class="input-form-full col-xs-12 col-sm-6 col-md-4"
            title="País Emisor del Documento"
            groupName="chofer"
            controlName="pais_emisor_documento_id"
            [form]="form"
          ></app-pais-field>

          <app-input-field
            class="input-form-full col-xs-12 col-sm-6 col-md-4"
            title="Número de Documento"
            groupName="chofer"
            controlName="numero_documento"
            [form]="form"
          ></app-input-field>

      </div>

      <!-- Contenedor para las fotos -->
      <div class="row">

        <app-file-field-input
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          title="Foto del documento - frontal"
          groupName="chofer"
          controlName="foto_documento_frente_chofer"
          [field]="fotoDocumentoFrente"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoFrenteChange.emit($event)"
        ></app-file-field-input>

        <app-file-field-input
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          title="Foto del documento - reverso"
          groupName="chofer"
          controlName="foto_documento_reverso_chofer"
          [field]="fotoDocumentoReverso"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoDocumentoReversoChange.emit($event)"
        ></app-file-field-input>

    </div>

  </div>
</div>
