<ng-container *ngIf="form">
  <ng-container *ngIf="groupName">
    <div *ngIf="form" [formGroup]="form">
      <div class="{{ className }}" [formGroupName]="groupName">
        <div *ngIf="isShow && field">
          <strong>{{ title }}</strong>
        </div>
        <div class="file-field-container">
          <div class="file-input-wrapper">
            <label>Imagen Documento</label>
            <button
              type="button"
              class="botones"
              [style.backgroundImage]="fileURL ? 'url(' + fileURL + ')' : ''"
              (click)="fileInput.click()"
              [disabled]="disabled"
            >
              <span *ngIf="!fileURL">{{ title }}</span>
            </button>
            <input
              id="file-input"
              #fileInput
              type="file"
              accept="images/*"
              [disabled]="disabled"
              (change)="fieldChange($event)"
              style="display: none"
              class="custom-input-hidden"
            />
          </div>
        </div>
        <mat-error *ngIf="fieldControl.hasError('required')">
          El archivo es <strong>requerido</strong>
        </mat-error>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!groupName">
    <div class="{{ className }}" [formGroup]="form">
      <div *ngIf="isShow && field">
        <strong>{{ title }}</strong>
      </div>
      <div class="file-field-container">
        <div class="file-input-wrapper">
          <label>Imagen Documento</label>
          <button
            type="button"
            class="custom-input-button"
            [style.backgroundImage]="fileURL ? 'url(' + fileURL + ')' : ''"
            (click)="fileInput.click()"
            [disabled]="disabled"
          >
            <span *ngIf="!fileURL">{{ title }}</span>
          </button>
          <input
            id="file-input"
            #fileInput
            type="file"
            accept="images/*"
            [disabled]="disabled"
            (change)="fieldChange($event)"
            style="display: none"
            class="custom-input-hidden"
          />
        </div>
      </div>
      <mat-error *ngIf="fieldControl.hasError('required')">
        El archivo es <strong>requerido</strong>
      </mat-error>
    </div>
  </ng-container>

</ng-container>
