.table-container {
  margin-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
}

.table-title {
  margin-bottom: 8px;
  margin-left: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  padding-bottom: 8px;
}
