.page-form-show::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}
// .page-container {
//   margin: 20px;
//   font-family: Roboto, sans-serif;
// }

// .section {
//   padding: 15px 0;
//   margin-bottom: 20px;
//   background-color: #f9f9f9;
// }

// .section h2 {
//   margin: 0 0 15px 0;
//   font-size: 18px;
//   color: #007acc;  /* Celeste más oscuro */
//   border-bottom: 2px solid #007acc;  /* Celeste más oscuro */
//   padding-bottom: 10px;
//   width: 100%;
// }
// input {
//   width: 200px; /* Ancho general para todos los input */
//   padding: 8px; /* Padding interior para todos los input */
//   font-size: 14px; /* Tamaño de fuente para todos los input */
//   border: 1px solid #ccc; /* Borde del input */
//   border-radius: 4px; /* Bordes redondeados para el input */
//   box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  
//   /* Color de fondo para verificar el cambio */
//   background-color: #f0f0f0;
// }
