.page-form-show::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page-container {
  margin-bottom: 0;
  padding-bottom: 0px;
  overflow: hidden; /* Puedes usar overflow hidden para asegurarte de que ningún contenido desborde y cause espacio adicional */
  background-color: white;
}

.section h2 {
  margin: 0 0 15px 0;
  font-size: 13px;
  font-weight: 530;
  line-height: 16.41px;
  color: #007acc;
  border-bottom: 1px solid #007acc;
  width: 100%;
}
