.page-form-show::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
}

.page-container {
  margin-bottom: 0;
  padding-bottom: 0px;
  overflow: hidden; /* Puedes usar overflow hidden para asegurarte de que ningún contenido desborde y cause espacio adicional */
  background-color: white;
}

.section {
  text-align: left; /* Alinea el texto y contenido a la izquierda */
  margin-bottom: 20px; /* Espacio inferior entre secciones (ajústalo según necesites) */
}

.geolocation-content {
  margin-right: 0;
}


.section h2 {
  margin: 0 0 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 530;
  line-height: 16.41px;
  color: #007acc;  /* Celeste más oscuro */
  border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
  width: 82%;
}

.section h2.contactos-heading {
  margin-top: 182px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 530;
  line-height: 16.41px;
  color: #007acc; /* Celeste más oscuro */
  border-bottom: 1px solid #007acc; /* Línea inferior en celeste más oscuro */
  width: 72%;
  z-index: 1;
}

.contactos-section {
  margin-top: -12px; /* Ajusta este valor según sea necesario para subir más la sección */
}

.edicion-mode {
  // Estilos para modo de Edición
  background-color: #2196f3; // Ejemplo de color de fondo
  color: blue; // Ejemplo de color de texto
}

.ver-mode {
  // Estilos para modo de Ver
  background-color: #4caf50; // Ejemplo de color de fondo
  color: white; // Ejemplo de color de texto
}

.nuevo-mode {
  // Estilos para modo Nuevo
  background-color: #ff9800; // Ejemplo de color de fondo
  color: white; // Ejemplo de color de texto
}
