<app-page-form
  class="remitente-page"
  module="Entidades"
  submodule="Remitente"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
  <mat-accordion multi>
    <mat-expansion-panel formGroupName="info" [expanded]="isInfoTouched">
      <mat-expansion-panel-header>
        <mat-panel-title> Información principal </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-entities-info
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [logo]="logo"
        [user]="user"
        [modelo]="modelo"
      ></app-page-form-entities-info>
    </mat-expansion-panel>

    <mat-expansion-panel
      *ngIf="user?.gestor_carga_id && (modelo | puede: a.MODIFICAR_CONTACTOS)"
      [expanded]="isContactoTouched"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Libreta de Contactos </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-contactos
        [form]="form"
        [isShow]="isShow"
        [contactoList]="contactoList"
      ></app-page-form-contactos>
    </mat-expansion-panel>

    <mat-expansion-panel
      formGroupName="geo"
      [expanded]="isGeoTouched"
      (opened)="isPanelOpen = true"
      (closed)="isPanelOpen = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Geolocalización </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-geo
        [ciudadSelected]="ciudadSelected"
        [form]="form"
        [isShow]="isShow"
        [isPanelOpen]="isPanelOpen"
      ></app-page-form-geo>
    </mat-expansion-panel>
  </mat-accordion>
</app-page-form>
