<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-propietario-readonly-by-id-dialog-field
          [groupName]="groupName"
          [form]="form"
          [semiId]="semi?.id"
          [propietarioId]="propietarioId"
        ></app-propietario-readonly-by-id-dialog-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Placa"
          [groupName]="groupName"
          controlName="placa"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Número de Chasís"
          [groupName]="groupName"
          controlName="numero_chasis"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6">
        <app-estado-field [estado]="estado"></app-estado-field>
      </div>
    </div>

    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6">
        <app-file-field
          title="Foto del Semi-remolque"
          [groupName]="groupName"
          controlName="foto"
          [field]="foto"
          [form]="form"
          [isEdit]="isEdit"
          [isShow]="isShow"
          (fileChange)="fotoChange.emit($event)"
        ></app-file-field>
      </div>
    </div>
  </div>
</div>
