<app-page-form
  class="orden-carga-page"
  module="Nuevo"
  submodule="Orden de Carga"
  [formGroup]="form"
  [modelo]="modelo"
  (backClick)="back($event)"
  (submitEvent)="save(false)"
>
  <div class="orden-carga-page-content">
    <app-orden-carga-create-form-combinacion
      [form]="form"
      (fleteChange)="flete = $event"
      (camionChange)="camion = $event"
    ></app-orden-carga-create-form-combinacion>
    <app-orden-carga-create-form-info
      [form]="form"
      [flete]="flete"
      (netoChange)="neto = $event"
    ></app-orden-carga-create-form-info>
  </div>
</app-page-form>
