.orden-carga-page-content {
  padding-top: 1rem;
}
.disabled {
  pointer-events: none; /* Disable all interactions */
  opacity: 0.5; /* Make it appear disabled */
}

.reports{
  margin-top: 150px;
}

.complementos_descuentos-line h2 {
  margin: 20px 0 30px 0; /* Incrementa el margen inferior para bajar más la línea */
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 530;
  line-height: 16.41px;
  color: #007acc;  /* Celeste más oscuro */
  border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
  width: 90%;
}

.complementos_descuentos-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}

.complementos_descuentos-item {
  flex: 1;
  max-width: 49%; /* Ajuste de ancho para reducir el espacio entre los contenedores */
  margin-right: -50%; /* Reducción del margen derecho */
}

.complementos_descuentos-item:last-child {
  margin-right: 65px;
}

.complementos_descuentos-item:first-child {
  margin-left: -15px; /* Sin margen derecho para el último elemento */
}

.resultados-line h2 {

  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 530;
  line-height: 16.41px;
  color: #007acc;  /* Celeste más oscuro */
  border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resultados-container {
  margin-top: -30px; /* Sube más el contenedor */
  padding-bottom: 20px; 
}

.anticipo-table {
  margin-bottom: 50px; /* Aumenta el valor según el espaciado que necesites */
}
