<app-page-form
  class="orden-carga-page"
  module="NUEVA"
  submodule="ORDEN DE CARGA (directa)"
  [formGroup]="form"
  [modelo]="modelo"
  (backClick)="back($event)"
  (submitEvent)="save(false)"
>
  <div class="orden-carga-page-content">
    <app-orden-carga-create-form-combinacion
      [form]="form"
      (fleteChange)="flete = $event"
      (camionChange)="camion = $event"
      (semiChange)="semi = $event"
      appAutofocus="true"
    ></app-orden-carga-create-form-combinacion>

    <app-orden-carga-anticipos-table>
    </app-orden-carga-anticipos-table>
  </div>
</app-page-form>
