<form [formGroup]="form">
  <form [formGroup]="form">

    <h3 mat-dialog-title class="page-title">
      <span class="module">{{ actionText }}</span>
      <span class="submodule"> DESCUENTO</span>
    </h3>

    <div class="horizontal-line"></div>

    <div mat-dialog-content>

      <div class="row">

        <app-tipo-concepto-descuento-field
          class="input-form-full col-xs-12 col-sm-4"
          controlName="concepto"
          [form]="form"
          [value]="valueConcepto"
        ></app-tipo-concepto-descuento-field>

        <app-input-field
          title="Detalle"
          class="input-form-full col-xs-12 col-sm-8"
          controlName="detalle"
          [form]="form"
        ></app-input-field>

        <app-number-field
          class="input-form-full col-xs-12 col-sm-4"
          title="Monto a Cobrar al Titular"
          controlName="propietario_monto"
          [form]="form"
        ></app-number-field>

        <app-moneda-field
          class="input-form-full col-xs-12 col-sm-4"
          title="Moneda del Titular"
          controlName="propietario_moneda"
          (valueChange)="$event && onSelectMonedaPropietario($event)"
          [form]="form"
        ></app-moneda-field>

        <div class="toggle">
          <mat-slide-toggle formControlName="habilitar_pago_proveedor">
            {{ pagoAProveedor ? "Pagar al Proveedor" : "No pagar al Proveedor" }}
          </mat-slide-toggle>
        </div>

      </div>


      <hr [hidden]="!pagoAProveedor"  class="horizontal-line-final">

      <div class="row" [hidden]="!pagoAProveedor">

        <app-number-field
          [hidden]="!pagoAProveedor"
          class="input-form-full col-xs-12 col-sm-5"
          title="Monto a Pagar al Proveedor"
          controlName="proveedor_monto"
          [form]="form"
        ></app-number-field>

        <app-moneda-field
          [hidden]="!pagoAProveedor"
          class="input-form-full col-xs-12 col-sm-5"
          title="Moneda del Proveedor"
          controlName="proveedor_moneda"
          (valueChange)="$event && onSelectMonedaProveedor($event)"
          [form]="form"
        ></app-moneda-field>

        <app-proveedor-field
          [hidden]="!pagoAProveedor"
          class="input-form-full col-xs-12 col-sm-4"
          title="Proveedor"
          controlName="proveedor"
          [form]="form"
          [value]="valueProveedor"
        ></app-proveedor-field>

      </div>

      <hr class="horizontal-line-final">

  </div>

  <div mat-dialog-actions class="buttons-actions">
    <button
      mat-stroked-button mat-dialog-close
      class="botones" type="button"
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      mat-flat-button cdkFocusInitial
      class="botones" color="primary"
      type="button"
      (click)="submit()"
      id="submit-button">
      <mat-icon>save</mat-icon>
      GUARDAR
    </button>
  </div>
</form>
