<div class="row">
  <div class="col-xs-12" [hidden]="!(list && list.length)">
    <div class="table-container">
      <app-table
        [hideEdit]="true"
        [hideDelete]="true"
        [mostrarBotonEliminar]="!isShow"
        [hideShow]="!isShow"
        [columns]="columns"
        [modelo]="m.INSTRUMENTO"
        [gestorCuentaId]="gestorCargaId"
        [data]="list"
        [isShow]="
            !(
              (m.INSTRUMENTO | puede: a.EDITAR:gestorCargaId) ||
              (m.INSTRUMENTO | puede: a.ELIMINAR:gestorCargaId) ||
              (m.INSTRUMENTO | puede: a.VER:gestorCargaId)
            )
          "
        (showClick)="show($event)"
      ></app-table>
    </div>
  </div>
</div>
