<div *ngIf="gestorCargaId && oc">
  <div class="row page-form-row">
    <div class="col-xs-12 table-container" [hidden]="!(list && list.length)">
      <app-table
        [columns]="columns"
        [modelo]="modelo"
        [gestorCuentaId]="gestorCargaId"
        [data]="list"
        [hideShow]="true"
        [isShow]="
          isShow ||
          (oc.is_finalizado && !puedeConciliar) ||
          !(
            (modelo | puede: a.EDITAR:gestorCargaId) ||
            (modelo | puede: a.ELIMINAR:gestorCargaId)
          )
        "
        (editClick)="edit($event)"
        (deleteClick)="remove($event)"
      ></app-table>
    </div>
    <div
      class="col-xs-12"
      [hidden]="
        isShow ||
        (oc.is_finalizado && !puedeConciliar) ||
        !(modelo | puede: a.CREAR:gestorCargaId)
      "
    >
      <button
        mat-raised-button
        class="outline round"
        color="primary"
        type="button"
        (click)="create()"
        id="create-button"
      >
        Nuevo Descuento
      </button>
    </div>
  </div>
</div>
