<div class="row page-form-row">
  <div class="col-xs-12 header-row">
    <h4>DESCUENTOS</h4>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
      [disabled]="isShow || !oc?.flete_id || oc?.estado === 'Cancelado'
       || !(modelo | puede: a.CREAR:gestorCargaId)
       || oc?.estado === 'Conciliado' || isEditPedido"
    ><mat-icon
      class="small-icon"
      [ngClass]="{ 'disabled': isShow || !oc?.flete_id || oc?.estado === 'Cancelado'
      || !(modelo | puede: a.CREAR:gestorCargaId)} ||
      oc?.estado === 'Conciliado' || isEditPedido">
      add</mat-icon>
      DESCUENTO
    </button>
  </div>
</div>

<div class="table-container small-table">
  <app-table
    [columns]="columns"
    [modelo]="modelo"
    [gestorCuentaId]="gestorCargaId"
    [data]="list"
    (showClick)="show($event)"
    (editClick)="edit($event)"
    (deleteClick)="remove($event)"
    [hideShow]="oc?.estado === 'Conciliado'"
    [isShow]="oc?.estado === 'Conciliado'"
  ></app-table>
</div>
