<app-page-form
  class="banco-page"
  module="Caja & Banco"
  submodule="Banco"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [gestorCargaId]="-1"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
  <div class="banco-page-content">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Número de cuenta"
          controlName="numero_cuenta"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Titular"
          controlName="titular"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Banco"
          controlName="nombre"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-moneda-field [form]="form"></app-moneda-field>
      </div>
    </div>
  </div>
</app-page-form>
