<app-page-form
  class="banco-page"
  module="Caja & Banco"
  submodule="Banco"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
  <div class="banco-page-content" (keydown.enter)="onEnter($event)"><!-- Colocar siempre el onEnter -->

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Banco"
        controlName="nombre"
        [form]="form"
        [requerido]="true"
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Número de cuenta"
        controlName="numero_cuenta"
        [form]="form"
        [requerido]="true"
      ></app-input-field>

      <app-moneda-field
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          [title]="'Moneda'"
          [requerido]="true"
          controlName="moneda_id"
          [form]="form">
      </app-moneda-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Titular"
        controlName="titular"
        [form]="form"
        [requerido]="true"
      ></app-input-field>

    </div>

    <ng-container *ngIf="false">
      <div class="row">

        <app-number-field
          class="input-form-full col-xs-12 col-sm-2"
          title="Tot. Creditos"
          controlName="credito"
          [form]="form"
          [readonly]="true"
        ></app-number-field>

        <app-number-field
          class="input-form-full col-xs-12 col-sm-2"
          title="Tot. Debitos"
          controlName="debito"
          [form]="form"
          [readonly]="true"
        ></app-number-field>

        <app-number-field
          class="input-form-full col-xs-12 col-sm-2"
          title="Tot. Pendientes"
          controlName="saldo_provisional"
          [form]="form"
          [readonly]="true"
        ></app-number-field>

        <div class="input-form-full col-xs-12 col-sm-2">
          <mat-label>Saldo Confirmado</mat-label>
          <mat-form-field floatLabel="always" appearance="outline">
            <input
              matInput
              [value]="item?.saldo_confirmado"
              appInputThousandsSeparator
              disabled
            />
          </mat-form-field>
        </div>

        <div class="input-form-full col-xs-12 col-sm-2">
          <mat-label>Saldo Provisional</mat-label>
          <mat-form-field floatLabel="always" appearance="outline">
            <input
              matInput
              [value]="item?.saldo_provisional"
              appInputThousandsSeparator
              disabled
            />
          </mat-form-field>
        </div>

      </div>
    </ng-container>

  </div>
</app-page-form>
