@import '~@angular/material/theming';
@import "~src/assets/styles/colors.scss";

.loading-container {
  position: absolute;
  left: calc(50% - 24px);
  top: 10px;

  .mat-spinner {
    width: 40px !important;
    height: 40px !important;
    z-index: 1;
  }
}

::ng-deep {
  .http-error-snackbar {
    background-color: $error-color;

    .mat-button {
      color: white;
    }
  }

  .loading-container {
    .mat-spinner {
      svg {
        width: 40px !important;
        height: 40px !important;
      }
    }

    .mat-progress-spinner circle,
    .mat-spinner circle {
      stroke: #31977f;
    }
  }
}
