
<ng-container *ngIf="form">
  <ng-container *ngIf="fetchFunction else inputTemplate">

    <app-dialog-field
      [title]="title"
      [columns]="columns"
      [list]="[]"
      [calllbackremote]="true"
      [itemEvents]="semiEvents"
      [fetchDataFunction]="fetchFunction"
      [groupName]="groupName"
      [controlName]="controlName"
      [inputValuePropName]="inputValuePropName"
      [dialogRefFunctionCrear]="dialogRefFunctionCrear.bind(this)"
      [dialogRefFunctionVer]="dialogRefFunctionVer.bind(this)"
      [form]="form"
      [showButtonVer]="true"
      (valueChange)="valueChange.emit($event)"
    ></app-dialog-field>

  </ng-container>
  <ng-template #inputTemplate>
    <app-input-field
      hidden
      [title]="title"
      [readonly]="true"
      [groupName]="groupName"
      [controlName]="controlName"
      [form]="form"
    ></app-input-field>

  </ng-template>
</ng-container>
