<div *ngIf="form" [formGroup]="form" class="field-content">
  <ng-container *ngIf="groupName">
    <mat-form-field [formGroupName]="groupName">
      <mat-label>{{ title }}</mat-label>
      <input
        matInput
        [value]="rowValue"
        [disabled]="readonly"
        *ngIf="readonly"
      />
      <input
        matInput
        [formControlName]="controlName"
        [appAutofocus]="autofocus"
        [hidden]="readonly"
        [type]="showPassword ? 'text' : 'password'"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showPassword = !showPassword"
      >
        <mat-icon>
          {{ showPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('mustMatch')">
        Las contraseñas no <strong>coinciden</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('minlength')">
        La contraseña <strong>debe contener al menos 6 caracteres</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <mat-form-field>
      <mat-label>{{ title }}</mat-label>
      <input
        matInput
        [value]="rowValue"
        [disabled]="readonly"
        *ngIf="readonly"
      />
      <input
        matInput
        type="password"
        [formControlName]="controlName"
        [appAutofocus]="autofocus"
        [hidden]="readonly"
        [type]="showPassword ? 'text' : 'password'"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="showPassword = !showPassword"
      >
        <mat-icon>
          {{ showPassword ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')">
        La contraseña es <strong>requerida</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('mustMatch')">
        Las contraseñas no <strong>coinciden</strong>
      </mat-error>
      <mat-error *ngIf="control.hasError('minlength')">
        La contraseña <strong>debe contener al menos 6 caracteres</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
</div>
