<form [formGroup]="form" class="small-form">

  <span mat-dialog-title>
    <span class="dialog-title"> REGISTRO DE EVALUACIONES</span>
  </span>

  <div class="section" >
    <h2> </h2>
  </div>

  <div class="row">

    <div class="input-form-full col-xs-12 col-sm-6 col-md-10">
      <label class="form-label mr-2">Tipo de Incidente</label>
      <mat-form-field appearance="outline">
        <input matInput value="Versión" readonly />
      </mat-form-field>
    </div>

    <app-input-field
      class="input-form-full col-xs-12 col-sm-6 col-md-10"
      title="Comentarios"
      controlName="comentarios"
      [form]="form"
    ></app-input-field>

  </div>

  <hr class="horizontal-line">

  <div mat-dialog-actions class="buttons-actions">
    <button
      mat-raised-button
      type="button"
      class="close-button"
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      id="submit-button"
      class="save-button"
      (click)="submit()"
    >
      <mat-icon>save</mat-icon> GUARDAR
    </button>
  </div>

</form>
