<div *ngIf="form" [formGroup]="form">

  <div [formGroupName]="groupName">

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Límite Órdenes de Carga activas"
        [groupName]="groupName"
        controlName="limite_cantidad_oc_activas"
        hint=""
        [form]="form"
        [patternMessageError]="patternMessageError"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Monto Límite de anticipos a retirar"
        [groupName]="groupName"
        controlName="limite_monto_anticipos"
        [form]="form"
      ></app-number-field>

    </div>

    <ng-container *ngIf="camion">

      <div class="row" >

        <!-- Colocamos ambos componentes dentro de la misma fila para que estén uno al lado del otro -->
        <app-key-value
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          key="Monto de anticipos retirados"
          [value]="
            camion.total_anticipos_retirados_en_estado_pendiente_o_en_proceso
              | numberFormat
          "
        ></app-key-value>

        <app-key-value
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          key="Monto de anticipos disponibles"
          [value]="camion.monto_anticipo_disponible | numberFormat"
        ></app-key-value>

      </div>

    </ng-container>
  </div>
</div>
