<div *ngIf="form" [formGroup]="form">

  <div [formGroupName]="groupName">

    <div class="row">

      <app-number-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-3'"
        title="Límite Órdenes de Carga activas"
        [groupName]="groupName"
        controlName="limite_cantidad_oc_activas"
        hint=""
        [form]="form"
        [patternMessageError]="patternMessageError"
      ></app-number-field>

      <app-number-field
        [ngClass]="esDialog ? 'input-form-full col-xs-12 col-sm-6 col-md-3' : 'input-form-full col-xs-12 col-sm-6 col-md-3'"
        title="Monto Límite de anticipos a retirar"
        [groupName]="groupName"
        controlName="limite_monto_anticipos"
        [form]="form"
      ></app-number-field>

      <div class="col-xs-12 col-sm-6 col-md-2"
       *ngIf="camion?.limite_monto_anticipos">
        <span class="proveedor-label">Moneda</span>
        <span class="input-like">{{ monedaSimbolo }}</span>
      </div>
    </div>

    
    <ng-container *ngIf="camion">

      <div class="row" >
        <app-key-value
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          key="Monto de anticipos retirados"
          [value]="
            camion.total_anticipos_retirados_en_estado_pendiente_o_en_proceso
          "
        ></app-key-value>

        <app-key-value
          class="input-form-full col-xs-12 col-sm-6 col-md-4"
          key="Monto de anticipos disponibles"
          [value]="camion.monto_anticipo_disponible | numberFormat"
        ></app-key-value>

      </div>

    </ng-container>
  </div>
</div>
