<div *ngIf="form" [formGroup]="form">
  <ng-container *ngIf="groupName">
    <mat-form-field [formGroupName]="groupName">
      <mat-label>{{ title }}</mat-label>
      <mat-select [formControlName]="controlName" [compareWith]="compareWith">
        <ng-container *ngFor="let o of list$ | async">
          <mat-option [value]="o">{{o.descripcion}}</mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="control.hasError('required')">
        El tipo de concepto es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
  <ng-container *ngIf="!groupName">
    <mat-form-field>
      <mat-label>{{ title }}</mat-label>
      <mat-select [formControlName]="controlName" [compareWith]="compareWith">
        <ng-container *ngFor="let o of list$ | async">
          <mat-option [value]="o">{{o.descripcion}}</mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="control.hasError('required')">
        El tipo de concepto es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </ng-container>
</div>
