<div *ngIf="formGroup" [formGroup]="formGroup">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <!-- Columna para Texto Legal -->
      <div class="col-xs-12 col-sm-6 d-flex align-items-center">
        <label class="form-label mr-2">Texto Legal de Órdenes de Carga</label>
        <mat-form-field class="col">
          <mat-label>Texto Legal de Órdenes de Carga</mat-label>
          <textarea
            matInput
            formControlName="emision_orden_texto_legal"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
          <mat-error
            *ngIf="
              group.controls['emision_orden_texto_legal'].hasError('required')
            "
          >
            El texto es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Columna para Detalle - Comentarios -->
      <div class="col-xs-12 col-sm-6 d-flex align-items-center">
        <label class="form-label mr-2">Detalle - Comentarios</label>
        <mat-form-field class="col">
          <mat-label>Detalle - Comentarios</mat-label>
          <textarea
            matInput
            formControlName="emision_orden_detalle"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
          <mat-error
            *ngIf="group.controls['emision_orden_detalle'].hasError('required')"
          >
            El detalle es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- Fila para Destinatarios -->
    <div class="row page-form-row destinatario">
      <div class="col-xs-12 col-sm-6 d-flex align-items-center">
        <label class="form-label mr-2">Destinatarios</label>
        <mat-form-field class="col-xs-12">
          <mat-label>Destinatarios</mat-label>
          <mat-select
            formControlName="destinatarios"
            multiple
            [compareWith]="compareWith"
          >
            <ng-container *ngFor="let o of list">
              <mat-option [value]="o">
                {{ o.nombre }} [{{
                  o.tipo_destinatario === D.CENTRO_OPERATIVO
                    ? "Origen/Destino"
                    : o.tipo_destinatario
                }}] ({{ o.email }})
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="group.controls['destinatarios'].hasError('required')">
            Los destinatarios son <strong>requeridos</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
