<div *ngIf="formGroup" [formGroup]="formGroup">
  <div [formGroupName]="groupName">

    <div class="row">

      <!-- Columna para Texto Legal -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
        <label class="form-label">Texto Legal de Órdenes de Carga</label>
        <mat-form-field>
          <textarea
            matInput
            formControlName="emision_orden_texto_legal"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
          <mat-error
            *ngIf="
              group.controls['emision_orden_texto_legal'].hasError('required')
            "
          >
            El texto es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Columna para Detalle - Comentarios -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
        <label class="form-label">Detalle - Comentarios</label>
        <mat-form-field >
          <textarea
            matInput
            formControlName="emision_orden_detalle"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
          <mat-error
            *ngIf="group.controls['emision_orden_detalle'].hasError('required')"
          >
            El detalle es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <!-- Fila para Destinatarios -->
    <div class="row">

      <div *ngIf="!isShow" class="input-form-full col-xs-12 col-sm-6 col-md-4">
        <label class="form-label">Destinatarios</label>
        <mat-form-field>
          <mat-select
            formControlName="destinatarios"
            multiple
            [compareWith]="compareWith">
            <ng-container *ngFor="let o of list">
              <mat-option [value]="o">
                {{ o.nombre }} [{{
                  o.tipo_destinatario === D.CENTRO_OPERATIVO
                    ? "Origen/Destino"
                    : o.tipo_destinatario
                }}] ({{ o.email }})
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="group.controls['destinatarios'].hasError('required')">
            Los destinatarios son <strong>requeridos</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="isShow" class="col-xs-12 col-sm-6">
        <label class="form-label">Destinatarios</label>
        <mat-chip-list filterValues>
          <ng-container>
            <mat-chip *ngFor="let item of list">{{item.nombre}}({{item.email}})</mat-chip>
          </ng-container>
        </mat-chip-list>

      </div>

    </div>

  </div>
</div>
