<app-page
  module="MOVIMIENTOS (CUENTAS CORRIENTES)"
  [modelo]="m.MOVIMIENTO"
  (backClick)="back($event)"
  [hideBack]="false"
  [hideCreate]="true"
  (applyClick)="applyFilter()"
  (downloadClick)="downloadFile()"
  (resetClick)="resetFilter()"
  [dbuttons]="buttons">

  <div filterMenu>
    <mat-accordion [multi]="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Cuenta</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-checkbox-filter
            #cuentaCheckboxFilter
            [value]="cuentaFiltered"
            [list]="cuentaFilterList"
          ></app-checkbox-filter>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Concepto</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-checkbox-filter
            #conceptoCheckboxFilter
            [value]="conceptoFiltered"
            [list]="conceptoFilterList"
          ></app-checkbox-filter>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Detalle</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-checkbox-filter
            #detalleCheckboxFilter
            [value]="detalleFiltered"
            [list]="detalleFilterList"
          ></app-checkbox-filter>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="es_pdv">
        <mat-expansion-panel-header>
          <mat-panel-title>Establecimiento</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-checkbox-filter
            #establecimientoCheckboxFilter
            [value]="establecimientoFiltered"
            [list]="establecimientoFilterList"
          ></app-checkbox-filter>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Estado</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <app-checkbox-filter
            #estadoCheckboxFilter
            [value]="estadoFiltered"
            [list]="estadoFilterList"
          ></app-checkbox-filter>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-chip-list filterValues>
    <ng-container *ngIf="isFiltered">Filtros:</ng-container>
    <ng-container *ngIf="isFilteredByEstablecimiento">
      <mat-chip *ngFor="let item of establecimientoFiltered">{{item}}</mat-chip>
    </ng-container>
    <ng-container *ngIf="isFilteredByCuenta">
      <mat-chip *ngFor="let item of cuentaFiltered">{{item}}</mat-chip>
    </ng-container>
    <ng-container *ngIf="isFilteredByConcepto">
      <mat-chip *ngFor="let item of conceptoFiltered">{{item}}</mat-chip>
    </ng-container>
    <ng-container *ngIf="isFilteredByDetalle">
      <mat-chip *ngFor="let item of detalleFiltered">{{item}}</mat-chip>
    </ng-container>
    <ng-container *ngIf="isFilteredByEstado">
      <mat-chip *ngFor="let item of estadoFiltered">{{item}}</mat-chip>
    </ng-container>
  </mat-chip-list>

  <div class="page-container">

    <app-estado-cuenta-detalle
      [etapa]="etapa"
      [estadoCuenta]="estadoCuenta"
      [showVistaConsolidada]="false"
      [showEstado]=false>
    </app-estado-cuenta-detalle>

    <div class="row">

      <div class="input-form-full col-xs-6 col-sm-2">
        <mat-label>Total Deberes/Haberes</mat-label>
        <mat-form-field floatLabel="always" appearance="outline">
          <input matInput [value]="deberes" appInputThousandsSeparator disabled />
        </mat-form-field>
      </div>

      <div class="input-form-full col-xs-6 col-sm-2">
        <mat-label>
          Total Pagos/Cobros
        </mat-label>
        <mat-form-field floatLabel="always" appearance="outline">
          <input matInput [value]="pagos" appInputThousandsSeparator disabled />
        </mat-form-field>
      </div>

      <div class="input-form-full col-xs-6 col-sm-2">
        <mat-label>
          Saldo en Cuenta
        </mat-label>
        <mat-form-field floatLabel="always" appearance="outline">
          <input matInput [value]="saldo" appInputThousandsSeparator disabled />
          <mat-icon matSuffix color="primary">
            <span matPrefix style="padding-right: 5px;">{{saldo_sentido}}</span>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="input-form-full col-xs-6 col-sm-2">
        <mat-label>

        </mat-label>
      </div>

      <div class="input-form-full col-xs-6 col-sm-2">
        <mat-label>Total Provisiones</mat-label>
        <mat-form-field floatLabel="always" appearance="outline">
          <input matInput [value]="provision" appInputThousandsSeparator disabled />
        </mat-form-field>
      </div>

      <div class="input-form-full col-xs-6 col-sm-2">
        <mat-label>Total Pendientes</mat-label>
        <mat-form-field floatLabel="always" appearance="outline">
          <input matInput [value]="pendientes" appInputThousandsSeparator disabled />
        </mat-form-field>
      </div>

    </div>

  </div>

  <app-table-paginator
    [columns]="columns"
    [subRowColumnsToDisplay]="subColumns"
    [expandible]="false"
    [expandibleRow]="false"
    [data]="list"
    [filterPredicate]="filterPredicate"
    [modelo]="m.MOVIMIENTO"
    [hideDelete]="true"
    [hideEdit]="true"
    [hideShow]="true"
    [shouldBeShowFooter]="false">
  </app-table-paginator>


</app-page>
