<app-page
  class="estado-cuenta-page"
  submodule="Vista General"
  viewTitle="Todas las Cuentas Corrientes"
  [modelo]="m.MOVIMIENTO"
  [hideBack]="false"
  [hideCreate]="true"
  (applyClick)="applyFilter()"
  (downloadClick)="downloadFile()"
  (resetClick)="resetFilter()"
>

  <div class="orden-carga-page-content">

    <div class="acciones-container" >
      <div class="acciones-buttons">
        <ng-container>

          <button
            type="button"
            mat-raised-button
            color="accent"
            (click)="create()"
          >
            Crear Movimiento
          </button>

          <button
            type="button"
            mat-raised-button
            color="warn"
            (click)="createLiquidacion()"
          >
            Crear Liquidacion
          </button>

        </ng-container>
      </div>
    </div>

  </div>

  <div class="liquidacion-page-content">

    <app-estado-cuenta-detalle
      [etapa]="etapa"
      [estadoCuenta]="estadoCuenta"
      [showVistaConsolidada]="false"
    ></app-estado-cuenta-detalle>

    <app-saldo
        [credito]="credito"
        [debito]="debito"
        title="Saldo | Total de la Selección"
      ></app-saldo>

    <app-table-paginator
      [columns]="columns"
      [data]="list"
      [filterPredicate]="filterPredicate"
      [modelo]="m.MOVIMIENTO"
      [hideDelete]="true"
      [hideEdit]="true"
      [hideShow]="true"
      [shouldBeShowFooter]="false"
    ></app-table-paginator>

  </div>

</app-page>
