<form [formGroup]="form">

  <h1 mat-dialog-title>
    {{ actionText }} Instrumento
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>

    <div class="row">

      <app-instrumento-via-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        [form]="form"
        (valueChange)="via = $event"
      ></app-instrumento-via-field>

      <app-tipo-instrumento-via-banco-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        [hidden]="!esBanco"
        [form]="form"
        (valueChange)="setTipoInstrumento($event)"
      ></app-tipo-instrumento-via-banco-field>

    </div>

    <div class="row">

      <app-banco-by-gestor-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        [hidden]="!esBanco"
        [form]="form"
        (valueChange)="banco = $event"
      >
      </app-banco-by-gestor-dialog-field>

      <app-caja-by-gestor-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        [hidden]="esBanco"
        [form]="form"
        (valueChange)="caja = $event"
      >
      </app-caja-by-gestor-dialog-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="N° Doc."
        controlName="numero_documento"
        [form]="form"
      ></app-input-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Monto"
        controlName="monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Moneda"
        [form]="form">
      </app-moneda-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
        <mat-label [innerHTML]="montoHint"></mat-label>
      </div>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Fecha"
        controlName="fecha_instrumento"
        [form]="form"
      ></app-fecha-field>

    </div>

    <div class="row">

      <div class="toggle" [hidden]="!esBanco || !esTipoCheque">
        <mat-slide-toggle formControlName="cheque_es_diferido">
          {{ chequeEsDiferido ? "Cheque Diferido" : "Cheque Diferido" }}
        </mat-slide-toggle>
      </div>

      <div [hidden]="!chequeEsDiferido">
        <app-fecha-field
          title="Fecha de vencimiento del cheque"
          controlName="cheque_fecha_vencimiento"
          [form]="form"
        ></app-fecha-field>
      </div>

    </div>

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Referencia"
        controlName="numero_referencia"
        [form]="form"
      ></app-input-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-6">
        <mat-label>Comentario</mat-label>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            formControlName="comentario"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
    >
      Aceptar
    </button>
  </div>
</form>
