<div class="row page-form-row">
  <div class="col-xs-12 header-row">
    <h4>COMPLEMENTOS</h4>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
      [disabled]="isShow || !oc?.flete_id  || !(modelo | puede: a.CREAR:gestorCargaId) || oc?.estado === 'Conciliado'"

    ><mat-icon 
      class="small-icon"
      [ngClass]="{ 'disabled': isShow || !oc?.flete_id  || !(modelo | puede: a.CREAR:gestorCargaId) || oc?.estado === 'Conciliado'}">
      add</mat-icon> 
      COMPLEMENTO
    </button>
  </div>
  <div class="col-xs-12 table-container">
    <app-table
      [columns]="columns"
      [modelo]="modelo"
      [gestorCuentaId]="gestorCargaId"
      [data]="list"
      [hideShow]="true"
      (editClick)="edit($event)"
      (deleteClick)="remove($event)"
      [hideShow]="oc?.estado === 'Conciliado'"
      [isShow]="oc?.estado === 'Conciliado'"
    ></app-table>
  </div>
</div>
