<div class="row page-form-row page-form-audit">
  <mat-form-field class="col-xs-12 col-sm-6">
    <mat-label>Creado por</mat-label>
    <input matInput [value]="created_by" disabled />
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-6">
    <mat-label>Creado en fecha</mat-label>
    <input matInput [value]="created_at" disabled />
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-6">
    <mat-label>Modificado por</mat-label>
    <input matInput [value]="modified_by" disabled />
  </mat-form-field>
  <mat-form-field class="col-xs-12 col-sm-6">
    <mat-label>Modificado en fecha</mat-label>
    <input matInput [value]="modified_at" disabled />
  </mat-form-field>
</div>
