<div class="row">
  <div class="col-xs-12 header-row">
    <h4>Remisiones de Destino</h4>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
      [disabled]=" isShow || oc?.estado === 'Nuevo' || oc?.estado === 'Cancelado' || !oc?.flete_id  || oc?.estado === 'Conciliado'
        || oc?.estado === 'Finalizado' || !(modelo | puede: a.CREAR:gestorCargaId) || isEditPedido"
    ><mat-icon
      class="small-icon"
      [ngClass]="{ 'disabled': isShow ||  oc?.estado === 'Nuevo' || oc?.estado === 'Cancelado' || !oc?.flete_id   || oc?.estado === 'Finalizado'
       ||  oc?.estado === 'Conciliado' || !(modelo | puede: a.CREAR:gestorCargaId) || isEditPedido}">
      add</mat-icon>
      DESCARGA
    </button>
  </div>
</div>

<div class="table-container small-table">
  <app-table
    [modelo]="modelo"
    [gestorCuentaId]="gestorCargaId"
    [shouldBeShowFooter]="true"
    [columns]="columns"
    [data]="lista"
    (editClick)="edit($event)"
    (deleteClick)="remove($event)"
    [hideShow]="oc?.estado === 'Conciliado' || oc?.estado === 'Finalizado'"
    [isShow]="oc?.estado === 'Conciliado' || oc?.estado === 'Finalizado'"
  ></app-table>
</div>
