<div>
  <div class="row page-form-row">
    <h4 class="col-xs-12">Destinos</h4>
    <div
    class="col-xs-12"
  >
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
    ><mat-icon>add</mat-icon> 
      DESCARGA
    </button>
  </div>
    <div class="col-xs-12 table-container destino-table-container">
      <app-table
        [modelo]="modelo"
        [gestorCuentaId]="gestorCargaId"
        [shouldBeShowFooter]="true"
        [columns]="columns"
        [data]="lista"
        (editClick)="edit($event)"
        (deleteClick)="remove($event)"
      ></app-table>
    </div>
  </div>
</div>
