<div class="row page-form-row">
  <div class="col-xs-12 header-row">
    <h4>Remisiones de Destino</h4>
    <button
      mat-raised-button
      class="add-button"
      color="primary"
      type="button"
      (click)="create()"
      id="create-button"
      [disabled]="oc?.estado === 'Nuevo' || !oc?.flete_id"
    ><mat-icon 
      class="small-icon"
      [ngClass]="{ 'disabled': isShow || oc?.estado === 'Nuevo' || !oc?.flete_id }">
      add</mat-icon> 
      DESCARGA
    </button>
  </div>
  
  <div class="col-xs-12 table-container destino-table-container">
    <app-table
      [modelo]="modelo"
      [gestorCuentaId]="gestorCargaId"
      [shouldBeShowFooter]="true"
      [columns]="columns"
      [data]="lista"
      (editClick)="edit($event)"
      (deleteClick)="remove($event)"

    ></app-table>
  </div>
</div>
