<div class="row" [formGroup]="form" >

  <div *ngIf="showResumen" class="input-form-full col-xs-12 col-sm-2">
    <mat-label>Tot. Movimientos</mat-label>
    <mat-form-field floatLabel="always" appearance="outline">
      <input matInput [value]="(credito-debito)" appInputThousandsSeparator disabled />
    </mat-form-field>
  </div>

  <div *ngIf="showIngresoEgreso" class="input-form-full col-xs-12 col-sm-2">
    <mat-label>Ingresos</mat-label>
    <mat-form-field floatLabel="always" appearance="outline">
      <input matInput [value]="credito" appInputThousandsSeparator disabled />
    </mat-form-field>
  </div>

  <div *ngIf="showIngresoEgreso" class="input-form-full col-xs-12 col-sm-2">
    <mat-label>Egresos</mat-label>
    <mat-form-field floatLabel="always" appearance="outline">
      <input matInput [value]="debito" appInputThousandsSeparator disabled />
    </mat-form-field>
  </div>

  <div class="input-form-full col-xs-12 col-sm-2" *ngIf="false">
    <mat-label>
      Saldo en Cuenta
    </mat-label>
    <mat-form-field floatLabel="always" appearance="outline">
      <input matInput [value]="saldo" appInputThousandsSeparator disabled />
    </mat-form-field>
  </div>

  <div *ngIf="showInstrumentos" class="input-form-full col-xs-12 col-sm-2">
    <mat-label>Valor de los instrumentos</mat-label>
    <mat-form-field  floatLabel="always" appearance="outline">
      <input matInput [value]="valorInstrumentos"
        appInputThousandsSeparator disabled
      />
    </mat-form-field>
  </div>

  <div *ngIf="showInstrumentos" class="input-form-full col-xs-12 col-sm-2">
    <mat-label>Residuo</mat-label>
    <mat-form-field floatLabel="always" appearance="outline">
      <input matInput [value]="residuo" appInputThousandsSeparator disabled />
    </mat-form-field>
  </div>

  <!--mat-radio-group
    class="input-form-full col-xs-12 col-sm-6 col-md-4"
    aria-label="Seleccione una opción"
    formControlName="es_cobro"
    style="display: flex; flex-direction: row; align-items: center;justify-content: space-around;"
  >
    <mat-radio-button [value]="true">Pagar</mat-radio-button>
    <mat-radio-button [value]="false">Cobrar</mat-radio-button>
  </mat-radio-group-->

  <!--app-number-field
    class="input-form-full col-xs-6 col-sm-4 col-md-2"
    *ngIf="showMonto"
    title="Monto Pago/Cobro"
    controlName="monto_pc"
    [readonly]="esFinalizado"
    [form]="form"
  ></app-number-field-->

  <div class="col-xs-1 col-sm-3">  </div>

  <div class="input-form-full" style="display: flex; flex-direction: column;">
    <mat-label>
      <span style="color: red;">(*) </span>
      Monto Pagar/Cobrar
    </mat-label>

    <mat-form-field>
      <input
        matInput
        formControlName="monto_pc"
        [disabled]="esFinalizado"
        [readonly]="esFinalizado"
        appInputThousandsSeparator
      />
      <mat-error *ngIf="form.controls['monto_pc'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <app-moneda-field
    class="input-form-full col-xs-6 col-sm-4 col-md-2"
    [title]="'Moneda'"
    [requerido]="true"
    [readonly]="esFinalizado"
    controlName="moneda_id"
    [form]="form">
  </app-moneda-field>

  <div class="input-form-full col-xs-6 col-sm-4 col-md-2">
    <mat-label>Sentido Operación</mat-label>
    <mat-form-field >
      <mat-select formControlName="es_cobro" [disabled]="esFinalizado">
        <mat-option [value]="true">Pagar</mat-option>
        <mat-option [value]="false">Cobrar</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--app-operacion
    *ngIf="!hideOperacion"
    class="input-form-full col-xs-12 col-sm-2"
    [saldo]="saldoMovimiento"
  ></app-operacion-->

</div>
