<form [formGroup]="form">
  <h1 mat-dialog-title>
    {{ actionText }} {{ submodule }}
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>
    <app-input-field
      title="Nombre"
      controlName="first_name"
      [autofocus]="true"
      [form]="form"
    ></app-input-field>
    <app-input-field
      title="Apellido"
      controlName="last_name"
      [form]="form"
    ></app-input-field>
    <app-input-field
      title="Nombre de usuario"
      controlName="username"
      [form]="form"
    ></app-input-field>
    <app-input-field
      title="E-mail"
      controlName="email"
      [form]="form"
    ></app-input-field>
    <app-password-field
      title="Contraseña"
      controlName="password"
      [form]="form"
    ></app-password-field>
    <app-password-field
      title="Repetir contraseña"
      controlName="confirm_password"
      [form]="form"
    ></app-password-field>
    <div *ngIf="data">
      <app-estado-field [estado]="data.estado"></app-estado-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
    >
      Aceptar
    </button>
  </div>
</form>
