/* Estilos para todo el mat-select */
.custom-trigger .mat-select-value-text {
    color: #007acc; /* Cambia el color del texto */
    font-weight: bold; /* Aplica negrita */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  /* Para cambiar el estilo cuando no hay selección */
  .custom-trigger .mat-select-trigger  {
    color: #888888; /* Cambia el color del texto placeholder */
    font-style: italic; /* Aplica cursiva */
  }
  