<div *ngIf="gestorCargaId && esSaldoAbierto">
  <div class="row">

    <div class="col-xs-12 button-container"
      [hidden]="isShow || !(m.INSTRUMENTO | puede: a.CREAR:gestorCargaId)" >
      <button *ngIf="esSaldoAbierto"
        mat-flat-button
        class="botones"
        color="primary"
        type="button"
        (click)="create()"
        [disabled]="(residuoInstrumento < 1)"
      >
        Nuevo Instrumento
      </button>
      <button *ngIf="esSaldoAbierto"
        mat-flat-button
        class="botones"
        color="primary"
        type="button"
        (click)="cierreForzado()"
        [disabled]="(residuoInstrumento < 1)"
      >
        Forzar Cierre
      </button>
      <!--button *ngIf="esSaldoAbierto"
        mat-flat-button
        class="botones"
        color="accent"
        type="button"
        [disabled]="(residuo < 1 || residuo >= 0)"
        (click)="saveInstrumentos()" >
        Guardar Instrumentos
      </button-->
    </div>

    <!--ng-container *ngIf="list && list.length">
      <div class="col-xs-12">
        <div class="table-container">
          <app-table
            [hideEdit]="isShow"
            [hideDelete]="isShow"
            [mostrarBotonEliminar]="!isShow"
            [hideShow]="!isShow"
            [columns]="columns"
            [modelo]="m.INSTRUMENTO"
            [gestorCuentaId]="gestorCargaId"
            [data]="list"
            [isShow]="
              !(
                (m.INSTRUMENTO | puede: a.EDITAR:gestorCargaId) ||
                (m.INSTRUMENTO | puede: a.ELIMINAR:gestorCargaId) ||
                (m.INSTRUMENTO | puede: a.VER:gestorCargaId)
              )
            "
            (editClick)="edit()"
            (deleteClick)="remove($event)"

          ></app-table>
        </div>
      </div>
    </ng-container-->

  </div>
</div>
