<div *ngIf="gestorCargaId">
  <div class="row">
    <ng-container *ngIf="list && list.length">
      <h4 class="col-xs-12">Instrumentos a crearse</h4>
      <div class="col-xs-12">
        <div class="table-container">
          <app-table
            [hideEdit]="isShow"
            [hideDelete]="isShow"
            [mostrarBotonEliminar]="!isShow"
            [hideShow]="!isShow"
            [columns]="columns"
            [modelo]="m.INSTRUMENTO"
            [gestorCuentaId]="gestorCargaId"
            [data]="list"
            [isShow]="
              !(
                (m.INSTRUMENTO | puede: a.EDITAR:gestorCargaId) ||
                (m.INSTRUMENTO | puede: a.ELIMINAR:gestorCargaId) ||
                (m.INSTRUMENTO | puede: a.VER:gestorCargaId)
              )
            "
            (editClick)="edit($event)"
            (deleteClick)="remove($event)"

          ></app-table>
        </div>
      </div>
    </ng-container>

    <div
      class="col-xs-12 button-container"
      [hidden]="isShow || !(m.INSTRUMENTO | puede: a.CREAR:gestorCargaId)"
    >
      <button *ngIf="esSaldoAbierto"
        mat-stroked-button
        class="botones"
        type="button"
        (click)="create()"
        [disabled]="residuo === 0"
      >
        Nuevo Instrumento
      </button>
      <button *ngIf="esSaldoAbierto"
        mat-flat-button
        class="botones"
        color="accent"
        type="button"
        [disabled]="residuo !== 0"
        (click)="saveInstrumentos()" >
        Guardar Instrumentos
      </button>
    </div>
  </div>
</div>
