<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Tara (Kg.)"
        [groupName]="groupName"
        controlName="tara"
        [form]="form"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Bruto (Kg.)"
        [groupName]="groupName"
        controlName="bruto"
        [form]="form"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Largo (metros)"
        [groupName]="groupName"
        controlName="largo"
        [form]="form"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Alto (metros)"
        [groupName]="groupName"
        controlName="alto"
        [form]="form"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Ancho (metros)"
        [groupName]="groupName"
        controlName="ancho"
        [form]="form"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Volumen (m3)"
        [groupName]="groupName"
        controlName="volumen"
        [form]="form"
      ></app-number-field>

    </div>

  </div>
</div>
