<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Tara (kg.)"
          [groupName]="groupName"
          controlName="tara"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Bruto (kg.)"
          [groupName]="groupName"
          controlName="bruto"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Largo (metros)"
          [groupName]="groupName"
          controlName="largo"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Alto (metros)"
          [groupName]="groupName"
          controlName="alto"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Ancho (metros)"
          [groupName]="groupName"
          controlName="ancho"
          [form]="form"
        ></app-number-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Capacidad volumétrica (m3)"
          [groupName]="groupName"
          controlName="volumen"
          [form]="form"
        ></app-number-field>
      </div>
    </div>
  </div>
</div>
