@import "~src/assets/styles/colors.scss";

$active-background: rgba(51, 153, 255, 0.2);
$header-heigth: 64px;
$tab-heigth: 50px;

.content {
  background-color: #eff2f5;
  height: calc(100vh - #{$header-heigth} - #{$tab-heigth});
  overflow: auto;
}

.sidebar {
  height: calc(100vh - 64px);
  [mat-list-text] {
    display: none;
  }
  .mat-sidenav {
    width: 65px;
  }
  &-expanded {
    [mat-list-text] {
      display: block;
    }
    .mat-sidenav {
      width: 270px;
    }
  }
}

.mat-expansion-panel-header {
  box-sizing: border-box;
  padding: 0 8px 0;
}

.sidebar-expanded .mat-expansion-panel-header {
  padding: 0 16px;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.mat-icon {
  padding: 4px;
}

.mat-list-base .mat-list-item,
.mat-expansion-panel-header {
  font-size: 1rem;
  &:hover,
  &:focus {
    color: $blue;
  }
  &.active {
    color: $blue;
    background-color: $active-background;
  }
  &.active:hover {
    background-color: $active-background;
  }
}

.layout-global-container::ng-deep {
  .mat-expansion-panel-body {
    padding: 0;
  }
  .mat-list-base .mat-list-item-content {
    padding: 0 8px;
  }

  .sidebar-expanded .mat-list-base .mat-list-item-content {
    padding: 0 16px;
  }

  .sidebar-expanded .mat-expansion-panel .mat-list-item-content {
    padding: 0 36px;
  }
}
