<div class="layout-global-container">
  <app-header></app-header>
  <mat-sidenav-container
    autosize
    class="sidebar"
    [ngClass]="{ 'sidebar-expanded': isExpanded }"
  >
    <mat-sidenav #sidenav [mode]="sidebarMode" class="mat-elevation-z2">
      <!--app menu-->
      <mat-nav-list>
        <ng-container *ngFor="let item of menuList$ | async">
          <ng-container *ngIf="item.active">
            <ng-container *ngIf="!(item.children && item.children.length)">
              <a
                mat-list-item
                routerLinkActive="active"
                matTooltipPosition="right"
                [class.active]="
                  currentUrl | urlActive: item.path:currentRoute?.data?.menuPath
                "
                [matTooltip]="item.name"
                [matTooltipDisabled]="isExpanded"
                [routerLink]="item.path"
                [routerLinkActiveOptions]="{ exact: !!item.isRouteExact }"
                (click)="closeSidebarMenu()"
              >
                <mat-icon
                  mat-list-icon
                  *ngIf="item.iconName"
                  [class.material-icons-outlined]="item.iconOutline"
                  >{{ item.iconName }}</mat-icon
                >
                <span mat-list-text>{{ item.name }}</span>
              </a>
            </ng-container>
            <ng-container *ngIf="item.children && item.children.length">
              <mat-accordion>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header
                    matTooltipPosition="right"
                    [matTooltip]="item.name"
                    [matTooltipDisabled]="isExpanded"
                  >
                    <mat-panel-title>
                      <mat-icon
                        mat-list-icon
                        *ngIf="item.iconName"
                        [class.material-icons-outlined]="item.iconOutline"
                        >{{ item.iconName }}</mat-icon
                      >
                      <span mat-list-text>{{ item.name }}</span>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <ng-container *ngFor="let child of item.children">
                    <ng-container *ngIf="child.active">
                      <!-- Entradas de cada submenú  -->
                      <mat-nav-list class="mat-nav-list-no-pt">
                        <a
                          mat-list-item
                          routerLinkActive="active"
                          matTooltipPosition="right"
                          [class.active]="
                            currentUrl
                              | urlActive
                                : child.path
                                : currentRoute?.data?.menuPath
                          "
                          [matTooltip]="child.name"
                          [matTooltipDisabled]="isExpanded"
                          [routerLink]="[child.path]"
                          [routerLinkActiveOptions]="{
                            exact: !!child.isRouteExact
                          }"
                          (click)="closeSidebarMenu()"
                        >
                          <mat-icon
                            mat-list-icon
                            *ngIf="child.iconName"
                            [class.material-icons-outlined]="child.iconOutline"
                            >{{ child.iconName }}</mat-icon
                          >
                          <div mat-list-text>{{ child.name }}</div>
                        </a>
                      </mat-nav-list>
                    </ng-container>
                  </ng-container>
                </mat-expansion-panel>
              </mat-accordion>
            </ng-container>
          </ng-container>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-tab-group
        (selectedIndexChange)="setSelectedIndexChange($event)"
        [selectedIndex]="selected.value"
        animationDuration="0"
      >
        <mat-tab *ngFor="let tab of tabs; let index = index">
          <ng-template class="w-100" mat-tab-label>
            <span>{{ tab.name }}</span>
            <button
              type="button"
              mat-icon-button
              [disabled]="tabs.length === 1"
              (click)="$event.stopPropagation(); removeTab(index)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </ng-template>
          <div class="content">
            <ng-template #frame style="max-width: 100%"></ng-template>
          </div>
        </mat-tab>
      </mat-tab-group>
      <!-- <nav mat-tab-nav-bar>
        <div
          mat-tab-link
          *ngFor="let tab of tabs; let index = index"
          [routerLink]="tab.url"
          [queryParams]="tab.extras.queryParams"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          <span>{{ tab.name }}</span>
          <button
            type="button"
            mat-icon-button
            [disabled]="tabs.length === 1"
            (click)="$event.stopPropagation(); removeTab(index)"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </nav>
      <div class="content">
        <router-outlet></router-outlet>
      </div> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
