<form [formGroup]="form">

  <h1 mat-dialog-title>
    {{ actionText }} Factura
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Monto"
        controlName="monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Moneda"
        [form]="form">
      </app-moneda-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-4" style="display: flex;flex-direction: column; align-items: flex-start;">
        <mat-label class="custom-label">
          IVA INCL
        </mat-label>
        <mat-checkbox color="primary" formControlName="iva_incluido"></mat-checkbox>
      </div>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Contribuyente"
        controlName="contribuyente"
        [form]="form"
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="RUC"
        controlName="ruc"
        [form]="form"
      ></app-input-field>

    </div>

    <div class="row">

      <app-tipo-iva-field class="input-form-full col-xs-12 col-sm-6 col-md-4" [form]="form"></app-tipo-iva-field>

    </div>

    <div class="row">

      <div class="input-form-full col-xs-12 col-sm-6 col-md-5">
        <fieldset [disabled]="editFormCheck" style="border:0">
          <mat-label>Movimiento IVA</mat-label>
          <mat-radio-group formControlName="sentido_mov_iva" style="display: flex;justify-content: space-around;">
            <mat-radio-button value="PAGAR">A Pagar</mat-radio-button>
            <mat-radio-button value="COBRAR">A Cobrar</mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </div>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-5">
        <fieldset [disabled]="editFormCheck" style="border:0">
          <mat-label>Movimiento Retencion</mat-label>
          <mat-radio-group formControlName="sentido_mov_retencion" style="display: flex;justify-content: space-around;" >
            <mat-radio-button value="PAGAR">A Pagar</mat-radio-button>
            <mat-radio-button value="COBRAR">A Cobrar</mat-radio-button>
          </mat-radio-group>
        </fieldset>
      </div>

    </div>

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Valor IVA"
        controlName="iva"
        [form]="form"
      ></app-number-field>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Valor Retencion"
        controlName="retencion"
        [form]="form"
      ></app-number-field>

    </div>

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Nº de Factura"
        controlName="numero_factura"
        [form]="form"
      ></app-input-field>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Fecha Factura"
        controlName="fecha_factura"
        [form]="form"
      ></app-fecha-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="N° Timbrado"
        controlName="timbrado"
        [form]="form"
      ></app-input-field>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Fecha de Vencimiento"
        controlName="fecha_vencimiento"
        [form]="form"
      ></app-fecha-field>

    </div>

    <app-file-field
      class="input-form-full col-xs-12 col-sm-6 col-md-4"
      title="Foto de la Factura"
      controlName="foto"
      [field]="foto"
      [form]="form"
      [isEdit]="isEdit"
      (fileChange)="setFoto($event)"
    ></app-file-field>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
    >
      Guardar
    </button>
  </div>
</form>
