<form [formGroup]="form">

  <h1 mat-dialog-title>
    {{ actionText }} Factura
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Monto"
        controlName="monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Moneda"
        [form]="form"
        (valueChange)="$event && onMonedaSelect($event)">
      </app-moneda-field>

      <div *ngIf="!showCotizacion"
        class="input-form-full col-xs-12 col-sm-6 col-md-2">

        <app-number-field
          title="Cotizacion"
          controlName="tipo_cambio_moneda"
          [form]="form"
        ></app-number-field>

      </div>

      <app-tipo-iva-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        [form]="form"
        (valueChange)="$event && onTipoIvaSelect($event)">
      </app-tipo-iva-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-2" style="display: flex;flex-direction: column; align-items: flex-start;">
        <mat-label class="custom-label">
          IVA INCL
        </mat-label>
        <mat-checkbox color="primary" formControlName="iva_incluido"></mat-checkbox>
      </div>

    </div>

    <div class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Valor IVA"
        controlName="iva"
        [form]="form"
      ></app-number-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
        <mat-label>Movimiento IVA</mat-label>
        <mat-form-field>
          <mat-select formControlName="sentido_mov_iva">
            <mat-option></mat-option>
            <mat-option value="PAGAR">PAGAR</mat-option>
            <mat-option value="COBRAR">COBRAR</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Valor Retencion"
        controlName="retencion"
        [form]="form"
      ></app-number-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
        <mat-label>Movimiento Retencion</mat-label>
        <mat-form-field>
          <mat-select formControlName="sentido_mov_retencion">
            <mat-option></mat-option>
            <mat-option value="PAGAR">PAGAR</mat-option>
            <mat-option value="COBRAR">COBRAR</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

    <div class="row">

      <app-dialog-field-ruc
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Contribuyente"
        controlName="contribuyente"
        [form]="form">
      </app-dialog-field-ruc>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="RUC"
        controlName="ruc"
        [form]="form"
      ></app-input-field>

      <span style="font-size: smaller; color: gray;">
        Si el usuario buscado no aparece en la lista lo puedes crear cargando la razon social y el ruc en los campos superiores
      </span>

    </div>

    <br>

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Nº de Factura"
        controlName="numero_factura"
        [form]="form"
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="N° Timbrado"
        controlName="timbrado"
        [form]="form"
      ></app-input-field>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Fecha Factura"
        controlName="fecha_factura"
        [form]="form"
      ></app-fecha-field>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Fecha de Vencimiento"
        controlName="fecha_vencimiento"
        [form]="form"
      ></app-fecha-field>

      <app-file-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Foto de la Factura"
        controlName="foto"
        [field]="foto"
        [form]="form"
        [isEdit]="isEdit"
        (fileChange)="setFoto($event)"
      ></app-file-field>

    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button *ngIf="!isShow"
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
    >
      Guardar
    </button>
  </div>
</form>
