<div *ngIf="form" [formGroup]="form" class="combinacion-container">

  <div [formGroupName]="groupName">

    <div class="section" >
      <h2 class="title-colapside" *ngIf="!showSearchOCAceptadas && !isEdit && !isShow" (click)="colapseDivFlota=!colapseDivFlota">FLOTA</h2>
      <h2 class="title-colapside" *ngIf="showSearchOCAceptadas || isEdit || isShow" (click)="colapseDivpedido=!colapseDivpedido">INFORMACION PRINCIPAL</h2>

      <div class="row" [class.colapse-div]="colapseDivFlota" >

        <app-combinacion-dialog-field
          *ngIf="showTractoField"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Chapa Tracto"
          [isRemote]="true"
          [combinacionEvents]="combinacionEventsSubject.asObservable()"
          [groupName]="groupName"
          [form]="form"
          (valueChange)="onCamionChange($event)"
        ></app-combinacion-dialog-field>

        <app-oc-aceptadas-dialog-field 
          *ngIf="!showTractoField && !showSearchOCfinalizadas"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº OC"
          
          [ocAceptadaEvents]="ocEventsSubject.asObservable()"
          [groupName]="groupName"
          [form]="form"
          (valueChange)="onOrdenCargaChange($event)">
        </app-oc-aceptadas-dialog-field>

        <app-oc-finalizadas-dialog-field 
          *ngIf="showSearchOCfinalizadas"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº OC"
          [ocAceptadaEvents]="ocEventsSubject.asObservable()"
          [groupName]="groupName"
          [form]="form"
          (valueChange)="onOrdenCargaChange($event)">
        </app-oc-finalizadas-dialog-field>

        <app-input-field-oc
          *ngIf="!showTractoField"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Chapa Tracto"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="camion_placa"
          [shouldFormat]="false"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Marca"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="marca_camion"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-1"
          title="Color"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="color_camion"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title='Chapa Semi'
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="semi_placa"
          [shouldFormat]="false"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Marca"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="marca_semi"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-1"
          title="Color"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="color_semi"
        ></app-input-field-oc>

        <mat-slide-toggle
          *ngIf="!showField"
          class="input-form-full col-xs-12 col-sm-6 col-md-1"
          trueTitle="Active"
          falseTitle="Inactive"
          formControlName="anticipo_propietario"
          labelPosition="before">
          Anticipos
      </mat-slide-toggle>
      

      </div>

      <div class="row" [class.colapse-div]="colapseDivFlota">

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Propietario"
          [matTooltip]="'Propietario'"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="propietario_camion"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Doc. Nº"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="propietario_camion_doc"
          [shouldFormat]="false"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="<strong>Beneficiario</strong> (Nombre/Razon Social)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="beneficiario_camion"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Doc. Nº"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="beneficiario_camion_doc"
          [shouldFormat]="false"
        ></app-input-field-oc>

      </div>

      <div class="row" [class.colapse-div]="colapseDivFlota">
        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Chofer"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="chofer_camion">
        </app-input-field-oc>
      
        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Doc. Nº"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="chofer_camion_doc"
          [shouldFormat]="false">
        </app-input-field-oc>
      
        <mat-slide-toggle
          *ngIf="!showField"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          formControlName="puede_recibir_anticipos"
          labelPosition="before">
          Anticipos
        </mat-slide-toggle>
      </div>
      
      <div class="row" [class.colapse-div]="colapseDivFlota">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-5">
          <label for="comentarios" class="label-obs">Observacion</label>
          <mat-form-field class="obs">
            <textarea id="comentarios" matInput
              formControlName="comentarios"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1">
            </textarea>
          </mat-form-field>
        </div>
      
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 16px;">
          <button
            mat-raised-button
            class="botones"
            (click)="openCommentDialog()"
            [disabled]="!tieneComentarios">
            COMENTARIOS
          </button>
        </div>
      </div>
      

    <div class="section">

      <h2 class="title-colapside" *ngIf="oc?.estado === 'Nuevo' || showSearchPedido" (click)="colapseDivpedido=!colapseDivpedido">PEDIDO</h2>
      <h2 class="title-colapside" *ngIf="oc?.estado !== 'Nuevo' && !showSearchPedido" (click)="colapseDivpedido=!colapseDivpedido">FLETE</h2>

      <div class="row" [class.colapse-div]="colapseDivpedido">

        <!-- <app-oc-by-combinacion-finalizados-dialog-field
          *ngIf="(oc?.estado === 'Finalizado' || showSearchOCfinalizadas || oc?.estado === 'Conciliado') && !shouldHideFinalizadoComponent"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº OC"
          [ocEvents]="ocEventsSubject.asObservable()"
          [groupName]="groupName"
          [form]="form"
          [combinacionId]="combinacionId"
          (valueChange)="onOrdenCargaChange($event)"
       
        ></app-oc-by-combinacion-finalizados-dialog-field>

        <app-oc-by-combinacion-aceptados-dialog-field
          *ngIf="(oc?.estado === 'Aceptado' || showSearchOCAceptadas)"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº OC"
          [ocEvents]="ocEventsSubject.asObservable()"
          [groupName]="groupName"
          [form]="form"
          [combinacionId]="combinacionId"
          (valueChange)="onOrdenCargaChange($event)">
        </app-oc-by-combinacion-aceptados-dialog-field> -->


        <app-flete-by-gestor-dialog-field
          *ngIf="showSearchPedido || (isEdit && oc?.estado !== 'Conciliado' && oc?.estado !== 'Cancelado')"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº Pedido"
          [fleteEvents]="fleteEventsSubject.asObservable()"
          [groupName]="groupName"
          [form]="form"
          (valueChange)="onFleteChange($event)"
        ></app-flete-by-gestor-dialog-field>

        <!-- <app-oc-by-combinacion-dialog-field
          *ngIf="oc?.estado === 'Cancelado' || showSearchOC"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº OC"
          [groupName]="groupName"
          [form]="form"
          [combinacionId]="combinacionId"
          (valueChange)="onOrdenCargaChange($event)"
        ></app-oc-by-combinacion-dialog-field>

        <app-oc-by-combinacion-nuevos-dialog-field
          *ngIf="(oc?.estado === 'Nuevo' || showSearchOCNuevos) && !isSaveForm"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº OC"
          [groupName]="groupName"
          [form]="form"
          [combinacionId]="combinacionId"
          (valueChange)="onOrdenCargaChange($event)"
        ></app-oc-by-combinacion-nuevos-dialog-field> -->

        <app-input-field-oc
          *ngIf="(isEdit && (oc?.estado === 'Conciliado' && isShow) && oc?.estado === 'Cancelado') ||
              showSearchOCPedidos"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nº Pedido"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="flete_id"
          [disabled]="readonly"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Cliente"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="cliente"
        ></app-input-field-oc>


        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Producto"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="producto_descripcion"
        ></app-input-field-oc>
        <app-input-field-oc
          *ngIf="showSearchOCAceptadas"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Lugar Carga"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="origen_nombre"
        ></app-input-field-oc>

        <app-input-field-oc
          *ngIf="showSearchOCAceptadas"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Lugar Descarga"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="destino_nombre"
        ></app-input-field-oc>

        <app-input-field-oc
          *ngIf="!showField && isEditField"
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Saldo (del Pedido)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true" 
          [form]="form"
          controlName="saldo"
        ></app-input-field-oc>

      </div>

      <div class="row" [class.colapse-div]="colapseDivpedido">

        <app-input-field-oc
          *ngIf="!showSearchOCAceptadas"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Lugar Carga"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="origen_nombre"
        ></app-input-field-oc>

        <app-input-field-oc
          *ngIf="!showSearchOCAceptadas"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Lugar Descarga"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="destino_nombre"
        ></app-input-field-oc>

        <app-input-field-oc
          *ngIf="!showField && !isEditField"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Flete a <strong>PAGAR</strong>"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="a_pagar"
        ></app-input-field-oc>

        <app-input-field-oc
          *ngIf="!showField && !isEditField"
          class="input-form-full col-xs-12 col-sm-6 col-md-3"
          title="Valor mercaderia"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="valor"
        ></app-input-field-oc>
      </div>
    </div>

    <div class="section" *ngIf="!showField && !isEditField">
      <h2 class="title-colapside" (click)="colapseDivCantidad=!colapseDivCantidad">CANTIDAD NOMINADA</h2>

      <div class="row" [class.colapse-div]="colapseDivCantidad">

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Neto Combinación"
          [groupName]="groupName"
          [camionId]="camionId"
          matinput
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="neto"
          appInputThousandsSeparator
        ></app-input-field-oc>

<!--         
          <app-orden-carga-create-form-info
            class="input-form-full col-xs-12 col-sm-6 col-md-2"
            [form]="form"
            [flete]="flete"
            [oc]="oc">
          </app-orden-carga-create-form-info> -->

        <app-number-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Nominada"
          id="cantidad_nominada"
          controlName="cantidad_nominada"
          [groupName]="groupNameInfo"
          [form]="form"
          [viewMode]="disableForm || oc?.estado !== 'Nuevo'"
          appAutofocus="true"
        ></app-number-field>
        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Cant. Orig. (kg)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="cant_origen">
        </app-input-field-oc>
        
        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Cant. Dest. (kg)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="cant_destino"
        ></app-input-field-oc>

        <app-input-field-oc
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Diferencia (kg)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="diferencia"
        ></app-input-field-oc>
      </div>
    </div>
  </div>
</div>
