<div *ngIf="form" [formGroup]="form" class="combinacion-container">
  <div class="section">
    <h2>FLOTA</h2>
    <div [formGroupName]="groupName">
      <div class="row page-form-row">
        <div class="search-tracto small-input input-with-label">
          <label>Chapa <strong>Tracto</strong></label>
          <app-combinacion-dialog-field
            [groupName]="groupName"
            [form]="form"
            (valueChange)="onCamionChange($event)"
            [style]="'width: 170px;'"
          ></app-combinacion-dialog-field>
        </div>
        <div class="small-marca-input input-with-label">
          <app-input-field-oc
            title="Marca"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="marca_camion"
          ></app-input-field-oc>
        </div>
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="Color"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="color_camion"
          ></app-input-field-oc>
        </div>
     
        <div class="small-chapa_semi-input input-with-label">
          <app-input-field-oc
            title='Chapa <strong>Semi</strong>'
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="semi_placa"
            [shouldFormat]="false"
          ></app-input-field-oc>
        </div>

        <div class="small-input input-with-label">
          <app-input-field-oc
            title="Marca"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="marca_semi"
          ></app-input-field-oc>
        </div>
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="Color"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="color_semi"
          ></app-input-field-oc>
        </div>
        <mat-slide-toggle 
          trueTitle="Activo"
          falseTitle="Inactivo"
          formControlName="anticipo_propietario"
          labelPosition="before"
          class="mat-slide-toggle-disabled" 
        >Anticipos</mat-slide-toggle>
      </div>

      <div class="row page-form-row">
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="<strong>Propietario</strong>"
            [matTooltip]="'Propietario'"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="propietario_camion"
          ></app-input-field-oc>
        </div>
        <div class="small-doc-input input-with-label">
          <app-input-field-oc
            title="Doc. Nº"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="propietario_camion_doc"
            [shouldFormat]="false"
          ></app-input-field-oc>
        </div>
        <div class="small-beneficiario-input input-with-label">
          <app-input-field-oc
            title="<strong>Beneficiario</strong> (Nombre/Razon Social)"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="beneficiario_camion"
          ></app-input-field-oc>
        </div>
        <div class="small-doc-input input-with-label">
          <app-input-field-oc
            title="Doc. Nº"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="beneficiario_camion_doc"
            [shouldFormat]="false"
          ></app-input-field-oc>
        </div>
      </div>
    </div>
    <div class="row page-form-row">
      <div class="small-input input-with-label">
        <app-input-field-oc
          title="Chofer"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="chofer_camion"
        ></app-input-field-oc>
      </div>
      <div class="small-chofer-input input-with-label">
        <app-input-field-oc
          title="Doc. Nº"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="chofer_camion_doc"
          [shouldFormat]="false"
        ></app-input-field-oc>
      </div>
      <mat-slide-toggle 
        formControlName="puede_recibir_anticipos"
        labelPosition="before" 
        class="slide-toggle-anticipos mat-slide-toggle-disabled"
      > Anticipos</mat-slide-toggle>
    </div>

    <div class="section">
      <h2 *ngIf="oc?.estado === 'Nuevo' || showSearchPedido" >PEDIDO</h2>
      <h2 *ngIf="oc?.estado !== 'Nuevo' && !showSearchPedido">FLETE</h2>

      <div class="row page-form-row">
        <div class="search-tracto small-input input-with-label" *ngIf="oc?.estado === 'Nuevo' || showSearchPedido">
          <label>Nº Pedido</label>
          <app-flete-by-gestor-dialog-field
            [groupName]="groupName"
            class="buscador"
            [form]="form"
            (valueChange)="onFleteChange($event)"
            [style]="'width: 160px'"
          ></app-flete-by-gestor-dialog-field>
        </div>
        <div class="search-tracto small-input input-with-label"
         *ngIf="oc?.estado === 'Cancelado' || showSearchOC">
          <label>Nº OC</label>
          <app-oc-by-combinacion-dialog-field
            [groupName]="groupName"
            class="buscador"
            [form]="form"
            [style]="'width: 100px'"
            [combinacionId]="combinacionId"
            (valueChange)="onOrdenCargaChange($event)"
          ></app-oc-by-combinacion-dialog-field>
        </div>
        <div class="search-tracto small-input input-with-label"
        *ngIf="(oc?.estado === 'Aceptado' || showSearchOCAceptadas) && !isSaveForm">
         <label>Nº OC</label>
         <app-oc-by-combinacion-aceptados-dialog-field
           [groupName]="groupName"
           class="buscador"
           [form]="form"
           [style]="'width: 100px'"
           [combinacionId]="combinacionId"
           (valueChange)="onOrdenCargaChange($event)"
         ></app-oc-by-combinacion-aceptados-dialog-field>
      </div>
      
      <div class="search-tracto small-input input-with-label"
        *ngIf="(oc?.estado === 'Nuevo' || showSearchOCNuevos) && !isSaveForm">
        <label>Nº OC</label>
        <app-oc-by-combinacion-nuevos-dialog-field
          [groupName]="groupName"
          class="buscador"
          [form]="form"
          [style]="'width: 100px'"
          [combinacionId]="combinacionId"
          (valueChange)="onOrdenCargaChange($event)"
        ></app-oc-by-combinacion-nuevos-dialog-field>
      </div>
      

      <div class="search-tracto small-input input-with-label"
        *ngIf="oc?.estado === 'Finalizado' || showSearchOCfinalizadas">
         <label>Nº OC</label>
         <app-oc-by-combinacion-finalizados-dialog-field
           [groupName]="groupName"
           class="buscador"
           [form]="form"
           [style]="'width: 100px'"
           [combinacionId]="combinacionId"
           (valueChange)="onOrdenCargaChange($event)"
         ></app-oc-by-combinacion-finalizados-dialog-field>
       </div>

        <div class="small-input input-with-label"  
        *ngIf="oc?.estado === 'Aceptado' || oc?.estado === 'Finalizado' ||
         oc?.estado === 'Conciliado' || oc?.estado === 'Cancelado' || showSearchOCPedidos">
          <app-input-field-oc
            title="Nº Pedido"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="flete_id"
          ></app-input-field-oc>
        </div>
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="Nº Lote"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="numero_lote"
          ></app-input-field-oc>
        </div>
        <div class="small-saldo-input input-with-label">
          <app-input-field-oc
            title="Saldo"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="saldo"
          ></app-input-field-oc>
        </div>
        <div class="small-cliente-input input-with-label">
          <app-input-field-oc
            title="Cliente"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="cliente"
          ></app-input-field-oc>
        </div>
        <div class="small-producto-input input-with-label">
          <app-input-field-oc
            title="Producto"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="producto_descripcion"
          ></app-input-field-oc>
        </div>
      </div>

      <div class="row page-form-row">
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="L. Carga"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="origen_nombre"
          ></app-input-field-oc>
        </div>
        <div class="small-descarga-input input-with-label">
          <app-input-field-oc
            title="L. Descarga"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="destino_nombre"
          ></app-input-field-oc>
        </div>
        <div class="small-flete-input input-with-label">
          <app-input-field-oc
            title="Tipo Flete"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="tipo_flete"
          ></app-input-field-oc>
        </div>
      </div>

      <div class="row page-form-row">
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="Flete a <strong>PAGAR</strong>"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="a_pagar"
          ></app-input-field-oc>
        </div>
        <div class="small-input input-with-label">
          <app-input-field-oc
            title="Valor mercaderia"
            [groupName]="groupName"
            [camionId]="camionId"
            [productoId]="productoId"
            [readonly]="true"
            [form]="form"
            controlName="valor"
          ></app-input-field-oc>
        </div>
      </div>
    </div>
      <app-orden-carga-create-form-info
        [form]="form"
        [flete]="flete"
        [oc]="oc"
        >
      </app-orden-carga-create-form-info>
      
    <div class="small-neto-input input-with-label">
      <app-input-field-oc
        title="Neto Combinación"
        [groupName]="groupName"
        [camionId]="camionId"
        matinput
        [productoId]="productoId"
        [readonly]="true"
        [form]="form"
        controlName="neto"
        appInputThousandsSeparator
      ></app-input-field-oc>
  </div>
    <div class="cantidades">
      <div class="small-cantidad_dest-input input-with-label">
        <app-input-field-oc
          title="Cant. Orig. (kg)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="cant_origen"
        ></app-input-field-oc>
      </div>
      <div class="small-cantidad_dest-input input-with-label">
        <app-input-field-oc
          title="Cant. Dest. (kg)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="cant_destino"
        ></app-input-field-oc>
      </div>
      <div class="small-diferencia-input input-with-label">
        <app-input-field-oc
          title="Diferencia (kg)"
          [groupName]="groupName"
          [camionId]="camionId"
          [productoId]="productoId"
          [readonly]="true"
          [form]="form"
          controlName="diferencia"
        ></app-input-field-oc>
      </div>
  
  </div>
</div>
