<form [formGroup]="form" >
  <h1 mat-dialog-title >
     <span class="submodule"> {{ actionText }}</span> <span class="module">CONTACTO</span>
  </h1>
  <div mat-dialog-content class="form-container">
    <div class="left-column">
      <div class="nombre-form-field" [class.disabled]="isExistContacto">
        <label for="nombre" class="custom-label">Nombre</label>
        <input
          type="text"
          formControlName="nombre"
          placeholder="Nombre"
          [readonly]="isExistContacto"
          appAutofocus
          [ngClass]="{ 'view-mode': isViewMode }"
          
          class="input-nombre"
        />
        <div *ngIf="form.get('nombre')?.hasError('required')" class="error-message">
           <strong></strong>
        </div>
      </div>
      <div class="telefono">
        <label for="nombre" class="custom-label">Celular</label>
        <input
          class="input-telefono"
          matInput
          formControlName="telefono"
          [ngClass]="{ 'view-mode': isViewMode }"
          placeholder="+595981 ó 0981"
          appFormatToPastePhone
          (focus)="telefonoBlur$.next(false)"
          (blur)="telefonoBlur$.next(true)"
        />
        <mat-hint></mat-hint>
        <mat-error *ngIf="form.get('telefono')?.hasError('required')">
          <strong></strong>
        </mat-error>
        <mat-error *ngIf="form.get('telefono')?.hasError('pattern')">
          <strong>Inválido</strong>. Formato: +595981 ó 0981
        </mat-error>
      </div>
      
      <div class="alias">
        <label for="nombre" class="custom-label">Alias</label>
          <input class="input-alias" matInput  placeholder="Alias" formControlName="alias" [ngClass]="{ 'view-mode': isViewMode }" />
          <mat-error *ngIf="form.controls['alias'].hasError('required')">
             <strong></strong>
          </mat-error>
      
      </div>
    </div>
    
    <div class="right-column">
      <div class="apellido-form-field" [class.disabled]="isExistContacto">
        <label for="apellido" class="custom-label">Apellido</label>
        <input
          matInput
          formControlName="apellido"
          placeholder="Apellido"
          [ngClass]="{ 'view-mode': isViewMode }"
          [readonly]="isExistContacto"
          class="input-apellido"
        />
        <mat-error *ngIf="form.get('apellido')?.hasError('required')">
          <strong></strong>
        </mat-error>
      </div>
      
      <div class="email">
        <label for="email" class="custom-label">mail</label>
        <input
          class="input-email"
          matInput
          formControlName="email"
          [ngClass]="{ 'view-mode': isViewMode }"
          placeholder="E-mail"
          (focus)="emailBlur$.next(false)"
          (blur)="emailBlur$.next(true)"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
           <strong></strong>
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          El e-mail es <strong>inválido</strong>
        </mat-error>
      </div>
      
      <div class="cargo">
        <app-cargo-field [control]="cargoControl" [isViewMode]="isViewMode" [ngClass]="{ 'view-mode-cargo': isViewMode }"></app-cargo-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" class="close-button" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
    *ngIf="!isViewMode"
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
      class="save-button"
    >
      <mat-icon>save</mat-icon> GUARDAR
    </button>
  </div>
</form>
