
.form-container {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.mat-dialog-title {
  padding-top: 0;
}

.submodule {
  font-weight: 700;
  color: #3B9EFF;
}

.module {
  font-weight: 700;
  color: #F25A38; /* Color para el submódulo */
}

.submodule::after {
  content: " >> ";
  color: #F25A38; /* Color del signo de mayor */
  font-style: italic;
  font-weight: 700;
}

.mat-dialog-actions {
  position: relative; /* Asegura que la posición sea relativa para el seudoelemento */
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  margin-bottom: 0; /* Elimina el margen inferior */
  padding-bottom: 0; /* Elimina el padding inferior */
}
