<form [formGroup]="form" class="main-container">

  <h1 mat-dialog-title >
     <span class="submodule"> {{ actionText }}</span>
     <span class="module">CONTACTO</span>
  </h1>

  <hr>

  <div mat-dialog-content class="form-container">

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Nombre"
        [form]="form"
        [readonly]="isExistContacto"
        controlName="nombre"
        [requerido]="true"
        appAutofocus
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Apellido"
        [form]="form"
        [requerido]="true"
        controlName="apellido"
      ></app-input-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-6" [formGroup]="form">
        <mat-label class="custom-label">
          <span class="required">(*) </span>
          Celular
        </mat-label>
        <mat-form-field floatLabel="always" appearance="outline"
          [ngClass]="{'view-mode': isViewMode}">
          <input
              matInput
              formControlName="telefono"
              [ngClass]="{ 'view-mode': isViewMode }"
              placeholder="+595981 ó 0981"
              appFormatToPastePhone
              (focus)="telefonoBlur$.next(false)"
              (blur)="telefonoBlur$.next(true)"
            />
          <mat-error *ngIf="form.get('telefono')?.hasError('required')">
            Este campo es <strong>requerido</strong>
          </mat-error>
          <mat-error *ngIf="form.get('telefono')?.hasError('pattern')">
            <strong>Inválido</strong>. Formato: +595981 ó 0981
          </mat-error>
        </mat-form-field>
      </div>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-6" [formGroup]="form">
        <mat-label class="custom-label">
     
          Mail
        </mat-label>
        <mat-form-field floatLabel="always" appearance="outline"
          [ngClass]="{'view-mode': isViewMode}">
          <input
              matInput
              formControlName="email"
              [ngClass]="{ 'view-mode': isViewMode }"
              placeholder="E-mail"
              (focus)="emailBlur$.next(false)"
              (blur)="emailBlur$.next(true)"
            />
            <mat-error *ngIf="form.get('email')?.hasError('required')">
              Este campo es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">
              El e-mail es <strong>inválido</strong>
            </mat-error>
        </mat-form-field>
      </div>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-5"
        title="Alias"
        [form]="form"
        controlName="alias"
        [form]="form"
      ></app-input-field>

      <app-cargo-field
        class="input-form-full col-xs-12 col-sm-6 col-md-7"
        title="Referencia"
        [requerido]="true"
        [control]="cargoControl"
        [isViewMode]="isViewMode"
        [ngClass]="{ 'view-mode-cargo': isViewMode }"
        >
      </app-cargo-field>

    </div>

  </div>

  <hr>

  <div mat-dialog-actions style="margin-top: 5px;">

    <button
      mat-stroked-button
      class="botones list-button" color="primary"
      (click)="dialogRef.close()"
      tabindex="7">
      <mat-icon>close</mat-icon>
      Cerrar
    </button>

    <button
        *ngIf="!isViewMode"
        mat-flat-button
        class="botones" color="primary"
        type="button"
        (click)="submit()"
        cdkFocusInitial
        id="submit-button"
        tabindex="8"
      >
      <mat-icon>save</mat-icon> GUARDAR
    </button>

  </div>

</form>
