<div *ngIf="form">
  <div class="row page-form-row">
    <div class="col-xs-12 table-container" [hidden]="!(list && list.length)">
      <app-table
        [columns]="columns"
        [modelo]="modelo"
        [gestorCuentaId]="gestorCuentaId"
        [data]="list"
        [hideShow]="true"
        [isShow]="isShow"
        [formArray]="formArray"
        (editClick)="edit($event)"
        (deleteClick)="remove($event)"
      ></app-table>
    </div>
    <div class="col-xs-12" [hidden]="isShow">
      <button mat-raised-button class="outline round" color="primary" type="button" (click)="create()" id="create-button">
        Nuevo Descuento
      </button>
    </div>
  </div>
</div>
