<div *ngIf="form">
  <div class="row page-form-row">
    <div class="col-xs-12 button-container" [hidden]="isShow || isEdit">
      <button
        mat-flat-button
        color="primary" type="button"
        (click)="create()"
        id="create-button"
        class="botones"
      >
      <mat-icon>add_circle</mat-icon>
        DESCUENTO
      </button>
    </div>
    <div class="col-xs-12 table-container">
      <app-table
        [columns]="columns"
        [modelo]="modelo"
        [gestorCuentaId]="gestorCuentaId"
        [data]="list"
        [hideDelete]="true"
        [isShow]="isEdit"
        [hideEdit]="isShow"
        [formArray]="formArray"
        (showClick)="show($event)"
        (editClick)="edit($event)"
        (deleteClick)="remove($event)"
      ></app-table>
    </div>
  </div>
</div>
