.table-container {
  margin-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
}

#create-button {
  margin-bottom: 6px; 
  margin-left: auto;
}

.add-button{
  height: 25px;
  display: flex; /* Asegura que el contenido esté alineado correctamente */
  align-items: center; /* Alinea verticalmente el contenido */
  gap: 3px; /* Espacio entre el icono y el texto */
  letter-spacing: 0.06em;
  transition: background-color 0.3s;
  padding: 15px;
  font-size: 12px;
  font-weight: 580;
  line-height: 18.75px;
  letter-spacing: 0.06em;

}

.add-button mat-icon {
  font-size: 10px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 90%; /* Borde redondeado para el ícono */
  color: #1976D2; /* Color del ícono */
  width: 13px;
  height: 10px;
  gap: 0px;
  padding: 2px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-left: 1px;
  margin-right: 2px;
}