<div class="row">

  <div class="col-xs-12 button-container">

    <button mat-flat-button type="button"
      class="botones" color="primary"
      (click)="redirectToCreate()" id="add-button"
      *ngIf="(modelo | puede: a.CREAR: gestorCuentaId)">
      <mat-icon>add_circle</mat-icon> Semi-remolque
    </button>

  </div>

  <div class="col-xs-12 table-container" [hidden]="!(list && list.length)">
    <app-table
      [columns]="columns"
      [data]="list"
      [modelo]="modelo"
      [isShow]="isShow"
      (showClick)="redirectToShow($event)"
      (editClick)="redirectToEdit($event)"
      (deleteClick)="deleteRow($event)"
    ></app-table>
  </div>

</div>
