.small-input {
    width: 152px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: right;
    color: #FBFBFE;
    
  }
.small-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
.chapa-search-input{
  width: 112px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
  background-color: #202020;
  
}
.chapa-search-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.chapa-input {
  width: 112px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.chapa-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.propietario-input {
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.propietario-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.propietario_doc-input {
  width: 85px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.propietario_doc-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.chofer-input {
  width: 328px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.chofer-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.chofer_doc-input {
  width: 100px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.chofer_doc-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}
///////PEDIDOS
/// 
.lote_pedido-input{
  width: 100px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.lote_pedido-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.saldo-input{
  width: 200px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.saldo-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.cliente-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.cliente-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.producto-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.producto-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.origen_destino-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.origen_destino-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.tipo_flete-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.tipo_flete-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}


.a_pagar-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.a_pagar-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.valor-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: right;
  color: #FBFBFE;
}

.valor-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}



.mat-form-field.appearance-outline .mat-form-field-flex,
.mat-form-field.appearance-fill .mat-form-field-flex {
  display: flex;
  align-items: center;
}

.mat-form-field.appearance-outline .mat-form-field-label,
.mat-form-field.appearance-fill .mat-form-field-label {
  position: static;
  transform: none;
  margin-right: 8px;
}

.label-general{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: right;
    color: #202020;
    width: 34px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
}

.custom-input {
    width: 100%;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    padding: 8px 6px; /* Padding interno */
    font-family: 'Roboto', sans-serif; /* Tipo de letra */
    font-size: 14px; /* Tamaño de letra */
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
  }
  