.mat-form-field.appearance-outline .mat-form-field-flex,
.mat-form-field.appearance-fill .mat-form-field-flex {
  display: flex;
  align-items: center;
}

.mat-form-field.appearance-outline .mat-form-field-label,
.mat-form-field.appearance-fill .mat-form-field-label {
  position: static;
  transform: none;
  margin-right: 8px;
}
/* Clase general para centrar texto en inputs */
.custom-input {
  height: 24px; /* Asegúrate de que esta sea la altura deseada */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FBFBFE;
}



.small-input {
  width: 190px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.small-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .small-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.chapa-search-input{
  width: 112px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
  background-color: #202020;
}

.chapa-search-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

.chapa-input {
  width: 152px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.chapa-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .chapa-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.propietario-input {
  width: 353px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.propietario-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .propietario-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.propietario_doc-input {
  width: 145px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.propietario_doc-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .propietario_doc-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.beneficiario-input {
  width: 353px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.beneficiario-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .beneficiario-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.chofer-input {
  width: 380px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.chofer-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .chofer-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.chofer_doc-input {
  width: 145px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.chofer_doc-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .chofer_doc-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}
///////PEDIDOS
/// 
.lote_pedido-input{
  width: 118px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.lote_pedido-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .lote_pedido-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.saldo-input{
  width: 280px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
  text-align: end;
}

.saldo-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .saldo-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.cliente-input{
  width: 420px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.cliente-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .cliente-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.producto-input{
  width: 195px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.producto-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .producto-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.origen_destino-input{
  width: 420px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.origen_destino-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .origen_destino-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.tipo_flete-input{
  width: 205px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.tipo_flete-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .tipo_flete-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.a_pagar-input{
  width: 200px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
  text-align: end;
}

.a_pagar-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -6px;
}

::ng-deep .a_pagar-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.valor-input{
  width: 150px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

.valor-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -6px;
}

::ng-deep .valor-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.neto-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

.neto-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .neto-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.nominada-input{
  width: 350px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

.nominada-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -2px;
}

::ng-deep .nominada-input .mat-form-field-outline {
  border: 1px solid #F25A38;
}

.cantidades-input{
  width: 280px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

.cantidades-input input {
  width: 100%;
  height: 100%;
  padding-bottom: 1px;
  border: none;
  outline: none;
  background: transparent;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 116.41px;
  margin-top: -8px;
}

::ng-deep .cantidades-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.label-general{
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #202020;
    width: 34px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    pointer-events: none;
    padding-top: 8px;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  .small-input {
    width: 92px; /* 125px * 0.7125 ≈ 89px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .chapa-search-input,
  .chapa-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 85px; /* 112px * 0.7125 ≈ 80px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .propietario-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 203px; /* 300px * 0.7125 ≈ 213px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .propietario_doc-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 78px; /* 85px * 0.7125 ≈ 61px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .chofer-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 234px; /* 328px * 0.7125 ≈ 234px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
  }
  .chofer_doc-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 75px; /* 100px * 0.7125 ≈ 71px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-top: 8px;
  }
  .lote_pedido-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 57px; /* 80px * 0.7125 ≈ 57px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .saldo-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 142px; /* 200px * 0.7125 ≈ 142px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .cliente-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 258px; /* 320px * 0.7125 ≈ 228px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .producto-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 139px; /* 195px * 0.7125 ≈ 139px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .origen_destino-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 270px; /* 380px * 0.7125 ≈ 270px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .tipo_flete-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
   
    width: 142px; /* 200px * 0.7125 ≈ 142px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .a_pagar-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    width: 213px; /* 300px * 0.7125 ≈ 213px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }
  .valor-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 213px; /* 300px * 0.7125 ≈ 213px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .cantidades-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 213px; /* 300px * 0.7125 ≈ 213px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
  }
  .neto-input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 5px;
    width: 200px; /* 300px * 0.7125 ≈ 213px */
    height: 20px;
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    
  }
}

