<ng-container *ngIf="form">
  <div *ngIf="control" [formGroup]="form" class="field-content">
    <ng-container *ngIf="groupName">

      <label class="label-general"  [innerHTML]="title">
        <span *ngIf="requerido" class="required">(*) </span>
        {{ title }}
      </label>

      <mat-form-field [formGroupName]="groupName"
      [ngClass]="{
        'small-input'             : controlName === 'marca_camion' ||
                                    controlName === 'color_camion' ||
                                    controlName === 'marca_camion' ||
                                    controlName === 'marca_semi'   ||
                                    controlName === 'color_semi',
        'chapa-input'             : controlName === 'semi_placa',
        'propietario-input'       : controlName === 'propietario_camion',
        'beneficiario-input'       : controlName === 'beneficiario_camion',
        'propietario_doc-input'   : controlName === 'propietario_camion_doc'||
                                    controlName === 'beneficiario_camion_doc',
        'chofer-input'            : controlName === 'chofer_camion',
        'chofer_doc-input'        : controlName === 'chofer_camion_doc',
        'chapa-search-input'      : title === 'Chapa',

        'lote_pedido-input'       : controlName === 'flete_id' ||
                                    controlName === 'numero_lote',
        'saldo-input'             : controlName === 'saldo',
        'cliente-input'           : controlName === 'cliente',
        'producto-input'          : controlName === 'producto_descripcion',
        'origen_destino-input'    : controlName === 'origen_nombre' ||
                                    controlName === 'destino_nombre',
        'tipo_flete-input'        : controlName === 'tipo_flete',
        'a_pagar-input'           : controlName === 'a_pagar',
        'valor-input'             : controlName === 'valor',
        'neto-input'              : controlName === 'neto',
        'cantidades-input'        : controlName === 'cant_origen' ||
                                   controlName === 'cant_destino' ||
                                   controlName === 'diferencia'}">

        <input
          class="custom-input"
          matInput
          [value]="rowValue"
          [disabled]="readonly"
          *ngIf="readonly"
          [value]="getFormattedValue()"
          [ngClass]="{ 'no-format': !shouldFormat }"


        />
        <input
          class="custom-input"
          matInput
          [autocomplete]="autocomplete"
          [formControlName]="controlName"
          [appFormatToPasteNumber]="formatToPasteNumber"
          [appFormatToPastePhone]="formatToPastePhone"
          [appAutofocus]="autofocus"
          [hidden]="readonly"
          [value]="getFormattedValue()"
          [ngClass]="{ 'no-format': !shouldFormat }"

        />
        <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
        <mat-error *ngIf="control.hasError('maxlength')">
          Hasta
          <strong>
            {{ control.getError("maxlength").requiredLength | numberFormat }}
            caracteres
          </strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('required')">
          Este campo es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('email')">
          El email no es <strong>válido</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="!groupName">
      <label class="label-general">{{ title }}</label>
      <mat-form-field
       [ngClass]="{
        'small-input'             : controlName === 'marca_camion' ||
                                    controlName === 'color_camion' ||
                                    controlName === 'marca_camion' ||
                                    controlName === 'marca_semi'   ||
                                    controlName === 'color_semi',
        'chapa-input'             : controlName === 'semi_placa',
        'propietario-input'       : controlName === 'propietario_camion',
        'beneficiario-input'       : controlName === 'beneficiario_camion',
        'propietario_doc-input'   : controlName === 'propietario_camion_doc'||
                                    controlName === 'beneficiario_camion_doc',
        'chofer-input'            : controlName === 'chofer_camion',
        'chofer_doc-input'        : controlName === 'chofer_camion_doc',
        'chapa-search-input'      : title === 'Chapa',

        'lote_pedido-input'       : controlName === 'flete_id' ||
                                    controlName === 'numero_lote',
        'saldo-input'             : controlName === 'saldo',
        'cliente-input'           : controlName === 'cliente',
        'producto-input'          : controlName === 'producto_descripcion',
        'origen_destino-input'    : controlName === 'origen_nombre' ||
                                    controlName === 'destino_nombre',
        'tipo_flete-input'        : controlName === 'tipo_flete',
        'a_pagar-input'           : controlName === 'a_pagar',
        'valor-input'             : controlName === 'valor',
        'neto-input'              : controlName === 'neto',
        'cantidades-input'        : controlName === 'cant_origen' ||
                                   controlName === 'cant_destino' ||
                                   controlName === 'diferencia'}">

        <input
          class="custom-input"
          matInput
          [value]="rowValue"
          [disabled]="readonly"
          *ngIf="readonly"
        />
        <input
          class="custom-input"
          matInput
          [autocomplete]="autocomplete"
          [formControlName]="controlName"
          [appAutofocus]="autofocus"
          [hidden]="readonly"
          [appFormatToPasteNumber]="formatToPasteNumber"
          [appFormatToPastePhone]="formatToPastePhone"
          [value]="getFormattedValue()"
          [ngClass]="{ 'no-format': !shouldFormat }"

        />
        <mat-hint *ngIf="hint" [innerHTML]="hint"></mat-hint>
        <mat-error *ngIf="control.hasError('maxlength')">
          Hasta
          <strong>
            {{ control.getError("maxlength").requiredLength | numberFormat }}
            caracteres
          </strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('required')">
          Este campo es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="control.hasError('email')">
          El email no es <strong>válido</strong>
        </mat-error>
      </mat-form-field>
    </ng-container>
  </div>
</ng-container>
