.mat-form-field.appearance-outline .mat-form-field-flex,
.mat-form-field.appearance-fill .mat-form-field-flex {
  display: flex;
  align-items: center;
}

.mat-form-field.appearance-outline .mat-form-field-label,
.mat-form-field.appearance-fill .mat-form-field-label {
  position: static;
  transform: none;
  margin-right: 8px;
}

.label-general{
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  width: 34px;
  height: 16px;
  gap: 0px;
  opacity: 0px;
  pointer-events: none;
  position: relative;
  top: -2px;
}

/* Aplica estilos de borde personalizados a mat-form-field */
::ng-deep .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  height: 29px;
}
/* Clase general para centrar texto en inputs */
.custom-input {
  position: relative;
  top: -2.8px; 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: -5px;
  width: auto;
  margin-left: -4px;
  border: none;
  border-color: none;
  background: none;
  outline: none;
}

.small-input {
  width: 190px;
  height: 20px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #FBFBFE;
}

mat-hint {
  color: #d32f2f; /* Color del texto del hint */
  font-size: 10px; /* Tamaño de fuente del hint */
  font-style: italic; /* Estilo de fuente del hint */
  white-space: nowrap;
  bottom: 24px; /* Ajusta el hint en la parte inferior del mat-form-field */
  left: 0; /* Ajusta el hint en la parte izquierda del mat-form-field */
  right: 30px; /* Ajusta el hint en la parte derecha del mat-form-field */
  display: block; /* Asegura que el hint se muestre como bloque */
  margin-left: -10px;
  margin-top: 13px;
}

.small-estado-input .label-general{
  margin-left: 100px;
}

::ng-deep .small-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.chapa-search-input{
  width: 112px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
  background-color: #202020;
}

.chapa-input {
  width: 152px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .chapa-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.propietario-input {
  width: 353px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.propietario-input input {
  position: relative;
  top: -2.8px; 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: -5px;
  width: 350px;
  margin-left: -4px;
  border: none;
  border-color: none;
  background: none;
  outline: none;
}

::ng-deep .propietario-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.propietario_doc-input {
  width: 145px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .propietario_doc-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.beneficiario-input {
  width: 353px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.beneficiario-input input {
  position: relative;
  top: -2.8px; 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: -5px;
  width: 350px;
  margin-left: -4px;
  border: none;
  border-color: none;
  background: none;
  outline: none;
}

::ng-deep .beneficiario-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.chofer-input {
  width: 380px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.chofer-input input {
  position: relative;
  top: -2.8px; 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: -5px;
  width: 370px;
  margin-left: -4px;
  border: none;
  border-color: none;
  background: none;
  outline: none;
}

::ng-deep .chofer-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.chofer_doc-input {
  width: 145px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .chofer_doc-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}
///////PEDIDOS
/// 
.lote_pedido-input{
  width: 90px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .lote_pedido-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.saldo-input{
  width: 280px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
  text-align: end;
}

::ng-deep .saldo-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.cliente-input{
  width: 400px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .cliente-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.producto-input{
  width: 195px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .producto-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.origen_destino-input{
  width: 420px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

.origen_destino-input input {
  position: relative;
  top: -2.8px; 
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: -5px;
  width: 400px;
  margin-left: -4px;
  border: none;
  border-color: none;
  background: none;
  outline: none;
}

::ng-deep .origen_destino-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.tipo_flete-input{
  width: 205px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
}

::ng-deep .tipo_flete-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.a_pagar-input{
  width: 200px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  color: #FBFBFE;
  text-align: end;
}

::ng-deep .a_pagar-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.valor-input{
  width: 150px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

::ng-deep .valor-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.neto-input{
  width: 300px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

::ng-deep .neto-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

.nominada-input{
  width: 350px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

::ng-deep .nominada-input .mat-form-field-outline {
  border: 1px solid #F25A38;
}

.cantidades-input{
  width: 280px;
  height: 24px;
  padding: 8px 6px;
  gap: 2px;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  text-align: end;
  color: #FBFBFE;
}

::ng-deep .cantidades-input .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}


@media screen and (max-width: 1366px) and (max-height: 768px) {
  .label-general{
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #202020;
    width: 34px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    pointer-events: none;
    position: relative;
    top: -2px;
  }
  
  .custom-input {
    position: relative;
    bottom: 1.8px; 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: -5px;
    width: 100%;
    margin-left: -4px;
    border: none;
    border-color: none;
    background: none;
    outline: none;
    line-height: 16.41px;
  }

  .small-input {
    width: 90px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FBFBFE;
    line-height: 16.41px;
  }
 
  .mat-hint, .mat-error {
    font-size: 12px;
    margin-top: 2px;
  }
 
  .small-estado-input .label-general{
    margin-left: 100px;
  }
  
  ::ng-deep .small-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .chapa-search-input{
    width: 90px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
    background-color: #202020;
  }
 
  .chapa-input {
    width: 100px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .chapa-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .propietario-input {
    width: 173px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  .propietario-input input {
    position: relative;
    top: -2.8px; 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: -5px;
    width: 100%;
    margin-left: -4px;
    border: none;
    border-color: none;
    background: none;
    outline: none;
  }
  
  ::ng-deep .propietario-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .propietario_doc-input {
    width: 105px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .propietario_doc-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .beneficiario-input {
    width: 153px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  .beneficiario-input input {
    position: relative;
    top: -2.8px; 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: -5px;
    width: 100%;
    margin-left: -4px;
    border: none;
    border-color: none;
    background: none;
    outline: none;
  }
  
  ::ng-deep .beneficiario-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .chofer-input {
    width: 180px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  .chofer-input input {
    position: relative;
    top: -2.8px; 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: -5px;
    width: 370px;
    margin-left: -4px;
    border: none;
    border-color: none;
    background: none;
    outline: none;
  }
  
  ::ng-deep .chofer-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .chofer_doc-input {
    width: 105px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .chofer_doc-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  ///////PEDIDOS
  /// 
  .lote_pedido-input{
    width: 90px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .lote_pedido-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .saldo-input{
    width: 180px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
    text-align: end;
  }
  
  ::ng-deep .saldo-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .cliente-input{
    width: 200px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .cliente-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .producto-input{
    width: 95px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .producto-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .origen_destino-input{
    width: 320px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  .origen_destino-input input {
    position: relative;
    top: -2.8px; 
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: -5px;
    width: 100%;
    margin-left: -4px;
    border: none;
    border-color: none;
    background: none;
    outline: none;
  }
  
  ::ng-deep .origen_destino-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .tipo_flete-input{
    width: 105px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
  }
  
  ::ng-deep .tipo_flete-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .a_pagar-input{
    width: 200px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    color: #FBFBFE;
    text-align: end;
  }
  
  ::ng-deep .a_pagar-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .valor-input{
    width: 150px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: end;
    color: #FBFBFE;
  }
  
  ::ng-deep .valor-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .neto-input{
    width: 280px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: end;
    color: #FBFBFE;
    margin-top: -4px;
  }
  
  ::ng-deep .neto-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }
  
  .nominada-input{
    width: 350px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: end;
    color: #FBFBFE;
  }
  
  ::ng-deep .nominada-input .mat-form-field-outline {
    border: 1px solid #F25A38;
  }
  
  .cantidades-input{
    width: 280px;
    height: 24px;
    padding: 8px 6px;
    gap: 2px;
    font-family: 'Roboto' sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: end;
    color: #FBFBFE;
  }
  
  ::ng-deep .cantidades-input .mat-form-field-outline {
    border: 1px solid #D9D9D9;
    background: #FBFBFE;
  }

}
