<div *ngIf="formGroup" [formGroup]="formGroup"
  class="info-container" [ngClass]="{ 'disabled-container': disableForm }">

  <div [formGroupName]="groupName" class="row">

    <app-number-field
      class="input-form-full col-xs-12 col-sm-6 col-md-3"
      title="Nominada"
      id="cantidad_nominada"
      controlName="cantidad_nominada"
      [groupName]="groupName"
      [form]="formGroup"
      [viewMode]="disableForm || oc?.estado !== 'Nuevo'"
      appAutofocus="true"
    ></app-number-field>

    <div class="input-form-full col-xs-12 col-sm-6 col-md-7">
      <label for="comentarios" class="label-obs">Observacion</label>
      <mat-form-field class="obs">
        <textarea id="comentarios" matInput
          formControlName="comentarios"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="col-xs-2">

      <button
        mat-raised-button
        class="botones "
        (click)="openCommentDialog()"
        [disabled]="!tieneComentarios">
        COMENTARIOS
      </button>

    </div>

  </div>
</div>
