<div *ngIf="formGroup" [formGroup]="formGroup" class="info-container">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4">
        <mat-label>Neto de la combinación Tracto - Semi</mat-label>
        <input matInput [value]="neto" appInputThousandsSeparator disabled/>
      </mat-form-field>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-number-field
          title="Cantidad nominada"
          controlName="cantidad_nominada"
          [groupName]="groupName"
          [form]="formGroup"
        ></app-number-field>
      </div>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4">
        <mat-label>Comentarios</mat-label>
        <textarea matInput
          formControlName="comentarios"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
