<app-page-form
  class="user-page"
  submodule="USUARIO"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false)"
>
  <div class="user-page-content">

    <div class="row">

      <ng-container *ngIf="loggedUser$ | async as user">
        <ng-container *ngIf="!user.gestor_carga_id">
          <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
            <app-gestor-carga-dialog-field
              [form]="form"
            ></app-gestor-carga-dialog-field>
          </div>
        </ng-container>
      </ng-container>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        controlName="first_name"
        title="Nombre"
        [autofocus]="true"
        [form]="form"
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Apellido"
        controlName="last_name"
        [form]="form"
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="Nombre de usuario"
        controlName="usuario"
        [form]="form"
      ></app-input-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        title="E-mail"
        controlName="email"
        [form]="form"
      ></app-input-field>

      <div class="col-xs-12 col-sm-6 col-md-3"
        *ngIf="!isCreate && !editPasswords">
        <button *ngIf="isEdit"
          mat-raised-button
          type="button"
          class="botones"
          (click)="editPasswords = !editPasswords" >
          Editar contraseñas
        </button>
      </div>

      <ng-container *ngIf="isCreate || editPasswords">

        <app-password-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3 mr-1"
          title="Contraseña"
          controlName="contrasena"
          [form]="form"
        ></app-password-field>

        <app-password-field
          class="input-form-full col-xs-12 col-sm-6 col-md-3 mr-1"
          title="Repetir contraseña"
          controlName="confirm_password"
          [form]="form"
        ></app-password-field>

      </ng-container>

      <div class="col-xs-12 col-sm-6 col-md-3"
        *ngIf="!isCreate && editPasswords" >
        <button
          mat-raised-button
          class="botones"
          type="button"
          (click)="editPasswords = !editPasswords">
          Ocultar contraseñas
        </button>
      </div>

      <div *ngIf="isEdit || isShow">
        <app-estado-field class="input-form-full col-xs-12 col-sm-6 col-md-3"
             [estado]="estado">
        </app-estado-field>
      </div>

      <div class="col-xs-12">
        <app-rol-field [control]="form.controls['roles']"></app-rol-field>
      </div>

    </div>
  </div>
</app-page-form>
