.edit-pass-buttons {
  margin-top: 9px;
}

.user-page-content {
  padding-top: 1rem;
}

.user-page-content::ng-deep {
  .mat-input-element:disabled,
  .mat-select-disabled .mat-select-value {
    color: rgba(0, 0, 0, 0.87);
  }
  .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6);
  }
  .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
    visibility: hidden;
  }
  .estado-form-field {
    margin-top: 0;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 64em) {
    .estado-form-field {
      margin-top: 18px;
      margin-bottom: 0;
    }
  }
}

.d-flex {
  display: flex; 
  align-items: center; 
}

.form-label {
  margin-bottom: 10px; 
}

.mb-2 {
  margin-bottom: 0.5rem; 
}

.mat-form-field {
  width: 100%; 
}

.form-label {
  min-width: 70px; 
}

.form-label-name {
  margin-bottom: 10px; 
  min-width: 45px;
  margin-right: 8px;
}
.form-label-user-name{
  margin-bottom: 10px; 
  min-width: 120px;
  margin-right: 8px;
}

.form-label-password{
  margin-bottom: 10px; 
  min-width: 78px;
  margin-right: 8px;
}

.form-label-password-repeat{
  margin-bottom: 10px; 
  min-width: 118px;
  margin-right: 8px;
}

.form-label-email{
  margin-bottom: 10px; 
  min-width: 48px;
  margin-right: 8px;
}

.form-label-producto{
  margin-bottom: 10px; 
  min-width: 58px;
  margin-right: 8px;
}

.app-input-field{
  width: 100%;
  margin-right: 8px;
}

.estado-component{
  margin-top: -30px;
}


::ng-deep .name .mat-form-field-outline,
::ng-deep .last-name .mat-form-field-outline, 
::ng-deep .user-name .mat-form-field-outline, 
::ng-deep .e-mail .mat-form-field-outline,
::ng-deep .password .mat-form-field-outline{
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 35px;
  margin-top: 10px;
}

::ng-deep input.mat-input-element {
  line-height: 0.5rem; 
  padding-top: 3px;
  padding-bottom: 3px; 
}

