<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">

    <!-- Fila para Origen y Origen Indicaciones -->
    <div class="row">

      <app-centro-operativo-by-gestor-map-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Origen"
        controlName="origen_id"
        [groupName]="groupName"
        [form]="form"
        (valueChange)="origenChange.emit($event)"
      ></app-centro-operativo-by-gestor-map-dialog-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Origen Indicaciones"
        [groupName]="groupName"
        controlName="origen_indicacion"
        [form]="form"
      ></app-input-field>

    </div>

    <!-- Fila para Destino -->
    <div class="row">

      <app-centro-operativo-by-gestor-map-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Destino"
        controlName="destino_id"
        [groupName]="groupName"
        [form]="form"
        (valueChange)="destinoChange.emit($event)"
      ></app-centro-operativo-by-gestor-map-dialog-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Destino Indicaciones"
        [groupName]="groupName"
        controlName="destino_indicacion"
        [form]="form"
      ></app-input-field>

    </div>

    <!-- Fila para Distancia aproximada -->
    <div class="row" >

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Distancia Aproximada (km)"
        controlName="distancia"
        [groupName]="groupName"
        [form]="form"
      ></app-input-field>

    </div>

  </div>
</div>
