<h1 mat-dialog-title>
    <span class="historial-title">Historial de Comentarios</span>
  </h1>
  <hr class="historial-hr">
  <div mat-dialog-content>
    <div class="row page-form-row">
      <div class="col-xs-12 table-container">
        <app-table
          [modelo]="modelo"
          [gestorCuentaId]="gestorCargaId"
          [hideShow]="true"
          [isShow]="true"
          [columns]="columns"
          [data]="lista"
        ></app-table>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="buttons-actions">
    <button 
      mat-raised-button 
      type="button" 
      class="close-button" 
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
  </div>
