.click-on-map-button {
  margin: 10px;
}

.google-map-container.on::ng-deep {
  div[aria-label="Map"] {
    cursor: cell !important;
  }
}


.geo-container {
  max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor */
}

.google-map-container {
  position: relative;
  width: 500px;
  height: 300px; /* Ajusta la altura del contenedor del mapa */
  margin-top: 20px; /* Espacio adicional opcional */
}


