<app-page-form
  class="combinacion-page"
  module="NUEVA"
  submodule="COMBINACION DE FLOTA"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [gestorCargaId]="gestorCargaId"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (submitEvent)="submit(false)"
>
  <div class="page-form-container">
    <div class="section" formGroupName="info">
      <app-combinacion-form-info
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [combinacion]="item"
        [modelo]="modelo"
        [fotoDocumentoFrente]="fotoDocumentoFrente"
        [gestorCargaId]="gestorCargaId"
      ></app-combinacion-form-info>
    </div>
  </div>

</app-page-form>

