<app-page-form
  class="combinacion-page"
  module="Flota"
  submodule="Combinacion"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [gestorCargaId]="gestorCargaId"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (submitEvent)="submit(false)"
>
  <mat-accordion multi>
    <mat-expansion-panel formGroupName="info" [expanded]="isInfoTouched">
      <mat-expansion-panel-header>
        <mat-panel-title> Información principal </mat-panel-title>
      </mat-expansion-panel-header>
      <app-combinacion-form-info
        [form]="form"
        [estado]="estado"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [modelo]="modelo"

        
        
      ></app-combinacion-form-info>
    </mat-expansion-panel>
    <mat-expansion-panel *ngIf="isEdit || isShow">
      <mat-expansion-panel-header>
        <mat-panel-title> Auditoría </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-audit
        [created_by]="created_by"
        [created_at]="created_at"
        [modified_by]="modified_by"
        [modified_at]="modified_at"
      ></app-page-form-audit>
    </mat-expansion-panel>
  </mat-accordion>
</app-page-form>

