<app-page-form
  submodule="COMBINACION"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [gestorCargaId]="gestorCargaId"
  [shouldShowActiveButton]="!isActive"
  [shouldShowInactiveButton]="isActive"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (activeClick)="active()"
  (inactiveClick)="inactive()"
  (submitEvent)="submit(false)"
>
  <div class="page-form-container">
    <div formGroupName="info">
      <app-combinacion-form-info
      [form]="form"
      [isEdit]="isEdit"
      [isShow]="isShow"
      [combinacion]="item"
      [modelo]="modelo"
      [gestorCargaId]="gestorCargaId"
      [propietarioId]="propietarioId"
      (personaChange)="persona = $event">
    </app-combinacion-form-info>
    
    </div>
  </div>

</app-page-form>

