<app-page
  class="combinacion-page"
  module="Flota"
  submodule="COMBINACION DE FLOTA"
  [modelo]="modelo"
  (applyClick)="applyFilter()"
  (createClick)="redirectToCreate()"
  (downloadClick)="downloadFile()"
  (resetClick)="resetFilter()"
>
  
<div filterMenu>
  <mat-accordion [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Tracto</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #camionCheckboxFilter
          [value]="camionFiltered"
          [list]="camionFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Marca</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #marcaCheckboxFilter
          [value]="marcaFiltered"
          [list]="marcaFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Semi</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #semiCheckboxFilter
          [value]="semiFiltered"
          [list]="semiFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>    
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Chofer</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #choferCheckboxFilter
          [value]="choferFiltered"
          [list]="choferFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Propietario</mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-checkbox-filter
          #propietarioCheckboxFilter
          [value]="propietarioFiltered"
          [list]="propietarioFilterList"
        ></app-checkbox-filter>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<mat-chip-list filterValues>
  <ng-container *ngIf="isFiltered">Filtros:</ng-container>
  <ng-container *ngIf="isFilteredByCamion">
    <mat-chip *ngFor="let item of camionFiltered">{{item}}</mat-chip>
  </ng-container>  
  <ng-container *ngIf="isFilteredByMarca">
    <mat-chip *ngFor="let item of marcaFiltered">{{item}}</mat-chip>
  </ng-container>
  <ng-container *ngIf="isFilteredBySemi">
    <mat-chip *ngFor="let item of semiFiltered">{{item}}</mat-chip>
  </ng-container>  
  <ng-container *ngIf="isFilteredByChofer">
    <mat-chip *ngFor="let item of choferFiltered">{{item}}</mat-chip>
  </ng-container>  
  <ng-container *ngIf="isFilteredByPropietario">
    <mat-chip *ngFor="let item of propietarioFiltered">{{item}}</mat-chip>
  </ng-container>


</mat-chip-list>
<app-table-paginator
  [columns]="columns"
  [data]="list"
  [filterPredicate]="filterPredicate"
  [modelo]="modelo"

></app-table-paginator>
</app-page>
