<app-page-form
  class="proveedor-page"
  module="Entidades"
  submodule="Proveedor"
  viewTitle="{{ isEdit ? 'Edición' : isShow ? 'Ver' : 'Nuevo'}}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isShow]="isShow"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false, false)"
>
  <mat-accordion multi>
    <mat-expansion-panel formGroupName="info" [expanded]="isInfoTouched">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Información principal
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-entities-info
        [form]="form"
        [isShow]="isShow"
        [logo]="logo"
        [user]="user"
      ></app-page-form-entities-info>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="user?.gestor_carga_id" [expanded]="isContactoTouched">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Libreta de Contactos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-contactos
        [form]="form"
        [isShow]="isShow"
        [contactoList]="contactoList"
      ></app-page-form-contactos>
    </mat-expansion-panel>

    <mat-expansion-panel formGroupName="geo" [expanded]="isGeoTouched" (opened)="isPanelOpen = true" (closed)="isPanelOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Geolocalización
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-page-form-geo
        [form]="form"
        [isShow]="isShow"
        [isPanelOpen]="isPanelOpen"
      ></app-page-form-geo>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Puntos de Venta
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <app-punto-venta-list
          [proveedorId]="id"
          [isShow]="isShow"
          [backUrl]="puntoVentaBackUrl"
        ></app-punto-venta-list>

        <div class="row page-form-row">
          <div class="col-xs-12" [hidden]="isShow">
            <button mat-raised-button class="outline round create-punto-venta" color="primary" type="button" (click)="createPuntoVenta()" id="add-button">
              Nuevo Punto de Venta
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</app-page-form>
