<app-page-form
  class="proveedor-page"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  submodule="PROVEEDOR"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isShow]="isShow"
  [modelo]="modelo"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (submitEvent)="submit(false, false)"
>
  <div class="page-form-container">

    <div class="section" formGroupName="info">
      <h2>INFORMACIÓN PRINCIPAL</h2>
      <app-page-form-entities-info
        [form]="form"
        [isEdit]="isEdit"
        [isShow]="isShow"
        [logo]="logo"
        [user]="user"
        [modelo]="modelo"
      ></app-page-form-entities-info>
    </div>

    <div class="section geolocation-section">
      <h2>GEOLOCALIZACIÓN</h2>
      <div class="geolocation-content">
        <app-page-form-geo
          class="page-geo"
          [ciudadSelected]="ciudadSelected"
          [form]="form"
          [isShow]="isShow"
          [isPanelOpen]="true"
        ></app-page-form-geo>
      </div>
    </div>

    <div class="section" *ngIf="user?.gestor_carga_id && (modelo | puede: a.MODIFICAR_CONTACTOS)">
      <h2>CONTACTOS</h2>
      <app-page-form-contactos
        [form]="form"
        [isShow]="isShow"
        [contactoList]="contactoList"
      ></app-page-form-contactos>
    </div>

    <div *ngIf="puntoVentaModelo | puede: a.LISTAR" class="section">
      <h2>PDV</h2>
      <app-punto-venta-list
        [hideSubModule]="true"
        [proveedorId]="id"
        [isShow]="isShow"
        [backUrl]="puntoVentaBackUrl"
      ></app-punto-venta-list>

    </div>

  </div>
</app-page-form>
