<ng-container *ngIf="form">
  <ng-container *ngIf="fetchFunction else inputTemplate">

    <app-dialog-field-local
      [title]="title"
      [columns]="columns"
      [item]="tracto"
      [itemEvents]="tractoEvents"
      [fetchFunctionLocal]="fetchFunction"
      [groupName]="groupName"
      [controlName]="controlName"
      [inputValuePropName]="inputValuePropName"
      [form]="form"
      (valueChange)="camionChange($event)"
    ></app-dialog-field-local>

  </ng-container>

  <ng-template #inputTemplate>

    <app-input-field-by-placa
      hidden
      [title]="title"
      [groupName]="groupName"
      [controlName]="controlName"
      [form]="form"
    ></app-input-field-by-placa>

  </ng-template>
</ng-container>
