<ng-container *ngIf="form">

  <div [formGroup]="form">

    <div [formGroupName]="groupName" class="row">

      <h3 class="col-xs-12">Municipal</h3>

      <div class="col-xs-9">

        <div class="row">

          <app-pais-field
            class="input-form-full col-xs-12 col-sm-6 col-md-2"
            title="Pais Emisor"
            [groupName]="groupName"
            controlName="pais_habilitacion_municipal_id"
            [form]="form"
            (valueChange)="paisId = $event"
          ></app-pais-field>

          <app-localidad-field
            class="input-form-full col-xs-12 col-sm-6 col-md-2"
            title="Localidad"
            [groupName]="groupName"
            controlName="localidad_habilitacion_municipal_id"
            [paisId]="paisId"
            [form]="form"
            (valueChange)="localidadId = $event"
          ></app-localidad-field>

          <app-ciudad-field
            class="input-form-full col-xs-12 col-sm-6 col-md-3"
            title="Ciudad"
            [groupName]="groupName"
            controlName="ciudad_habilitacion_municipal_id"
            [localidadId]="localidadId"
            [form]="form"
          ></app-ciudad-field>

          <app-input-field
            class="input-form-full col-xs-12 col-sm-6 col-md-2"
            title="N° Habilitación"
            [groupName]="groupName"
            controlName="numero_habilitacion_municipal"
            [form]="form"
          ></app-input-field>

          <app-fecha-field
            class="input-form-full col-xs-12 col-sm-6 col-md-2"
            title="Fecha de vencimiento"
            [groupName]="groupName"
            controlName="vencimiento_habilitacion_municipal"
            [form]="form"
          ></app-fecha-field>

        </div>

      </div>

      <div class="col-xs-3">

        <div class="row">

          <app-file-field-input
            class="input-form-full col-xs-12 col-sm-6 col-md-6"
            [className]="'file-max-size'"
            title="Foto de la habilitación - frontal"
            [groupName]="groupName"
            controlName="foto_habilitacion_municipal_frente"
            [field]="fotoFrente"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoFrenteChange.emit($event)"
          ></app-file-field-input>

          <app-file-field-input
            class="input-form-full col-xs-12 col-sm-6 col-md-6"
            [className]="'file-max-size'"
            title="Foto de la habilitación - reverso"
            [groupName]="groupName"
            controlName="foto_habilitacion_municipal_reverso"
            [field]="fotoReverso"
            [form]="form"
            [isEdit]="isEdit"
            [isShow]="isShow"
            (fileChange)="fotoReversoChange.emit($event)"
          ></app-file-field-input>

        </div>

      </div>

    </div>

  </div>
</ng-container>
