<ng-container *ngIf="form">
  <div [formGroup]="form">
    <div class="row page-form-row" [formGroupName]="groupName">
      <div class="col-12 col-sm-2 col-md-11">
        <div class="row">
          <h3 class="col-xs-12">Municipal</h3>
        <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
          <label class="form-label mr-2"> Alias</label>
            <app-pais-field
              [groupName]="groupName"
              controlName="pais_habilitacion_municipal_id"
              [form]="form"
              (valueChange)="paisId = $event"
              class="app-input-field"
            ></app-pais-field>
          </div>
        <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
          <label class="form-label mr-2"> Alias</label>
            <app-localidad-field
              [groupName]="groupName"
              controlName="localidad_habilitacion_municipal_id"
              [paisId]="paisId"
              [form]="form"
              (valueChange)="localidadId = $event"
              class="app-input-field"
            ></app-localidad-field>
          </div>
        <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
          <label class="form-label mr-2"> Alias</label>
            <app-ciudad-field
              [groupName]="groupName"
              controlName="ciudad_habilitacion_municipal_id"
              [localidadId]="localidadId"
              [form]="form"
              class="app-input-field"
            ></app-ciudad-field>
          </div>
        </div>
      
        <div class="row">
        <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
          <label class="form-label mr-2"> Alias</label>
            <app-input-field
              title="Número de Habilitación"
              [groupName]="groupName"
              controlName="numero_habilitacion_municipal"
              [form]="form"
              class="app-input-field"
            ></app-input-field>
          </div>
        <div class="col-12 col-md-4 mb-2 d-flex align-items-center">
          <label class="form-label mr-2"> Alias</label>
            <app-fecha-field
              title="Fecha de vencimiento"
              [groupName]="groupName"
              controlName="vencimiento_habilitacion_municipal"
              [form]="form"
              class="app-input-field"
            ></app-fecha-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <app-file-field
              title="Foto de la habilitación - frontal"
              [groupName]="groupName"
              controlName="foto_habilitacion_municipal_frente"
              [field]="fotoFrente"
              [form]="form"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (fileChange)="fotoFrenteChange.emit($event)"
            ></app-file-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <app-file-field
              title="Foto de la habilitación - reverso"
              [groupName]="groupName"
              controlName="foto_habilitacion_municipal_reverso"
              [field]="fotoReverso"
              [form]="form"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (fileChange)="fotoReversoChange.emit($event)"
            ></app-file-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
