<ng-container *ngIf="form">
  <div [formGroup]="form">
    <div [formGroupName]="groupName">
      <div class="row page-form-row ">
        <h3 class="col-xs-12">Municipal</h3>
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label mr-2">Pais Emisor</label>
          <app-pais-field
            [groupName]="groupName"
            controlName="pais_habilitacion_municipal_id"
            [form]="form"
            (valueChange)="paisId = $event"
            class="app-input-field"
          ></app-pais-field>
        </div>
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label mr-2">Localidad</label>
          <app-localidad-field
            [groupName]="groupName"
            controlName="localidad_habilitacion_municipal_id"
            [paisId]="paisId"
            [form]="form"
            (valueChange)="localidadId = $event"
            class="app-input-field"
          ></app-localidad-field>
        </div>
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label mr-2">Ciudad</label>
          <app-ciudad-field
            [groupName]="groupName"
            controlName="ciudad_habilitacion_municipal_id"
            [localidadId]="localidadId"
            [form]="form"
            class="app-input-field"
          ></app-ciudad-field>
        </div>
      </div>

      <div class="row page-form-row muni-row">
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label-hab mr-2">N° Habilitación</label>
          <app-input-field
            [groupName]="groupName"
            controlName="numero_habilitacion_municipal"
            [form]="form"
            class="app-input-field"
          ></app-input-field>
        </div>
        <div class="col-xs-12 d-flex align-items-center mb-1">
          <label class="form-label mr-2">Fecha Vencimiento</label>
          <app-fecha-field
            title="Fecha de vencimiento"
            [groupName]="groupName"
            controlName="vencimiento_habilitacion_municipal"
            [form]="form"
            class="app-input-field"
          ></app-fecha-field>
        </div>
      </div>
      <div class="row page-form-row">
        <div class="col-xs-12 d-flex align-items-center mb-1" style="margin-top: -20px;">
          <div class="col-sm-6">
            <app-file-field-input
              title="Foto de la habilitación - frontal"
              [groupName]="groupName"
              controlName="foto_habilitacion_municipal_frente"
              [field]="fotoFrente"
              [form]="form"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (fileChange)="fotoFrenteChange.emit($event)"
            ></app-file-field-input>
          </div>
          <div class="col-sm-6">
            <app-file-field-input
              title="Foto de la habilitación - reverso"
              [groupName]="groupName"
              controlName="foto_habilitacion_municipal_reverso"
              [field]="fotoReverso"
              [form]="form"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (fileChange)="fotoReversoChange.emit($event)"
            ></app-file-field-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
