<ng-container *ngIf="formGroup">
  <div class="row page-form-row" [formGroup]="formGroup">
    <div [formGroupName]="groupName">
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>País</mat-label>
        <mat-select formControlName="pais_id" id="pais-select">
          <ng-container *ngFor="let o of paisList$ | async">
            <mat-option [value]="o.id">{{o.nombre}}</mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="paisControl?.hasError('required')">
          El pais es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Localidad</mat-label>
        <ng-container *ngIf="paisControl?.value; else localidadReadonly">
          <mat-select formControlName="localidad_id" id="localidad-select">
            <ng-container *ngFor="let o of localidadList">
              <mat-option [value]="o.id">{{o.nombre}}</mat-option>
            </ng-container>
          </mat-select>
        </ng-container>
        <ng-template #localidadReadonly>
          <input matInput formControlName="localidad_id" readonly/>
        </ng-template>
        <mat-error *ngIf="localidadControl?.hasError('required')">
          La localidad es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Ciudad</mat-label>
        <ng-container *ngIf="localidadControl?.value; else ciudadReadonly">
          <mat-select formControlName="ciudad_id">
            <ng-container *ngFor="let o of ciudadList">
              <mat-option [value]="o.id">{{o.nombre}}</mat-option>
            </ng-container>
          </mat-select>
        </ng-container>
        <ng-template #ciudadReadonly>
          <input matInput formControlName="ciudad_id" readonly/>
        </ng-template>
        <mat-error *ngIf="address.controls['ciudad_id'].hasError('required')">
          La dirección es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" />
        <mat-error *ngIf="address.controls['direccion'].hasError('required')">
          La dirección es <strong>requerida</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-container>
