.page-form-row {
  margin: 0;
  left: -2px;
  gap: 35px;
}
.main-container {
  margin-left: 10px; /* Ajusta el margen izquierdo a 0 */
  padding-left: 0; /* Ajusta el relleno izquierdo a 0 */
  margin-bottom: 12px;
}

/* Ciudad and Direccion container styles */
.ciudad-container, .direccion-container {
  display: flex;
  align-items: center;
}

.ciudad-label, .direccion-label {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 16.41px;
  font-weight: 400;
  text-align: right;
  margin-right: 10px; /* Espacio entre el label y el input/select */
}

/* Custom input styles */
.custom-input {
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  width: 449px; /* Ancho automático para adaptarse al contenido */
  height: 28px;
  padding: 8px; /* Padding interior para todos los input */
  border: 1px solid #D9D9D9; /* Borde rojo */
  border-radius: 4px; /* Bordes redondeados para el input */
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  background-color: #FBFBFE; /* Fondo gris para inputs readonly */
}





