.page-form-row {
  margin: 0;
  left: -2px;
}
.main-container {
  margin-left: -1.5em; /* Ajusta el margen izquierdo a 0 */
  padding-left: 0; /* Ajusta el relleno izquierdo a 0 */
}

.direccion-container {
  padding: 10px; /* Ajusta el relleno según sea necesario */
  border-radius: 5px; /* Borde redondeado opcional */
  display: flex; /* Utiliza flexbox para alinear elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  margin-left: -80px;
  padding: 0;
  margin-top: -20px;
}

.direccion-field {
  margin-left: -90px; /* Ajusta el margen izquierdo según sea necesario */
  top: 10px;
  width: 390px; /* Ancho deseado del campo de entrada */
  
}

.direccion-label {
  margin-right: 95px; /* Margen derecho ajustado para separación */
  width: 100px; /* Ancho deseado para la etiqueta */
  text-align: right; /* Alinea el texto hacia la derecha dentro de la etiqueta */
}

/* Estilos generales del mat-form-field */
::ng-deep .custom-mat-form-field .mat-form-field-outline {
  border: 1px solid #F25A38 !important; /* Borde rojo */
  border-radius: 4px;
}

/* Estilos para el grosor del borde del mat-form-field */
::ng-deep .custom-mat-form-field .mat-form-field-outline-thick {
  border: 1px solid #F25A38 !important; /* Borde rojo */
  border-radius: 4px;
}

/* Estilos para el campo de entrada al estar enfocado */
::ng-deep .custom-mat-form-field.mat-focused .mat-form-field-outline,
::ng-deep .custom-mat-form-field.mat-focused .mat-form-field-outline-thick {
  border-color: red !important; /* Borde rojo al enfocar */
}

/* Estilos para el campo de entrada al estar en hover */
::ng-deep .custom-mat-form-field:hover .mat-form-field-outline,
::ng-deep .custom-mat-form-field:hover .mat-form-field-outline-thick {
  border-color: red !important; /* Borde rojo al hacer hover */
  color: red; /* Texto rojo al hacer hover */
}

/* Estilos adicionales para asegurarse de que el borde no se torne azul */
::ng-deep .custom-mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important; /* Eliminar el color azul */
}

/* Estilos para el borde del input al enfocarse */
::ng-deep .custom-mat-form-field .mat-input-element:focus {
  border-color: #F25A38 !important; /* Borde rojo del input al enfocar */
}

/* Estilos para el borde del input en hover */
::ng-deep .custom-mat-form-field .mat-input-element:hover {
  border-color: #F25A38 !important; /* Borde rojo del input al hacer hover */
}

/* Elimina el color azul del borde al hacer click */
::ng-deep .custom-mat-form-field .mat-form-field-flex {
  border-color: #F25A38 !important; /* Asegura el color rojo del borde */
}

::ng-deep .custom-mat-form-field .mat-form-field-underline {
  background-color: #F25A38 !important; /* Línea inferior roja */
}


.required-label {
  color: red; /* Color del asterisco (opcional) */
  padding: 3px;
}