.fecha-remision{
  width: 150px; 
  height: 20px;
  border-radius: 4px;
  margin-left: 10px;
  text-align: end;
  margin-right: 14px;
}

input{
  font-weight: 700;
  font-family: 'Roboto' sans-serif;
  text-align: end;
  margin-top: -5px;
}

::ng-deep .fecha-remision .mat-form-field-outline {
  border: 1px solid #F25A38 !important;
  background: white;
}

.form-label {
  white-space: nowrap; /* Evita que el label se divida en varias líneas */
  margin-right: 8px; /* Espacio entre el label y el campo */
  margin-bottom: 8px;
}

.mat-datepicker-toggle .mat-icon {
  font-size: 16px; /* Cambia el tamaño del ícono */
  width: 16px;
  height: 16px;
}
