
.action-text {
  color: #F25A38;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.complement-text {
  color: #3B9EFF;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.arrow {
  margin: 0 5px; /* Ajusta el espacio alrededor del ">>" */
  font-weight: bold; /* Si deseas que sea más destacado */
  color: #F25A38; /* Cambia el color si es necesario */
}

/* Estilos de texto */
.action-text {
  color: #F25A38;
  //font-size: 16px;
  //font-weight: 700;
  //line-height: 18.75px;
  //letter-spacing: 0.06em;
}

.tipo-remito-text {
  color: #F25A38;
  //font-size: 16px;
  //font-weight: 700;
  //line-height: 18.75px;
  //letter-spacing: 0.06em;
}


.section {
  h2 {
    margin: 0 0 15px 0;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc;
    border-bottom: 1px solid #007acc;
    width: 100%;
  }
}


.horizontal-line {
  width: 455px;
  border: 1px solid #1C1C1C3D;
  margin-top: 8px;
}
