<form [formGroup]="form" class="main-container">
  <span mat-dialog-title>
    <span [ngClass]="{ 'action-text': true }">
      {{ actionText }} 
      <span class="arrow"> >> </span>
      <span class="tipo-remito-text">DESCARGA</span>
    </span>
  </span>
  <h2>RECEPCION</h2>
  <div mat-dialog-content>
    <div class="form-row">
      <div class="form-group remito-field">
        <app-input-field
          title="Nº Recepcion"
          controlName="numero_documento"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="form-group cantidad-field">
        <app-number-field
          title="Cantidad (kg)"
          controlName="cantidad"
          [hint]="cantidadHint"
          [form]="form"
        ></app-number-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group unidad-field">
        <app-unidad-field [form]="form"></app-unidad-field>
      </div>
      <div class="form-group fecha-field">
        <app-fecha-field
          title="Fecha de Carga"
          controlName="fecha"
          [form]="form"
        ></app-fecha-field>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group image-field">
        <app-file-field-image
          className=""
          controlName="foto_documento"
          [field]="fotoDocumento"
          [form]="form"
          (fileChange)="fotoDocumentoFile = $event; fotoDocumento = null"
        ></app-file-field-image>
    </div>
      <div class="form-group remision-origen-field">
        <app-orden-carga-remision-origen-field
          controlName="numero_documento_origen"
          [form]="form"
          [ordenCargaId]="dialogData.orden_carga_id"
        ></app-orden-carga-remision-origen-field>
      </div>
    </div>
  </div>
  <div class="button-line"></div>
  <div mat-dialog-actions>
    <button 
    mat-raised-button 
    type="button" 
    class="close-button" 
    mat-dialog-close>
    <mat-icon>close</mat-icon>
    Cerrar
    </button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
      class="save-button"
    >
      <mat-icon>save</mat-icon> GUARDAR
    </button>
  </div>
</form>
