<div *ngIf="form" [formGroup]="form">

  <div [formGroupName]="groupName">

    <div class="section">
      <h2>INFORMACIÓN PRINCIPAL</h2>

      <div class="row">

        <div class="col-12 col-sm-2 col-md-10">

          <div class="row">

            <app-camion-by-propietario-dialog-field
              class="input-form-full col-xs-12 col-sm-6 col-md-5"
              [groupName]="groupName"
              [form]="form"
              [tractoEvents]="tractoEventsSubject.asObservable()"
              [isEdit]="isEdit"
              [isShow]="isShow"
              (valueChange)="camionChange($event)"
            ></app-camion-by-propietario-dialog-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="Marca"
              [groupName]="groupName"
              [readonly]="true"
              controlName="marca"
              [form]="form"
            ></app-input-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="Color"
              [groupName]="groupName"
              [readonly]="true"
              controlName="color"
              [form]="form"
            ></app-input-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-4"
              title="Propietario"
              [groupName]="groupName"
              [readonly]="true"
              controlName="propietario"
              [form]="form"
            ></app-input-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="OC Activas"
              [groupName]="groupName"
              controlName="oc_activa"
              [form]="form"
              [autocomplete]="off"
            ></app-input-field>

            <app-input-field-neto
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="Limite Anticipos"
              [groupName]="groupName"
              controlName="limite_anticipos"
              [form]="form"
            ></app-input-field-neto>

            <app-slide
              class="input-form-full col-xs-12 col-sm-6 col-md-2"
              [isShow]="isShow"
              [control]="estadoControlCamion"
              [readonly]="true"
              title="Estado"
              controlName="estado_camion"
              trueTitle="Activo"
              falseTitle="Inactivo"
              (valueChange)="estadoCamionChange.emit($event)"
            ></app-slide>

          </div>

        </div>

        <app-file-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Foto Tracto"
          groupName="info"
          controlName="foto_camion"
          [field]="fotoPerfil"
          [form]="form"
          [disabled]="true"
          [readonly]="true"
        ></app-file-field>

      </div>

    </div>

    <div class="section">
      <h2>SEMI</h2>

      <div class="row">

        <div class="col-12 col-sm-2 col-md-10">

          <div class="row">

            <app-semi-by-propietario-dialog-field
              class="input-form-full col-xs-12 col-sm-6 col-md-5"
              [groupName]="groupName"
              [semiEvents]="semiEventsSubject.asObservable()"
              [form]="form"
              (valueChange)="semiChange($event)"
            ></app-semi-by-propietario-dialog-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-2"
              title="Marca"
              [groupName]="groupName"
              [readonly]="true"
              controlName="marca_semi"
              [form]="form"
            ></app-input-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-2"
              title="Color Semi"
              [groupName]="groupName"
              [readonly]="true"
              controlName="color_semi"
              [form]="form"
            ></app-input-field>

            <app-slide
              class="input-form-full col-xs-12 col-sm-6 col-md-2"
              [isShow]="isShow"
              [control]="estadoControlSemi"
              [readonly]="true"
              title="Estado"
              controlName="estado_semi"
              trueTitle="Activo"
              falseTitle="Inactivo"
              (valueChange)="estadoSemiChange.emit($event)"
            ></app-slide>

          </div>
        </div>

        <app-file-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Foto Semi"
          groupName="info"
          controlName="foto_semi"
          [field]="fotoPerfilSemi"
          [form]="form"
          [disabled]="true"
          [readonly]="true"
        ></app-file-field>

      </div>

    </div>

    <div class="section">
      <h2>CHOFER</h2>

      <div class="row">

        <div class="col-12 col-sm-2 col-md-10">

          <div class="row">

            <app-chofer-by-propietario-dialog-field
              class="input-form-full col-xs-12 col-sm-6 col-md-5"
              [choferEvents]="choferEventsSubject.asObservable()"
              [groupName]="groupName"
              [form]="form"
              (valueChange)="choferChange($event)"
            ></app-chofer-by-propietario-dialog-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="Nombre"
              [groupName]="groupName"
              [readonly]="true"
              controlName="chofer_nombre"
              [form]="form"
            ></app-input-field>

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-2"
              title="Celular"
              [groupName]="groupName"
              [readonly]="true"
              controlName="chofer_celular"
              [form]="form"
              [disabled]="true"
            ></app-input-field>

            <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
              <app-slide
                class="input-form-full"
                [isShow]="isShow"
                [control]="estadoControl"
                controlName="estado"
                [readonly]="true"
                title="Estado"
                trueTitle="Activo"
                falseTitle="Inactivo"
                (valueChange)="estadoChoferChange.emit($event)"
              ></app-slide>

            </div>

            <div class="input-form-full col-xs-12 col-sm-6 col-md-2" style="margin-left: auto;">

              <app-slide
                class="input-form-full"
                [isShow]="isShow"
                [control]="puedeRecibirAnticiposControl"
                controlName="puede_recibir_anticipos"
                title="Puede recibir anticipos"
                [readonly]="false"
                trueTitle="Sí"
                falseTitle="No"
                (valueChange)="
                  !$event && cantidadOCConAnticiposLiberados > 0 && anticiposBloqueadosChange.emit()"
              ></app-slide>
            </div>


          </div>

        </div>

        <app-file-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Foto Chofer"
          groupName="info"
          controlName="foto_chofer"
          [readonly]="true"
          [field]="fotoPerfilChofer"
          [form]="form"
          [disabled]="true"
          [readonly]="true"
        ></app-file-field>

      </div>

    </div>

    <div class="section">
      <h2>FACTURACIÓN</h2>

      <div class="row">

        <div class="col-12 col-sm-2 col-md-10">

          <div class="row">

            <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="N° Doc."
              groupName="info"
              [readonly]="true"
              controlName="ruc"
              [form]="form"
            ></app-input-field>

             <app-input-field
              class="input-form-full col-xs-12 col-sm-6 col-md-3"
              title="Beneficiario"
              groupName="info"
              [readonly]="true"
              controlName="nombre"
              [form]="form"
            ></app-input-field>


            <div class="input-form-full col-xs-12 col-sm-6 col-md-2" style="margin-left: auto;">
              <app-slide
                class="input-form-full"
                [isShow]="isShow"
                [control]="estadoControlPropietario"
                controlName="estado_propietario"
                title="Estado"
                [readonly]="true"
                trueTitle="Activo"
                falseTitle="Inactivo"
                (valueChange)="estadoChoferChange.emit($event)"
              ></app-slide>
            </div>
            <div class="input-form-full col-xs-12 col-sm-6 col-md-2" >
              <app-slide
                class="input-form-full"
                [isShow]="isShow"
                [control]="puedeRecibirAnticiposControlPropietario"
                controlName="anticipo_propietario"
                title="Puede recibir anticipos"
                trueTitle="Sí"
                falseTitle="No"
                (valueChange)="
                  !$event &&
                    cantidadOCConAnticiposLiberados > 0 &&
                    anticiposBloqueadosChange.emit()
                "
              ></app-slide>
            </div>

          </div>

        </div>

        <app-file-field
          class="input-form-full col-xs-12 col-sm-6 col-md-2"
          title="Foto Propietario"
          [groupName]="groupName"
          controlName="foto_documento_frente"
          [field]="fotoDocumentoFrente"
          [disabled]="true"
          [readonly]="true"
          [form]="form"
        ></app-file-field>

      </div>

    </div>

    <hr>
    <br>

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Comentario"
        [groupName]="groupName"
        [readonly]="isShow"
        controlName="comentario"
        [form]="form"
      ></app-input-field>

      <app-input-field-neto
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Capacidad Total De Combinacion (Kg)"
        [groupName]="groupName"
        controlName="neto"
        [form]="form"
      ></app-input-field-neto>

    </div>

  </div>
</div>
