<form [formGroup]="form">

    <app-estado-cuenta-detalle
      [etapa]="etapa"
      [estadoCuenta]="estadoCuenta"
      [showVistaConsolidada]="false"
      [showEstado]=false
      [esEditableLinea]="esEditableLinea"
      [form]="form"
      [esInsumoControl]="esInsumoControl"
      [tipo_insumo]="tipo_insumo"
      (filterEvent)="filtrarMovimientosPDV2($event)"
    ></app-estado-cuenta-detalle>

    <app-saldo
      #saldoView
      class="col-xs-12 col-sm-9"
      title="Saldo en Cuenta"
      [showResumen]="true"
      [showIngresoEgreso]="false"
      [credito]="credito"
      [debito]="debito"
      [saldoCC]="saldoCC"
      [esOrdenPago]="esOrdenPago"
      [form]="form"
      (monedaSelect)="selectMoneda($event)">
    </app-saldo>

    <div class="row" *ngIf="!esOrdenPago">

      <app-liquidacion-form-movimientos #movimientosList
        [showAccions]="!isDialog"
        [list]="list"
        (movimientosInDBChange)="getList()"
        (selectedMovimientosChange)="cargarMovimientos($event)">
      </app-liquidacion-form-movimientos>

    </div>

</form>
