
  <app-estado-cuenta-detalle
    [etapa]="etapa"
    [estadoCuenta]="estadoCuenta"
    [showVistaConsolidada]="false"
    [showEstado]=false
  ></app-estado-cuenta-detalle>

  <div class="row">

    <div *ngIf="this.estadoCuenta?.punto_venta_id" class="col-xs-12 col-sm-3">

      <div class="row">

        <ng-container *ngIf="esEditableLinea; then flujoActivo; else flujoEdit">
        </ng-container>

        <ng-template #flujoActivo>

          <div class="input-form-full col-xs-12 col-sm-8">
            <mat-label>Linea</mat-label>
            <mat-form-field>
              <input matInput [value]="this.estadoCuenta!.tipo_flujo" disabled />
            </mat-form-field>
          </div>

        </ng-template>

        <ng-template #flujoEdit>

          <div class="input-form-full col-xs-12 col-sm-6">
            <mat-label>
              Listar movimientos
            </mat-label>
            <app-slide
              [isShow]="false"
              [control]="esInsumoControl"
              trueTitle="Efectivo"
              falseTitle="Insumos"
              (valueChange)="filtrarMovimientosPDV()"
            ></app-slide>
          </div>

          <div class="input-form-full col-xs-12 col-sm-6" *ngIf="!esInsumoControlvalue">
            <mat-label>
              Tipo Insumo
            </mat-label>
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-select [formControl]="tipo_insumo"
                (selectionChange)="filtrarMovimientosPDV()">
                <mat-option value=""></mat-option>
                  <mat-option value="COMBUSTIBLE">COMBUSTIBLE</mat-option>
                  <mat-option value="LUBRICANTE">LUBRICANTE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </ng-template>

      </div>

    </div>

    <app-saldo
      #saldoView
      class="col-xs-12 col-sm-9"
      [showResumen]="true"
      [showIngresoEgreso]="false"
      [credito]="credito"
      [debito]="debito"
      [saldoCC]="saldoCC"
      title="Saldo en Cuenta"
      [showMonto]="true"
      [monto]="monto">
    </app-saldo>

  </div>

  <app-liquidacion-form-movimientos
    #movimientosList
    [showAccions]="!isDialog"
    [list]="list"
    (movimientosInDBChange)="getList()"
    (selectedMovimientosChange)="cargarMovimientos($event)">
  </app-liquidacion-form-movimientos>
