
  <app-estado-cuenta-detalle
    [etapa]="etapa"
    [estadoCuenta]="estadoCuenta"
    [showVistaConsolidada]="false"
    [showEstado]=false
  ></app-estado-cuenta-detalle>

  <app-saldo
    #saldoView
    [showResumen]="true"
    [showIngresoEgreso]="false"
    [credito]="credito"
    [debito]="debito"
    [saldoCC]="saldoCC"
    title="Saldo en Cuenta"
    [showMonto]="true"
    [monto]="monto"
  ></app-saldo>

  <app-liquidacion-form-movimientos
    [list]="list"
    (movimientosInDBChange)="getList()"
    (selectedMovimientosChange)="cargarMovimientos($event)"
  ></app-liquidacion-form-movimientos>
