<div class="row" *ngIf="liquidacion">
  <div class="col-xs-12 acciones-buttons">

    <ng-container *ngIf="!isShow">

      <button mat-stroked-button
        class="botones" type="button"
        [disabled]="isFacturaReady"
        *ngIf="(
          liquidacion.estado === E.EN_REVISION ||
          liquidacion.estado === E.RECHAZADO
          ) &&
          (m.LIQUIDACION | puede: a.CREAR)
        "
        (click)="datosFiscalesForm()" >
        Datos Fiscales
      </button>
      <button mat-flat-button
        class="botones" color="primary" type="button"
        *ngIf="(
          liquidacion.estado === E.EN_REVISION ||
          liquidacion.estado === E.RECHAZADO
          ) &&
          (m.LIQUIDACION | puede: a.CREAR)
        "
        (click)="someter()" >
        Someter
      </button>
      <button mat-flat-button
        class="botones" color="accent" type="button"
        *ngIf="
          liquidacion.estado === E.PENDIENTE &&
          (m.LIQUIDACION | puede: a.ACEPTAR)
        "
        (click)="aceptar()" >
        Aceptar
      </button>
      <button mat-flat-button
        class="botones" color="warn" type="button"
        *ngIf="
          liquidacion.estado === E.PENDIENTE &&
          (m.LIQUIDACION | puede: a.RECHAZAR)
        "
        (click)="rechazar()" >
        Rechazar
      </button>
      <!--button
        type="button"
        mat-raised-button
        color="accent"
        *ngIf="
          liquidacion.estado !== E.EN_REVISION &&
          liquidacion.estado !== E.CANCELADO &&
          liquidacion.estado !== E.CONFIRMADO &&
          liquidacion.estado !== E.ACEPTADO &&
          (m.LIQUIDACION | puede: a.PASAR_A_REVISION)
        "
        (click)="pasarARevision()"
      >
        Revisión
      </button-->
      <button mat-flat-button
        class="botones" color="warn" type="button"
        *ngIf="
          liquidacion.estado !== E.CANCELADO &&
          (m.LIQUIDACION | puede: a.CANCELAR)
        "
        (click)="preCancelar()" >
        Cancelar
      </button>

    </ng-container>

    <button mat-stroked-button
      class="botones boton-descarga" type="button"
      (click)="downloadPDF()" >
      <mat-icon>description</mat-icon>Imprimir liquidación
    </button>

  </div>
</div>
