<div class="row page-form-row" *ngIf="liquidacion">
  <div class="col-xs-12 acciones-buttons">
    <ng-container *ngIf="!isShow">
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="isFacturaReady"
        *ngIf="(
          liquidacion.estado === E.EN_REVISION ||
          liquidacion.estado === E.RECHAZADO
          ) &&
          (m.LIQUIDACION | puede: a.CREAR)
        "
        (click)="datosFiscalesForm()"
      >
        Datos Fiscales
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="(
          liquidacion.estado === E.EN_REVISION ||
          liquidacion.estado === E.RECHAZADO
          ) &&
          (m.LIQUIDACION | puede: a.CREAR)
        "
        (click)="someter()"
      >
        Someter
      </button>
      <button
        type="button"
        mat-raised-button
        color="primary"
        *ngIf="
          liquidacion.estado === E.PENDIENTE &&
          (m.LIQUIDACION | puede: a.ACEPTAR)
        "
        (click)="aceptar()"
      >
        Aceptar
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        *ngIf="
          liquidacion.estado === E.PENDIENTE &&
          (m.LIQUIDACION | puede: a.RECHAZAR)
        "
        (click)="rechazar()"
      >
        Rechazar
      </button>
      <!--button
        type="button"
        mat-raised-button
        color="accent"
        *ngIf="
          liquidacion.estado !== E.EN_REVISION &&
          liquidacion.estado !== E.CANCELADO &&
          liquidacion.estado !== E.CONFIRMADO &&
          liquidacion.estado !== E.ACEPTADO &&
          (m.LIQUIDACION | puede: a.PASAR_A_REVISION)
        "
        (click)="pasarARevision()"
      >
        Revisión
      </button-->
      <button
        type="button"
        mat-raised-button
        color="warn"
        *ngIf="
          liquidacion.estado !== E.CANCELADO &&
          (m.LIQUIDACION | puede: a.CANCELAR)
        "
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </ng-container>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="downloadPDF()"
    >
      Imprimir liquidación
    </button>
  </div>
</div>
