.main-container {
 margin-top: 35px;
}

.main-container h2 {
  margin: 0 0 28px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 530;
  line-height: 16.41px;
  color: #007acc;  /* Celeste más oscuro */
  border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
  width: 570px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-right: 170px;
  margin-bottom: 20px; /* Ajusta la separación entre el encabezado y la tabla */
}

.button-container {
  display: flex;
  gap: 20px; /* Espacio más pequeño entre los botones */
}

.custom-button {
  font-size: 10px; /* Tamaño de fuente más pequeño para los botones */
  padding: 2px 15px; /* Relleno reducido para los botones */
  min-width: 60px; /* Ancho mínimo para los botones */
  margin-left: -12px;
  gap: 5px;
}

.gestion-button {
  font-size: 10px; /* Tamaño de fuente más pequeño para los botones */
  padding: 2px 6px; /* Relleno reducido para los botones */
  min-width: 60px; /* Ancho mínimo para los botones */
  color: white;
  
  padding-left: 10px;
  padding-right: 10px;
}

.button-disabled {
  background-color: darkgrey;
}

.button-disabled  .mat-icon.small-icon {
  color: darkgrey;
}


.small-button {
  margin-top: 5px;
  height: 28px; /* Altura más pequeña para los botones */
  line-height: 24px; /* Alineación vertical del texto */
  font-size: 12px;
}

.mat-icon.small-icon {
  font-size: 11px; /* Ajusta el tamaño del ícono */
  font-weight: bold;
  background-color: white; /* Fondo del ícono */
  border-radius: 50%; /* Borde redondeado para el ícono */
  color: #3B9EFF; /* Color del ícono */
  width: 12px;
  height: 12px;
  gap: 0px;
  padding-top: 1px;
  opacity: 0px;
  align-items: center;
  justify-content: center;
  margin-top: -2px;
  margin-right: 4px;
  transition: color 0.3s; /* Transición suave para el cambio de color del ícono */
}

.input-button-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px; /* 3Ajusta el espacio entre los elementos según tus necesidades */
  margin-top: -42px;
}

.saldo-form-field{
  margin-top:25px;
  width: 100px;
  pointer-events: none;
}

.saldo-form-field input {
  text-align: right;
  justify-content: flex-end;
}



::ng-deep .saldo-form-field .mat-form-field-outline {
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
}

label{
  margin-top: 12px;
  margin-right: -12px;
}

.input-button-container label,
.input-button-container mat-form-field,
.input-button-container .button-container {
  margin-left: 15px; /* Ajusta este valor según sea necesario */
}

.table-container{
  margin-top: -25px;
}

.small-table{
  width: 89%;
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  .main-container h2 {
    margin: 0 0 28px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc;  /* Celeste más oscuro */
    border-bottom: 1px solid #007acc;  /* Celeste más oscuro */
    width: 280px;
    display: flex;
  }
  .small-table{
    width: 1100px;
  }
  label{
    margin-top: 12px;
    margin-right: -12px;
    font-size: 11px;
  }
}