<div class="main-container">
  <div class="header-container">
    <h2>ANTICIPOS</h2>
    <div class="input-button-container">

      <div *ngFor="let anticipo of filteredAnticipos" class="anticipo-item">
        <!-- Mostrar solo si saldo_combustible existe y al menos un anticipo tiene saldo_combustible -->
        <ng-container *ngIf="oc?.flete_id === anticipo.flete_id">
          <label class="anticipos-saldo">Saldo {{ anticipo.concepto | titlecase }}</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="getSaldoAnticipo(anticipo) | number:'1.0-0'"
              disabled
            />
          </mat-form-field>
        </ng-container>
      </div>

      <div *ngFor="let anticipo of filteredAnticipos" class="anticipo-item">
        <!-- Mostrar solo si saldo_combustible existe y al menos un anticipo tiene saldo_combustible -->
        <ng-container *ngIf="oc?.flete_id !== anticipo.flete_id">
          <label class="anticipos-saldo">Saldo {{ anticipo.concepto | titlecase }}</label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="getSaldoAnticipoNuevo(anticipo) | number:'1.0-0'"
              disabled
            />
          </mat-form-field>
        </ng-container>
      </div>
      
      
      <!-- Mostrar solo si NO hay anticipos válidos -->
      <div *ngIf="filteredAnticipos?.length === 0" class="anticipo-item">
        <label class="anticipos-saldo">Saldo Efectivo</label>
        <mat-form-field class="saldo-form-field">
          <input
            matInput
            [value]="oc?.saldo_efectivo || 0 | number:'1.0-2'"
            disabled
          />
        </mat-form-field>
        <label class="anticipos-saldo">Saldo Combustible</label>
        <mat-form-field class="saldo-form-field">
          <input
            matInput
            [value]="oc?.saldo_combustible || 0 | number:'1.0-2'"
            disabled
          />
        </mat-form-field>
      </div>
      

      <div class="button-container separate-buttons">
        <button
          mat-raised-button
          class="outline round custom-button small-button"
          color="primary"
          type="button"
          id="add-button"
          (click)="create()"
          [disabled]="isShow || oc?.estado === 'Nuevo' || !oc?.flete_id || oc?.estado === 'Conciliado' ||
          !isAnticiposLiberados ||
          !(modelo | puede: a.CREAR:gestorCargaId) || isEditPedido"
        >
          <mat-icon class="small-icon" 
           [ngClass]="{ 'disabled': isShow || oc?.estado === 'Nuevo' || !oc?.flete_id || oc?.estado === 'Conciliado' || 
           !isAnticiposLiberados || !(modelo | puede: a.CREAR:gestorCargaId) || isEditPedido}">add</mat-icon> ANTICIPO
        </button>
        <button
          mat-raised-button
          class="gestion-button small-button disabled-button"
          type="button"
          color="primary"
          id="add-button"
          (click)="openDialog()"
          [disabled]="!oc?.flete_id"
        >
          GESTION EN LINEA
        </button>
      </div>
    </div>
  </div>
  
  <div class="table-container small-table">
    <app-table
      [columns]="columns"
      [data]="list"
      
    ></app-table>
  </div>
</div>
