
  <div class="section">
    <h2 class="title-colapside" (click)="colapseDivAnticipo=!colapseDivAnticipo">ANTICIPOS</h2>

    <div class="row" [class.colapse-div]="colapseDivAnticipo">

      <div class="col-xs-9">
        <div class="row">

          <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
            <label class="anticipos-saldo">
              Total Efectivo <strong>({{ oc?.gestor_carga_moneda_simbolo }})</strong>
            </label>
            <mat-form-field class="saldo-form-field">
              <input
                matInput
                [value]="oc?.resultado_propietario_total_anticipos_retirados_efectivo || 0 | number:'1.0-2'"
                disabled
              />
            </mat-form-field>
          </div>

          <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
            <label class="anticipos-saldo">
              Total Combustible <strong>({{ oc?.gestor_carga_moneda_simbolo }})</strong>
            </label>
            <mat-form-field class="saldo-form-field">
              <input
                matInput
                [value]="oc?.resultado_propietario_total_anticipos_retirados_combustible || 0 | number:'1.0-2'"
                disabled
              />
            </mat-form-field>
          </div>

            <!-- Mostrar solo si hay saldo en lubricantes -->
          <div *ngIf="hasLubricantesWithSaldo"
              class="input-form-full col-xs-12 col-sm-6 col-md-2">
              <label class="anticipos-saldo">
                Total Lubricantes <strong>({{ oc?.gestor_carga_moneda_simbolo }})</strong>
              </label>
            <mat-form-field class="saldo-form-field">
              <input
                matInput
                [value]="oc?.resultado_propietario_total_anticipos_retirados_lubricantes || 0 | number:'1.0-2'"
                disabled
              />
            </mat-form-field>
          </div>
          <!-- Mostrar solo si hay saldo en lubricantes y el valor es mayor a 0 -->
        <div *ngIf="filteredAnticipos?.length === 0"
            class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">
            Total Lubricantes <strong>({{ oc?.gestor_carga_moneda_simbolo }})</strong>
          </label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="oc?.resultado_propietario_total_anticipos_retirados_lubricantes || 0 | number:'1.0-2'"
              disabled
            />
          </mat-form-field>
        </div>
<!--
        <ng-container *ngFor="let anticipo of filteredAnticipos">
          <div *ngIf="oc?.flete_id === anticipo.flete_id &&
                      (anticipo.concepto.toLowerCase() !== 'lubricantes' || getSaldoAnticipo(anticipo) > 0)"
              class="input-form-full col-xs-12 col-sm-6 col-md-2">
            <label class="anticipos-saldo">
              Saldo {{ anticipo.concepto | titlecase }} <strong>({{ oc?.gestor_carga_moneda_simbolo }})</strong>
            </label>
            <mat-form-field class="saldo-form-field">
              <input
                matInput
                [value]="getSaldoAnticipo(anticipo) | number:'1.2-2'"
                disabled
              />
            </mat-form-field>
          </div>
        </ng-container> -->
      <ng-container *ngFor="let saldo of saldosOrdenados">
        <div class="input-form-full col-xs-12 col-sm-6 col-md-2">
          <label class="anticipos-saldo">
            Saldo {{ saldo.concepto | titlecase }}
          </label>
          <mat-form-field class="saldo-form-field">
            <input
              matInput
              [value]="getSaldo(saldo)| number:'1.2-2'"
              disabled
            />
          </mat-form-field>
        </div>
      </ng-container>

      </div>
    </div>

      <div class="col-xs-3 button-container">

        <button
          mat-flat-button type="button"
          class="botones"
          color="primary"
          id="add-button"
          (click)="createEfectivo()"
          [disabled]="isShow || oc?.estado === 'Nuevo' || oc?.estado === 'Cancelado' || !oc?.flete_id || oc?.estado === 'Conciliado' || oc?.estado === 'Finalizado' ||
          !isAnticiposLiberados ||
          !(modelo | puede: a.CREAR_EFECTIVO:gestorCargaId) || isEditPedido">
          <mat-icon class="small-icon">add</mat-icon> EFECTIVO
        </button>

        <button
          mat-flat-button type="button"
          class="botones"
          color="primary"
          id="add-button"
          (click)="createInsumo()"
          [disabled]="isShow || oc?.estado === 'Nuevo' || oc?.estado === 'Cancelado' || !oc?.flete_id || oc?.estado === 'Conciliado' || oc?.estado === 'Finalizado' ||
          !isAnticiposLiberados ||
          !(modelo | puede: a.CREAR_INSUMO:gestorCargaId) || isEditPedido">
          <mat-icon class="small-icon">add</mat-icon> INSUMO
        </button>

         <button
          mat-flat-button type="button"
          class="botones" color="accent"
          id="add-button"
          (click)="openDialog()"
          [disabled]="!oc?.flete_id || !(modeloGestion | puede: a.VER : gestorCargaId)">
          GESTION DE LINEA
        </button>
        <!-- <button
        mat-flat-button type="button"
        class="botones" color="accent"
        id="add-button"
        (click)="openDialog()"
        [disabled]="true"
        >
        GESTION DE LINEA
      </button> -->
      </div>

    </div>

  </div>

  <div class="table-container small-table" [class.colapse-div]="colapseDivAnticipo">
    <app-table
      [columns]="columns"
      [data]="list"
      [isShow]="isShow"
      [modelo]="modelo"
      (anularAnticipoClick)="anular($event)"
      (showClick)="redirectToShow($event)"
      (editClick)="redirectToEdit($event)"
      [shouldShowAnularButton]="true"
      [fnHideAnularRowButton]="fnHideAnular"
      [hideDelete]="true"
      [hideEdit]="true"
    ></app-table>
  </div>

