.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5px;
}

.title-colapside {
  cursor: pointer;
}

.colapse-div {
  display: none;
}
.estado-anulado {
  color: red;
  font-weight: bold;
}
