<app-page
  class="user-page"
  submodule="USUARIOS"
  [modelo]="modelo"
  [hideFilter]="true"
  (createClick)="redirectToCreate()"
>
  <app-table-paginator
    [columns]="columns"
    [data]="list"
    [modelo]="modelo"
    [hideDelete]="true"
    [noCheckGestorCuentaId]="true"
    [shouldShowActiveButton]="true"
    [shouldShowInactiveButton]="true"
    (activeClick)="active($event)"
    (editClick)="redirectToEdit($event)"
    (showClick)="redirectToShow($event)"
    (inactiveClick)="inactive($event)"
  ></app-table-paginator>
</app-page>
