<app-dialog-field
  *ngIf="isRemote"
  emptyHint="Sin PDV disponibles, debe crearlos, activarlos o asignarles un precio"
  [title]="title"
  [columns]="[]"
  [list]="[]"
  [calllbackremote]="true"
  [itemEvents]="pdvInsumoEvents"
  [fetchDataFunction]="fetchDataFunction"
  [groupName]="groupName"
  [controlName]="controlName"
  [inputValuePropName]="inputValuePropName"
  [form]="form"
  [dialogRefFunction]="dialogRefFunction.bind(this)"
  (valueChange)="valueChange.emit($event)"
></app-dialog-field>
