
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "~src/assets/styles/colors.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$icargo-frontend-primary: mat.define-palette($icargo-blue-palette);
$icargo-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$icargo-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$icargo-frontend-theme: mat.define-light-theme((
  color: (
    primary: $icargo-frontend-primary,
    accent: $icargo-frontend-accent,
    warn: $icargo-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($icargo-frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html body {
  *[hidden] {
    display: none !important;
  }
}

.mat-dialog-container {
  position: relative;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.col, .col-auto {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.full-width {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}
