
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "~src/assets/styles/colors.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$icargo-frontend-primary: mat.define-palette($icargo-blue-palette);
$icargo-frontend-accent: mat.define-palette($icargo-accent-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$icargo-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$icargo-frontend-theme: mat.define-light-theme((
  color: (
    primary: $icargo-frontend-primary,
    accent: $icargo-frontend-accent,
    warn: $icargo-frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($icargo-frontend-theme);

$app-success: mat.define-palette(mat.$green-palette);
$app-success-color-config:    mat.get-color-config(mat.$green-palette);

:root {
  --color-success: #{mat.get-color-from-palette($app-success-color-config, 500)};
}
/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html body {
  *[hidden] {
    display: none !important;
  }
}

.full-dialog {
  width: unset !important;
}

.half-dialog {
  width: 80% !important;
}

h1.mat-dialog-title {
  margin-right: 30px;

  .mat-button {
    border-radius: 50%;
    min-width: 40px;
    width: 40px;
    height: 40px;
    line-height: 36px;
    margin: 8px 0 8px 0;
    padding: 0;
  }
}

.mat-dialog-container {
  position: relative;

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.col, .col-auto {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.full-width {
  width: 100%;
}

.input-style {
  cursor: pointer;
  line-height: 3;
  border-block-end: 1px solid;
}

.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.pa-0 {
  padding: 0;
}

.pl-0 {
  padding-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.page {
  padding: 1rem;
}

/* nuevos css */
/* estilos globales input form */

.input-form-full {
  .mat-form-field {
    width: 100%;
  }

  margin: 0;

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    height: 20px;
    width: 20px;
  }

  .mat-icon-button{
    height: 20px;
    width: 20px;
  }

  .mat-form-field-error {
    font-size: 12px;
    font-weight: bold;
    color:red;
  }

  .mat-form-field-wrapper {
    margin: 0px 0;
    padding-bottom: 15px;
  }

  .mat-form-field-hint-spacer {
    font-size: 12px;
    font-weight: bold;
  }

  .mat-form-field-infix {
    padding: 8px 0 4px 0;
    border-top: 5px;
  }

  .required {
    color:red;
  }

}

.full-form-field {
  .mat-form-field {
    width: 100%;
  }
}

.input-form  {
  margin: 0;

  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    height: 20px;
    width: 20px;
  }

  .mat-icon-button{
    height: 20px;
    width: 20px;
  }

  .mat-form-field-error {
    font-size: 12px;
    font-weight: bold;
    color:red;
  }

  .mat-form-field-wrapper {
    margin: 0px 0;
    padding-bottom: 15px;
  }

  .mat-form-field-hint-spacer {
    font-size: 12px;
    font-weight: bold;
  }

  .mat-form-field-infix {
    padding: 8px 0 4px 0;
    border-top: 5px;
  }

  .required {
    color:red;
  }

}
/* page form components */
.page-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 14.06px;
    letter-spacing: 0.06em;
  }

  .page-title-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
  }

}

.botones {
  &.mat-button,
  &.mat-stroked-button {
    border-radius: 5.25px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }

  &.mat-button,
  &.mat-flat-button {
    border-radius: 5.25px;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
  }

  &.mat-button,
  &.mat-mini-fab {
    width: 30px;
    height: 30px;
  }

  &.mat-button,
  &.mat-mini-fab,
  &.mat-mini-fab .mat-button-wrapper {
    padding: 3px 0;
    line-height: 0;
  }


  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 8px;

  mat-icon{
    font-size: 20px;
    //font-weight: bold;
    //border-radius: 90%;
    //padding-top: 2px;
  }

}

 .page-form-component {
    margin: 10px 0 0 10px;

    .page-form-content {
      max-height: calc(100vh - 155px);
      overflow: auto;


      hr {
        height: 0.5px;
        background-color: orange;
        border: orange;
      }

      .page-form-container {
        margin-bottom: 0;
        padding-bottom: 0px;
        overflow: hidden; /* Puedes usar overflow hidden para asegurarte de que ningún contenido desborde y cause espacio adicional */
        background-color: white;
      }

      .section {
        h2 {
          margin: 0 0 15px 0;
          font-size: 13px;
          font-weight: 530;
          line-height: 16.41px;
          color: #007acc;
          border-bottom: 1px solid #007acc;
          width: 100%;
        }
      }

    }

 }


.list-button {
  //background: #FFFFFF;
  //color: #3B9EFF;
}

.page-content {
  background-color: white;
  border-radius: 10px;
}

.page-form-row {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  .estado-form-field {
    margin-top: 18px;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.button-in-form {
  margin-top: 10px;
}

.search {
  width: 100%;
  .mat-form-field-outline {
    border-radius: 10px;
    background-color: white;
  }
  &.mat-form-field-appearance-outline {
    &:not(.mat-form-field-appearance-legacy) {
      .mat-form-field-prefix,
      .mat-form-field-suffix {
        .mat-icon {
          color: rgba(0, 0, 0, 0.87);
          font-size: 120%;
        }
        .mat-icon-button {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-width: 0;
      border-color: $blue;
    }
    .mat-form-field-wrapper {
      margin: 0;
      padding-bottom: 0;
    }
    .mat-form-field-infix {
      border-top-width: 6px;
      padding: 6px;
      width: 100%;
      @media (max-width: 599px) {
        padding: 3px;
      }
    }
  }
  @media screen and (min-width: 480px) {
    width: 50%;
  }
}



.table-container {
  width: 100%;
  overflow: auto;
  overflow-y: hidden;

  .mat-table {
    width: 100%;
  }

  tr.mat-header-row {
    height: 42px;
  }

  tr.mat-row, tr.mat-footer-row {
    height: 31px;
  }

  .mat-header-cell {
    font-size: 14px;
  }

  .mat-cell,
  .mat-header-cell {
    padding: 0 8px;
    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    &:not(:nth-child(1)) {
      padding: 0 10px;
    }
  }

  .mat-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }

  .mat-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }
}

.has-error {
  color: $error-color;
  margin-left: 1rem;
}

.table-container.col-xs-12 {
  margin-bottom: 1rem;
  padding-right: 0;
  padding-left: 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-bottom: 1rem;
}

.alerta {
  color: red;
}

