<form [formGroup]="form">
  <h1 mat-dialog-title>
    {{ actionText }} Movimiento
    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>
  <div mat-dialog-content>
    <app-input-field
      title="Nº de Liquidación"
      controlName="liquidacion_id"
      [form]="form"
      [hidden]="!liquidacionId"
      [readonly]="!isContraparteEditable"
    ></app-input-field>
    <app-tipo-movimiento-dialog-field
      title="Cuenta - Concepto"
      [form]="form"
      (valueChange)="$event && cuentaControl.setValue($event.cuenta_id)"
    ></app-tipo-movimiento-dialog-field>
    <app-tipo-contraparte-field
      [form]="form"
      [readonly]="!isContraparteEditable"
      (valueChange)="$event && tipoContraparteChange($event)"
    ></app-tipo-contraparte-field>
    <button
      *ngIf="isOtro && isContraparteEditable"
      type="button"
      class="contraparte-button"
      mat-raised-button
      (click)="openField = !openField"
      cdkFocusInitial
      color="primary"
    >
      {{ openField ? "Elegir" : "Cargar" }} Contraparte
    </button>
    <app-contraparte-by-tipo-dialog-field
      [form]="form"
      [readonly]="!isContraparteEditable"
      [openField]="openField"
      [tipoContraparteId]="tipo?.id"
      (valueChange)="setContraparte($event)"
      (emptyListChange)="openField = isOtro"
    ></app-contraparte-by-tipo-dialog-field>
    <app-input-field
      title="Nº Doc. Contraparte"
      controlName="contraparte_numero_documento"
      [form]="form"
      [readonly]="!isContraparteEditable || !openField"
    ></app-input-field>
    <app-fecha-field
      title="Fecha de creación"
      controlName="fecha"
      [form]="form"
      [hidden]="isEdit"
    ></app-fecha-field>
    <mat-radio-group
      aria-label="Seleccione una opción"
      formControlName="es_cobro"
    >
      <mat-radio-button [value]="true">Crédito</mat-radio-button>
      <mat-radio-button [value]="false">Débito</mat-radio-button>
    </mat-radio-group>
    <app-number-field
      title="Monto"
      controlName="monto"
      [form]="form"
    ></app-number-field>
    <app-moneda-field [form]="form"></app-moneda-field>
    <mat-form-field>
      <mat-label>Detalle</mat-label>
      <textarea
        matInput
        formControlName="detalle"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
      ></textarea>
    </mat-form-field>
    <app-estado-field [estado]="estado"></app-estado-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      type="button"
      (click)="submit()"
      cdkFocusInitial
      color="primary"
      id="submit-button"
    >
      Aceptar
    </button>
  </div>
</form>
