<form [formGroup]="form">

  <h1 mat-dialog-title class="title">

    <span class="title">
      <span class="module">
        {{ actionText }}
      </span>
      <span class="submodule">
        Movimiento
      </span>
    </span>

    <button mat-button type="button" mat-dialog-close class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12"
        title="Nº de Liquidación"
        controlName="liquidacion_id"
        [form]="form"
        [hidden]="!liquidacionId"
        [readonly]="!isContraparteEditable"
        [requerido]="true"
      ></app-input-field>

      <app-tipo-contraparte-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        [form]="form"
        [readonly]="!isContraparteEditable"
        (valueChange)="$event && tipoContraparteChange($event)"
      ></app-tipo-contraparte-field>

      <button
        *ngIf="isOtro && isContraparteEditable"
        type="button" mat-raised-button cdkFocusInitial
        class="contraparte-button" color="primary"
        (click)="openField = !openField"
      >
        {{ openField ? "Elegir" : "Cargar" }} Contraparte
      </button>

      <app-contraparte-by-tipo-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        [form]="form"
        [readonly]="!isContraparteEditable"
        [openField]="openField"
        [tipoContraparteId]="tipo?.id"
        (valueChange)="setContraparte($event)"
        (emptyListChange)="openField = isOtro"
      ></app-contraparte-by-tipo-dialog-field>

    </div>

    <div class="row">

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Nº Doc. Contraparte"
        controlName="contraparte_numero_documento"
        [form]="form"
        [readonly]="!isContraparteEditable || !openField"
      ></app-input-field>

      <app-fecha-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Fecha de creación"
        controlName="fecha"
        [form]="form"
        [hidden]="isEdit"
      ></app-fecha-field>

    </div>

    <div class="row">

      <mat-radio-group
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        aria-label="Seleccione una opción"
        formControlName="es_cobro"
        style="display: flex; flex-direction: row; align-items: center;justify-content: space-around;"
      >
        <mat-radio-button [value]="true">Crédito</mat-radio-button>
        <mat-radio-button [value]="false">Débito</mat-radio-button>
      </mat-radio-group>

    </div>

    <div class="row">

      <app-tipo-movimiento-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-12"
        title="Cuenta - Concepto"
        [form]="form"
        (valueChange)="$event && cuentaControl.setValue($event.cuenta_id)"
      ></app-tipo-movimiento-dialog-field>

    </div>

    <div class="row">


      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Monto"
        controlName="monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        title="Moneda"
        [controlName]="'moneda'"
        [form]="form">
      </app-moneda-field>

      <app-estado-field
        class="input-form-full col-xs-12 col-sm-6 col-md-4"
        [estado]="estado">
      </app-estado-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-8">
        <mat-label>Detalle</mat-label>
        <mat-form-field>
          <textarea
            matInput
            formControlName="detalle"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
          ></textarea>
        </mat-form-field>
      </div>

    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-stroked-button class="botones" type="button" mat-dialog-close>Cancelar</button>
    <button id="submit-button" mat-flat-button cdkFocusInitial
      class="botones" color="primary" type="button"(click)="submit()">
      Guardar
    </button>
  </div>

</form>
