$lightblue: #95caff;
$blue: #3399ff;
$dark-blue: #0054a9;
$gray: #575756;
$error-color: #d50000;

$icargo-blue-palette: (
  50: $lightblue,
  100: $lightblue,
  200: $lightblue,
  300: $blue,
  400: $blue,
  500: $blue,
  600: $blue,
  700: $blue,
  800: $blue,
  900: $blue,
  A100: $dark-blue,
  A200: $dark-blue,
  A400: $dark-blue,
  A700: $dark-blue,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$icargo-accent-palette: (
  50: #c7ede4,
  100: #c7ede4,
  200: #c7ede4,
  300: #6ed0b9,
  400: #6ed0b9,
  500: #6ed0b9,
  600: #6ed0b9,
  700: #6ed0b9,
  800: #6ed0b9,
  900: #6ed0b9,
  A100: #31977f,
  A200: #31977f,
  A400: #31977f,
  A700: #31977f,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
