<div>

  <mat-label class="custom-label">
    <span *ngIf="requerido" class="required">(*) </span>
    {{ title }}
  </mat-label>

  <mat-form-field *ngIf="list$ && control" floatLabel="always" appearance="outline">
    <mat-select
      [formControl]="control"
      [compareWith]="compareWith"
      (valueChange)="valueChange.emit($event)"
    >
      <ng-container *ngFor="let o of list$ | async">
        <mat-option [value]="o">{{ o.descripcion }}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')">
      El cargo es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

</div>
