/* cargo-field.component.scss */

.mat-form-field {
  width: 100%; /* Establece un ancho del 100% */
  margin-bottom: 10px; /* Margen inferior */
}

.mat-label {
  color: #333; /* Color del texto de la etiqueta */
}

.mat-select-trigger {
  border-radius: 4px;
  padding: 8px 12px;
}

.mat-select-panel {
  font-family: 'Roboto', sans-serif; /* Fuente del texto dentro del panel del selector */
  font-size: 13px; /* Tamaño de fuente del texto dentro del panel */
  color: #333; /* Color del texto dentro del panel */
}

.mat-select-panel.mat-focused {
  background-color: unset; /* Quita el fondo gris al darle foco */
}

.mat-option {
  font-size: 13px; /* Tamaño de fuente de las opciones del selector */
  padding: 8px 12px; /* Espaciado interior de las opciones */
}

.mat-option.mat-active {
  background-color: #F25A38; /* Color de fondo al seleccionar una opción */
  color: white; /* Color del texto al seleccionar una opción */
}

.mat-error {
  color: red; /* Color del texto de error */
  font-size: 12px; /* Tamaño de fuente del mensaje de error */
}

label {
  font-size: 13px; /* Tamaño de fuente más pequeño para el label */
  margin-right: 4px; /* Espacio entre el label y el input */
}

.cargo-select {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  width: 172px; /* Ancho específico para el selector de Composición Jurídica */
  min-width: 120px; /* Ancho mínimo */
  height: 24px; /* Ajusta la altura según tus necesidades */
  border: 1px solid #F25A38; /* Borde rojo */
  border-radius: 4px; /* Bordes redondeados */
  padding-top: 4px;
  overflow: hidden; /* Oculta el desbordamiento */
  white-space: nowrap; /* Evita saltos de línea */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  margin-bottom: 12px;
  margin-right: 12px;
  background-color: white;
}

.cargo-select:focus{
  outline: none; /* Evita el cambio de tamaño al enfocar */
  box-shadow: 0 0 0 1px red;
}

.view-mode-cargo .cargo-select {
  border-radius: 4px;
  border: 1px solid #D9D9D9;
  background: #FBFBFE;
  color: rgba(28, 28, 28, 0.70);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  pointer-events: none; /* Deshabilitar interacción */
}