.form-group {
  display: flex;
  align-items: center; /* Alinea verticalmente al centro */
}

.form-label {
  margin-right: 8px; /* Espacio entre el label y el campo */
}

.form-field {
  flex-grow: 1; /* El mat-form-field puede ocupar el resto del espacio disponible */
}


::ng-deep .mat-form-field-outline {
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 27px;
}
