<div class="form-group d-flex align-items-center">
  <label class="form-label mr-2">{{title}}</label>
  <mat-form-field *ngIf="list$ && control" class="form-field">
    <mat-select
      [formControl]="control"
      [compareWith]="compareWith"
      (valueChange)="valueChange.emit($event)"
    >
      <ng-container *ngFor="let o of list$ | async">
        <mat-option [value]="o">{{ o.descripcion }}</mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="control.hasError('required')">
      El cargo es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>
</div>
