table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .align-right {
    text-align: right;
    
  }
  

  /* Primera columna */
  td:first-child {
    text-align: left;
  }
  
  /* Segunda fila de la primera columna */
  tr:nth-child(2) td:first-child {
    text-align: left;
  }

  .negative-number {
    color: red;
  }

  .red-text {
    color: red;
  }
  
  .black-text {
    color: black;
  }
  
  .color-black {
    color: black !important;
  }
  
  .peso-value  {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #e0e0e0;
    padding-right: 35px;
    margin-left: 3px;
    border-radius: 1px;
    text-align: end;
  }

  .peso-tarifa-value{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    font-weight: 500;
    padding-top: 10px;
    text-align: left;
    box-sizing: border-box;
    color: black;
  }

  .width-title-nominada {
    width: 20%; 
    text-align: left;
  }
  
  .width-title-pesos {
    width: 15%;
    text-align: center;
  }
  
  .width-title-diferencia {
    width: 20%;
    text-align: right;
  }
  

  th.width-title-withoutpeso {
      border-right: none !important; 
    }

  th.width-title-pesos {
      border-right: none !important; 
      border-left: none !important;  
    }

  th.width-title-peso {
      border-right: none !important; 
      border-left: none !important;  
    }

  th.width-title-nominada {
      border-right: none !important; 
       
    }

  th.width-title-diferencia {
      border-left: none !important;  
    }

  //Responsable
    .width-title-resultados {
      width: 9.90%; 
    }
     //Flete

    .width-title-flete {
      width: 12%; 
    }

    // Merma
    .width-title-merma {
      width: 31.2%; 
    }
    // Decuento

    .width-title-desc {
      width: 6%; 
    }
    // Saldo

    .width-title-saldo-bruto {
      width: 4%; 
    }
    // Anticipos
    .width-title-anticipos {
      width: 19%; 
    }
    // Saldo
    .width-title-saldo-neto {
      width: 9%; 
    }

    //Responsable

    th.mat-header-cell.mat-column-responsable {
      width: 8.6%;
      color: black;
    }
    
    //Flete
    th.mat-header-cell.mat-column-tarifa_flete{
      width: 6.2%;
      color: black;
    }
    
    th.mat-header-cell.mat-column-total_flete_mon {
      width: 4%;
      color: black;
    }
    
    // Merma
    th.mat-header-cell.mat-column-tolerancia {
      width: 6%;
      color: black;
    }
    
    th.mat-header-cell.mat-column-total_kg {
      width: 4%;
      color: black;
    }
    
    th.mat-header-cell.mat-column-merma_valor {
      width: 7%;
      color: black;
    }
    
    th.mat-header-cell.mat-column-tolerancia_kg{
      width: 9.3%;
      color: black;
    }

    // Decuento

    th.mat-header-cell.mat-column-comp_desc{
      width:5.6%;
      color: black;
    }

    // Saldo

    th.mat-header-cell.mat-column-bruto{
      width: 12.9%;
      color: black;
    }

    // Anticipos

    th.mat-header-cell.mat-column-efectivo{
      width:9.8%;
      color: black;
    }

    th.mat-header-cell.mat-column-combustible{
      width: 6%;
      color: black;
    }

    // Saldo

    th.mat-header-cell.mat-column-saldo{
      width: 6.5%;
      color: black;
    }
    
    