<div #tableContainer style="overflow-x: auto;" [ngStyle]="tableStyles" >
  <table>
    <thead>
 
      <tr>
        <th class="width-title-nominada"colspan="2" >   
         
          <span class="label">Cantidad Nominada </span>
          <span class="peso-value">
            <span class="peso-tarifa-value">{{ (oc?.cantidad_nominada ?? 0) | number: '1.0-0' }}</span>
          </span>
        
        </th> 

        <th class="width-title-pesos" colspan="2">   
         
          <span class="label">Neto de la Combinacion </span>
          <span class="peso-value">
            <span class="peso-tarifa-value">{{ (oc?.neto ?? 0) | number: '1.0-0' }}</span>
          </span>
        
        </th> 

        <th class="width-title-pesos" >   
         
          <span class="label">Peso Origen </span>
          <span class="peso-value">
            <span class="peso-tarifa-value">{{ (oc?.cantidad_destino ?? 0) | number: '1.0-0' }}</span>
          </span>
        
        </th> 

        <th class="width-title-pesos" >   
         
          <span class="label-destino">Peso Destino </span>
          <span class="peso-value">
            <span class="peso-tarifa-value">{{ (oc?.cantidad_destino ?? 0) | number: '1.0-0' }}</span>
          </span>
        
        </th> 
        <th class="width-title-diferencia" colspan="2">   
         <div class="diferencia">
          <span class="label">Diferencia </span>
          <span class="peso-value">
            <span class="peso-tarifa-value">{{ ((oc?.cantidad_origen ?? 0) - (oc?.cantidad_destino ?? 0)) | number: '1.0-0' }}</span>
          </span>
        </div>
        </th> 
     
    </tr>
    </thead>
    
    <thead>
      <tr>
          <th class="width-title-resultados" >Concepto</th> 
          <th class="width-title-flete" >Flete</th> 
          <th class="width-title-merma" >Merma</th> 
          <th class="width-title-desc" >Compl./Desc.</th> 
          <th class="width-title-saldo-bruto" >Saldo</th> 
          <th class="width-title-anticipos" colspan="2">Anticipos</th> 
          <th class="width-title-saldo-neto">Saldo</th> 
      </tr>
  </thead>
  
  </table>
  
  <table mat-table [dataSource]="tableDataSource" matSort  >
    <ng-container
      *ngFor="let column of filteredColumns; let last = last"
      [matColumnDef]="column.def"
      [sticky]="column.sticky"
      [stickyEnd]="column.stickyEnd"
      
    >
      <ng-container *ngIf="column.def !== 'actions'">
        
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [disabled]="disableSort"
          [class.mat-header-cell-checkbox]="column.type === 'checkbox'"
          
          
      >
        <ng-container *ngIf="column.type === 'checkbox'">
          <mat-checkbox
            [checked]="allChecked"
            [indeterminate]="someChecked()"
            (change)="setAll($event.checked)"
            (click)="$event.stopPropagation()"
          >
            {{ column.title }} 
          </mat-checkbox>
        </ng-container>
        <span *ngIf="column.type !== 'checkbox'">
          {{ column.title }}
        </span>
      </th>
      
      <td
        mat-cell
        *matCellDef="let row; let index = index"   
        [class.mat-cell-checkbox]="column.type === 'checkbox'"
        [class.row-error]="formArray.at(index)?.get(column.def)?.errors"
        [ngClass]="{
          'align-right': true,
          'red-text': isNegative(getColumnValue(row, column)) && (
            column?.def === 'bruto' ||
            column?.def === 'comp_desc' ||
            column?.def === 'efectivo' ||
            column?.def === 'combustible' ||
            column?.def === 'saldo' ||
            column?.def === 'tarifa_flete' ||
            column?.def === 'total_flete_mon' ||
            column?.def === 'tolerancia' ||
            column?.def === 'total_kg' ||
            column?.def === 'merma_valor' ||
            column?.def === 'tolerancia_kg'
          ),
          'black-text': !(isNegative(getColumnValue(row, column)) && (
            column?.def === 'bruto' ||
            column?.def === 'comp_desc' ||
            column?.def === 'efectivo' ||
            column?.def === 'combustible' ||
            column?.def === 'saldo' ||
            column?.def === 'tarifa_flete' ||
            column?.def === 'total_flete_mon' ||
            column?.def === 'tolerancia' ||
            column?.def === 'total_kg' ||
            column?.def === 'merma_valor' ||
            column?.def === 'tolerancia_kg'
          ))
        }">

          <ng-container
            *ngIf="
              column.value &&
              (!column.isHidden || (column.isHidden(row) && column.isHidden(row)))
            "
          >
            <ng-container [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="'checkbox'">
                <mat-checkbox
                  [(ngModel)]="checkedList[index]"
                  (ngModelChange)="updateAllChecked()"
                  (change)="onCheckboxChange($event, row, index)"
                >
                  {{ column.value(row) }}
                </mat-checkbox>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">
                <ng-container *ngIf="column.link">
                  <ng-container
                    *ngIf="column.link(row) as linkInfo; else withoutLink"
                  >
                    <a
                      [routerLink]="linkInfo.url"
                      [queryParams]="linkInfo.queryParams"
                    >
                      {{ column.value(row) | numberFormat }}
                    </a>
                  </ng-container>
                  <ng-template #withoutLink>
                    <span>{{ column.value(row) }}</span>
                  </ng-template>
                </ng-container>
                <ng-container *ngIf="!column.link">
                  <span *ngIf="row && column.value(row) !== null">
                    {{ column.value(row) | numberFormat }}
                  
                    <div *ngIf="column?.def === 'tarifa_flete' || column?.def === 'tolerancia'" 
                          style="color: black; display: inline;"> Gs/Kg </div>
                  
                    <div *ngIf="column?.def === 'total_flete_mon' || column?.def === 'comp_desc' || column?.def === 'bruto' || column?.def === 'efectivo' || column?.def === 'combustible' || column?.def === 'saldo'" 
                          style="color: black; display: inline;"> Gs </div>
                  
                    <div *ngIf="column?.def === 'total_kg' || column?.def === 'merma_valor' || column?.def === 'tolerancia_kg'" 
                          style="color: black; display: inline;"> Kg </div>
                  </span>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchCase="'date'">
                <span>{{
                  column.value(row) | momentFormat: "DD-MM-YYYY HH:mm:ss"
                }}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'html'">
                <div [innerHTML]="column.value(row)"></div>
              </ng-container>
              <ng-container *ngSwitchCase="'button'">
                <ng-container *ngIf="column.buttonCallback">
                  <ng-container *ngIf="column.buttonIconName; else buttonText">
                    <ng-container *ngIf="column.buttonIconName(row) as iconName">
                      <button
                        type="button"
                        mat-icon-button
                        class="row-button"
                        color="primary"
                        [matTooltip]="column.value(row)"
                        [disabled]="column.isDisable && column.isDisable(row)"
                        (click)="column.buttonCallback(row)"
                      >
                        <mat-icon>{{ iconName }}</mat-icon>
                      </button>
                    </ng-container>
                  </ng-container>
                  <ng-template #buttonText>
                    <button
                      type="button"
                      mat-raised-button
                      class="row-button"
                      color="primary"
                      [innerHTML]="column.value(row)"
                      [disabled]="column.isDisable && column.isDisable(row)"
                      (click)="column.buttonCallback(row)"
                    ></button>
                  </ng-template>
                </ng-container>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <ng-container *ngIf="column.link">
                  <ng-container
                    *ngIf="column.link(row) as linkInfo; else withoutLink"
                  >
                    <a
                      [routerLink]="linkInfo.url"
                      [queryParams]="linkInfo.queryParams"
                    >
                      {{ column.value(row) }}
                    </a>
                  </ng-container>
                  <ng-template #withoutLink>
                    <span>{{ column.value(row) }}</span>
                  </ng-template>
                </ng-container>
                <ng-container *ngIf="!column.link">
                  <span>{{ column.value(row) }}</span>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </td>
        <ng-container *ngIf="shouldBeShowFooter">
          <td mat-footer-cell *matFooterCellDef >
            <strong [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="'number'">
                {{ column.footerDef && column.footerDef() | numberFormat }}
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ column.footerDef && column.footerDef() }}
              </ng-container>
            </strong>
          </td>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="column.def === 'actions'">
        <th mat-header-cell *matHeaderCellDef [hidden]="isShow && !addShowButton">
          <button
            type="button"
            mat-icon-button
            [matMenuTriggerFor]="filterColumn"
            #filterColumnTrigger
          >
            <mat-icon>list</mat-icon>
          </button>
          <mat-menu #filterColumn>
            <div mat-menu-item disableRipple>
              <app-searchable-checkbox-filter
                [value]="columnsToShowFilteredList"
                [list]="columnsToShowList"
                (valueChanges)="columnsToShowFilteredList = $event"
                (filtered)="
                  filterColumns();
                  filterColumnTrigger._elementRef.nativeElement.click()
                "
              ></app-searchable-checkbox-filter>
            </div>
          </mat-menu>
        </th>
        <td
          mat-cell
          *matCellDef="let row; let index = index" 
          [hidden]="isShow && !addShowButton"
          
        >
          <button
            type="button"
            class="row_menu"
            mat-icon-button
            matTooltip="Ver"
            (click)="showClick.emit({ row, index })"
            *ngIf="modelo | puede: a.VER"
            [hidden]="!addShowButton"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button 
            type="button"
            class="row_menu"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            [hidden]="isShow"
            *ngIf="
              ((modelo | puede: a.VER) && !hideShow) ||
              (!hideEdit &&
                (modelo
                  | puede
                    : a.EDITAR
                    : (noCheckGestorCuentaId
                        ? undefined
                        : row.gestor_cuenta_id || gestorCuentaId))) ||
              (!hideDelete &&
                (modelo
                  | puede
                    : a.ELIMINAR
                    : (noCheckGestorCuentaId
                        ? undefined
                        : row.gestor_cuenta_id || gestorCuentaId)))
            "
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              type="button"
              mat-menu-item
              (click)="showClick.emit({ row, index })"
              *ngIf="modelo | puede: a.VER"
              [hidden]="hideShow"
            >
              <mat-icon color="primary">visibility</mat-icon>
              <span>Ver</span>
            </button>
            <button
              type="button"
              mat-menu-item
              (click)="editClick.emit({ row, index })"
              *ngIf="
                row.estado !== e.CONCILIADO &&
                !hideEdit &&
                (modelo
                  | puede
                    : a.EDITAR
                    : (noCheckGestorCuentaId
                        ? undefined
                        : row.gestor_cuenta_id ||
                          row.gestor_carga_id ||
                          gestorCuentaId))
              "
            >
              <mat-icon color="primary">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button
              type="button"
              mat-menu-item
              (click)="deleteClick.emit({ row, index })"
              *ngIf="
                !hideDelete &&
                (modelo
                  | puede
                    : a.ELIMINAR
                    : (noCheckGestorCuentaId
                        ? undefined
                        : row.gestor_cuenta_id ||
                          row.gestor_carga_id ||
                          gestorCuentaId))
              "
            >
              <mat-icon color="primary">delete</mat-icon>
              <span>Eliminar</span>
            </button>

            <button
            *ngIf= "mostrarBotonEliminar"
            type="button"
            mat-menu-item
          >
            <mat-icon color="gray">delete</mat-icon>
            <span>Eliminar</span>
          </button>

            <button
              type="button"
              mat-menu-item
              (click)="activeClick.emit({ row, index })"
              *ngIf="
                row.estado !== e.ACTIVO &&
                shouldShowActiveButton &&
                (modelo
                  | puede
                    : a.CAMBIAR_ESTADO
                    : (noCheckGestorCuentaId
                        ? undefined
                        : row.gestor_cuenta_id ||
                          row.gestor_carga_id ||
                          gestorCuentaId))
              "
            >
              <mat-icon color="primary">toggle_off</mat-icon>
              <span>Activar</span>
            </button>
            <button
              type="button"
              mat-menu-item
              (click)="inactiveClick.emit({ row, index })"
              *ngIf="
                row.estado === e.ACTIVO &&
                shouldShowInactiveButton &&
                (modelo
                  | puede
                    : a.CAMBIAR_ESTADO
                    : (noCheckGestorCuentaId
                        ? undefined
                        : row.gestor_cuenta_id ||
                          row.gestor_carga_id ||
                          gestorCuentaId))
              "
            >
              <mat-icon color="primary">toggle_on</mat-icon>
              <span>Desactivar</span>
            </button>
          </mat-menu>
        </td>
        <ng-container *ngIf="shouldBeShowFooter">
          <td mat-footer-cell *matFooterCellDef>
            <strong>{{ column.footerDef && column.footerDef() }}</strong>
          </td>
        </ng-container>
      </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container *ngIf="shouldBeShowFooter">
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </ng-container>
  </table>
</div>