

.action-text {
  color: #F25A38;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.complement-text {
  color: #3B9EFF;
  //font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  letter-spacing: 0.06em;
  text-align: left;
}

.horizontal-line {
  border: 1px solid #1C1C1C3D;
  margin-top: 8px;
}

.section {
  h2 {
    margin: 0 0 15px 0;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc;
    border-bottom: 1px solid #007acc;

  }
}

.horizontal-line {
  border: 1px solid #1C1C1C3D;
  margin-top: 8px;

}

.ocultar {
  display: none;
}
