<form [formGroup]="form">

  <h1 mat-dialog-title>
    <span class="action-text">{{ actionText }}</span>
    <span class="complement-text"> COMPLEMENTO</span>
  </h1>

  <div class="section" >
    <h2> </h2>
  </div>

  <div mat-dialog-content>

    <div class="row">

      <app-tipo-concepto-complemento-field
        class="input-form-full col-xs-12 col-sm-6 col-md-5"
        controlName="concepto"
        [form]="form"
        [value]="valueConcepto"
      ></app-tipo-concepto-complemento-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-10"
        title="Detalle"
        controlName="detalle"
        [form]="form"
      ></app-input-field>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-10" style="display: flex; flex-direction: column; padding-bottom: 5px;">
        <label for="toggle-anticipado">Concepto pago en forma</label>
        <mat-slide-toggle id="toggle-anticipado" formControlName="anticipado">
          {{ anticipado ? "Anticipado" : "No anticipado" }}
        </mat-slide-toggle>
      </div>

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Monto a Pagar al Propietario"
        controlName="propietario_monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-5"
        title="Moneda del Propietario"
        controlName="propietario_moneda"
        [value]="valueMoneda"
        [form]="form"
        (valueChange)="onMonedaOrigenPropietarioChange($event)"
      ></app-moneda-field>

    </div>

    <hr class="horizontal-line">

    <div class="row">

      <div class="toggle cobrar form-element" style="display: flex; flex-direction: column; padding-bottom: 5px;">
        <label for="toggle-anticipado">Cobrar al Cliente</label>
        <mat-slide-toggle formControlName="habilitar_cobro_remitente">
          {{ cobroARemitente ? "SI" : "NO" }}
        </mat-slide-toggle>
      </div>

    </div>

    <div [hidden]="!cobroARemitente" class="row">

      <app-number-field
        class="input-form-full col-xs-12 col-sm-6 col-md-6"
        title="Monto a Cobrar al Cliente"
        controlName="remitente_monto"
        [form]="form"
      ></app-number-field>

      <app-moneda-field
        class="input-form-full col-xs-12 col-sm-6 col-md-5"
        title="Moneda del Cliente"
        controlName="remitente_moneda"
        [value]="valueMoneda"
        [form]="form"
        (valueChange)="onMonedaOrigenRemitenteChange($event)"
      ></app-moneda-field>

    </div>

    <hr class="horizontal-line">

  </div>

  <div mat-dialog-actions class="buttons-actions">
    <button
      mat-stroked-button
      class="botones"  type="button"
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      Cerrar
    </button>
    <button
      *ngIf="!dialogConfig.disabled"
      mat-flat-button
      class="botones" color="primary" type="button"
      (click)="submit()"
      cdkFocusInitial>
      <mat-icon>save</mat-icon> GUARDAR
    </button>
  </div>
</form>
