h3, h4 {
  line-height: 1;
  margin-bottom: 0;
}

h4 {
  margin-top: 1rem;
}

.col-xs-12 {
  margin-bottom: 1.05rem;
}

.page-form-row {
  margin-left: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}

.border-left {
  border: 0.5px;
  border-left: solid;
  border-color: black ;
}

.info {
  margin-right: 0;
  margin-left: 0;
}

.titulo {
  font-size: 22px;
  font-weight: bold;
}


::ng-deep {
  .selector-dialog {
    width: 90vw !important;
    @media screen and (min-width: 48em) {
      width: calc(100vw - 5rem) !important;
    }
    @media screen and (min-width: 64em) {
      width: calc(100vw - 10rem) !important;
    }
    @media screen and (min-width: 75em) {
      width: calc(100vw - 20rem) !important;
    }
  }
}
