
  <h1 mat-dialog-title>
    Confirmar Pedido
    <button mat-button (click)="dialogRef.close(null)" class="close">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>
    <div class="row page-form-row">

      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Información Básica</h3>
        <app-key-value key="Nº de Pedido" [value]="flete.id"></app-key-value>
        <app-key-value
          key="Remitente"
          [value]="flete.remitente"
        ></app-key-value>
        <app-key-value key="Producto" [value]="flete.producto"></app-key-value>
        <app-key-value
          key="Nº Lote"
          [value]="flete.numero_lote"
        ></app-key-value>
      </div>

      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Tramo</h3>
        <app-key-value key="Origen" [value]="flete.origen"></app-key-value>
        <app-key-value key="Destino" [value]="flete.destino"></app-key-value>
      </div>

      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Cantidad y Condiciones</h3>
        <app-key-value key="Cantidad" [shouldFormat]="false" [value]="flete.cantidad"></app-key-value>
        <app-key-value
          key="Gestora"
          [value]="flete.gestor_carga_tarifa"
        ></app-key-value>
        <app-key-value
          key="Propietario"
          [value]="flete.propietario_tarifa"
        ></app-key-value>
      </div>

      <div class="info col-xs-12 col-sm-4 col-md-2">
        <h3 class="titulo">Anticipos</h3>
        <ng-container *ngFor="let entry of Obj.entries(flete.anticipos)">
          <app-key-value [key]="entry[0]" [value]="entry[1]"></app-key-value>
        </ng-container>
      </div>

      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Complementos</h3>
        <ng-container *ngFor="let entry of Obj.entries(flete.complementos)">
          <app-key-value [key]="entry[0]" [value]="entry[1]"></app-key-value>
        </ng-container>
      </div>
      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Descuentos</h3>
        <ng-container *ngFor="let entry of Obj.entries(flete.descuentos)">
          <app-key-value [key]="entry[0]" [value]="entry[1]"></app-key-value>
        </ng-container>
      </div>

      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Merma</h3>
        <h4>Gestora</h4>
        <app-key-value
          key="Valor"
          [value]="flete.gestor_carga_merma"
        ></app-key-value>
        <app-key-value
          key="Tolerancia"
          [value]="flete.gestor_carga_tolerancia"
        ></app-key-value>
        <h4>Propietario</h4>
        <app-key-value
          key="Valor"
          [value]="flete.propietario_merma"
        ></app-key-value>
        <app-key-value
          key="Tolerancia"
          [value]="flete.propietario_tolerancia"
        ></app-key-value>
      </div>

      <div class="info col-xs-12 col-sm-4 col-md-3">
        <h3 class="titulo">Emisión de Orden</h3>
        <app-key-value
          key="Texto Legal"
          [value]="flete.emision_orden_texto_legal"
        ></app-key-value>
        <app-key-value
          key="Correos"
          [value]="flete.emision_orden_destinatarios"
        ></app-key-value>
        <app-key-value
          key="Detalle"
          [value]="flete.emision_orden_detalle"
        ></app-key-value>
      </div>

    </div>
  </div>

  <div mat-dialog-actions>
    <button type="button" mat-raised-button (click)="dialogRef.close(false)">
      Cancelar
    </button>
    <button
      type="button"
      mat-raised-button
      (click)="dialogRef.close(true)"
      cdkFocusInitial
      color="primary"
    >
      Guardar
    </button>
  </div>
