<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-12 col-md-3 mb-2 d-flex align-items-center">
        <app-remitente-by-gestor-map-dialog-field
          [groupName]="groupName"
          [form]="form"
          (valueChange)="remitenteChange.emit($event)"
          class="app-input-field"
        ></app-remitente-by-gestor-map-dialog-field>
      </div>
      <div class="col-12 col-md-3 mb-2 d-flex align-items-center">
        <label class="form-label-producto mr-2">Producto</label>
        <app-producto-field
          [groupName]="groupName"
          [form]="form"
          (valueChange)="productoChange.emit($event)"
          class="app-input-field"
        ></app-producto-field>
      </div>
      <div class="col-12 col-md-3 mb-2 d-flex align-items-center">
        <label class="form-label-producto-carga mr-2">Tipo Carga</label>
        <app-tipo-carga-field
          [groupName]="groupName"
          [form]="form"
          class="app-input-field"
        ></app-tipo-carga-field>
      </div>
      <div class="col-12 col-md-3 mb-2 d-flex align-items-center">
        <label class="form-label mr-2">Número de Lote</label>
        <app-input-field
          [groupName]="groupName"
          controlName="numero_lote"
          [form]="form"
          class="app-input-field"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 toggle">
        <ng-container *ngIf="isShow; else estaPublicadoTemplate">
          {{ estaPublicado ? "Publicado" : "No publicado" }}
        </ng-container>
        <ng-template #estaPublicadoTemplate>
          <mat-slide-toggle formControlName="publicado">
            {{ estaPublicado ? "Publicado" : "No publicado" }}
          </mat-slide-toggle>
        </ng-template>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 toggle">
        <ng-container *ngIf="isShow; else esSubastaTemplate">
          {{ esSubasta ? "Es Subasta" : "No es Subasta" }}
        </ng-container>
        <ng-template #esSubastaTemplate>
          <mat-slide-toggle formControlName="es_subasta">
            {{ esSubasta ? "Es Subasta" : "No es Subasta" }}
          </mat-slide-toggle>
        </ng-template>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 estado-component">
        <app-estado-field [estado]="estado"></app-estado-field>
      </div>
    </div>
  </div>
</div>
