<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">

    <div class="row">

      <app-input-field
        *ngIf="isShow"
        class="input-form-full col-xs-12 col-sm-6 col-md-1"
        title="N° Pedido"
        [groupName]="groupName"
        controlName="numero_pedido"
        [form]="form"
      ></app-input-field>

      <app-remitente-by-gestor-map-dialog-field
        class="input-form-full col-xs-12 col-sm-6 col-md-3"
        [groupName]="groupName"
        [remitenteEvents]="remitenteEventsSubject.asObservable()"
        [form]="form"
        (valueChange)="remitenteChange.emit($event)"
      ></app-remitente-by-gestor-map-dialog-field>

      <app-producto-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Producto"
        [groupName]="groupName"
        [form]="form"
        (valueChange)="productoChange.emit($event)"
      ></app-producto-field>

      <app-input-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Tipo Carga"
        [groupName]="groupName"
        controlName="tipo_carga"
        [readonly]="true"
        [form]="form"
      ></app-input-field>

      <!--app-tipo-carga-field
        class="input-form-full col-xs-12 col-sm-6 col-md-2"
        title="Tipo Carga"
        [groupName]="groupName"
        [readonly]="true"
        [form]="form"
      ></app-tipo-carga-field-->

      <!-- <div class="col-xs-12 col-sm-6 col-md-2" style="display: flex; flex-direction: column; align-items: flex-start;">

        <div class="input-form-full">
          <ng-container *ngIf="isShow; else estaPublicadoTemplate">
            {{ estaPublicado ? "Publicado" : "No publicado" }}
          </ng-container>
          <ng-template #estaPublicadoTemplate>
            <mat-slide-toggle formControlName="publicado">
              {{ estaPublicado ? "Publicado" : "No publicado" }}
            </mat-slide-toggle>
          </ng-template>
        </div>

        <div class="input-form-full">
          <ng-container *ngIf="isShow; else esSubastaTemplate">
            {{ esSubasta ? "Es Subasta" : "No es Subasta" }}
          </ng-container>
          <ng-template #esSubastaTemplate>
            <mat-slide-toggle formControlName="es_subasta">
              {{ esSubasta ? "Es Subasta" : "No es Subasta" }}
            </mat-slide-toggle>
          </ng-template>
        </div>

      </div> -->

      <app-estado-field
        class="input-form-full col-xs-12 col-sm-6 col-md-1"
        [estado]="estado">
      </app-estado-field>

    </div>

  </div>
</div>
