<div *ngIf="form" [formGroup]="form">
  <div [formGroupName]="groupName">
    <div class="row page-form-row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-remitente-field
          [groupName]="groupName"
          [form]="form"
        ></app-remitente-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-producto-field
          [groupName]="groupName"
          [form]="form"
        ></app-producto-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-tipo-carga-field
          [groupName]="groupName"
          [form]="form"
        ></app-tipo-carga-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Número de Lote"
          [groupName]="groupName"
          controlName="numero_lote"
          [form]="form"
        ></app-input-field>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 toggle">
        <ng-container *ngIf="isShow; else estaPublicadoTemplate">{{ estaPublicado ? 'Publicado' : 'No publicado' }}</ng-container>
        <ng-template #estaPublicadoTemplate>
          <mat-slide-toggle formControlName="publicado">{{ estaPublicado ? 'Publicado' : 'No publicado' }}</mat-slide-toggle>
        </ng-template>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 toggle">
        <ng-container *ngIf="isShow; else esSubastaTemplate">{{ esSubasta ? 'Subasta' : 'Flete' }}</ng-container>
        <ng-template #esSubastaTemplate>
          <mat-slide-toggle formControlName="es_subasta">{{ esSubasta ? 'Subasta' : 'Flete' }}</mat-slide-toggle>
        </ng-template>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <app-estado-field [estado]="estado"></app-estado-field>
      </div>
    </div>
  </div>
</div>
