<div *ngIf="form" [formGroup]="form">
  <mat-form-field [formGroupName]="groupName">
    <mat-label>{{ title }}</mat-label>
    <ng-container *ngIf="cId; else ciudadReadonly">
      <mat-select [formControlName]="controlName">
        <ng-container *ngFor="let o of list">
          <mat-option [value]="o.id">{{o.placa}} - {{o.propietario_nombre}}</mat-option>
        </ng-container>
      </mat-select>
    </ng-container>
    <ng-template #ciudadReadonly>
      <input matInput [formControlName]="controlName" readonly/>
    </ng-template>
    <mat-error *ngIf="control?.hasError('required')">
      El semi-remolque es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="!list.length && control.touched">
      <strong>No existen semi-remolques</strong> asociados al camión
    </mat-error>
  </mat-form-field>
</div>
