
<app-page-form
  class="caja-page"
  module="Caja & Banco"
  submodule="Caja"
  viewTitle="{{ 'Ver' }}"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [isEdit]="false"
  [isShow]="isShow"
  [modelo]="modelo"
  [hideEditButton]="true"
  (backClick)="back($event)"
>
  <div class="page-form-container">

    <div class="row">

      <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
        <app-input-field
          title="Nombre"
          controlName="nombre"
          [readonly]="true"
          [form]="form"
        ></app-input-field>
      </div>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
        <app-moneda-field
          [title]="'Moneda'"
          [readonly]="true"
          controlName="moneda_id"
          [form]="form">
        </app-moneda-field>
      </div>

    </div>

    <div class="row">

      <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
        <app-number-field
          title="Ingresos"
          controlName="credito"
          [form]="form"
          [readonly]="true"
        ></app-number-field>
      </div>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
        <app-number-field
          title="Egresos"
          controlName="debito"
          [form]="form"
          [readonly]="true"
        ></app-number-field>
      </div>

      <div class="input-form-full col-xs-12 col-sm-6 col-md-3">
        <app-number-field
          title="Saldo"
          controlName="saldo_confirmado"
          [form]="form"
          [readonly]="true"
        ></app-number-field>
      </div>

    </div>

    <div class="table-container">
      <app-table
        [modelo]="m.INSTRUMENTO"
        [columns]="columns"
        [data]="list"
        [isShow]="false"
        [disableSort]="true"
        [hideShow]="false"
        [hideEdit]="true"
        [hideDelete]="true"
        [shouldShowAnularButton]="true"
        (anularAnticipoClick)="$event && anularInstrumento($event)"
        [fnHideAnularRowButton]="fnHideAnularRowButton"
      ></app-table>
    </div>

  </div>

</app-page-form>



