<app-page-form
  class="flete-page"
  submodule="PEDIDOS"
  module="{{ isEdit ? 'EDITAR' : isShow ? 'VER' : 'NUEVO' }}"
  inactiveTooltipText="Cancelar"
  [class.page-form-show]="isShow"
  [formGroup]="form"
  [hasChange]="hasChange"
  [hideEditButton]="true"
  [isEdit]="isEdit"
  [isShow]="isShow"
  [modelo]="modelo"
  [gestorCargaId]="gestorCargaId"
  [shouldShowInactiveButton]="!isCancel"
  (backClick)="back($event)"
  (editClick)="redirectToEdit()"
  (cancelarFleteClick)="cancelar()"
  (submitEvent)="save(false)"
  [flete]="item"
>

  <div class="flete-page-content">

    <app-flete-form-acciones
      [flete]="item"
      [isShow]="isShow"
      (fleteChange)="getData()"
    ></app-flete-form-acciones>

    <div class="section">
      <h2>INFORMACIÓN PRINCIPAL</h2>
      <app-flete-form-info
        [form]="form"
        [estado]="estado"
        [isShow]="isShow"
        (remitenteChange)="
          info.get('remitente_nombre')?.setValue($event?.nombre)
        "
        (productoChange)="
          info.get('producto_descripcion')?.setValue($event?.descripcion)
        "
      ></app-flete-form-info>
    </div>

    <div class="section ">
      <h2 class="title-colapside" (click)="colapseDivTramo=!colapseDivTramo">Tramo</h2>
      <app-flete-form-tramo
        [class.colapse-div]="colapseDivTramo"
        [form]="form"
        (origenChange)="tramo.get('origen_nombre')?.setValue($event?.nombre)"
        (destinoChange)="
          tramo.get('destino_nombre')?.setValue($event?.nombre)
        "
      ></app-flete-form-tramo>
    </div>

    <div class="section ">
      <h2 class="title-colapside" (click)="colapseDivCantidad=!colapseDivCantidad">Cantidad y Condiciones</h2>
      <app-flete-form-condicion
        [class.colapse-div]="colapseDivCantidad"
       [form]="form">
      </app-flete-form-condicion>
    </div>

    <div class="section ">
      <h2 class="title-colapside" (click)="colapseDivMerma=!colapseDivMerma">Mermas</h2>

      <app-flete-form-merma
        [class.colapse-div]="colapseDivMerma"
        afectado="gestor_carga"
        afectadoTitle="Gestor"
        [form]="form"
      ></app-flete-form-merma>
      <app-flete-form-merma
        [class.colapse-div]="colapseDivMerma"
        afectado="propietario"
        afectadoTitle="Propietario"
        [form]="form"
      ></app-flete-form-merma>
    </div>

    <div class="section ">
      <h2 class="title-colapside" (click)="colapseDivAnticipo=!colapseDivAnticipo">Anticipos</h2>
      <app-flete-form-anticipos
        [class.colapse-div]="colapseDivAnticipo"
        [isCreate]="!isShow && !isEdit"
        [puedeModificar]="puedeModificar"
        [form]="form"
        [anticipoList]="anticipoList"
      ></app-flete-form-anticipos>
    </div>

    <div class="section ">
      <h2 class="title-colapside" (click)="colapseDivComplemento=!colapseDivComplemento">Complementos y Descuentos</h2>
      <div class="row" [class.colapse-div]="colapseDivComplemento">
        <app-flete-form-complementos
          class="col-xs-12 col-sm-6"
          [gestorCuentaId]="gestorCargaId"
          [form]="form"
          [isShow]="isShow"
          [isEdit]="isEdit"
          [complementoList]="complementoList"
        ></app-flete-form-complementos>
        <app-flete-form-descuentos
          class="col-xs-12 col-sm-6"
          [gestorCuentaId]="gestorCargaId"
          [form]="form"
          [isShow]="isShow"
          [isEdit]="isEdit"
          [descuentoList]="descuentoList"
        ></app-flete-form-descuentos>
      </div>
    </div>

    <div class="section">
      <h2 class="title-colapside" (click)="colapseDivEmision=!colapseDivEmision">Emisión de Órdenes</h2>
      <app-flete-form-emision-orden
        [class.colapse-div]="colapseDivEmision"
        [form]="form"
      ></app-flete-form-emision-orden>
    </div>

  </div>

</app-page-form>
