.page-form-show::ng-deep {
    .mat-input-element:disabled,
    .mat-select-disabled .mat-select-value {
      color: rgba(0, 0, 0, 0.87);
    }
    .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
      color: rgba(0, 0, 0, 0.6);
    }
    .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
      visibility: hidden;
    }
  }
  body, html {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .page-container {
    margin-top: 0px;
    padding-bottom: 0px;
    overflow: hidden; /* Puedes usar overflow hidden para asegurarte de que ningún contenido desborde y cause espacio adicional */
    background-color: white;
  }
  
  .geolocation-content {
    margin-bottom: 0;
  }
  
  .section h2 {
    margin: 0 0 15px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc;  
    border-bottom: 1px solid #007acc;  
    width: 100%;
  }
  
  .section h2.contactos-heading {
    margin-top: 182px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 530;
    line-height: 16.41px;
    color: #007acc; /* Celeste más oscuro */
    border-bottom: 1px solid #007acc; /* Línea inferior en celeste más oscuro */
    width: 72%;
    z-index: 1;
  }
  
  .contactos-section {
    margin-top: -158px; /* Ajusta este valor según sea necesario para subir más la sección */
  }
  
  .app-input-field {
    width: 100%;
  }
  .form-container {
    display: flex; /* Utiliza flexbox */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a una nueva línea si no hay espacio */
    gap: 20px; /* Espacio entre los elementos */
  }
  
  .habilitacion-section {
    flex: 1 1 calc(33.33% - 20px); /* Cada sección toma un tercio del ancho menos el espacio */
    box-sizing: border-box; /* Asegura que el padding y los bordes se incluyan en el ancho total */
  }
  
  /* Opcional: Puedes ajustar la apariencia de las secciones */
  .habilitacion-section {
    background-color: #f9f9f9; /* Color de fondo opcional */
    padding: 10px; /* Padding interno */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .detalles {
    margin-top: -24px; 
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
  }
  