body {
  font-family: 'Roboto', sans-serif;
}

.page-form-row {
  display: flex;
  margin-left: 0;
}

.form-label {
  white-space: nowrap; 
}

::ng-deep .mat-form-field-outline {
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 2rem;
}

::ng-deep input.mat-input-element {
  line-height: 0.5rem; 
  margin-top: 3px;
  padding-bottom: 4px; 
}

::ng-deep .composicion_cedula-select .mat-select-trigger {
  margin-top: 6px;
}

::ng-deep .documento-select .mat-select-trigger {
  margin-top: 6px;
}

::ng-deep .foto-file .mat-form-field-outline{
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 100px;
  width: 100px;
}

::ng-deep .foto-file .mat-form-field{
  border-radius: 6px;
  border: 2px;
  opacity: 0px;
  height: 100px;
  width: 100px;
}

