<div *ngIf="formGroup" [formGroup]="formGroup">
  <div [formGroupName]="groupName">

    <!-- Primera fila: Dirección y Ciudad -->
    <div class="row" style="margin:0">
      <!-- Dirección -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-5" >
        <mat-label class="custom-label">Dirección</mat-label>
        <mat-form-field class="map-field" floatLabel="always" appearance="outline">
          <input matInput formControlName="direccion" id="direccion" class="direccion-input" [ngClass]="{'view-mode': isShow}" />
          <mat-error *ngIf="address.controls['direccion'].hasError('required')">
            La dirección es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Ciudad -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-4" style="margin-left: auto;">
        <app-ciudad-map-dialog-field
          [ngClass]="{'view-mode-ciudad': isShow}"
          [ciudadSelected]="ciudadSelected"
          [groupName]="groupName"
          [form]="formGroup"
          (valueChange)="ciudadChange($event)">
        </app-ciudad-map-dialog-field>
      </div>
    </div>

    <!-- Segunda fila: Localidad y Mapa -->
    <div class="row" style="margin:0">
      <!-- Localidad -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-4">
        <mat-label class="custom-label">Localidad</mat-label>
        <mat-form-field class="map-field" floatLabel="always" appearance="outline">
          <input matInput formControlName="localidad_nombre" readonly [ngClass]="{'view-mode': true}" />
        </mat-form-field>

         <!-- País -->
      <div>
        <mat-label class="custom-label">País</mat-label>
        <mat-form-field class="map-field w-100" floatLabel="always" appearance="outline">
          <input matInput formControlName="pais_nombre" readonly [ngClass]="{'view-mode': isShow}" />
        </mat-form-field>
      </div>

      </div>

      <!-- Mapa -->
      <div class="input-form-full col-xs-12 col-sm-6 col-md-7" style="margin-left: auto;">
        <app-google-map
          [height]="250"
          [width]="100"
          [typeWidth]="'%'"
          [title]="info.controls['nombre'].value"
          [center]="markerPosition"
          [isShow]="isShow"
          [isPanelOpen]="isPanelOpen"
          [showMarker]="!!markerPosition"
          (mapClick)="updateMarkerPosition($event)">
        </app-google-map>
      </div>
    </div>

  </div>
</div>
