.page-form-row {
  margin: 0;
  padding-top: 0;
}

.main-container {
  padding-left: 0;
}

.field-container {
  display: flex;
  justify-content: space-between;
  margin-left: 23.28rem;
  margin-top: -5rem;
}

.localidad-container{
  display: flex;
  align-items: center;
  margin-top: 12px; /* Eliminar margen superior */
  margin-left: -25px;
}
.pais-container {
  display: flex;
  align-items: center;
  margin-top: 12px; /* Eliminar margen superior */
  margin-left: -52px;
}

.direccion-container {
  display: flex; 
  align-items: center; 
  margin-left: -23px;
  margin-top: -20px;
  padding: 0;
}

.direccion-field {
  margin-left: -89px; 
  width: 889px; 
}

.direccion-label {
  margin-right: 95px; 
  width: 100px; 
  text-align: right;
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  margin-left: -6px;
}

.required-label {
  color: red; 
  padding: 3px;
}

.localidad-container label,
.pais-container label {
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  width: 80px; 
  text-align: right; 
  margin: 0; /* Eliminar márgenes para alineación precisa */
}

.localidad-container {
  margin-right: 10px; /* Espaciado entre localidad y país */
}

.localidad-input,
.pais-input {
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  width: 18.1em; 
  height: 30px;
  padding: 2px 2px 2px 5px; 
  border: 1px solid #D9D9D9 ; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-left: 15px; 
  pointer-events: none;
}

.direccion-input {
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  width: 83em; 
  height: 28px;
  padding: 8px 4px;
  border: 1px solid #F25A38; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
}


.direccion-container {
  padding: 10px; /* Ajusta el relleno según sea necesario */
  border-radius: 5px; /* Borde redondeado opcional */
  display: flex; /* Utiliza flexbox para alinear elementos */
  align-items: center; /* Alinea verticalmente los elementos */
  margin-left: -23px;
  padding: 0;
  margin-top: -20px;
}

.direccion-field {
  margin-left: -89px; /* Ajusta el margen izquierdo según sea necesario */
  top: 10px;
  width: 889px; /* Ancho deseado del campo de entrada */
}

.direccion-label {
  margin-right: 95px; /* Margen derecho ajustado para separación */
  width: 100px; /* Ancho deseado para la etiqueta */
  margin-top: 12px;
  text-align: right; /* Alinea el texto hacia la derecha dentro de la etiqueta */
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  margin-left: -6px;
}

.direccion-input{
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 400;
  line-height: 16.41px;
  width: 83em; /* Ancho automático para adaptarse al contenido */
  height: 28px;
  padding: 8px 4px 4px 8px;
  border: 1px solid #F25A38; /* Borde rojo */
  border-radius: 4px; /* Bordes redondeados para el input */
  box-sizing: border-box; /* Incluye el borde en el cálculo del tamaño */
  margin-top: 6px;
}

.direccion-input:focus,
.custom-input-nombre:focus,
.custom-input-doc:focus,
.custom-input-digito:focus,
.custom-input-web:focus,
.mat-input-element:focus {
  border-color: red; /* Cambia el color del borde cuando el input está enfocado */
  border-width: 2px;
}

.view-mode {
  background-color: #FBFBFE; 
  border: 1px solid #D9D9D9; 
  color: #666; 
  pointer-events: none;
}

::ng-deep .custom-mat-form-field .mat-form-field-outline {
  border: 1px solid #F25A38 !important; /* Borde rojo */
  border-radius: 4px;
}


/* Estilos para el campo de entrada al estar enfocado */
::ng-deep .custom-mat-form-field.mat-focused .mat-form-field-outline,
::ng-deep .custom-mat-form-field.mat-focused .mat-form-field-outline-thick {
  border-color: red !important; /* Borde rojo al enfocar */
}

/* Estilos para el campo de entrada al estar en hover */
::ng-deep .custom-mat-form-field:hover .mat-form-field-outline,
::ng-deep .custom-mat-form-field:hover .mat-form-field-outline-thick {
  border: 1px solid red; /* Borde rojo */
  color: red; /* Texto rojo al hacer hover */
  border-radius: 6px;
}

/* Estilos adicionales para asegurarse de que el borde no se torne azul */
::ng-deep .custom-mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important; /* Eliminar el color azul */
}

/* Estilos para el borde del input al enfocarse */
::ng-deep .custom-mat-form-field .mat-input-element:focus {
  border-color: red !important; /* Borde rojo del input al enfocar */
}

/* Estilos para el borde del input en hover */
::ng-deep .custom-mat-form-field .mat-input-element:hover {
  border-color: red !important; /* Borde rojo del input al hacer hover */
}

/* Elimina el color azul del borde al hacer click */
::ng-deep .custom-mat-form-field .mat-form-field-flex {
  border-color: red !important; /* Asegura el color rojo del borde */
}

/* Deshabilitar el hover y otros eventos en el modo de vista */
::ng-deep .view-mode-ciudad .custom-mat-form-field .mat-form-field-outline {
  border: 1px solid #D9D9D9 !important; /* Borde rojo */
  border-radius: 4px;
}

/* Estilos para el grosor del borde del mat-form-field */
::ng-deep .view-mode-ciudad .custom-mat-form-field .mat-form-field-outline-thick {
  border: 1px solid #D9D9D9 !important; /* Borde rojo */
  border-radius: 4px;
}

/* Estilos para el campo de entrada al estar enfocado */
::ng-deep .view-mode-ciudad .custom-mat-form-field.mat-focused .mat-form-field-outline,
::ng-deep .view-mode-ciudad .custom-mat-form-field.mat-focused .mat-form-field-outline-thick {
  border-color: #D9D9D9 !important; /* Borde rojo al enfocar */
}

/* Estilos para el campo de entrada al estar en hover */
::ng-deep .view-mode-ciudad .custom-mat-form-field:hover .mat-form-field-outline,
::ng-deep .view-mode-ciudad .custom-mat-form-field:hover .mat-form-field-outline-thick {
  border-color: #D9D9D9 ; /* Borde rojo al hacer hover */
  color: #D9D9D9; /* Texto rojo al hacer hover */
}

/* Estilos adicionales para asegurarse de que el borde no se torne azul */
::ng-deep .view-mode-ciudad .custom-mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: transparent !important; /* Eliminar el color azul */
}

/* Estilos para el borde del input al enfocarse */
::ng-deep .view-mode-ciudad .custom-mat-form-field .mat-input-element:focus {
  border-color: #D9D9D9 !important; /* Borde rojo del input al enfocar */
}

/* Estilos para el borde del input en hover */
::ng-deep .view-mode-ciudad .custom-mat-form-field .mat-input-element:hover {
  border-color: #D9D9D9 !important; /* Borde rojo del input al hacer hover */
}

/* Elimina el color azul del borde al hacer click */
::ng-deep .view-mode-ciudad .custom-mat-form-field .mat-form-field-flex {
  border-color: #D9D9D9 !important; /* Asegura el color rojo del borde */
}

::ng-deep .view-mode-ciudad .custom-mat-form-field .mat-form-field-underline {
  background-color: #D9D9D9 !important; /* Línea inferior roja */
}
